@{
    ViewBag.Title = "СРПСКО ЦРКВЕНО ПОЈАЊЕ КАО ПРЕДМЕТ МУ3ИКОЛОШКИХ ИСТРАЖИВАЊА";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Појање", "Index", "Pojanje")<span class="divider">/</span></li>
            <li class="active">СРПСКО ЦРКВЕНО ПОЈАЊЕ КАО ПРЕДМЕТ МУ3ИКОЛОШКИХ ИСТРАЖИВАЊА</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>




    <p>&nbsp;</p>
    <p class="pnaslov">Дaница Петровић</p>
    <p class="pnaslov">
        <strong>СРПСКО ЦРКВЕНО ПОЈАЊЕ КАО ПРЕДМЕТ<br>
            МУ3ИКОЛОШКИХ ИСТРАЖИВАЊА</strong>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        С обзиром на то да јс српско црквсно богослужбено појање представљено у уводном излагању Димитрија Стефановића ми ћемо се задржати на развоју теоретске и научне мисли посвећене ерпској православној богослужбеној музици.
    </p>
    <p>&nbsp;</p>
    <p>
        Европска музичка историографија, богата и трајањем и делима, бавила се од самих почетака и византијском музиком.[<a href="#note1" class="notes">1</a>] У Русији sе интересовање за постављање теоријских основа црквеног појања јавља у 18. веку,[<a href="#note2" class="notes">2</a>] док проучавање рукописних извора цвета током 19. века, тачније све до Октобарске револуције.[<a href="#note3" class="notes">3</a>] Као наследници византијске уметности Грци и Јужни Словени су после пада Цариграда наставили црквену праксу са раније усвојеним обрасцима појања. Рани средњовековни грчки теоретеки музички приручници из 11-13. века углавном су доносили преглед неумских знакова, или су репродуковали грчке античке ставове о музици, неповезујући их са свакодневним деловањем црквених појаца.[<a href="#note4" class="notes">4</a>] Новији теоретски приручници на грчком језику, сачувани у аутографима и преписима 14-15. века, посвећени су неумској нотацији и практичном учењу појања. Писали су их угледни цариградски и светогорски музичари (Јован Кукузељ, Јован Ласкарис, Мануил Хрисафис и други).[<a href="#note5" class="notes">5</a>] Са малим изузецима овакви текстови нису били предмет ширих истраживања. У намери да подстакне проучавање византијских списа о појању Аустријска академија наука је у новој серији Monmenta Musicae Byzantinae - Cоrриѕ Ѕrірtorиm De Re Mиsica - објавила критичка издања три таква трактата: два из <i>15. </i>века (јеромонаха Гаврила и Маиуила Хрисафиса) и једног из 16. века (Крићанина Јеронима појца).[<a href="#note6" class="notes">6</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Интересовање за црквену музику у 19. веку било је на читавом Балканском простору део национално-романтичарских тежњи да се сакупи и афирмише народно уметничко благо, како световно, тако и духовно. Неумска музичка писменост наслеђена из ране средњовековне праксе била је у грчкој цркви и у поствизантијском периоду шире прихваћена него код Срба и Бугара. О томе сведочи неупоредиво већи број сачуваних грчких неумских рукописа.[<a href="#note7" class="notes">7</a>] Упркос томе црквено појање се и код Грка најчешће преносило усменим путем, а учење појања и неумске нотације представљало је значајан проблем за свештеноелужитеље, монахе и лаике, који су појали у црквама. Ослањајући се на основне принципе солмизације у западноевропској музичкој теорији грчки архимандрит Хрисант (1770-1846) је око 1814. године спровео реформу касновизантијеке неумске нотације и црквених напева.[<a href="#note8" class="notes">8</a>] Овакав његов рад имао је у почетку више противника него присталица. На захтев цариградског патријарха, Хрисант је чак једно време био протеран у место Мадитос у Галипољу, по чему је и добио назив "из Мадитоса". Тек када је утицајем случајних околности један грчки митрополит чуо појање његових ученика, који су се тој вештини научили "за десет меееци, а не за десет година, колико је било потребно по старом методу", Хрисантов метод је добио саглаеност Светог синода Грчке цркве, а он је са своја два ученика, Григоријем протопсалтом и Хурмузијем библиотекаром (архиваром), слободио наставио рад.[<a href="#note9" class="notes">9</a>] Делом "Mega Theoretikon" y којем објашњава свој метод бележења црквених напева и нов начин учења црквеног појања, Хрисант је заслужио место једног од најзначајнијих представника просветитељства у Грчкој.[<a href="#note10" class="notes">10</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        На сличноет проблема којима су се бавили и грчки и српски појци у првој половини 19. века указују сачувани и до сада објављени историјски и музички списи.[<a href="#note11" class="notes">11</a>] Веома актуелно питање - како да се забележи и од пропадања и различитих страних утицаја сачува српско народно црквено појање - уочио је још митрополит Стефан Стратимировић крајем 18. века, а детаљно га је образложио горњокарловачки епископ Евгеније Јовановић у писму упућеном из Плашког митрополиту Јосифу Рајачићу 1847. године.[<a href="#note12" class="notes">12</a>] Тридесетих година 19. века у појединим српским држвама је већ увођено и вишегласно хорско певање, што је захтевало постојање одговарајућег нотног материјала, односно одређеног броја хорских композиција, барем за Литургију.[<a href="#note13" class="notes">13</a>] Прве хармонизације српског народног црквеног појања писао је и у цркви изводио тек Корнелије Станковић, почев од 1855. године.[<a href="#note14" class="notes">14</a>] Еличан процее је у Руекој дркви започет јошполовином 17. века, а окончан је током 18. века,[<a href="#note15" class="notes">15</a>] док се у Бугарској одвијао тек крајем 19. века.[<a href="#note16" class="notes">16</a>] Упркос појединачним примерима вишегласних песама у грчким неумским рукописима и збивањима на острвима и у удаљеним епархијама (Беч, Пешта) током 19. века, у Грчкој цркви хорско певање није никада прихваћено.[<a href="#note17" class="notes">17</a>]
    </p>
    <p>&nbsp;</p>
    <p class="pnormal" align="center">
        *<br>
        * *
    </p>
    <p>&nbsp;</p>
    <p>
        Два основна облика бављења српским црквеним појањем у 19. и 20. веку су: 1. нотно записивање напева, праћено понекад занимљивим уводним текстовима историјског или аналитичког садржаја; 2. трагање за неумским рукописима, проучавање најразличитијих историјских и музичких извора и успостављање континуитета српске црквене музике од средњег века до данас.
    </p>
    <p>&nbsp;</p>
    <p>
        1.	Нажалост, прве деценије 19. века су још увек биле време музичке неписмености међу Србима. Појединци су у школе уводили нотално певање (Н. Бурковић, П. Радивојевић, А. Морфидис), али је прави напредак учињен тек доласком, младог, своме роду оданог Корнелија Станковића. На потребу да се нотама забележи црквено појање њега су упућивали Вукови следбеници у Бечу, затим руски посланик, прота Михаило Рајевски, и српски патријарх Јосиф Рајачић. Том сложеном задатку Станковић је пришао са пуном професионалном и националном одговорношћу, а за собом је оставио три штампане књиге, седамнаест рукописних свезака црквених песама хармонизованих за четири гласа и педесетак листова једногласних записа карловачког појања.[<a href="#note18" class="notes">18</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Срећом Корнелијев рад је имао следбенике и међу свештеницима и међу лаицима, а крајем 19. и током 20. века на бележењу црквеног појања радили су многобројни свештеници, професори и ученици Карловачке богословије, Сомбореке препарандије, Српске велике гимназије у Новом Саду. Они су у Сремским Карловцима, Новом Саду, Сарајеву, Пакрацу, Осијеку, Сомбору, своје записе штампали или су их једноставно умножавали за свакодневне пракгичне потребе.[<a href="#note19" class="notes">19</a>] У исто време Стеван Мокрањац је у Краљевини Србији с муком покушавао да се избори за штампање свога Осмоглаеника (прво издање 1908)[<a href="#note20" class="notes">20</a>]  и искључивање из школске праксе сасвим непоузданих појачких зборника са трилама Николе Трифуновића.[<a href="#note21" class="notes">21</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        У периодy између два светска рата поједини од поменутих зналаца црквеног појања наставили су са радом на записивању црквеног појања (Б. Цвејић, Ј. Козобарић), а придружили су им се и Н. Барачки, Б. Јоксимовић, В. Ђорђевић, Л. Лера. После другог светског рата овој поворци се, поред већ поменутнх придрyжују епископ Стефан Ластавица и митрополит Дамаскин Грданички.[<a href="#note22" class="notes">22</a>] Тако је обимна и вредна музичка баштина, која садржи и драгоцене примере такозваног "великог карловачког појања", сачувана за будyћност, упркос постепеном гашењу усменог предања, искљyчивању наставе црквеног појања у грађанским и његовог претрајавања у богословским школама.
    </p>
    <p>&nbsp;</p>
    <p>
        Етномузиколошки рад на записивању обиља црквених мелодија углавном је до сада окончан. Данас је могуће нaићи нa поједине напеве или мање познате песме, али неких већих изненађења на теренy по питању репертоара и разноврсности напева, тешко да може бити.
    </p>
    <p>&nbsp;</p>
    <p>
        Оно што пажљив истраживач може да примети пре свега у женским манастирима у којима се појање боље и више негује, то је начин извођења, ритам, боја гласа. У мушким манастирима традиција је сачувана само захваљујући појединцима. Већих и значајних центара за неговање црквеног појања у последњих педесет година у Српској цркви није било. Вероватно смо зато данас сведоци необичног и неочекиваног стања у нашој цркви да млади богослови и лаици са много елана усвајају грчку црквенy музичку праксу, тражећи у њој аутентичну рановизантијску традицију, а занемарују вишевековнy традицију свога народа и своје цркве.
    </p>
    <p>&nbsp;</p>
    <p>
        Упркос томе што је у више варијанти нотама забележено, <i>српско народно црквено појање </i>је у свом богатству и разноврсности углавном непознато, како богословима, тако и музичарима. У богословским школама појање се учи по записима Стевана Мокрањца, а други нотни зборници cу вeћини недоступни и непознати. У музичким и општим школама међутим, црквено појање није присyтно чак ни као појам. Иако је појање сасвим специфичан облик музичког усменог предања, оно у послератном периодy није привлачило ни пажњу етномузиколога. Винко Жганец је био један од малобројних који је, бавећи се фолклорном музичком традицијом југословенских народа, писао између осталог и о српском црквеном певању.[<a href="#note23" class="notes">23</a>] Академија наука Босне и Херцеговине основала је својевремено Одбор за проучавање црквене музичке баштине на југословенском простору, а као резултат рада тог Одбора објављен је један мањи зборник 1981. године.[<a href="#note24" class="notes">24</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Предговори појединим збиркама нотних записа српског црквеног појања представљају понекад изванредне есеје испуњене искреним романтичарским патриотизмом и љубављу према музици (К. Станковић);[<a href="#note25" class="notes">25</a>] некад је то текст са практичним упутством за кориснике и са кратким историјатом појања (Бољарић-Тајшановић, Барачки),[<a href="#note26" class="notes">26</a>] музичко-теоретска студија(Ст. Мокрањац)[<a href="#note27" class="notes">27</a>] или актуелан, ангажован, позив да се приступи озбиљним критичким студијама црквеног појања, какав је 1896. године објавио Тихомир Остојић. Овај изванредан књижевни историчар и музички аматер пише: "Студија наше црквене музике је део византологије. И док се на многим византолошким студијама у нас доста привредило (на пр. књижевност, закони, атхитекгура) на музичком пољу није ни мотиком ударено." Он указује на потребу да се црквене мелодије запишу, али и компаративно истраже у различитим православним срединама. Са искуством озбиљног исторнчара Остојић упозорава: "Много глава, а и много времена и, што није мање важно, много материјалних средстава ће требати за музикалнy филолошко-историјску студију, да ce rpaђa сакупи и да се реши проблем. Али то је ствар науке, а она може чекати; њој није главно кад ћe бити него како ће."[<a href="#note28" class="notes">28</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        И угледни историчар, филолог и политичар у Краљевини Србији, Стојан Новаковић, у тексту објављеном 1900. године, истиче да су црквени текстови у српској богослужбеној пракси праћени мелодијама о којима се мало или готово ништа не зна.[<a href="#note29" class="notes">29</a>] Као историчар он без двоумљења уочава византијске основе нашег појања, али наслућује и остатке старо српског певања. Новаковића је на оваква размишљања подстакло предавање познатог француеког музиколога - византолога Жан-Батист Тибоа (Jean-Baptiste Thibaut) o црквеном певању Византинаца и Словена, које је слушао на свечаној седници Руског Археолошког института у Цариградy,[<a href="#note30" class="notes">30</a>] као и истраживања која су француски калуђери у то време обављали у Сирији и у Малој Азији. На Новаковићев текст у <i>Караџићу </i>одмах је одговорио Петар Деспотовић, просветни надзорник у пензији, некада ученик сомборске препарандије, а потом учитељ у Пакрацу, показујући своје далеко прецизније познавање историјата српског појања, стечено на основу студија Јована Рајића и Димитрија Руварца.[<a href="#note31" class="notes">31</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        О српском црквеном појању су писали и Мокрањчеви следбеници  и поштоваоци Петар Коњовић и Коста Манојловић. Коњовић се као музички писац није бавио истраживањима, али је веома прецизно размишљао о овој проблематици, користећи се списима својих претходника и савременика.[<a href="#note32" class="notes">32</a>] Коста Манојловић је припремајуhи збирку Мокрањчевих записа српског црквеног појања - <i>Опште појање </i>- припремио прву компаративну збирку напева.[<a href="#note33" class="notes">33</a>] На значај упоредних студија различитих традиција православног појања указивао је још Стојан Новаковић (1900),[<a href="#note34" class="notes">34</a>] а практичан покушај оваквих анализа yчинио је Mилoje Mилojeвић неколико деценија касније.[<a href="#note35" class="notes">35</a>] О недоумицама својих претходиика и савременика, као и о целокупном радy Стевана Мокрањца на бележењу црквеног појања детаљно је писао Петар Бингулац.[<a href="#note36" class="notes">36</a>] Све студије о црквеном појању настале у међуратном периодy односиле су се на новије српско народно црквено појање које је тада било, а и данас је, део свакодневне богослужбене праксе у Српској православној цркви.
    </p>
    <p>&nbsp;</p>
    <p>
        2. Наyчна истраживања рукописних извора старе српске музике, на чију је неопходност Тихомир Остојић указивао крајем 19. века, биће започета неколико деценија касније. Истина неумски музички рукопис из манастира Хиландара поменуо је још 1884. године упорни истраживач старина архимандрит Никифор Дучић.[<a href="#note37" class="notes">37</a>]  Он је чак објавио једну страну неумског музичког рукописа, као пример старе нотације, не знајући да је у питању руски неумски (крјуки) рукопис из 12. века.[<a href="#note38" class="notes">38</a>] Композитор и музички писац Коста Манојловић је покушао да слична истраживања подстакне у четвртој деценији нашег века. Он је систематски сакупљао податке значајне эа историју српске музике, а у манастирским ризницама и библиотекама је трагао за евентуално сачуваним неумским рукописима.[<a href="#note39" class="notes">39</a>] Резултати његових теренских истраживања у манастирима и библиотекама у Србији били су на жалост више него скромни. Открио је један неумски рукопис у Народној библиотеци у Београду и један у манастиру Дечани. Срећом, упркос техничким тешкоћама, пред сам рат снимио је 12 страна двојезичног грчко-словенског рукописа Народне библиотеке у Београдy, на којима су биле црквене песме забележене касновизантијским неумама, са творенијима "доместика кир Стефана Србина".[<a href="#note40" class="notes">40</a>] Није тада ни слутио да од ратних разарања спасава један од најзначајнијих споменика средњовековне српске музичке културе, историјски извор, коjи ће почетке српске музике из 19. пренети у 15. век.
    </p>
    <p>&nbsp;</p>
    <p>
        Тек шездееетих година овог века yченици и следбеници западноевропске византолошке музиколошке школе Егона Велеса (Е. Wellesz) и Хенри Јулијус Тилијарда (Н. J. W. Tillyard), пpe свих Милош Велимировић и Димитрије Стефановић, проширују истраживања неумске рукописне заоставштине са грчких и на јужноеловенске и руске изворе. [<a href="#note41" class="notes">41</a>]Резултати наyчних сазнања у области литургике, језика, историје цркве, сликарства, археографије, као и жива црквена музичка пракса, били су путоказ и ослонац музиколозима у трагањима за музиком прошлих векова. Посебно значајан је био приступ хиландарској рукописној ризници, као и појединачним примерима словенских и грчких неумских рукописа сачуваних у библиотекама у светогорском манастиру Лавра, затим у Београдy, Новом Садy, Сентандреји, Атини, Москви, Петрограду, Оксфорду, Ватикану, Букурешту, Јашију, Харвардy (САД), на Малти.[<a href="#note42" class="notes">42</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Археографском обрадом рукописа, музиколошком и језичком анализом песама, компаративном анализом грчких и словенких извора, дошло се до резултата који су омогућилс сагледавање неколико векова дyге историје српског црквеног појања (од краја 14. до половине 19. века).[<a href="#note43" class="notes">43</a>] Проyчавања неумских рукописа употпуњена су архивским истраживањима у Архивима САНУ у Београду и Сремским Карловцима, архивима Хрватеке у Загребу и Задру, Рукописном одељењу Матице српске, Архивама певачких друштава и црквених општина у Сентандреји, Трсту, Шибенику, Вршцу. Архивска rpaђa је омогућила праћење развоја црквеног појања током 18. и 19. века, као и његовог места у богословским и световним школама у 19. веку. Рукописна збирка манастира Хиландара са већим бројем неумских рукописа 18-19. века слика је завршне етапе наше средњовековне уметности.[<a href="#note44" class="notes">44</a>] Интензивне везе Хиландараца и других Светогораца са Карловачком митрополијом, условљене су међутим, блиску повезаност два просторно, па и дyховно удаљена православна центра.
    </p>
    <p>&nbsp;</p>
    <p>
        Сва ова истраживања обављана су у историјском времену које није марило за 
              црквену уметност и дyховне вредности. Захваљујући академику, композитору 
              и музичком писцу, Петру Коњовићу, у смyтним годинама после другог 
              светског рата основан је у оквиру Српске академије наука и уметности 
              Музиколошки Институт (1948/49). Као први директор ове прве музиколошке 
              наyчне институције у тадашњој Југославији, а и на Балкану, Коњовић 
              је поставио основе истраживања усмеривши их на црквену музику, музички 
              фолклор и општу музиколошку проблематику. Оно што није могао да 
              учини на Музичкој академији у Београдy yчинио је у Српској академији 
              наука. Његовом заслугом црквена музика је добила мало, повyчено, 
              али ипак значајно упориште. Близу четири века наше музичке прошлости 
              спашено је од заборава, име кир Стефана Србина нашло се у највећој 
              музичкој енциклопедији света,[<a href="#note45" class="notes">45</a>] 
              осветљени су путеви развоја црквеног појања на Балкасу, кроз драгоцене 
              грчко-српске, српско-руске и руско-српске везе, дела кир Стефана, 
              Николе и Исаије Србина снимљена су на грамофонске плоче, а композитори 
              многобројних послератних генерација (В. Мокрањац, Д. Радиh, С. Рајичић, 
              А. Обрадовић, Р. Максимовис, В. Куленовис, Р. Брyчи, Ј. Бошњак, 
              И. Јевтић) унели су у своја дела изузетне, доскора сасвим непознате 
              напеве грчких и српских средњовековних музичара.
    </p>
    <p>&nbsp;</p>
    <p>
        Најновије промене које потресају све пope друштвеног живота код нас, изазвале су бујицу наглих и личних и колективних преокрета. Окретање цркви и традицији било је код многих неочекивао брзо, па зато вероватно и страствено, али и површно. До вечитих истина до којих се долази трпљењем и стрпљењем, лествицама које познају и узлазни и cилaзни смер, многи су пожелели да стигну пречицом, не марећи и да залутају новим странпутицама. Много је у томе силовитости, догматеке кpyтocти, нетрпељивости, а изнад свега незнања. И тако, уместо да ново време истраживањима вишевековног живота црквеног појања донесе свеже, полетне и самопрегорне трагаоце и делатеље, у различитим публикацијама читамо текстове пуне идеолошки обојене нетрпељивости, елементарног незнања, игнорисања дугогодншњег студиозног рада претходника, непоштовања историјеких чињеница, методологије наyчног рада и полемисања.[<a href="#note46" class="notes">46</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Верујемо међутим, да је ово време посуновраћених вредности само пролазна фаза 
              и да ће одговорна наyчна истраживања наставити своје упорно трајање, 
              барем колико и у оним протеклим временима, која нису била склона 
              црквеној уметности. Питање је само како ће младе генерације у изобиљу 
              непроверених информација направити сопствену селекцију. У свим музичким, 
              а и општим школама, историја музике се yчи само по давно усвојеном 
              моделу историје западноевропске музике. Историја византијске, старе 
              руске и јужнословенске музике није нашла одговарајуhе место у школским 
              плановима и програмима. Иако припадамо култури која је створена 
              на рубном подрyчју између Истока и Запада, култури у чијој су основи 
              хришћанска православна вера и уметност кроз ту веру настала, ми 
              или се отуђено окрећемо Западy потпуно игноришући своје корене, 
              или саевим некритички супротетављамо ова два света, занемарујући 
              давно осведочене културне и уметничке успоне западноевропске цивилизације. 
              Превиђамо на жалост чињеницу, да су и наши најумнији преци у својим 
              делима управо успели да пронађу склад између ова два света, која 
              већ близу два миленијума одређују европску цивилизацију.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="pnormal">ПРИЛОГ</h3>
    <h4 class="pnormal"><strong>Српско народно црквено појање у рукописним 
              записима<br>
        и штампаним зборницима</strong></h4>
    <p>&nbsp;</p>
    <p>
        <b>1.	Корнелије Стаковић:</b>
    </p>
    <p>
        а)	Записи и хармонизације српског народног црквеног појања настали у периоду 1854/55-1864, рукопис; Архив Српске академије наука и уметности, Београд, Историјска збирка бр. 7888, свезака 17 + 50 листова једногласких записа, као и препис <i>Блажених </i>из 1912; један препис Осмогласника налази се у Музиколошком институту САНУ (МИ Ан).
    </p>
    <p>
        б)	<i>Православно црквено појање у србског народа, </i>књ. 1, Литургија Св. Јована Златоустог, Беч 1862; књ. 2, Беч 1863; књ. 3, Беч 1864; фототипско издање све три књиге, приредила Д. Петровић, одбор за фототипска издања САНУ, Матице српске и Народне библиотеке Србије, књ. 16, Веоград-Нови Сад 1994.
    </p>
    <p>
        в)	Српско црквено карловачко појање, св. 1, Блажена 1-8. гласа, Српска академија наука, Београд 1922.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>2.	Мита Топаловић:</b>
    </p>
    <p>
        <i>Осмогласник </i>(1879) и песме за целу црквену годину, Архив Панчевачког српског црквеног певачког друштва. Осмогласник су као предложени уџбеник појања 1891. године рецензирали професори Српске велике гимназије у Новом Саду Тихомир Остојић и Јован Грчић; Рукописно одељење Матице српске (РОМС), М. 5946.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>3.	[Светомир Димитрuјевић]:</b>
    </p>
    <p>
        <i>Безимена песмарица по певању поп Ђуре Поповића, </i>издао карловачки богослов Милутин Јакшић, Сремски Карловци 1885.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>4.	Тихомир Остојић:</b>
    </p>
    <p>
        а)	<i>Старо карловачко пјеније у српској источној прабослабној цркби, као што поју ученици Српске велике гuмназије у Новом Саду сваке недеље и празника на Св. литургији, за </i>мешовити лик, Нови Сад 1887.
    </p>
    <p>
        б)	<i>Православно српско црквено пјенuје по старом карловачком начину, </i>за мешовити лик (допуњено издање из 1887), Нови Сад 1896; треће издање деоница за сопран, Нови Сад 1902.
    </p>
    <p>
        <i>в)	Православно српско народно црквено појање, </i>за четири мушка гласа, св. 1, Нови Сад 1892.
    </p>
    <p>
        г)	<i>Мала катавасија </i>- <i>одговори и црквене песме, које се поју на недељној, празничној и пређеосвећеној служби, на призивању и на опелу, </i>за два дечија гласа, Нови Сад 1893.
    </p>
    <p>
        д)	Необјављенu записи црквеног појања у Рукописном одељењу Матице српске (М. 1858), yпop. Д. Петровић, <i>Тихомир Остојић и српско појање, </i>Свеске Матице српске, грађа и прилози за културну и друштвену историју 20, Серија књижевности и језика св. <i>7, </i>Нови Сад 1991, 68-77.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>5.	Гаврило Бољарић - Никола Тајшановић:</b>
    </p>
    <p>
        <i>а)	Српско правослабно пјеније, по карлобачком старом начину, </i>св. 1
    </p>
    <p>
        -	делови Литургије, Сарајево 1887; св. 2, Сарајево 1887; св. 3 - Велики ирмоси, Сарајево 1887; св. 4 - Велики пост и Ускрс, Сарајсво 1889. Ове књиге рецензирао је Т. Остојић; РОМС, М. 5923.
    </p>
    <p>
        б)	<i>Српско православно пјенuје, по карловачком старом начину. Октоих, </i>књ. ІІ, св. 1-9, Сарајево-Лајпциг 1891.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>6.	[Петар Костић, Јефта Петровић, ученици IV год. Карловачке богословије]:</b>
    </p>
    <p>
        <i>Црквено велико пјеније, </i>лuтографисано у штампарији А. Фукса, Нови Сад 1889.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>7.	Станко Морар (ученнк Карловачке богословије):</b>
    </p>
    <p>
        а)	<i>Црквено пјеније, празничне стихаре и величанија, </i>у ноте за један глас написао Станко Морар, православни богослов 11 године у Сремским Карловцима, Нови Сад 1891.
    </p>
    <p>
        б)	<i>Осмогласник, </i>замишљен као уџбеник појања; није познато да ли је рукопис сачуван. Као уџбеник појања рецензиран је 1891. године од стране професора Српске велике гимназије у Новом Саду, Тихомира Остојићa u Јована Грчића; РОМС, М. <i>5946.</i>
    </p>
    <p>&nbsp;</p>
    <p>
        <b>8.	Јован Козобарић:</b>
    </p>
    <p>
        а)	<i>Велико црквено карловачко пјеније, </i>Сремски Карловци 1893;
    </p>
    <p>
        б)	<i>Правослабно црквено пјенuје, по старом карловачком начину у ноте за један глас ставио протојереј Јован Козобарић, apxujepejcku намесник у Вуковару, </i>књ. 1, <i>Служебнuк u Требник, </i>Осијек 1935.
    </p>
    <p>
        в)	Четири књиге рукописних записа (Осмогласник, Минејско појање, Триод, Пентикостар), налазе се у Архијерејском синодy Српске православне цркве.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>9. Јован Константиновић: </b>
    </p>
    <p>
        а)	<i>Нотално српско православно црквено појање, у целини сабрао професор u катихета Српске учитељске школе Јован Константиновић, </i>Пакрац 1900.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>10. Непознати аутор - појање у Сомборској препарандији:</b>
    </p>
    <p>
        а) <i>Православно српско црквено појање, као што поју прuправнuцu 
              учитељске школе у Сомбору, </i>издала приправничка омладина за своје 
              потребе, Сомбор 1895.
    </p>
    <p>
        б)	Јосиф Лаковиh, учитељски приправник 11 године, умножен препис <i>Правослабног српског црквеног великог појања, </i>литургијско (стр. 1- 81), минејско (стр. 82-152), lacuna (стр. 99-112, 115-118, <i>145-146), </i>део Триода (стр. 153-160).
    </p>
    <p>
        в)	<i>Православно српско црквено велuко појање и утврђене стuхире по карловачком напеву, </i>преписао Милорад Јовичић, учитељски приправник ІІІ године, шапирографисао Паја Поповицки, учитељски приправник ІІІ године; власник књиге Станимир Субић.
    </p>
    <p>
        г)	<i>Православно српско црквено велико појање, </i>пише Павле Илијевић, учитељски приправник ІІ године у Баји; рукопис садржи црквсне напеве, понеки препис хорске црквене песме за хор (Станковиh, Бортњански, Топаловић, Остојић) и забавне мелодије са почетка овог века; Музиколошки институт САНУ.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>11.	Непознат записивач - појање у Карловачкој богословији:</b>
    </p>
    <p>&nbsp;</p>
    <p>
        а) <i>Нотално српско православно црквено појање како поју карловачки богослови, 
        </i>преписао богослов Петар Трбојевић у Сремским Карловцима 1901; 
              издали С. Стратимировић, племић и П. Трбојевић богослов. -Запис 
              на насловној страни књиге: "својина Бранка Милошевића онда[1901] 
              богослова І. године, а сада пароха у Пордању у Темишварској епархији. 
              Увезао и допунио ово 1915. год. фебруара у рату Европском, онда 
              је и писац-издавач Стратимировић, катихета Сомборске женске препарандије 
              затворен 1914. год. за анти домовинске ствари!"; Музиколошки 
              институт САНУ.
    </p>
    <p>
        б) Примерак сличан препису Трбојевића, влагом тешко оштећен -минејско појање 
              (стр. 1-64), Триод и Пентикостар (стр. <i>65-97), </i>литургијске 
              песме (стр. 97-147); Музиколошкu институт САНУ.
    </p>
    <p>
        в) Сличан примерак са потписом Лазара Лере, литографисан у Сремским Карловцима 
              око 1900; Музиколошки институт САНУ.
    </p>
    <p>
        г)	<i>Православно српско црквено велико појање и утврђене стuхире, стављено у ноте за један глас по карловачком напеву, својим ученицима средио и допунио протођакон Мирко Балубцић, </i>Српска манастирска штампарија, Сремски Карловци 1913.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>12.	Бранко Цвејић:</b>
    </p>
    <p>&nbsp;</p>
    <p>
        а) <i>Српско народно црквено појање по карловачком напеву </i>- <i>Осмогалснuк. 
        </i>Баноштор 1905, рукопис; Народна библиотска Србије, РМ 33.
    </p>
    <p>
        б) <i>Српско народно црквено појање по карловачком напеву, </i>св. 1 -<i>Осмогласнuк; 
        </i>св. 2 - <i>Општпе појање, </i>Рума 1920, рукопис; Музиколошки 
              институт САНУ, откуп Одбора за историју српске музике САНУ.
    </p>
    <p>
        <i>в)	Српско народно црквено појање по карловачком напеву, </i>десет рукописних књига писних у манастиру Врдник 1941, Народна библиотека Србије, РМ 31; фототипска издања три књиге приредuо је Д. Стефановић: <i>Србљак, </i>Београд 1970; <i>Триод, Пентикостар, </i>Београд 1973.
    </p>
    <p>
        г) <i>Уџбеник српскоі народног црквеног појања, </i>Београд <i>1950, 
        </i>рукопис, Народна библиотека Србије, РМ 32.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>13.	[Јоцо Пајкановић]:</b>
    </p>
    <p>&nbsp;</p>
    <p>
        <i>Опће појање на вечерњи, јутрењу и литургuјu, </i>Рељево 1906.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>14. Стеван Ст. Мокрањац:</b>
    </p>
    <p>
        а)	<i>Српско народно црквено појање, </i>књ. І - <i>Осмогласник. </i>Државна штампарија Краљевине Србије, Београд 1908, 2. изд. Београд 1922; 3. изд., Београд 1964.
    </p>
    <p>
        б)	<i>Српско народно цркбено појање </i>- <i>Страно пјенuје, </i>лuтографисано у Београдy 1914. и 1920. годuне; Предраг Миодраг нам је љубазно указао на примерке <i>Страног пјенuја </i>лнтографисане за потребе богослова у Битољу (1927) и Призрену (1933).
    </p>
    <p>
        в)	<i>Православно српско народно црквено појање </i>- <i>Опште појање, </i>редакција и допуна Косте П. Манојловића, државна штампарија Краљевине Југославије, Београд <i>1935; </i>изводu из <i>Општег појања </i>објављени су за потребе студената Богословског факултета 1988, и 1995.
    </p>
    <p>&nbsp;</p>
    <p>
        <b><i>15.	</i>Јован Живковић:</b>
    </p>
    <p>
        <i>Нотни зборник црквенuх песама, </i>І део - <i>Опште појање, </i>ІІ део -<i>Минејско појање, </i>ІІІ део - <i>Велuкопосно појање; </i>IV део - <i>Пентuкостарско појање, </i>хармонизовано са додатим <i>Литургијама у четuрu гласа за мушкu хор, </i>Нови Сад 1908.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>16.	Пера Ж. Илић:</b>
    </p>
    <p>
        Делови Литургије по певању Срба муслиманске вере у околини Призрена и Скопља 1910. године; рукопис у Музиколошком институту САНУ.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>17. Исидор Бајић:</b>
    </p>
    <p>
        <i>Српска православна црквена појанка, </i>св. 1, 2, Београд, ѕ. а.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>18.	Ненад Барачки:</b>
    </p>
    <p>
        а)	<i>Нотнu зборник српског народног црквеног појања по карловачком напеву, </i>Нови Сад 1923; поновљено и поправљено издање Крагујевац <i>1995.</i>
    </p>
    <p>
        б)	<i>Светu u Велuки Петак, вечерње и повечерје са каноном на плач Матере Божје, </i>Нови Сад 1925;
    </p>
    <p>
        в)	<i>Рождество Хрuстово unu Божuћ, прабославно српско црквено појање, </i>Нови Сад 1926;
    </p>
    <p>
        г) <i>Воскресеније Христово или Ускрс, </i>Нови Сад <i>1935;</i>
    </p>
    <p>
        д)	Рукописни записи црквеног појања Н. Барачког поклоњени су богословији "Свети Сава" у Београду, а налазе се у Архијерејском синоду Српске православне цркве.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>19.	Божидар Јоксимовић:</b>
    </p>
    <p>
        <i>Осмогласник и неке пригодне црквене песме, </i>по певању проте Михаила Милићевића, инспектора Министарства вера, Београд 1924.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>20.	Лазар Лера:</b>
    </p>
    <p>
        а)	<i>Зборник црквеног појања, </i>рукопис, 1940, стр. 1-43, 129-144, уметнут литографисан део стр. 129-144, са записuма из 1920, 1923, 1925. и 1927. године; Музuколошкu институт САНУ.
    </p>
    <p>
        б)	Рукописни записи око 2200 песама српског народног црквеног појања; Архијерејски синод српске православне цркве.
    </p>
    <p>
        в)	<i>Расадник српског православног црквеног појања, </i>64 грамофонске плоче (78 обртаја), Edison Bel Penkala, Zagreb, s. a.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>21.	Владимир Ђорђевић:</b>
    </p>
    <p>
        а)	<i>Лuтургија недељна или празнична </i>- <i>кад се певају "Блаженu", </i>забележио, за два гласа удесио и за мушки хор хармонизовао В. Р. Ђорђевић, Београд 1927.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>22.	Стефан Ластавица:</b>
    </p>
    <p>
        а)	<i>Осмогласник, </i>Београд <i>1955;</i>
    </p>
    <p>
        б) <i>Празнично појање, </i>књ. І и ІІ, Београд 1969.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>23.	Дамаскин Грданички:</b>
    </p>
    <p>
        <i>Српско црквено појање на црквенословенском u српском језuку, </i>део І
    </p>
    <p>
        - <i>Лuтургuја; </i>део 11 - Вечерња, Јутрење; део ІІІ - Осмогласник, Београд 1972.
    </p>
    <p>&nbsp;</p>
    <p>
        <b>24.	Вукашин Д. Бојић:</b>
    </p>
    <p>
        <i>Извод из Лuтургuје, </i>стр. 112; <i>Извод uз Триода и Пентuкостара, </i>стр. 217; <i>Извод из Мuнеја, </i>стр. 123, Кикинда 1988; рукопuс код аутора, ксерокс копија у Музиколошком институту САHУ.
    </p>
    <p>&nbsp;</p>
    <p>
        <b><i>25.	</i>Теодор Илић:</b>
    </p>
    <p>
        Рукописни записи срnског црквеног појања прилагођеног текстовима преведеннм на савремени српскu језuк; рукопис код аутора.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <em>У угластој загради [ ] се налазе имена могућих записивача 
              или можда само приређивача и власника умножених појачких зборника.</em>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr size="1" noshade="">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>НАПОМЕНЕ:</strong></p>
    <ol class="sitno" start="1">
        <li><a name="note1"></a>Упор. M. Gerbert, De Cantu et Миѕіcа Ѕаcrа, 
                st. Blasius 1774; reprint 1968; O. Heischer, Neumen Studien, Bd. 
                I-III, Berlin 1904; М. Vеlімігоvі?, Study of Byzantine Music in 
                tIze West, Balkan Ѕtudіеѕ, 5, Thessaloniki 1964, 63-76; М. k. 
                Hadjiyakoumis, Research and Studies in Greek Sacred Music, Athens 
                1971; k. Levy, Byzantine Rise, Music of the - Historiography, 
                y: The New Grove Dictionary оf Muѕіc and Musicians, voI. 2, London 
                1980.</li>
        <li><a name="note2"></a>Микола Дилецький, Граматика музикальна, 
                фотокойія рукопису 1723 року, прир. О. Ц. Якименко, Музична Украіна, 
                Київ 1970.</li>
        <li><a name="note3"></a>Упор. М. VеІімігоvі?, Stand der Forschung 
                йbеr kirchenslavische Мuѕіk, Zeitschrift f?r slavische Philologie, 
                Band XXXI, Heft 1, 1963, 144-169; Й. А. Гардмер, Бogоелужебное 
                йънїе русской йравославной церкви, т. I, Jordanville, New York 
                1980, 1.</li>
        <li><a name="note4"></a>Упop. L. Richter, "Pѕеlluѕ" Тratіѕе 
                оп Миѕіc іп Mizler's Bibliothek, Studies in Easten Chant, vol. 
                ІІ, Lоndоn 1971, 112-128; K. Levy, Byzantine Rіte Миѕik of the 
                - Byzantine Миѕic Тhеоrу, у: Тhе Nеw Grove Dіctionаrу of Mиsic 
                and Миѕіcіаnѕ, vol. 2, 562-563.</li>
        <li><a name="note5"></a>K. Levy, нав. дело; Ch. Bentas, The Treatise 
                оn Миѕіc bу John Laskaris, Studies in Eastern Chant, voI. II, 
                21-27; Gr. Th. Ѕtаthіѕ, I Manoscritti e Ia Tradizione Mиsicale 
                Віzапtіпо-Ѕіпаіtіcа, Theologia, Atene 1972, 3-40.</li>
        <li><a name="note6"></a>Monumenta Musicae Byzantinae, Corpus Ѕcriрtоruм 
                De Re Musica: Gabriel Hicromonachos.Abhandlung ?bеr den Kirchengesang, 
                ed. by Ch. Hannick and G. Wolfram, vol. 1, Vienna 1985; Тhе Treatise 
                of Manиel Chrуѕарhеѕ, the Lampadarios: On the Theory of the Art 
                of Chanting and on Certain Erroneoиs Views that Ѕоmе Hold about 
                it, ed. by D. Conomos, vol 2, Vіеnnа 1985; Hieronymos Tragodistes. 
                ?ber das Erfordernis von Ѕchriftzеіchen f?r die Musik der Griechen, 
                ed. by B. Schartau, vol. III, Vienna 1990.</li>
        <li><a name="note7"></a>Упор. описе рукописа у манастирима на Светој 
                Гори: Gr. Stathis, TA ХЕІРОГРАФА 
                BYZANTINHΣ MOYΣIKHΣ, АГІОN 
                OPOΣ, t. I, Atina 1975; t. II, Atina 1976. t. III, Atina 
                1977; А. Јаковљевић, Инвентар музичких рукописа манастира Хиландара, 
                Хилаидарски зборник 4, Београд 1978, 193-234.</li>
        <li><a name="note8"></a>Maureen M. Morgan, The "Three Teachers" 
                and Their РІаее іп іhе History of Greck Chиrch Миѕіc, Ѕtudіеѕ 
                in Eastern Chant, vol. I, London 1971, 86-99; K. Romanou, A New 
                Approach to the Work of Chrуѕаntоѕ of Madytos: The New Method 
                оf Mиѕical Notation in the Greek Chиrch, Studies in Eastern Chant, 
                vol. IV, New York 1990, 89-100.</li>
        <li><a name="note9"></a>K. Romanou, нав. дело. </li>
        <li><a name="note10"></a>Еıσαγωγη 
                εıς τơ θεωρητίxтν., 
                Рагіѕ 1819; Рагіѕ 1819; <i>Мєуα 
                Θεωρητіόν τηυ 
                μоςσіхηφ</i>, Trieste 
                1832. Упор. Theodoros Aristokles, Kωνσταντιоυ
Ά В׀оραψ׀α, Constantinople 
                1866, 6; цитирано према K. Romanou, нав. дело, 95, напомена бр. 
                19.</li>
        <li><a name="note11"></a>Упор. Д. Петровиh, Српеко народно црквено 
                појање и његови записивачи, у: Српска музика кроз векове, Галерија 
                САНУ, књ. 22, Београд 1970, 251-266; радови П. Бингулца, Д. Стефановића, 
                Д. Петровић, у: Корнелије Станковић и његово доба, Зборник радова 
                са научног скупа одржаног октобра 1981. године, Српска академија 
                наука и уметности, Научни скупови, књ. 24, Београд 1985, 105-115, 
                123-134, 137-145.</li>
        <li><a name="note12"></a>Архив САНУ, Сремски Карловци, Митрополијско-патријаријаршијски 
                фонд А, 585/1847.</li>
        <li><a name="note13"></a>D. Ретrоvі?, Ро?еcі vі?еgІаѕја и srpskoj 
                crkvenoj mиzici, МuzіkоІо?kі zbornik ХVІІІ2, Ljubljana 1981, 111-122; 
                Ista, Mиziko и srpskoj pravoslavtzoj crkvi и Trstи, МuzіkоІо?kі 
                zbornik XXV, Ljubljana 1989, 95-106; Д. Михалек, Франческо Синико 
                - композитор Српске литургије (1840), Свеске Матице српске - грађа 
                и прилози за култуну и друштвену историју, бр. 6, 1987, 53-57. 
                14</li>
        <li><a name="note14"></a>Д. Стефановић, Пpиnoг проучавању нотних 
                аутографа, архивских и друтих докумената о Корнелију Станковићу, 
                у: Корнелије Станковић и његово доба, Зборник радова са научног 
                скуnа одржаног октобра 1981. године, Српска академија наука и 
                уметности, 1 Научни скуnови, књ. 24, Београд 1985, 123-134.</li>
        <li><a name="note15"></a>Й. А. Гарднер, Богослужебное йънїе русской 
                православной церкви, т. I- II, JordanviIiе, Nеw York 1980, 1</li>
        <li><a name="note16"></a>Упор. К. МаnојІоvі?, Mиzika i пјеn razvoj 
                и Bиgarskoj, Zagreb 1933; рге?tамраnо iz "Sv. Ceciliје"; 
                Агапия Баларева, Хоровоtо дело в България от средата на ХIХ в. 
                до 1944 г., София 1992.</li>
        <li><a name="note17"></a>K. L.evy, Byzantine Rite, Mиsic of the, 
                y: The New Grove Dictionary of Mиsic and Mиsicians, vol. 2, 561-563; 
                M. Adamis, An Example of Polyphony in Byzantine Mиsic of the Late 
                Middle Ages, y: Report of the llth Congress of the International 
                Mиsicological Ѕоcіеtу - Copenhagen 1972, vol. II, Copenhagen 1975, 
                737-747; D. Conomos, Experimental Polyphony, According to the... 
                Latins' in Late Byzantine Psalmody.
            <br>
            Упор. такође замљив текст о Мокрањчевом млађем савременику у Грчкој 
                Константину Псахосу - M. Ph. Dragoumis, Constantinos A. Psachos 
                (1869-1949), Studies in Eastern Chant, vol. V, New York 1990, 
                77-88.</li>
        <li><a name="note18"></a>Упор. у Прилогу, бр. 1а.</li>
        <li><a name="note19"></a>Упор. у Прилогу, бр. 3, 6-11.</li>
        <li><a name="note20"></a>Упор. М. Пaвлoвић, Заоставштина Корнелија 
                Станковића, y: Kopнeлиje Станковић и њеово доба, 147-170; Д. Петровић, 
                Осмогласник у српском појању и мелографском раду Стевана Мокрањца, 
                у: Духовна музика IV, Сабрана дела Стевана Ст. Мокрањца, књ. 7, 
                Београд 1995.</li>
        <li><a name="note21"></a>М. Павловић, нав. дело, 161-167.</li>
        <li><a name="note22"></a>Упор. у овом раду Пpилoг, бр. 22, 23.</li>
        <li><a name="note23"></a>V. ?gаnеc: Folklore Elements іп the Yиgoslav 
                Orthodox and Roman Catholic Litиrgical Chant.International Folk 
                Music Journal, VIII, 1956, 19-22; Иcти, Миzі?kі FоІkІоr I, Zagreb 
                1962, 160-175.</li>
        <li><a name="note24"></a>Академија наука Босне и Херцеговине, Сарајево 
                1986.</li>
        <li><a name="note25"></a>К. Станковић, Предговор, у: Православно 
                црквено појање у Србског народа, књ. 1, Беч 1862; текст штампан 
                у савременој ортографији са преводима нa енглески и немачки језик, 
                види: Одбор за фототипска издања Српске академије наука и уметности, 
                Народне библиотеке Србије и Матице српске, књ. 16, Београд 1994.</li>
        <li><a name="note26"></a>Упор. у Прилогу, бр. 5а"; 18а.</li>
        <li><a name="note27"></a>Упор. у Прилогу, бр- 14а.</li>
        <li><a name="note28"></a>Т. Остојић, Предговор, у: Православно српеко 
                црквено пјеније по старом карловачком начину, Нови Сад 1896, VII-XVI, 
                прештампано у Бравковом колу 1897. године. Мали зборник радова 
                посвећен животу и раду овог значајног историчара српске културе 
                обајвљен је у Свескама Матице српске, гpaђa и прилози за културну 
                и друштвену историју, Серија књижевности и језика, св. 7, Нови 
                Сад 1991.</li>
        <li><a name="note29"></a>Ст. Новаковић, Старинско црквено певање, 
                Караџић, 11, 4, Алексинац 1900, 57-58.</li>
        <li><a name="note30"></a>Jean-Baptiste Thibaut je ово предавање 
                исте године и публиковао, La Миѕіqие byzantine chez Іеѕ ЅІаvеѕ, 
                Tribune de Ѕаіnt Gervаіѕ, voi. X, Раrіѕ 1904, рр. 158-162. О Тибоовом 
                веома значајном музиколошком раду упор. E. Wellesz, A Нistоrу 
                of byzantine Миѕіc and Hymnography, Ist ed., Oxford 1949, рp. 
                13-18.</li>
        <li><a name="note31"></a>П. Деспотовиh, Старинско црквено певање, 
                Караџић, П, 5, 83-84.</li>
        <li><a name="note32"></a>П. Коњовић, Mиsica Divina, y: Стеван Ст. 
                Мокрањац, Београд 1956, поновљено издање, Матица српска - Нови 
                Сад 1984; Исти, Међусобни утицаји народне и црквене музике, у: 
                Огледи о музици, Београд 1965, 254-259.</li>
        <li><a name="note33"></a>Ст. Ст. Мокрањац, Православно српско народно 
                црквено појање - Опште појање, у редакцији и допуни Косте П. Манојловића, 
                Београд 1935.</li>
        <li><a name="note34"></a>Ст. Новаковиh, Старинско црквено певање, 
                Караџић, II, 4, Алексинац 1900, 57-58.</li>
        <li><a name="note35"></a>М. Милојевић, Музика и православна црква, 
                Годишњак и календар Српске православне патријаршије за 1933. годину, 
                Сремски Карловци 1933, 115-135.</li>
        <li><a name="note36"></a>П. Бингулац, Стеван Мокрањац и црквена 
                музика, у: Зборник радова о Стевану Мокрањцу, Српска академија 
                наука и уметности, Одељење ликовне и музичке уметности, Београд 
                1971, 13-31.</li>
        <li><a name="note37"></a>Н. Дучић, Старине хиландарске, Гласник 
                Српског ученог друштва, 56, Београд 1884, 116.</li>
        <li><a name="note38"></a>К. П. Манојловић, Предговор, у: Ст. СТ. 
                Мокрањац, Православно српско народно црквено појање - Опште појање, 
                Београд 1935, 10-11.</li>
        <li><a name="note39"></a>К. П. Maнojлoвић, Предговор, у: Православно 
                српско народно црквено појање - Опште појање, Београд 1935, 1-13.</li>
        <li><a name="note40"></a>Нав. дело, І 1; Д. Стефановић, Изгорели 
                неумски рукопис бр. 93 Народне библиотеке - једини познати музички 
                споменик из српског средњег века, Библиотекар, ХIII, 5, Београд 
                1961, 379-384.</li>
        <li><a name="note41"></a>Упор. М. Велимировић, The Present Status 
                of Research in Slavic Chant, Acta Musicologica, XLIV, 1972, 235-265; 
                D. Toulatos-Banker, State of the Discipline of Byzantine Music, 
                Acta Musicologica, L, 1978,181-195. </li>
        <li><a name="note42"></a>Студије о поменyтим рукописима писали су 
                Димитрије Стефановић, Милош Велимировић, Јелена Милојковић-Ђурић, 
                Ана Пенингтон, Димитрије Кономос, Даница Петровић, Андрија Јаковљевић. 
                Не постоји новија потпуна библиографија ових радова.</li>
        <li><a name="note43"></a>Најобимније публикације су: Стара српска 
                музика. Примери црквених песама из XV века, приредио Д. Стефановић, 
                Посебна издања Музиколошког института САНУ, књ. 15 I/П, Београд 
                1973; D. Реtгоvі?, Osmoglasnik и миzі?kој tradiciji Ји?nіh ЅІоvеnа. 
                Posebna izdanja Muzіkоlо?kоg instituta SANU, knj. 16 IIII, Beograd 
                1982. </li>
        <li><a name="note44"></a>Упор. А. Јаковљевиh, Инвенtaр музичких 
                рукописа манастира Хилаидара, Хиландарски зборник 4, Београд 1978, 
                193-234; Д. Петровић, нав. дело; D. Sтефаnоvі?, An Additional 
                Checklist of Hilandar Slavonic Mиsic Manиscripts, Хиландарски 
                зборник 7, Београд 1989, 163-176.</li>
        <li><a name="note45"></a>D. Conoмos, Stefan the Ѕеrb, у: The New 
                Grove Dictionary оf Миѕic and Mиsicians, vol. 18, 93.</li>
        <li><a name="note46"></a>Одустали смо од намере да појединачно анализирамо 
                овакве текстове јер сматрамо да они својим професионалним нивоом 
                не заслужују озбиљну научну рецензију. Упор. С. Јаћимовић, О аутентичном 
                у музици српске цркве, Хришћанска мисао, 1, 1992; Исти, О аутентичном 
                у музици српске цркве, у: Српска Византија, Београд 1993, 187-194; 
                Исти, О савременим интерпретацијама музике визаnтијске цркве, 
                Хришћанска мисао, 3-5, 1993, 74-77; Катарина Пупезин, Kopenи хришћанског 
                духовног живота као извориште византијске црквене музике, Банатски 
                весник православне српске цркве, VII, 3, Вршац 1987, 13-16; В. 
                Вуловић, Неколико речи о песмама које зовемо духовним, Елементи 
                црквеnог појања кojигІа чиnе nеправославним, Банатски весник православне 
                цркве, LIII (XIII), 1-2, Вршац 1993, 27-29, 30-43. - Кругу збивања 
                која сведоче о различитим облицима неодговорног односа према црквеној 
                музици припада и пocтyпak спроведен у филму о римским царским 
                градовима (стручни консултант археолог Д. Срејовић) у којем појац, 
                проф. В. Илић, текстове римских записа пева по црквеним гласовима 
                српског црквеног појања. - На компакт диску који је најављен као 
                први у низу Тhе Ваlkаnѕ еnd its Mиsical Roots: Serbian Folk Mиsic 
                - varia, CD-3004, ITV MeIomarket, 1994, између сватовца и седељачке 
                песме налази се, некритички одабрани без икаквог критеријума у 
                овакво издање увршћен, одломак певања на Литургији, снимљен у 
                цркви у Новом Милошеву (Банат), уз недопустиво лош аматереки писан 
                коментар. 
                <p></p>
        </li>
    </ol>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr align="center" width="30%" size="1" noshade="">
    <p class="pnormal2">
        Припремила:<br>
        МИНА ЗИРОЈЕВИЋ
    </p>



</div>
