@{
    ViewBag.Title = "ЦРКВЕНО ПОЈАЊЕ И ЦРКВЕНА МУЗИКА";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Појање", "Index", "Pojanje")<span class="divider">/</span></li>
            <li class="active">ЦРКВЕНО ПОЈАЊЕ И ЦРКВЕНА МУЗИКА</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>


<p>&nbsp;</p>
            <p class="pnaslov">Димитрије Стефановић</p>
            <p class="pnaslov"><strong> <font size="5">ЦРКВЕНО ПОЈАЊЕ<br>
              И ЦРКВЕНА МУЗИКА</font></strong> 
            </p><p>&nbsp;</p>
            <p>&nbsp;</p>
            <p> На основу дугогодишњег истраживања и проучавања, дириговања и појања црквене 
              музике, стечено искуство омогућило нам је да црквеном појању и црквеној 
              музици приступимо текстолошки, музиколошки, историјски, а затим 
              да дамо осврт на данашње стање, проблеме и задатке.
</p><p>&nbsp;</p>
<p>
Док је истраживачко и репродуктивно трагање у почетку било загонетно и скривено, током времена тајне су се постепено откривале. Неизмерљива су духовна задовољства научног рада, литургијског суделовања и концертног извођења црквене музике.</p><p>&nbsp;</p>
<p>
<i>Текстолошки приступ. </i>Како настаје и како се црквено песништво одсликава у црквеном појању? Из великог броја цитата које смо из разних литургијских књига (највећим делом из минеја) исписали, одабрали смо најрелевантније. Покушали смо тако да их мозаички сложимо, како би смо пратили стваралачки поступак настанка и смисао литургијских песама. Изненаћује богатство старих црквенословснских речи изворно преведених са грчког оригинала. Њихово значење при првом слушању звучи можда недовољно разумљиво. У суштини, у њима се крију славословне речи, дубоко надахнуте мисли, увек актуелне теолошке поруке проистекле из преданог молитвеног манастирског тиховања и всеношчних бденија.</p><p>&nbsp;</p>
            <p> Пред нама је књига "богоначертанаја тајних сокровишч (ризница)", 
              краснаја гусл' духа, глубином и богатством вере сочињена". 
              Из тишине помишљенија започиње своја "пјесносочињенија" 
              "маљејшиј пјеснописац": "Откуда начну похвалу ткати 
              и пјесњ спротјажено плетушче аз окајаниј и недостојниј? Из слуха 
              и устнаго преданија почсрнутаја списују. Воспјети покушајусја и 
              начати дерзнух, слово ми вдохни (удахни). Устње очисти, јазик мој 
              ујасни, умили сердце и наполни духа премудрости. Разума дарованија 
              подажд ми".
</p><p>&nbsp;</p>
            <p> Пошто је започео своја "ткања" химнограф, пјеснописац, пјеснословац, 
              тај "оруженосац духовни" свом "мисленом пјенију" 
              додаје ознаку гласа (осмогласника). Наступа затим пјеснопјевац како 
              би "всерадостноје, благодарствсноје похваљеније, ово прекрасно 
              слово пјенија приљежно, благославним јазиком, велегласно, с пуним 
              усердијем ниње от души принео".</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3 class="pnormal">МУЗИКОЛОШКИ ПРИСТУП<font size="2"> [<a href="#note1" class="notes">1</a>]</font></h3>
<p>&nbsp;</p>
<p>
<i>Усмена традиција. </i>Појати, успојати значи уздићи гласом литургијски текст, обликовати га мелодијом и учинити га на тај начин разумљивим и себи и другима. Појање се највећим делом преносило, као што смо већ рекли, из "устнаго преданија". Веома мали број појаца је знао ноте. Мелодијске форме осам гласова Осмогласника морао је добар појац знати напамет. Свакако да су овде искуство и слух играли веома важну улогу. На основу тих мелодијских формула кројене су песме. Кројити значи пpилaгoђaвaти мелодијске форме одређеног гласа одсецима текста који чине мисаону целину. Прилагођавање се врши одједном, за време службе, без неке претходне припреме. То је надахнути, сложен, стваралачки чин, уметничка вештина. Он је вековима присутан, траје и данас. Одзвањају ови певани текстови за манастирским и црквеним певницама и побуђују појца да их пева истичући карактеристичне мелоднјске формуле, али и свој глас. Понека од јасно отпеваних, препознатљивих речи допире и до братије у манастирима и до верника у црквама који се моле у себи "во својем помишљенији".[<a href="#note2" class="notes">2</a>]</p><p>&nbsp;</p>
<p>
<i>Писмена традиција </i>била је привилегија мањег броја монаха који су писали и певали по неумама. Пришли смо неумским рукописима са нескривеном жељом да продремо у стваралачке тајне како компознтора, тако и преписивача рукописа. Та музичко-духовна творенија била су у почетку загонетна и скривена, да би временом постајала свс јаснија. Композитор је првенствено желео музички - мелодијом и ритмом - да подвуче, ослика литургијски текст који је добро познавао. То музичко полвлачење текста, уз коришћење постојећих мелодијских и ритмичких комбинација и формула требало је да покаже не само обдареност композитора, већ да истакне лепоту која ће пленити и извођача и верника у цркви. Таква настојања установили смо код наших најстаријих композитора Стефана, Николе и Исаије Србина (XV век). Преписивач је по правилу, верно следио предложак са кога је преписивао неуме. Додавао је Понекад v<i>ariaе lectionis </i>- кратка мелодијска разночтенија - црвеним тушем. Био је предан и напоран посао који је захтевао много времена, труда, стрпљења, па и љубави. <i>Variae Іестіопіѕ </i>су могле бити преузете и из других предложака, али, најчешће оне доказују преписивачево "стваралачко" занимање за могућу варијанту мотива од неколико другачијих тонова - у односу на <i>dиctиs. </i>Te варијанте, међутим не ремете основну мелодијску формулу.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3 class="pnormal">ИСТОРИЈСКИ ПРИСТУП</h3>
            <p>&nbsp;</p>
<p>
У многобројним документима Архива Српске академије наука и уметности у Сремским Карловцима (АСАНУК) у коме су сачувани Митрополијско-патријаршијски (МП-А, Б) и низ других фондова, читамо о црквеном пјенију, пјетију, старом карловачком појању... О појању су са одговорношћу бринули појци, учитељи, школска управитељства, славнасословија, пapocи, eпиcкoпи, митрополити и патријарси. Ево само неколико карактеристичних примера с кpaja XVIII и из ХІХ века, који допуњавају ранија истраживања објављена у зборнику радова <i>Корнелије Станковић и његово доба.[<a href="#note3" class="notes">3</a>]</i></p><p>&nbsp;</p>
<p>
Још 1769. године "ученици у клирикалној школи у Сремским Карловцима "пјитии от магистера добрје обучени сут".[<a href="#note4" class="notes">4</a>]</p><p>&nbsp;</p>
<p>
Године 1796. у Будиму се појало и читало на два језика "пјевац и чтец како в греческом тако и в сербском диалекте појут".[<a href="#note5" class="notes">5</a>]</p><p>&nbsp;</p>
<p>
У Араду је 1818. године одржан је <i>сиrѕиѕ in canto </i>(наилазимо на низ докумената на латинском).[<a href="#note6" class="notes">6</a>]</p><p>&nbsp;</p>
<p>
"Ревност ко пјенију" присутна је у Вршцу І82І.[<a href="#note7" class="notes">7</a>]</p><p>&nbsp;</p>
<p>
Две године касније, 1823. Ефтимије Стојадиновић пише да су: "моја школска деца свакиј ирмос и проча церковна пјенија преко цјеле године појала".[<a href="#note8" class="notes">8</a>]</p><p>&nbsp;</p>
<p>
Колико је Коста Јосич приљежно приступао пјенију сведочи његово писмо писано у Балаша Бармату (Будимска епархија) 1824: "Настојашчеје моје од чистосердечнаго сердца проистекајушчеје пјеније јеже аз дњес по средје Божија церкве со сладкопјенијем воспјевају".[<a href="#note9" class="notes">9</a>]</p><p>&nbsp;</p>
<p>
У писму Лукијана Мушицког из 1834. године стоји да је "обучио клирике пјенију церковному".[<a href="#note10" class="notes">10</a>]</p><p>&nbsp;</p>
<p>
Године 1855. патријарх Јосиф Рајачић налаже да се ђаци "у пјенију церковном обучавају и да ce пjeниje церковно предметом обвезатељним за нашу јуност учини".[<a href="#note11" class="notes">11</a>]</p><p>&nbsp;</p>
<p>
На молбу ученика Георгија Теларовића, три пароха нз Ирига сведочили су 1861. г.: "по нашем знању и уверењу... пјенијем својим (он је) наше сажитеље при богослуженију сазидавао и у умилење доводио".[<a href="#note12" class="notes">12</a>]</p><p>&nbsp;</p>
<p>
Патријарх Прокопије Ивачковић дозвољава 1879. да се у "пјенију гимназисти и богословци бесплатно обучавати" могу.[<a href="#note13" class="notes">13</a>]</p><p>&nbsp;</p>
<p>
	Документ из 1876. истиче: "имајући на уму да и вештина певања утиче на облагороћење срца и душе".[<a href="#note14" class="notes">14</a>]</p><p>&nbsp;</p>
<p>
Школски савет 1880. поставља строге услове: "има да се на пријемном испиту строго пази на то, ко ће за редовног ђака да буде примљен, да има гласа за појање и певање, и ако у ког не би доста устројен био, да се преда учитељу хармонијског певања, да с њим школу истерује, док му се глас не ишчисти и не постане виткији, или y противном случају да се одмах на крају прве године искључи из редовних учсника и да му се и стипендија одузме, ако је има, и да се такав не може ни оспособити за учитеља, јер појање није само нужно учитељу за цркву, него и за школу прописан је предмет који морају сви ђаци и то доста, не мало научити".[<a href="#note15" class="notes">15</a>]</p><p>&nbsp;</p>
<p>
Суспендован учитељ Милан П. Павловић из Варјаша (румунски Банат, Темишварска eпapxиja) истиче 1882. године: "Ја сам вазда велике воље и наклоности према обреду и појању црквеном неописане љубави имао, те са највећим пијететом у цркви појах... Свагда сам са највећом вољом и најбољим расположењем и усхићењем у цркви пpи свим богослужењима појао". [<a href="#note16" class="notes">16</a>]</p><p>&nbsp;</p>
<p>
У писму високославном школском савету из 1906. штавише стоји: "У нашем народу више се тражи добар појац него добар учитељ".[<a href="#note17" class="notes">17</a>]</p><p>&nbsp;</p>
<p>
Црквено појање је као световни део богослужења играло значајну васпитну, културну, етичку и верску улогу. Било је присутно од школске деце до  најстаријих појаца.[<a href="#note18" class="notes">18</a>] О заступљености и бризи за црквено појање говоре многобројна архивска документа. Општи је утисак да се тежило појања у богословијама и на богословском факултету, црквеном појању не посвећује довољна nажња. Уз малобројне изузетке немамо више добрих nојаца попут Бранка Цвејића, Лазара Лере, Светозара Mилypoвића. У црквама се више не чyје велико појање.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3 class="pnormal">ЦРКВЕНА МУЗИКА</h3>
            <p>&nbsp;</p>
<p>
О хармонијском, хармоничном, ноталном пjeниjy, певању, чији почеци датирају из 30 и 40-тих година 19. века, такође сведоче архивски подаци, попут оних о црквеном појању. У њима се такође налазе записи о бризи црквених и школских власти у Карловачкој митрополији око увођења и унапређења овог све пoпyлapниjer заједничког певања у школске програме и цркве.</p><p>&nbsp;</p>
<p>
Користећи се архивским документима Даница Петровић је у својим радовима осветлила питање увођења вишегласног певања, анатеме Цариградске патријаршије на увођење вишегласног певања, одговор патријарха Јосифа Рајачића. Неминовни продор вишегласног nевања се није могао зауставити. Оно се брзо ширило и међу nевачима а било је пријемчиво и за вернике.[<a href="#note19" class="notes">19</a>]</p><p>&nbsp;</p>
<p>
У нашем прилогу из давне 1974. године навели смо дотадашње резултате проучавања српске црквене музике.[<a href="#note20" class="notes">20</a>] Резултате својих истраживања о улози певачких друштава и о написима о црквеној музици до 1918. године објавила је Роксанда Пејовић.[<a href="#note21" class="notes">21</a>] Историјски значај и улога Корнелија Станковића највећим делом су обрађени у већ nомињаном зборнику радова о Корнелију Станковићу.[<a href="#note22" class="notes">22</a>] О црквеној музици било је речи на научним скуповима, односно у зборницима радова посвећених Петру Коњовићу,[<a href="#note23" class="notes">23</a>] Стевану Христићу,[<a href="#note24" class="notes">24</a>] и у дипломским радовима студената Факултета музичке уметности у Београду.[<a href="#note25" class="notes">25</a>]</p><p>&nbsp;</p>
<p>
<i>Стање и проблеми. </i>"Ослобаћање" црквене музике и стављање на концертни реnертоар до недавно "анатемисаних" дела ставило је "световне" диригенте неупућене у суштину и литургијску функцију црквене музике пред нови задатак. Суочили су се прво са проблемом изговора руског црквенословенског текста. Садржај је био у nочетку потпуно непознат, тако да је главна пажња била посвећена само музичким компонентама пpиликом извођења композиција. Присутна је била тежња за ефектима (акценти, форте, короне). Следила су интегрална извођења литургија Стевана Мокрањца, Јосифа Маринковића, Марка Тајчевића, Корнелија Станковића и Станислава Биничког. Проблем су представљала јектенија која повезивањем олакшавају извођење литургије у целини и без nрекида. Поступним интервалским кретањем углавном дијатонским, а каткада и неочекиваним интервалским скоковима coлистe омогућене су хору промене тоналитета без посебног давања интонације. У почетку су само стручњаци приметили да овакво произношење јектенија није у складу са традиционалним, устаљеним начином извођења литургије у Цркви. Снимљене су плоче и касете. Данас све више световних хорова, састављених од млађих чланова изводе црквенy музику.</p><p>&nbsp;</p>
            <p> У црквеним хоровима се cycpeћy нekoлиko генерација певача: од најстаријих 
              до сасвим младих. Истаћи ћемо неколико основних проблема: 
            </p><p>1) неусклаћена "обавеза" према редовном недељном и празничном 
              nевању у цркви, 
            </p><p>2) однос према певаном литургијском тексту који зависи од личног 
              духовног доживљавања литургије како од стране диригената тако и 
              од стране певача.
</p><p>&nbsp;</p>
<p>
Потребно је да део нашег разматрања nосветимо појави присyтној код младих монаха у манастиру Ковиљу и код студената у Београду и Новом Саду, а вероватно и y другим градовима - хорским певачима такозваног византијског појања. Грчке мелодије су успешно прилагођене црквенословенском тексту руске редакције, а начин њиховог извођења је веома близак садашњем грчком светогорском певању, што свакако оставља одређени музички и емотивни yтисак. При томе, истичемо, да није реч о српским, већ о грчким мелодијама. Међyтим, сматрамо да у појединим црквама оно доприноси разноликости и сагледавању једног другачијег вида појања. Индивидуално опредељење верника, афинитет или одбојност према овом појању, представљаће одлучујући фактор у будућности. Време ће, као и увек, учинити своје.</p><p>&nbsp;</p>
<p>
Осврт заслужује и Павле Аксентијевић, иконописац и музичар-самоук, који је обдарен лепим тенорским гласом, стекао широку популарност певајући на концертнма једногласну грчку и српску музику уз пратњу <i>4-5 </i>певача који "држе" и мењају исон. Његов обиман репертоар обухвата транскрибоване песме старих српских композитора XIV и XV века, и неовизаитијске песме које је слушао у Грчкој, на Светој Гори и на грчким острвима. Највећим делом су то мелизматичне песме које је Аксентијевић сам са звучних снимака пренео у ноте. Изводи их на доста индивидуалан начин којим је, можемо рећи, успоставио "свој" стил. Он је каткад близак аyтентичном грчком савременом појању.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h3 class="pnormal">ЗАДАЦИ</h3>
            <p>&nbsp;</p>
<p>
Сматрамо да би требало:</p><p>&nbsp;</p>
            <p> а) настојати (свим средствима) да nојци, хорски nсвачи и верници пре свега 
              разумеју певани текст. Вернике би уз велике нanope, требало приволети 
              да заједно са хором певају једноставне делове литургије - јектенија, 
              <i>Свјати Боже, Оче наш, Буди имја Господње. </i>(Пример: Срби у 
              Помазу, Котору, Руси). С мером, постепено хорски изводити старе 
              једногласне мелодије, као и троnаре и кондаке по нотним записима.
</p><p>
б)	Служити богослужења, а нарочито обреде иa cpпcкoм, aли не занемарујући сасвим црквенословенски језик. Толеранција као знак културе, не компромиса, треба да уступи место искључивостима.</p><p>
в)	Ђацима богословија и студентима факултета улити љубав и одговорност према црквеном појању, истичући лепоту мелодија, теолошки садржај песама, неизмеран историјски и културни значај нашег црквеног појања као саставног дела наше свеукупне духовне баштине, или како Корнелије истиче: "драгоцено благо нашег народа".</p><p>
г)	Објављивати нотна издања црквеног nојања и црквене музике. Заиста охрабрује репрезентативно издање црквене музике у оквиру сабраних дела Стевана Мокрањца,[<a href="#note26" class="notes">26</a>] фототипско издање три књиге Корнелија Станковића,[<a href="#note27" class="notes">27</a>] и фототипско издање <i>Нотног зборника </i>Ненада Барачког[<a href="#note28" class="notes">28</a>] до сада урађено учвршћује нас у сазнању да заједнички поду-хвати, засновани на представљању правих вредности, уз појединачна ангажовања оданих прегалаца могу да доведу до задовољавајућих резултата. У Новом Саду одржан научни скуп и међународни фестивал духовне музике (12-22. Х 1994) доказ су спремности, добре воље, разумевања наших научних, културних и културнопросветних установа и бројннх дародаваца да у овом смутном времену подрже праве духовне вредиости. Уз сва досадашња трагања, проучавања и извођења, настојаћемо да ово неисцрпно музичко и духовно богатство, ову умотворину нашег народа пренесемо на млађе и још више "пред свет изнесемо, нека му и он зна вредиост његову". На тај начин ћемо оно вековноусмено предање наставити и пренети из срца у срце.</p><p>&nbsp;</p>
            <p>&nbsp;</p><p>&nbsp;</p><hr size="1" noshade=""><p>&nbsp;</p><p>&nbsp;</p><p><strong>НАПОМЕНЕ:</strong></p>
            <ol class="sitno" start="1">
              <li><a name="note1"></a><em>Упор.</em> прилог Данице Петровић у 
                овом Зборнику.</li>
              <li><a name="note2"></a><em>Упор.</em> Даница Петровић, "Српско 
                појање у усменом и писаном предањy" y <em>Научни састанак 
                слависта у Вукове дане</em> 14 (Београд 1985) стр. 2.57-265; Димитрије 
                Стефановић", Феномен усмене тразиције у преношењу православног 
                литургијског појања'. <em>Зборник Матице српске за сценске уметности 
                и музику</em> 10-11 (Београд 1992) стр. 13-16. </li>
              <li><a name="note3"></a><em>Корнелије Станковић и његово доба</em>, 
                САНУ, Научни скупови, књига ХХІV (Београд 1985).</li>
              <li><a name="note4"></a>АСАНУК. МП - Б, 215/1769</li>
              <li><a name="note5"></a>АСАНУК. МП - Б, 159/1796.</li>
              <li><a name="note6"></a>АСАНУК Школски фонд, свежањ 133, Н 1/1818.</li>
              <li><a name="note7"></a>АСАНУК. Школски фонд, свежањ 136, Н 326/1821.</li>
              <li><a name="note8"></a>АСАНУК, Фонд школске депутације, свежањ 
                178/1823.</li>
              <li><a name="note9"></a>АСАНУК. Фонд школске депутације, свежањ 
                193 Н 440/1824.</li>
              <li><a name="note10"></a>АСАНУК, МП - Б, 159/1834.</li>
              <li><a name="note11"></a>АСАHУК, Карловачка гимназија, Н 86/1855.</li>
              <li><a name="note12"></a>ACAHVK, MH - A, бр. 184/1861.</li>
              <li><a name="note13"></a>АСАНУК, Карловачка гимназија, бр. 38/1879.</li>
              <li><a name="note14"></a>АСАHУК, Карловачка гимназија, бр. 213/1876.</li>
              <li><a name="note15"></a>АСАHУК, Српски православни народни школски 
                савет, бр. 281/111/І880.</li>
              <li><a name="note16"></a>АСАHУК, Школски савет, Н 242/1882.</li>
              <li><a name="note17"></a>ACAHYK, Школски савет, бр. 1020/1906.</li>
              <li><a name="note18"></a>Даница Петровић, "Српско народно црквено 
                нојање и његови записивачи" у: <em>Српска музика кроз векове</em>, 
                Галерија СAHУ, књига 22 (Београд 1973) стр. 251-274; еадем", 
                Фрушко-горски манастири и српско појање", у: <em>Фрушкогорски 
                манастири</em>, Гaлepиja CAHY, књига 66 (Београд 1990) стр. 178-196.</li>
              <li><a name="note19"></a>Даница Петровић",Почеци вишегласја 
                у српској црквеној музици", <em>Музиколошки зборник</em> 
                ХVII/2 (Љубљана 1982) стр. 111-122.</li>
              <li><a name="note20"></a>Димитрије Стефановић",О проучавању 
                српске црквене музике у музичким издањима у току последњих тридесет 
                година", <em>Споменица посвећена 130. годишњици живота и 
                рада Библиотеке Српске академије наука и уметности</em>, Посебна 
                издања, Књига CDLXXVI. (Београд 1974) стр. 125-134. Обухваћени 
                су библиографски подаци, књиге, студије и чланци, рукописне заоставштине, 
                музичка издања и плоче.</li>
              <li><a name="note21"></a>Роксанда Пејовић",Певачка друштва" 
                (1) "Српско музичко извођашво 1831-1941", РгоМигіса 
                Посебно издање (Београд 1986); <em>Критички чланци и посебне публикације 
                у српској музичкој прошлости</em> (1825-1918), Факултет музичке 
                уметности (Београд 1994) стр. 231; 236-239.</li>
              <li><a name="note22"></a><em>Упор.</em> напомену 3.</li>
              <li><a name="note23"></a><em>Живот и дело Петра Коњовића</em>, СAHУ, 
                Научни скynови, књига ХLIII (Београд 1989).</li>
              <li><a name="note24"></a><em>Живот и дело Стевано Христића</em> 
                CAHY, Научни скуnови, књига LV (Бeopaд 1991).</li>
              <li><a name="note25"></a>Радмила Микић",Црквена дела српских 
                композитора", са поднасловом "Стваралачки сусрет православне 
                и западноевропске музичке традиције" (1992); Весна Милинковић",Стихире 
                на "Господи воззвах" у нотним записима 19. и с почетка 
                20.века". </li>
              <li><a name="note26"></a>Стеван Мокрањац: <em>Духовна музика І, 
                Литлургија</em>, приредно проф. B. Илић, Завод за уџбенике и наставна 
                средства Београд и Музичко издавачко предузеће "Нота" 
                Књажевац (Београд 1994) стр. 150.</li>
              <li><a name="note27"></a>Корнелије Станковић: <em>Српско народно 
                црквено појање</em>, књига 1, 2, 3, CAHY, Народна библиотека Србије, 
                Матица српска, фототипска издања, књига 16 Београд-Нови Сад 1994).</li>
              <li><a name="note28"></a>Ненад М. Барачки, <em>Нотни зборник српског 
                народног црквеног појања по карловачком напеву</em>, фототипско 
                издање, приредила др Даница Петровић. "Кaленић", Музиколошки 
                институг СAHУ, Матица српска (Крагујевац 1995) стр. 390. Раније 
                објављена фототипска издања Мокрањчевпг <em>Осмогласника</em> 
                и <em>Општег појања</em> као и касете <em>Осмогласника</em> Стевана 
                Мокрањца веома су брзо распродате. 
                <p> </p></li>
            </ol>
            <p>&nbsp;</p><p>&nbsp;</p>
            <p>&nbsp;</p>
            <hr align="center" width="30%" size="1" noshade="">
            <p class="pnormal2">Припремила:<br>
              МИНА ЗИРОЈЕВИЋ</p>
      



    </div>
