@{
    ViewBag.Title = "РАЗВИТАК СРПСКОГ ЦРКВЕНОГ ПЈЕВАЊА ОД 14. ДО 18. ВИЈЕКА";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Појање", "Index", "Pojanje")<span class="divider">/</span></li>
            <li class="active">РАЗВИТАК СРПСКОГ ЦРКВЕНОГ ПЈЕВАЊА ОД 14. ДО 18. ВИЈЕКА</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>



    <p>&nbsp;</p>
    <p class="pnaslov">БРАНИСЛАВА ЗОРИЦА</p>
    <p class="pnaslov">
        <strong><font size="5">РАЗВИТАК СРПСКОГ ЦРКВЕНОГ ПЈЕВАЊА<br>
       ОД 14. ДО 18. ВИЈЕКА</font></strong>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        Процес одвајања српског црквеног пјевања од његовог византијског узора, 
       након средњег вијека бива знатно успорен најездом турских освајача. На 
       подручјима који су потпала под турску власт спроведено је спутавање у одржавању 
       вјерских обреда и упражњавању народних обичаја, што је, између осталог, 
       допринијело и сеобама српског живља.
    </p>
    <p>
        Овакво раслојавање становништва условило је промјене и у културном развоју 
       Срба, а самим тим и у музичком. Резултат оваквог развоја догађаја представља 
       и изузетно мала количина података о развоју црквеног пјевања. Данашње познавање 
       прилика у Србији о периоду 14.-18. вијека скоро је потпуно засновано на 
       разним путописима.
    </p>
    <p>
        Познато је да се турска власт на Балкану ширила у почетку постепено 
       и са доста толеранције у свом односу према породицама ситних феудалаца 
       и представника Српске православне цркве. "Штавише, поједини свештеници 
       добијају тимаре, а неки манастири, као Милешева, Раваница и Манасија, уведени 
       су у дефтере и уживају већа имања уз обавезу да отпремају неколико коњаника 
       на Султанов двор." <i>(С. Петковић, Српско сликарство на подручју 
       Пећке патријаршије 1557-1614).</i>
    </p>
    <p>
        Међутим, већ почетком 16. вијека ове се повластице губе. Ђеновљанин 
       Маревино у свом путопису наводи да Турци свештенике и монахе убијају или 
       лишавају моћи утицаја и значаја у народу, чинећи их "биједним и невољним". 
       Цркве и манастири су пљачкани, а неријетко су цркве претваране у џамије. 
       Хришћанима су остављане мале цркве са којих су одношена звона, и у којима 
       се морало служити "тихим гласом".
    </p>
    <p>
        Од овога времена Црква у праксу уводи клепало, тo јe дрвена греда, плоча 
       у коју се ударало чекићем. Клепало је у цркви преузело функцију звона, 
       којих, или није било јер су покрадена, или је било забрањено да се користе. 
       Оно се данас користи једино у појединим данима Часног поста умјесто звона.
    </p>
    <p>
        Њемачки духовник Стефан Герлах у својим записима из 1573. помиње постојање 
       само једне српске цркве у Београду, посвећене св. Арханђелу Михаилу. Он 
       износи и своја запажања о понашању народа у цркви, који "разумије 
       доста од онога што свештеник при служби говори" и "да их неколико 
       зна Оче наш и Вјерују". Герлах још помиње постојање школе у манастирима 
       Хопову и Светог Николе, гдје се учи читање и писање. Не зна се, међутим, 
       да ли се у овим школама учило и пјевање. Чини се да у то вријеме није било 
       много манастирских школа у Србији, што је резултирало малим бројем писмених 
       свештеника и монаха. Стефан Герлах, чији записи представљају драгоцјени 
       извор података о црквеној музици овог времена, наводи још и манастир св. 
       Димитрија код Беле Паланке (познатији као Дивљански манастир) у ком се, 
       поред читања и писања, учило и литургијско пјевање.
    </p>
    <p>
        У Србији 17. вијека постојала су два пункта са интензивним вјерским 
       животом. Један је био у манастиру Хиландару на Светој Гори, у ком је његовано 
       црквено пјевање засновано на византијској традицији, докје други израстао 
       у Војводини, о чијим почецима свједоче поменути записи Герлаха.
    </p>
    <p>
        Драгоцјена ризница манастира Хиландара садржи око 150 рукописа, и то 
       грчке, грчкословенске и словенске касновизантијске нотације. Поштовање 
       традиције огледа се у обликовању црквених пјесама које је рађено по узору 
       на грчке неумске записе старије традиције (12. и 14. вијека). У потоњим 
       пјесмама овога типа могуће је уочити мелодијску сродност са бугарским и 
       руским црквеним пјевањем.
    </p>
    <p>
        Тешко стање у погледу недостатка црквених књига и образованог свештенства, 
       као и да се спријечи асимилација Православних Срба коју су спроводили Аустријанци 
       унијаћењем, навела је у 18. вијеку митрополита Мојсија Петровића да се 
       обрати православним Русима и Грцима за помоћ. До тада се култ српским светитељима 
       одржавао усменим предањем. Издања СРБУЉА, црквених књига на старословенском 
       језику српске редакције била су малобројна. СРБЉАК књига са службама српским 
       светитељима са ознакама за гласове по којима се треба пјевати, први пут 
       је штампана 1761. Постепено је руски црквенословенски текст замијенио српску 
       редакцију старословенског језика и постао, од 1713. богослужбени језик 
       и Српске православне цркве, без обзира на отпор присталица српскословенског 
       језика.
    </p>
    <p>
        Митрополиту Мојсију се може захвалити што је 1721. основана грчка школа 
       црквеног пјевања. И поред тога што Срби нису знали грчки језик, грчко црквено 
       пјевање се проширило и скоро потиснуло српско црквено пјевање.
    </p>
    <p>
        Године 1726. у Сремске Карловце долази први руски учитељ Максим Суворов, 
       чему слиједи отварање школа у којима као учитељи раде Руси и Украјинци. 
       Овим је започео утицај руског црквеног пјевања на српско.
    </p>
    <p>
        У фрушкогорским манастирима калуђери су средином 18. вијека познавали 
       српско, грчко и руско пјевање. Претпоставља се да се "посрбљавањем" 
       грчких мелодија у комбинацији са руским утицајем, створено ново српско 
       пјеније.
    </p>
    <p>
        Овакво "уређено" прквено пјевање, преношено је усменим путем, 
       успут трпећи и извјесне промјене, до свог првог записивања које је извршио 
       Корнелије Станковић.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pdesno">
        <em><strong>БРАНИСЛАВА ЗОРИЦА<br>
            апсолвент Факултета<br>
            музичке уметности<br>
            у Београду</strong></em>
    </p>
    <p>&nbsp;</p>
    <p class="pdesno">
        <em>"Православнo Слово"<br>
            децембар 2002.</em>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr align="center" width="30%" size="1" noshade="">
    <p class="pnormal2">
        Припремио:<br>
        Прот. СРБОЉУБ МИЛЕТИЋ
    </p>



</div>
