@{
    ViewBag.Title = "ТРАДИЦИОНАЛНО СРПСКО НАРОДНО ЦРКВЕНО ПОЈАЊЕ У XX ВЕКУ";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Појање", "Index", "Pojanje")<span class="divider">/</span></li>
            <li class="active">ТРАДИЦИОНАЛНО СРПСКО НАРОДНО ЦРКВЕНО ПОЈАЊЕ У XX ВЕКУ</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>



    <p>&nbsp;</p>
    <p class="pnaslov">Даница Петровић</p>
    <p class="pnaslov">
        <strong>ТРАДИЦИОНАЛНО СРПСКО НАРОДНО<br>
            ЦРКВЕНО ПОЈАЊЕ У XX ВЕКУ</strong>
    </p>
    <p class="pnormal">
        <strong><em>Пут неговања, замирања, страдања и 
              обнављања</em></strong>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="pnormal">До Првог светског рата</h3>
    <p>&nbsp;</p>
    <p>
        Улазак у двадесети век Срби су дочекали подељени у три државе. Територије на којима су вековима живели припадале су: Краљевини Србији и двема царевинама -Аустроугарској и Турској. Политичке прилике диктирале су и црквену организацију: у Краљевини Србији Црква је имала ранг Митрополије на челу са митрополитом Србије, у Аустроугарској су сви православни житељи били под јурисдикцијом Карловачке митрополије, у којој је црквени поглавар од 1849. године носио титулу патријарха српског, док је у Отоманској империји Српска православна црква, после потпуног потискивања Пећке патријаршије 1766. године, стављена под јурисдикцију Цариградске патријаршије.
    </p>
    <p>&nbsp;</p>
    <p>
        Традиционално српско црквено појање, као нераскидиви део богослужбеног молит-веног правила) опстојавало је вековима кроз усмено предање. Оваква пракса настављена је и у ХХ веку, иако су још четрдесетих година ХІХ века српски архијереји упозоравали на неодложну потребу да се напеви забележе и на тај начин сачувају од нежељених промена. Први записи једногласног традиционалногсрпског појања, настали трудом Корнелија Станковића у Сремским Карловцима и у фрушкогорским манастирима половином ХІХ века, остали су до данас необјављени.[<a href="#note1" class="notes">1</a>] Настојањем низа свештеника и лаика, пре свега професора Карловачке богословије, Карловачке гимназије, затим Велике српске гимназије у Новом Саду и Препарандије у Сомбору, сачувани су многобројни рукописни и литографски умножени нотни зборници црквених напева, данас углавном непознати, како међу свештенством, тако и међу музичарима.[<a href="#note2" class="notes">2</a>] Мелографска пракса из последњих деценија ХІХ века настављена је и у наредном веку.
    </p>
    <p>&nbsp;</p>
    <p>
        Катихета и професор учитељске школе у Пакрацу, Јован Константиновић, објавио је своје записе црквеног појања 1900, а млади свештеник Бранко Цвејић је служећи и службују ћи у сремском селу Баноштору записао Осмогласник по сопственом појању 1905. године.[<a href="#note3" class="notes">3</a>] Сјајан литургичар, карловачки професор, протојереј Јован Живковић, објавио је <b><i>Нотни зборник црквених песама </i></b>(опште, минејско, великопосно и пентикостарско појање) у Новом Саду 1908. године, а протођакон Мирко Балубџић је редиговао и у Српској манастирској штампарији у Сремским Карловцима објавио зборник великог појања и утврђених стихира 1913. године.
    </p>
    <p>&nbsp;</p>
    <p>
        Новосадски композитор и музички педагог Исидор Бајић (1878-1915), наставник музике и православног црквеног пјенија у Српској великој гимназији у Новом Саду,[<a href="#note4" class="notes">4</a>] објавио је1903. године у свом <b><i>Српском музичком листу </i></b>текст Како треба учити музику y пpeпaрандији и богословији. Његов Пројекат за промену учења појања и музике у Српској великој гимназији у Новом Саду сведочи о озбиљности са којом се тада приступало музичком васпитању у којем је изузетно значајну улогу имало и црквено појање.[<a href="#note5" class="notes">5</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        Бајић се посебно залагао за очување традиционалног српског црквеног појања. У Бранковом колу је писао да се скоро у свакој цркви друкче поје и да су се у наше лепо црквено појање увукле и таке неукусности које просто узнемирују и ремете и сам интензивнији развој побожности, од стране верних приликом богослужења.[<a href="#note6" class="notes">6</a>] Оштро је критиковао мноштво негативних појава у црквеној пракси, наводећи и такве ситуације када се уместо квалификованих појаца поставтљају људи без знања са тамбурашким гласом и манирима. Текст је послао и Светом архијерејском синоду у Сремским Карловцима, а потом се по истом питању писмом обратио и епископу будимском Лукијану Богдановићу.[<a href="#note7" class="notes">7</a>] Бајић је инсистирао на томе да је неопходно компаративним методом утврдити и записати најбољу варијанту нашег црквеној појања, и то без непотребних украса трила које су управо резултат амбиција појединих певача, а које су често неукусне и тешке. Ова Бајићева акција остала је без резултата. Да ли зато што у цркви није добио подршку и помоћ, или можда зато што он сам није имао довољно знања, упорности и енергије да тако обиман подухват барем започне, ако не и да га доведе до краја?
    </p>
    <p>&nbsp;</p>
    <p>
        У исто време Српска црква се у Краљевини Србији још увек ослањала само на усмено предање. Велику популарност уживали су појачки зборници са <b><i>трилама, </i></b>проте НиколеТрифуновића[<a href="#note8" class="notes">8</a>] у којима су мелодије представљане помоћу четири графичка знака, која су слободно постављана изнад текста, осликавајући тако кретање мелодије навише или наниже. Овакви записи били су самопомоћ, или подсетник онима који су напев морали да науче напамет. Штитећи своје, вероватно и материјалне, интересе, Трифуновић је годинама успевао да одложи штампање Мокрањчевих нотних записа. На основу до сада објављених извора и података, чини се да у Краљевини Србији нису били коришћени штампани и литографисани записи једногласног појања са простора Карловачке митропопије а Стеван Мокрањац у свом раду на црквеном појању, као узоре помиње само примере записа и хармонизованих напева Корнелија Станковића.
    </p>
    <p>&nbsp;</p>
    <p>
        Док је Исидор Бајић пиcao предлоге и покушавао да за актуелне проблеме црквеног појања заинтересује високу јерархију у Сремским Карловцима, Стеван Мокрањац је редиговао своје нотне записе Осмогласника. Он је управо као што је Бајић и предлагао, извршио редакцију напева ослободивши их сувишних трила, кићења и претераних заигравања грлом, а књигу је као уџбеник наменио ученицима Богословије у Београду. Са муком је покушавао да обезбеди финансијска средства за објављивање, да би после многих одлагања <b><i>Осмогласник </i></b>био штампан 1908. године о трошку интерната Богословије Св. Сава само у 500 примерака.
    </p>
    <p>&nbsp;</p>
    <p>
        Мокрањчево дело су са похвалама, умесним примедбама и одушевљењем прихватили јерођакон Иринеј Ћирић, потоњи епископ бачки, и протосинђел Доментијан Поповић, професор београдске Богословије. Негодовали су упорни Мокрањчев опонент Душан Јанковић, иначе заговорник Бајићевог предлога реформе појања, и непознати стари богослов.[<a href="#note9" class="notes">9</a>] Дело је било награђено од Светог архијерејског сабора Српске православне цркве у Београду, а Осмогласник је убрзо постао основна књига за учење појања у школама у Србији. На жалост, Мокрањчеви записи општег, пригодног и празничног појања, иако су преписивани и умножавани, нису били објављени за његовог живота. У ратном вихору 1915. године нестали су сви његови аутографи једногласног српског појања, пa je данас готово немогуће утврдити како је он вршио редакцију напева Осмогласника. Нередиговани записи празничног појања, недавно у целини објављени у оквиру сабраних дела Стевана Моркањца, делимично ће омогућити увид у разноврсност и богатство напева, како су их почетком века произносили Мокрањчеви појци, казивачи.[<a href="#note10" class="notes">10</a>]
    </p>
    <p>&nbsp;</p>
    <p>
        О духовном и црквеном животу Срба на простору Отоманске империје почетком овог века поседујемо неупоредиво мање података. Скрбна времена утицала су на драстично смањење литургијских рукописа у Пећкој патријаршији и у манастиру Дечанима још у 18. веку. Прилике су се у 19. веку погоршавале, а монаси су се веома често за помоћ обраћали карловачким митрополитима, пa и Бечком двору. Школство се с муком развијало, али је 1871. године у Призрену ипак основана богословија, на чијем је челу био архимандрит Сава Дечанац. Пројекат о раду Богословије сачинио је у Београду митрополит Михаило, а појање је, као неопходна вештина, преношено кроз усмено предање.
    </p>
    <p>&nbsp;</p>
    <p>
        Изузетно значајну грађу са овог простора оставио је музичар и учитељ Петар Ж. Илић. По наговору Стевана Мокрањца, он је 1907. године прихватио место професора музике у српској гимназији у Скопљу, одакле је са угледним и школованим Србима обилазио православне храмове и српски живаљ у Косовском вилајету. На тим путовањима редовно је бележио све облике народног певања. Нашу пажњу посебно привлаче сачувани записи црквеног појања - Литургије и Опела. Ове напеве Илић је записао пo певању муслимана, чији су се дедови потурчили почетком 19. века када се насилно турчила читава Хоча. Они су потом своју децу и унуке кришом учили црквеном појању, које називају Савино пејење, преносећи им тако аманет да су потомци св. Саве. Записи њиховог певања јединствени су сачувани примери српског појања на овом простору почетком века.
    </p>
    <p>&nbsp;</p>
    <p>
        Богату мелографску делатност на пољу црквене музике на простору Карловачке митрополије почетком века, пратили су и прилози у штампи, у којима је, како смо већ истакли, било речи о актуелним проблемима и живој појачкој пракси, о месту и деловању црквених појаца и учитеља, о објављеним зборницима литургијских текстова и напева. Православном црквеном појању, његовом пореклу, начину извођења, тоналним основама, семиографији црквених песама, посвећена је значајна и зналачка пажња у Литургици карловачког професора, протојереја Јована Живковића. Он је заједно са гимназијским професором Јованом Живановићем на 671<b> </b>стоани објавио и драгоцен <b><i>Зборник црквених богослужбених пјесама, псалама и молитава, </i></b>са црквеним правилом и мањим речником.
    </p>
    <p>&nbsp;</p>
    <p>
        Истовремено је оживљавало и интересовање за историју укупног православног, а посебно нашег, традиционалног појања. Тихомир Остојић, некада студент славног слависте Ватрослава Jaгића, пucao je 1897. године:
    </p>
    <p>
        Студија наше црквене музике је део византологије. И док се на многим византолошким студијама у нас доста привредило (нпр. књижевност, закони, у новије доба и архитектура) на том културном пољу у музици није ни мотиком ударено. Много глава, а много и времена и, што није мање важно, много материјалних средстава ћe требати за ову музикалну, филолошко-историјску студију, да се  грађа скупи и да се реши проблем. Али то јествар науке, а она може чекати; њој није главно када ћe бити, него како ће.
    </p>
    <p>&nbsp;</p>
    <p>
        Само три године касније још један угледни филолог, историчар, државник и писац, Стојан Новаковић, тада српски посланик у Цариграду, објавио је у листу Караџић (Алексинац 1900) текст, <b><i>Старинско црквено певање, </i></b>у којем указује на потребу да се испита наше црквено појање, његови византијски корени и везе са народним обредним певањем. Овај прилог написао је подстакнут пpeдавањем угледног француског византолога Жан-Батист Тибоа (Jean-Batiste Thibaut), одржаним на свечаној седници Руског археолошког института у Цариграду. На низ постављених питања одговорио је Петар Деспотовић, пензионисани школски надзорник родом из Сомбора, који је у Србији живео од 1885. године. Његов одговор сведочи о томе колико је новија историја нашег црквеног појања била боље позната људима школованим на простору Карловачке митрополије.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="pnormal">Између два светска рата</h3>
    <p>&nbsp;</p>
    <p>
        Ратови - прво два балканска, а потом и Први светски рат - зауставили су рад на записивању, проучавању и објављивању традиционалног црквеног појања, а послератне дубоке промене у држави, пa самим тим и у Цркви, одразиле су се и на неговање појања.
    </p>
    <p>&nbsp;</p>
    <p>
        Упркос великим променама, појање је, по наслеђеним навикама највише неговано у Војводини, како у селима, тако и у градовима.
    </p>
    <p>&nbsp;</p>
    <p>
        У дугим зимским месецима одлазило се на часове појања код угледних црквених појаца, свештеника и лаика, а трагови оваквог деловања досегли су и до наших дана. Док јекарловачко појање и даље неговано и записивано на територији Карловачке митрополије, варијанте напева које је Мокрањац записао, сачуване у литографисаним преписима његових ученика, умножаване су за потребе богословских школа у Београду, Призрену и Битољу. Рад на записивању православног појања и објављивању појачких зборника погодних за богослужење и наставу, наставили су: Јован Козобарић‚ Бранко Цвејић, Ненад Барачки, Лазар Лера, Владимир Ђорђевић‚ Божидар Јоксимовић. Поједини записи су објављени, али је већина остала у рукопису.
    </p>
    <p>&nbsp;</p>
    <p>
        Јединствени су звучни записи српског појања снимљени на основу појања Лазара Лере, учитеља из Земуна, на шездесет грамофонских плоча. Ове снимке је за потребе црквених општина, свештеника, вероучитеља и учитеља, под називом <b><i>Расадник српскогправославног црквеног појања </i></b>у Земуну 1933. године издао Чеда Димитријевић. Не треба ни истицати колико би драгоцено било да се ови јединствени историјски снимци пренесу на савремене носаче звука и у потпуности поново објаве.
    </p>
    <p>&nbsp;</p>
    <p>
        Осим у богословским школама, црквено појање је још увек имало одређено место у световним школама, пре свега у онима које су настављале традицију из прошлих времена. Било је и покушаја оснивања појачких школа, али није познато колико их је било и колико су дуго поједине од њих радиле. На жалост, ова епоха наше просвете, посебно музичког просвећивања у њој, није систематски проучавана, па се за сада закључци могу доносити само на основу појединачних, често опречних сведочанстава. Чини се да су нови наставни планови световних школа које је држава уводила предвиђали све мање простора за традиционално црквено појање. Зато је Ненад Барачки у предговору свом нотном зборнику 1926. године написао: Ову сам књижицу наменио <b><i>цркви, школи </i></b>и <b><i>дому </i></b>православних Срба. Па предајући овај скромни рад свој јавности баш у оно доба, када се истовремено <b><i>црквена песма сасвим уклања и избацује из основних и учитељских школа наших као предмет нарочитог изучавања, </i></b>сматрам, да је и умесно и потребно, да се овом приликом овде прозбори која реч о томе питању. Барачки не разуме како је могуће говорити, писати и декламовати о Св. Сави, па чак и одликовања државна са именом иликом Св. Саве на својим грудима носити, а прогонити из његових установа, из школа‚ -тог драгоценог нам аманета светосавског српску народну црквену песму‚ једно од најјачих и најподеснијих вапистних средстава за образивање моралног и националног карактера. Он сматра да је са избацивањем црквене песме из школе, ударен на чело Цркве и вере нам српско-православне жиг црне неблагодарности за њено сарађивање и састрадавање‚ низовима столећ а, у послуоко свега онога, што ми данас и етнички и географски и политички имамо и уживамо. Оно што је у аустријској држави освојено као значајан корак у напорима да се очува верски и национални идентитет‚ изгледало је непотребно у новој Краљевини Југославији‚ која је тежила оновременој модернизацији.
    </p>
    <p>&nbsp;</p>
    <p>
        Српски музичари‚ у младости васпитавани на народном и црквеном певању, долазили су са студија у различитим државама и градовима Европе. Најпознатији међу њима - Петар Коњовић‚ Стеван Христић, Милоје Милојевић‚ Станислав Бинички, Коста П. Манојловић, никада нису изгубили интересовање за наше традиционално појање. Зависно од личних афинитета, појањем су се бавили као наставници музике у богословијама‚ затим као музички писци и истраживачи, а као композитори уносили су га у своје‚ претежно‚ хорске композиције.
    </p>
    <p>&nbsp;</p>
    <p>
        Свакако најплодотворнији био је, и самбогослов‚ Коста П. Манојловић, ученик и следбеник Стевана Мокрањца. Манојловић је у београдској Богословији појање предавао искњучиво по Мокрањчевим записима. Подстакнут студијама у Оксфорду‚ значајан напор је уложио у трагање за изворима старе српске музике. Обилазио је манастире у Србији‚ посебно на Косову, и у Македонији. Прегледао је рукописне збирке у нашим библиотекама. Његовом заслугом су пред други светски рат снимњени листови са творенијима кир Стефана Србина из неумског рукописа (XV век) Народне библиотеке у Београду. На жалост, рукопис је‚ са стотинама других‚ изгорео приликом бомбардовања Београда‚ 6. априла 1941. године. Манојловић је за потребе Богословије литографски умножио ђачке преписе Мокрањчевих записа празничног и општег појања‚ а свом учитељу се одужио и зборником <b><i>Православно српско народно црквено појање </i></b>- <b><i>Опште појање. </i></b>Ово значајно Манојловићево дело‚ поред Мокрањчевих записа, садржи и записе других наших мелографа, те представља изузетно вредну компаративну збирку напева.
    </p>
    <p>&nbsp;</p>
    <p>
        Проучавању православног појања своју пажњу је у више махова посветио и Милоје Милојевић‚ некада ученик Српске велике гимназије у Новом Саду, школе у којој је црквеном појању посвећивана изузетна пажња. Са знањима стеченим у Француској он се заинтересовао за рад француских византолога, па и за шире компаративне студије православне појачке традиције. Као мелограф, он међутим‚ није записивао црквене напеве.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="pnormal">После другог светског рата</h3>
    <p>&nbsp;</p>
    <p>
        Непосредно после другог светског рата животну позорницу су прерано напустили композитори Милоје Милојевић (1946) и Коста П. Манојловић (1949). Манојловић је‚ иако у пуном радном замаху, као неподобан новој државној власти‚ насилно пензионисан 1946. године и тако удаљен са Музичке академије коју је пред рат основао.
    </p>
    <p>&nbsp;</p>
    <p>
        Коњовић је и у новим условима нашао своје место. Он је 1946. године изабран за члана Српске академије науке, где је нашао још један простор за остварење својих уметничких и просветитељских идеја. У Академији је, убрзо по избору‚ предложио оснивање Музиколошког института, што је и остварено 1948. године. Као први директор Института одредио је смернице и данас актуелне у радуове институције. Оно што није успео да оствари на Музичкој академији, остварио је у Академији наука - једна од три основне истраживачке теме у Музиколошком институту, у за то најнеповољнијем времену‚ било је проучавање наше црквене музике.
    </p>
    <p>&nbsp;</p>
    <p>
        Сам Коњовић је црквено појање свакако практично упознао још као дете у родној кући‚ потом у већ поменутој новосадској гимназији и у сомборској учитељској школи. Већ у познијим годинама покушао је да сагледа историјски пут српског традиционалног појања, а и да укаже на постојеће варијанте уживој појачкој пракси на веома широком простору који су Срби насељавали. Истраживања црквене музике‚ која је као оснивач подстакао у Музиколошком институту‚ обухватала су у последњих пола века проучавање непознатих записа старе српске музике, рукописну збирку манастира Хиландара, везе српске црквене музике са изворном византијском и паралелном руском‚ бугарском и румунском традицијом. Откривени напеви извођени су у оквиру рада Студијског хора (од 1969. године) и тако су представљани ширем кругу заинтересованих поштовалаца, у почетку махом у иностранству. Посебна пажња поклањана је упознавању живе појачке традиције и снимању појања у нашим манастирима. Малобројни сарадници на овом послу имали су статус конзерватораи музеалаца, без неког значајнијег присуства у културном и просветном животу земље.
    </p>
    <p>&nbsp;</p>
    <p>
        Црквене хорске композиције и дела различитих инструменталних и вокално-инструменталних жанрова у којима су успешно коришћени мотиви традиционалног српског појања, као и новооткривене средњовековне мелодије, излазе из оквира овог рада. Зато о њима, без обзира на њихов изузетан уметнички значај, овом приликом нећемо говорити.
    </p>
    <p>&nbsp;</p>
    <p>
        У крајње неповољним политичким околностима Црква није могла да заустави лагано замирање и запуштање црквеног појања. Потпуно потиснуто из државног школског система оно се задржало искључиво у богословским школама.  Добро обучених црквених појаца бивало је, као и верника у црквама, све мање. Чак и када су породице примале свештеника у кућу, мало ко је умео да запоји славски тропар приликом сечења колача.
    </p>
    <p>&nbsp;</p>
    <p>
        Мелографским радом су се још увек бавили поједини свештеници и лаици. Објављене су обимне збирке црквених напева митрополита Дамаскина Грданичког, епископа Стефана Ластавице, свештеника Бранка Цвејића и Мирка Павловића. Бранко Цвејић је у последњим годинама живота завршио и изузетно обиман уџбеник црквеног појања (око 780 страна) који је до данас практично остао непознат. Било је и покушаја да се текстови богослужбених песама преведу на савремени српски језик и потом прилагоде традиционалом појању (митрополит Дамаскин Грданички, Будимир Стефановић). Аудио снимака углавном није било. Крајем седамдесетих година један немачки издавач снимио је литургијске песме из Осмогласника према појању протођакона Саборне цркве у Београду Марка Илића, а десет година касније сличан подухват су предузели протођакони Владо Микић и Радомир Перчевић.
    </p>
    <p>&nbsp;</p>
    <p>
        Под грубим притисцима идеолошки острашћених влати замирали су и црквени хорови, који су дуже од једног века били упоришта духовног, културног, а у туђим срединама и политичког опстанка српског народа. Локални партијски активисти се нису устручавали да буквално уништавају деценијама сабиране хорске архиве и нототеке. Православна црквена музика углавном није извођена на јавним концертима‚ радију и телевизији, а аматерски хорови су стидљиво и опрезно на своје програме стављали по неко црквено хорско дело домаћих аутора. Једини наш професионални хор‚ Хор Радиотелевизије Србије‚ први пут је тек 1981. године концертно извео ремек-дело српске хорске музике - Мокрањчеву Литургију св. Јована Златоустог за мешовити хор. У школству‚ од основне школе до Музичке академије, знања о музици‚ посебно када је у питању црквена музика‚ стицана су на примерима западно-еврпске музике.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3 class="pnormal">Последња деценија ХХ века</h3>
    <p>&nbsp;</p>
    <p>
        Драматичне политичке промене у последњој деценији овог века одредиле су потпуно нов положај Српске православне црквеу држави и друштву. Тако су и православна црквена музика и богослужбено појање добили ново место у свакодневном и културном животу. Како је ово текући процес у којем и сами непосредно учествујемо‚ наша опажања имају искључиво значај сведочења савременика, а никако тежину историјског‚ аналитичког‚ разматрања једног изузетно сложеног духовног‚ културног и друштвеног феномена.
    </p>
    <p>&nbsp;</p>
    <p>
        Без обзира на политичка превирања‚ у свакодневној богослужбеној пракси Српскеправославне цркве битних промена нема‚ нити их може бити. Садржајност и духовна лепота богослужења зависе пре свега од спремности служашчих, а то су: свештеници. ђакони и појци. Сви они међутим, долазе из сличног окружења‚ професионално више или мање спремни‚ а духовно више или мање сабрани и посвећени. Када је црквено појањеу питању‚ најчешће има разлога за незадовољство. Добро обучених појаца је мало‚ а однос према певаном тексту је често сасвим немаран. Лепота природног певања је већ давно нарушена у нашем народу, за шта су свакако најодговорнији школе‚ радио и телевизија‚ из којих је готово протерана квалитетна песма и лепо певање. Црква и богословскешколе нису измакле таквом утицају.
    </p>
    <p>&nbsp;</p>
    <p>
        Млади данас у све већем броју испуњавају наше храмове‚ али они најчешће немају готово никаква литургијска предзнања‚ па икада би желели да се укључе у богослужењене знају како би то учинили. Они најчешће долазе у хорове које опет воде исто тако невешти, а добронамерни млади људи. Када у веома сложеном богослужењу све не тече како је прописано, љутње је много на свим странама, а нико се не пита где и како би требало образовати црквене музичаре? Једноставна <b><i>Литургика‚ </i></b>какву је на основу својих предавања у Паризу (1964) објавио угледнируски литургичар Кипријан Керн, била би драгоцена приручна лектира, како за богослове‚тако и за студенте музике и заинтересоване вернике. Текст Литургије са изванредним, а једноставним тумачењима, који је приредио и у Православном мисионару шездесетих година објавио епископ браничевски Хризостом (Војиновић)‚ поново је штампан у истом часопucу 1997. године. Све то ипак није довољно. Потребни су нам практични, јасни водичи кроз календар и литургику, који би били доступни у сваком нашем храму и у сваком нашем дому.
    </p>
    <p>&nbsp;</p>
    <p>
        Недовољно је и нотног и звучног снимљеног материјала. Последњих година објављена су издања нотних записа црквеног појања Стевана Мокрањца (Сабрана дела, књ. 7, 8а. 86) и Ненада Барачког (фототипско издање из 1923), као и црквене хорске композиције Корнелија Станковића (фототипско издање из 1862-1 864) и Стевана Мокрањца (Сабрана дела‚ књ. 4-6). Звучне снимке хорског црквеног појања, сада већ изузетно квалитетне и садржајно добро осмишљене, објављују Црквени хорови (Св. Стефан Дечански и Св. Георгије из Новог Сада, Јединство из Котора‚ Мелоди и Прво београдско певачко друштво из Београда). Ипак‚ готовода и не постоје звучна издања једногласног традиционалног српског црквеног појања.
    </p>
    <p>&nbsp;</p>
    <p>
        Нагли пични и колективни духовни преокрети увели су још једну новину у живот Српске православне цркве. Грчко традиционално црквено појање‚ названо у нашем веку византијско појање‚ прихватили су веома пасионирано, пре свега људи који су тек као одрасли крштени и постали активни чланови Цркве. Оваквих појава било је и током XVIII, па и почетком ХІХ века, посебно на простору Карловачке митрополије, када су грађани осим ,‚простачког" српског учили и ,‚отменије" грчко појање. У областима које су потискивањем Пећке патријаршије стављене под јурисдикцију Цариградске патријаршије‚ локално становништво и јерархија су међутим, пружали отпор оваквим новинама.
    </p>
    <p>&nbsp;</p>
    <p>
        Данас се у различитим публикацијама могу наћи текстови о црквеној музици, пуни некакве непримерене силовитости‚ нетрпељивости‚ па и елементарног незнања. Поједини аутори‚ са веома израженом искључивошћу‚ супротстављају византијско појање новијој пракси хорског црквеног певања‚ потпуно игноришући постојање традиционалног српског певничког појања. Као да нисмо свесни да Српска црква ни у најтежим временима није прекинула своју молитвену и просветитељску делатност. Стотине знаних и незнаних свештеника и свештеномонаха‚ монахиња и монаха, као и лаика, црквених појаца‚ бдило је у нашим храмовима чак и онда када ми‚ или наши родитељи, нисмо у њих улазили. Њихова тиха‚ неприметна жртва‚ њихове свакодневне молитве‚ биле су изречене и испеване за спасење свих нас. Ми то не само да не можемо, ми то никада не смемо да заборавимо.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr size="1" noshade="">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>НАПОМЕНЕ:</strong></p>
    <ol class="sitno" start="1">
        <li><a name="note1"></a>Непотпуна рукописна збирка једногласних записа Корнелија Станковића налази се у оквиру његове заоставштине у Архиву Српске академије наука и уметности у Београду. Историјска збирка бр. 7888, св. 19-22.</li>
        <li><a name="note2"></a>Види прилоге у раду Д. Петровић, Српско црквено појање као предмет музиколошких истраживања. Зборник матице српске за сценске уметности и музику, 15, Нови Сад 1995, 31-46.</li>
        <li><a name="note3"></a>Рукопис се налази у Народној библиотеци Србије у Београду, РМ 33.</li>
        <li><a name="note4"></a>Упор. Биљана Милановић, Црквена музика у Српској великој гимназији у Новом Саду, Зборник матице српске за сценске уметности и музику, 15, Нови Сад 1994, 87-96.</li>
        <li><a name="note5"></a>Бајић је овај пројекат саставио у Новом Саду 25. јуна 1912. године, Архив САНУ, Бајићева заоставштина, Историјска збирка 14389/1, омот 15. </li>
        <li><a name="note6"></a>Бранково коло, бр. 12 и 13, 1906. Бајићев текст под насловом Наше црквено појање, посебно је штампан у Српској манастирској штампарији 1906. године. </li>
        <li><a name="note7"></a>Рукопипсно одељење Матице српске у Новом Саду (РОМС), М. 3.725, М. 3.727. Документа је обрадила Даниејла Шутановац у дипомском раду Исидор Бајић педагог, издавач и мелограф, одбрањеном на Академији уметности у Новом Саду, јуна 1998. године.     </li>
        <li><a name="note8"></a>Мирка ПАвловић, Заоставштина Корнелија Станковића, у : Корнелије Станковић и његово доба, САНУ,научни скупови, књ.XXIV, Београд 1985. 147-169.</li>
        <li><a name="note9"></a>Види, Д. Петровић, Осмогласник у српском 
                појању и у мелографском раду Стевана Ст. Мокрањца у : Сабрана 
                дела Стевана Ст. Мокрањца, књ. 7, Београд 1997, XV-XXXIV. </li>
        <li><a name="note10"></a>Сабрана дела Стевана Ст. Мокрањца : Осмогласник, књ. 7, Београд 1997; Опште и пригодно појање, књ. 8а, Београд 1998; Празнично појање, књ. 8б, Београд 1998.
        </li>
    </ol>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr align="center" width="30%" size="1" noshade="">
    <p class="pnormal2">
        Припремила:<br>
        МИНА ЗИРОЈЕВИЋ
    </p>



</div>
