@{
    ViewBag.Title = "Otac Dusan";
}

<h2>Отац Душан</h2>
         <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
             <li>@Html.ActionLink("Пастир", "Index", "Pastir")<span class="divider">/</span></li>
            <li class="active">Отац Душан</li>
        </ul>

<p>
    <img title="Отац Душан" src="~/Content/images/Pastir/o_dusan.jpg" hspace="2" vspace="2" border="1" align="left" style="margin:2px 10px 5px 0px;" /></p>
      <h3>Протојереј Ставрофор<br>
      Душан Колунџић</h3>
      <p>Душан Колунџић рођен је у селу Бучје, општина Пакрац, од оца Мирка, бојадисара и мајке Милије, домаћице 1. јуна 1938. године. Основну школу је завршио у Пакрацу 1952. године и тада се уписао у Богословију Светог Саве у Манстиру Раковица, код Београда. По завршетку Богословије уписао се 1957. године на Богословски, а 1959. године и на Философски факултет, Отсек за Историју уметности, а завршио их је 1963, односно 1965. године. 1. априла 1966. године запошљава се у Патријаршијској управној канцеларији и ради на пословима у Београду и Патријаршијском добру у Даљу. Од школске 1967/68. године постаје суплент, а од 1971. професор практичне групе богословсих предмета у Сремским Карловцима. Као професор Богословије сарађивао је у готово свим црквеним листовима, а објавио је и књигу „Вера и молитва“, као и два помоћна уџбеника из Литургике: „Хришћанска уметност“ и „Празнична богослужења“. На позив Епископа Лаврентија, одлази августа 1974. године у Диселдорф, где обавља дужност секретара Епахије западноевропске, коректора Епархијске штампарије и уредника епархијских издања. 1975. године покреће и уређује епархијски лист ЦРКВА, који и данас излази, у тиражу од 12.000 примерака. Са Епископом Лаврентијем почео је издавање сабраних дела Владике Николаја. За ђакона је рукоположен на Празник сабора Срба Светитеља у Штутгарту, а за презвитера на дан Преподобне матере Параскеве у Дармштату 1974. године.</p>
	  	  
      <p>Марта 1977. године прелази на парохију у Нирнберг, где ће остати све до пензионисања, јуна 2004. године. Као парох у Нирнбергу почео је, први у Српској цркви, да пише и умножава Парохијско писмо, које је осам пута годишње слао свим својим парохијанима. Укупно је верницима послао 184 писма, које је касније, тематски, сабрао у две књиге од по 300 страница, па и њих послао на око 1200 адреса парохијана. За овај јединствен начин општења са верницима, а и због изузетне садржајности Писама, примљен је 2002. године у Удружење књижевника Србије. Покренио је и едицију „Мала религиозна библиотека“, у којој су, у више од 100.000 примарека, штампане књижице: „Народ Божји“ (Стари завет), „Живот Господа Исуса Христа“, „Чуда Господа Исуса Христа“, „Објашњење Свете литургије“, „Одговарања на Светој литругији и Чин изобразитељне“, „Упокој Господе у вери почивше“ (Читуља), „О Крсној слави“, „Који се у Христа крстисте – у Христа се обукосте“ (приручник за родитеље, кумове и одрасле катихумене). Штампао је и илустровани приручник за веронауку „Живот Господа Исуса Христа“ и „Богослужење Православне цркве“. Објавио је старозаветну књигу „О Јову“, као и „Јеванђеље по Луки“, поводом године Библије 2003. године. Обрадио је, као славске честитке, 85 Крсних слава, са житијама Светих и славским обележјима. </p>
      
      <p>Од школске 1977/78. па до 1992/93. године предавао је у деветогодишњој основној, тзв. „Југословенској“ школи у Нирнбергу веронауку, некад и по 26 часова недељно, без икакве материјалне накнаде и поред свих парохијских обавеза, на терену пречника 300 км и шест богослужбених места. За Основну школу и Реалну гимназију начинио је програм верске наставе, који је одобрило Министарство за просвету и култ у Минхену.</p>
      
      <p>Године 1981, одликован је чином протојереја, 1982. је постављен за архијерејског намесника за Јужну Немачку (на којој дужности је остао до пензионисања), а 1999. године одликован је правом ношења напрсног крста. Са верницима нирнбершке парохије купио је цркву у Нирнбергу и адаптирао за православна богослоужења (иконостас, тронови, стасије, витражи на прозорима), а троносана је 1999. године.</p>
      
      <p>После пензионисања 2004. године живи у славонском селу Бијело Брдо код Осијека, Епархија осечкопољска и барањска. Редовно служи у тој, као и суседним епархијама, проповеда и држи предавања на разне теме, уређује и води свакодневну емисију на Радио Борову и припрема ходочаснике за Манастир Хиландар. Тренутно је завршио Први шематизам Епархије осечкопољске и барањске.</p>
      <p>Са супругом Катицом има два сина, Мирка, менаџера у Бечу и јереја Радомира, пароха у Дортмунду.</p>