    <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"><h1><a href="#">Svetosavlje.org</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#">Навигација</a></li>
      </ul>

        <section class="top-bar-section">         
          <ul class="right">
            <li><a href="#">Питање пастиру</a></li>
            <li><a href="#">Пролог</a></li>
            <li><a href="#">Молитве</a></li>
            <li><a href="http://www.svetosavlje.org/listarhiva/Home.aspx?page=0">Листа</a></li>
            <li><a href="#">Библиотека</a></li>
            <li><a href="http://blogs.svetosavlje.org/vesti/">Вести</a></li>
            <li><a href="http://www.svedokverni.org/">Мисија</a></li>
          </ul>
        </section>
      </nav>
    </div>

