    <div class="container">




    	<!-- logo i slika oca Justina -->
    	<div class="row">
    		<div class="span6">
    			<img src="images/slikaocajustinailogosvetosavljeideovde.png">
    		</div>
    		<!-- prolog -->
    		<div class="span6">
    			<!-- facebook like -->
    			<div class="fb-like" data-href="http://www.facebook.com/groups/46142913208" data-send="true" data-width="300" data-show-faces="true" data-action="recommend" data-font="arial"></div>
    			<p>Данас је {{dan}}, {{julianDate.getDate()}}.  {{mjesec}} {{julianDate.getFullYear()}}. У нашој светој, саборној и апостолској Цркви слави се</p>
    			<div class="row">
    				<div class="span4">
    					<img src="images/160x120.gif" width="80" height="120" style="float: left; margin: 0 20px 20px 0;" />
    					<div ng-repeat="sveti in homeModel.svetiDana"><a href="/prolog">{{sveti}}</a></div>
    				(<a href="http://svetosavlje.org/biblioteka/AvaJustin/ZitijaSvetih/ZitijaSvetih{{julianDate.toString('MMdd')}}.htm">Житија Светих за данас</a>)

    			</div>
    			<div class="span2">
    				{{homeModel.postDana}}<br />
    				<a href="#">Календар за {{mjesec}}</a>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- row -->




    <!-- Dnevno citanje-->
    <div class="row">
    	<div class="span8">
    		<h4>Са св. Јустином из дана у дан</h4>
    		<p>{{homeModel.citatDana.substring(0,350)}}...</p>
    		<p><a href="xxx">Читај даље</a> »</p>
    	</div>
    	<div class="span4">
    		<h4>Дневно читање из Светог Писма</h4>
    		
    		<div style="height: 150px; overflow: auto">
                <div ng-bind-html="homeModel.dnevnoCitanjeDana.CompactVersion"></div>
    		</div>
    		<p><a href="xxx">Читај даље</a> »</p>
    	
    </div>
</div>
<!-- row -->
<hr />


<div class="row">
	<!-- Leva kolona -->
	<div class="span8">

		<!-- Vesti -->
		<div class="row">
			<div class="span8">
				<h2><a href="http://blogs.svetosavlje.org/vesti/">Вести</a> »</h2>
				<h3><a href="{{homeModel.vijesti[0].Link}}">{{homeModel.vijesti[0].Title}}</a></h3>
				<p>{{homeModel.vijesti[0].Content}}</p>
				<p><a href="{{homeModel.vijesti[0].Link}}">Читај даље</a> »</p>
				<ul>
					<li ng-repeat="vijest in homeModel.vijesti"><a href="{{vijest.Link}}">{{vijest.Title}}</a></li>
	       		</ul>
		</div>
	</div>

	<hr />

	<!-- Misija  -->
	<div class="row">
		<div class="span8">
			<h2><a href="http://www.svedokverni.org/">Мисија</a> »</h2>
			<h3><a href="{{homeModel.misija[0].Link}}">{{homeModel.misija[0].Title}}</a></h3>
			<p>{{homeModel.misija[0].Content}}</p>
			<p><a href="{{homeModel.misija[0].Link}}">Читај даље</a> »</p>
                <ul>
                    <li ng-repeat="vijest in homeModel.misija"><a href="{{vijest.Link}}">{{vijest.Title}}</a></li>
                </ul>
	</div>
</div>

<hr />

<!-- Lista -->
<div class="row">
	<div class="span8">
		<h2><a href="http://www.svetosavlje.org/listarhiva/Home.aspx">Листа</a> »</h2>
            <ul>
                <li ng-repeat="topic in homeModel.listaTopics"><a href="{{topic.id}}">{{topic.naziv}}</a> ({{topic.count}}) <a href="{{topic.updaterId}}">{{topic.updater}}</a> {{topic.datum}}</li>
            </ul>
	</div>
</div>

<hr />

<!-- Pastir -->
<div class="row">
	<div class="span8">
		<h2><a href="xxx">Питање пастиру »</a></h2>
            <ul>
                <li ng-repeat="topic in homeModel.pitanjaPastiru"><a href="{{topic.ID}}">{{topic.Naslov}}</a></li>
            </ul>
	</div>
</div>

<hr />


</div>








<!-- Desna kolona -->
<div class="span4">
	<h2><a href="http://blogs.svetosavlje.org/urednistvo/" data-toggle="tab">Из уредничког пера</a></h2>
	<h3><a href="{{homeModel.urednistvo[0].Link}}">{{homeModel.urednistvo[0].Title}}</a></h3>
	<p>{{homeModel.urednistvo[0].Content}}</p>
	<p><a href="{{homeModel.urednistvo[0].Link}}">Читај даље</a> »</p>
    <ul>
        <li ng-repeat="vijest in homeModel.urednistvo"><a href="{{vijest.Link}}">{{vijest.Title}}</a></li>
    </ul>

</div>
<!-- span4 iz urednickog pera -->


</div>
</div>
