


<div id="main">
	<div class="welcome"><h2>Welcome to the Coastal County Snapshots</h2>
    <p>The Coastal County Snapshots turn complex data into easy-to-understand stories, complete with charts and graphs.</p>
<p>To get started, select a state and county from the dropdown menus or from the map below.</div>
	<div class="selectionboxes">
	<select ng-model="search.state" ng-change="zoomToState()" ng-options="state.STATE_NAME for state in States">
		<option style="display:none" value="">select a state</option>
	</select>


	<select ng-model="search.county" ng-change="zoomToCounty()" ng-options="county.Name for county in statesAndCounties | filter:{STATE_FIPS:search.state.STATE_FIPS}">
		<option style="display:none" value="">select a county</option>
	</select>
	</div>


	<div id="map-wrapper" >
		<div id="leafletMap"></div>
		<div class="smallMap">
			<img src="img/Alaska.png" onmouseover="this.src='img/Alaska2.png'" onmouseout="this.src='img/Alaska.png'" title='Alaska' alt='Alaska' ng-click="showmapsModel('02', true)" ng-show=mapsModel.showAlaska>
			<img src="img/Hawaii.png" onmouseover="this.src='img/Hawaii2.png'" onmouseout="this.src='img/Hawaii.png'" title='Hawaii' alt='Hawaii' ng-click="showmapsModel('15', true)" ng-show=mapsModel.showHawaii>
			<img src="img/USA.png" onmouseover="this.src='img/USA2.png'" onmouseout="this.src='img/USA.png'" title='USA continental' alt='USA continental' ng-click="showmapsModel('0', true)" ng-show="mapsModel.showUSAContinental">			
		</div>
		<p class="fine">Snapshots for U.S. Territories are currently not available.</p>
	</div>
	<div id="stateCountyInfo" class="stateCountyInfo" ng-show="mapsModel.stateCountyInfoShow">{{mapsModel.stateCountyInfoText}}</div>
	

	<div class="panes" ng-show=search.county>

		<div id="pane1">
			<div class="floodex pane">
				<button type="button" name="flood" value="flood" ng-click="showFlood(search.county)" ng-disabled=!convertToBool(search.county.FLOOD)>
					<p><strong>Flood Exposure</strong><br>
						The Flood Snapshot provides local officials with a quick look at a county&rsquo;s demographics, infrastructure, and environment within the flood zone.
					</p>
				</button>
				<br>
				<p><a href="faq/flood-exposure.pdf">Frequently Asked Questions</a></p>
			</div>
			<div class="oceanjo pane">
				<button type="button" name="ocean" value="ocean" ng-click="showOcean(search.county)" ng-disabled=!convertToBool(search.county.OCEAN_JOBS)>
					<p><strong>Ocean Jobs</strong><br>
						The Ocean and Great Lakes Jobs Snapshot provides a quick look at the economic value of jobs that are dependent on the Great Lakes and oceans.
					</p>
				</button>
				<p><a href="faq/ocean-jobs.pdf">Frequently Asked Questions</a></p>
			</div>
			<div class="weblandbe pane">
				<button type="button" name="wetlands" value="wetlands" ng-click="showWetlands(search.county)" ng-disabled=!convertToBool(search.county.WETLAND)>
					<p><strong>Wetland Benefits</strong><br>
						The Wetland Benefits Snapshot provides a quick look at how wetlands contribute to safer, cleaner, and more economically productive coastal communities.
					</p>
				</button>
				<p><a href="faq/wetland-benefits.pdf">Frequently Asked Questions</a></p>
			</div>
			<div class="announceme pane">
				<p><strong>Announcements</strong><br>
					The following data have been updated as of December 2012:
				</p>
				<ul>
					<li>Economic data in the Ocean Jobs and Wetland Benefits snapshots</li>
				</ul>
			</div>
		</div>

	</div>
</div>

