<div id="main" class="wetlands">
  <div class="header">
    <h1>Coastal County Snapshots<br>
      <span>www.coast.noaa.gov/snapshots/</span></h1>
    <h2>Wetland Benefits Snapshot</h2>
    <h3><span class="County_Name">{{wetlandModel.County_Name}}</span>, <span class="State_Name">{{wetlandModel.State_Name}}</span></h3>
  </div>
  <div class="article page1 page">
    <div class="section">
      <div id="protect">
        <h4>Protecting Wetlands = Coastal Communities That Are Safer, Cleaner, and More Economically Productive</h4>
        <p>Healthy wetlands provide more than just a pretty view. Wetlands are a pivotal part of the natural system, supplying tremendous benefits for coastal communities. Even small acreages can provide some level of benefit. The location, health, and size of individual wetlands also play a role. This snapshot demonstrates three key benefits of wetlands in <span class="County_Name">{{wetlandModel.County_Name}}</span>.</p>
        <p><em>Based on <a href="http://www.coast.noaa.gov/digitalcoast/data/ccapregional" target="_blank">2006 NOAA land cover</a></em>.</p>
      </div>
      <div class="charts">
        <div class="protectChart">
        <img src="img/grass.png" alt="" width="112" height="154" align="right"/>
          <p><span class="County_Wetlands_Percent">{{wetlandModel.County_Wetlands.County_Wetlands_Percent}}</span><br>
            <span class="County_Wetlands_Acres">{{wetlandModel.County_Wetlands.County_Wetlands_Acres}}</span><br>
          of <span class="County_Name">{{wetlandModel.County_Name}}</span>'s land area is wetland.</p>
          <p class="no-print lca_link"><a href={{wetlandModel.LCA_Link}} target="_blank">Learn more about wetland trends in <span class="County_Name">{{wetlandModel.County_Name}}</span> </a></p>
        </div>
      </div>
    </div>
    <div class="section">
      <div id="productive">
        <h4>More Economically Productive: Wetlands Support Fishing Economies</h4>
        <p>Coastal wetlands provide habitat for many aquatic species that contribute to local food supplies and fishing-related industries.</p>
        <p>In addition to providing a base for commercial fishing jobs and revenue, wetlands also support recreational and charter fishing. These economic benefits extend beyond county boundaries.</p>
        <p><em>Based on <a href="http://www.coast.noaa.gov/enow" target="_blank">2011 ENOW</a> and <a href="http://www.coast.noaa.gov/digitalcoast/data/enow-nes" target="_blank">2011 ENOW for Self-Employed Workers</a></em>.</p>
      </div>
      <div class="charts">
        <div class="productiveChart">
          <table id="productive1">
            <tr>
              <th>Commercial Fishing</th>
              <th>County</th>
              <th>State</th>
            </tr>
            <tr>
              <td><strong>Jobs</strong></td>
              <td><span class="Jobs_County">{{wetlandModel.Fish_Econ.Jobs_County}}</span></td>
              <td><span class="Jobs_State">{{wetlandModel.Fish_Econ.Jobs_State}}</span></td>
            </tr>
            <tr>
              <td><strong>Output from businesses<span class="no-print">**</span></strong></td>
              <td><span class="GDP_County">{{wetlandModel.Fish_Econ.GDP_County}}</span></td>
              <td><span class="GDP_State">{{wetlandModel.Fish_Econ.GDP_State}}</span></td>
            </tr>
            <tr>
              <td><strong>Revenue from self-employed</strong></td>
              <td><span class="NES_County">{{wetlandModel.Fish_Econ.NES_County}}</span></td>
              <td><span class="NES_State">{{wetlandModel.Fish_Econ.NES_State}}</span></td>
            </tr>
          </table>
          <p class="mapLegend" ng-hide="wetlandModel.HideLegend">*See the <a href="http://www.coast.noaa.gov/snapshots/faq/wetland-benefits.pdf" target="_blank">frequently asked questions</a> page to learn why this data is not available.</p>
          <p class="no-print">**<span style="cursor:pointer; text-decoration:underline;" ng-click="showOcean()">Learn more about <span class="County_Name">{{wetlandModel.County_Name}}</span>&rsquo;s ocean economy</span>.</p>
        </div>
      </div>
    </div>
    <div class="section">
      <div id="safer">
        <h4>Safer: Wetlands Reduce Flood Impacts</h4>
        <p><span class="TotalFloodPlain_Percent_Display">{{wetlandModel.TotalFloodPlain.TotalFloodPlain_Percent_Display}}</span> (<span class="TotalFloodPlain_Acres_Display">{{wetlandModel.TotalFloodPlain.TotalFloodPlain_Acres_Display}}</span>) of <span class="County_Name">{{wetlandModel.County_Name}}</span>'s land area is in the floodplain.</p>
        <p>Wetlands located in coastal and riverine floodplains can protect people and their property, community infrastructure, and agricultural investments from floods. Wetlands act as natural sponges, holding floodwaters and lowering flood heights.</p>
        <p><em>Based on <a href="http://msc.fema.gov" target="_blank">Best available as of 2010 FEMA Flood Zones (100-year)</a>; <a href="http://www.coast.noaa.gov/digitalcoast/data/ccapregional" target="_blank">2006 NOAA land cover</a></em>.</p>
      </div>
      <div class="charts">
        <div class="saferChart">
          <p class="nomargin"><strong><span class="County_Name">{{wetlandModel.County_Name}}</span>&rsquo;s Floodplain</strong></p>
          <div id="safer2"></div>
          <p><span class="legendBlock wetland"><img src="img/legend.png" alt=""/></span> Wetland<br>
            <span class="legendBlock develop"><img src="img/legend.png" alt=""/></span> Developed<br>
            <span class="legendBlock agriculture"><img src="img/legend.png" alt=""/></span> Agriculture<br>
            <span class="legendBlock other"><img src="img/legend.png" alt=""/></span> Other (grasslands, forests, scrub vegetation, and barren land)</p>
            <p class="no-print clear"><span style="cursor:pointer; text-decoration:underline;" ng-click="showFlood()">Learn more about <span class="County_Name">{{wetlandModel.County_Name}}</span>&rsquo;s flood exposure</span>.</p>
        </div>
      </div>
    </div>
    <div class="printFooter"> 
    <!--#config timefmt="%B, %Y" -->
    <p class="floatleft">Date Printed: <!--#echo var="DATE_LOCAL" --></p>
    <p class="floatright"><img src="img/noaa-logo-full-color.svg" width="250" height="45"/></p>
  </div>
  </div>

  <div class="article page2 page">
    <div class="section noborder">
      <div id="wetlandsmap">
        <img src={{wetlandModel.mapImage}} alt='map of the county and surrounding counties'>
      </div>
      <p class="largerMap"><a href={{wetlandModel.mapImageLarge}} target="_blank">View larger map at ArcGIS.com</a>.</p>
      <h4>Cleaner: Wetlands Improve Water Quality</h4>
      <p>Runoff associated with concrete, asphalt, rooftops, and other impervious surfaces is a leading cause of water pollution.</p>
      <p>Wetlands near developed and agricultural areas trap pollutants and excess nutrients in surface runoff, keeping water bodies cleaner. This natural filtering helps prevent water use restrictions, such as beach and shellfish closures, and reduces the need for costly treatment systems.</p>
      <p><em>Based on <a href="http://www.coast.noaa.gov/digitalcoast/data/ccapregional/" target="_blank">2006 NOAA land cover</a></em>.</p>
      <p><span class="legendBlock wetland"><img src="img/legend.png" alt=""/></span> Wetland<br>
        <span class="legendBlock develop"><img src="img/legend.png" alt=""/></span> Developed<br>
        <span class="legendBlock agriculture"><img src="img/legend.png" alt=""/></span> Agriculture<br>
        <span class="legendBlock other"><img src="img/legend.png" alt=""/></span> Other (grasslands, forests, scrub vegetation, and barren land)</p>
    </div>

    <div class="section">
      <h4>Next Steps</h4>
      <p>Understanding how wetlands benefit a coastal community can provide strong incentives for wetland protection. The following suggestions and 
        resources provide guidance in moving forward with these efforts.</p>
      <p><strong>Integrate wetland protection priorities into community planning</strong> &ndash; Encouraging wetland protection and development in appropriate 
        places makes communities more resilient. Resources are available to help communities incorporate wetland protection considerations into existing 
        planning efforts.</p>
      <ul>
        <li><a href="http://www.coast.noaa.gov/digitalcoast/training/green" target="_blank">Introducing Green Infrastructure for Coastal Resilience training</a></li>
        <li><a href="http://www.coast.noaa.gov/roadmap/" target="_blank">Roadmap for Adapting to Coastal Risk training</a></li>
      </ul>
      <p><strong>Prioritize wetlands for protection</strong> &ndash; Additional factors can influence wetland protection priorities. Consult local experts regarding wetland size, 
        location, and quality; fish and wildlife considerations; regulatory requirements; and tourism, recreation, and other benefits. Resources are available to 
        help communities with the selection and prioritization process, including</p>
      <ul>
        <li><a href="http://www.coast.noaa.gov/landcover/" target="_blank">C-CAP land cover data</a> and <a href="http://www.coast.noaa.gov/digitalcoast/tools/lca/" target="_blank">online atlas</a></li>
        <li><a href="http://www.fws.gov/wetlands/Data/index.html" target="_blank">National Wetlands Inventory data</a></li>
        <li><a href="http://www.coast.noaa.gov/hpp/" target="_blank">Habitat Priority Planner tool</a></li>
        <li><a href="http://www.habitat.noaa.gov/protection/efh/habitatmapper.html" target="_blank">Essential Fish Habitat Mapper</a></li>
      </ul>
      <!-- <p> To learn effective ways to use spatial data and tools in your conservation efforts, consider the <a href="http://www.coast.noaa.gov/digitalcoast/training/gisforscp.html" target="_blank">GIS Tools for Strategic Conservation Planning course</a> for your organization.</p> -->
      <p><strong>Discover additional helpful resources</strong> &ndash; More tools, data, and information, including funding sources, are highlighted on the <a href="http://www.coast.noaa.gov/snapshots/faq/wetland-benefits.pdf" target="_blank">frequently asked questions page</a></p>
    </div>
    <div class="section">
      <h4>Data Sources for This Snapshot</h4>
      <ul>
        <li><a href="http://www.coast.noaa.gov/digitalcoast/data/ccapregional" target="_blank"><strong>Land Cover Data</strong></a> – NOAA Coastal Change Analysis Program</li>
        <li><a href="http://msc.fema.gov" target="_blank"><strong>Flood Zones</strong></a> – Federal Emergency Management Agency 1% Annual Chance Flood Zones</li>
        <li><a href="http://www.coast.noaa.gov/enow" target="_blank"><strong>Economics Data</strong></a> – NOAA Economics: National Ocean Watch</li>
        <li><a href="http://www.coast.noaa.gov/digitalcoast/data/enow-nes" target="_blank"><strong>Self-Employed Workers</strong></a> – NOAA Economics: National Ocean Watch for Self-Employed Workers</li>
      </ul>
    </div>
  </div>
</div>