@{
    ViewBag.Title = "О Црквеном Језику";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">О Црквеном Језику</li>
        </ul>
    </div>

                    <p>
            <h1>О Црквеном Језику</h1>
<font size="4">архимандрит Рафаил (Карелин)</font>
                </p>
                <p>&nbsp;</p>
                <p align="justify">
                    Црквени језик ближи је унутрашњем логосу, језику духа, 
        језику религиозне интуиције и молитвених созерцанија, него савремени језици. 
        То није језик разума, него језик срца, непосредног проникновења, језик 
        напрегнуте духовне енергије и посебне динамике. Древни језици изазивају 
        у човековој души нешто као "присећање" о изгубљеној људској 
        способности непосредног унутрашњег преноса својих мисли, пријема садржаја 
        друге душе и озарења од Бога.
                </p>
                <p align="justify">
                    То је језик логоса, који је дубљи од спољног језика 
        који треба материјалну форму, реч.
                </p>
                <p align="justify">
                    Спољни, формални језици се сви удаљују од свог центра, 
        духовног логоса, све се више диференцирају и материјализују.
                </p>
                <p align="justify">
                    Нови језици усмерени су првенствено на људски разум, 
        аналитичку способност разума, нижој у поређењу са духовном интуицијом. 
        Они су исто тако способни да изразе емоционална, страстна стања човека, 
        но за изражавање појава у области духа које отварају себе у молитвеном 
        пориву, нови језици постају троми, немоћни као мишице дрхтавог старца. 
                </p>
                <p align="justify">
                    Они који подржавају језичку реформу богослужења тврде 
        да ће на новом, савременом језику литургија постати разумљивија. Но, литургика 
        је сама по себи тајна. Она не може бити разумљива на вербално-семантичком 
        нивоу. У супротном би било могуће разумети је и усвојити седећи у фотељи, 
        са књигом у рукама, за писаћим столом.
                </p>
                <p align="justify">
                    Литургика није приповедање које може да се детаљно преприча, 
        није ребус који може да се погоди или реши. Литургика је укљученост човека 
        у духовну реалност, а средством тога јавља се дејство на човека целокупног 
        духовног поља Цркве: храмовне архитектуре и декора, богослужбених напева 
        и најважније, сила молитве свештенослужитеља и народа који се налазе у 
        Цркви. За светог Јована Кронштатског су говорили да када је служио литургију 
        или се ћутке молио на проскомидији, људи су осећали силу његове молитве 
        и Божанску благодат, скоро физички.
                </p>
                <p align="justify">
                    Древни језик ближи је унутрашњем логосу зато што има 
        најјаче деловање на људско срце. Чудна појава: понекад фраза на словенском 
        језику, пролазећи мимо аналитичног разума човека, бујицом топле светлости 
        озарује, као да отвара, срце и оно дрхће као душа путника који је после 
        дугог пута угледао огањ очинског дома. Тада долази до онога што смо већ 
        назвали, можда не сасвим тачно, "присећања". Човек се присећа 
        изгубљеног раја и тог језика коме су се повиновала сва жива бића, језика 
        на којем је беседовао са Анђелима.Ту је мистика језика. Древни, свештени 
        језик дира срце човека и изнуђује звучање скривених струна душе. Модернисти 
        то не знају и не осећају. Они хоће да замене древне језике новим, због 
        тога да би била боље разумљива семантика речи, која неће учинити разумљивијом 
        тајну богослужења.
                </p>
                <p align="justify">
                    Осим тога, у литургици постоји паралелни језик ликова 
        и ритуала, не мање важан од словесног језика. Тај симболички језик је 
        још мање разумљив, но он служи укључивању човека у живу реалност произашлих 
        збивања. Уколико желимо да учинимо богослужење доступним нашем телесном 
        разумевању, тада морамо учинити разумљивим обреде: или заменити их словесном 
        интерпретацијом или их превести на језик театралне пантомиме, то јест 
        претворити обред из разгранатог свештеног симбола у мимички гест. Шта 
        ће тада остати од литургије? Поучна представа? Када кажемо да је литургија 
        спомињање земаљског живота Христа Спаситеља, тада уопште немамо у виду 
        да је литургија исценирање Јеванђеља. Литургија је могућност за човека 
        да посредством свештених симбола и сам постане учесник библијских догађаја, 
        да унутрашње преживи Голготску Жртву, као Жртву принесену лично за њега, 
        а Васкрсење Христа, као васкрсење своје душе.
                </p>
                <p align="justify">
                    Рекли смо да је древни језик, сећање човековог срца 
        о његовој древној отаџбини, изгубљеном рају. А, савремени језик је језик 
        школе и универзитета, језик улице и пијаце, фабрике и железничке станице. 
        Он не помаже човеку да се избави из ропства обичне свакодневнице, брига 
        и интереса. Свештени језик сведочи о томе да у храму имамо посла са другим 
        светом, другом за нас необичном реалношћу.
                </p>
                <p align="justify">
                    Не само међу садржајем речи и осећаја, него исто тако 
        и између осећаја и саме форме језика постоје асоцирујуће везе. Уопште 
        форма не може бити савршено апстрахована од садржаја.
                </p>
                <p align="justify">
                    Нови језик, хтели то или не, носиће у себи нови садржај, 
        нову информацију, нови емоционални подтекст, чије испољење и опредељење 
        није доступно нашем логичком расуђивању.
                </p>
                <p align="justify">
                    Богослужење се не сме мешати са проповеди или богословљем. 
        Проповед нам говори о духовном свету, а молитва нас укључује у тај свет. 
        Богословље показује пут, а молитва води по том путу.
                </p>
                <p align="justify">
                    Ми говоримо о лепоти древних језика. Шта подразумевамо 
        под тим? Ми мислимо, да је то неко тајно сазвучје ритмова срца са ритмовима 
        древних језика и ту хармонију доживљавамо као посебну лепоту језика. Пажљиво 
        прочитајмо наглас псалме на новом и на древном језику. Какву ћемо разлику 
        видети у свом унутрашњем стању? Нови језик подобан је води која може утолити 
        жеђ, но оставити душу хладном, а древни језик је вино које весели и радује 
        срце човека. 
                </p>
                <p align="justify">
                </p>
                <p align="justify">
                </p>
                <p>
                    (Чланак из књиге "Хришћанство и модернизам")
                </p>
                <p>
                    Превод: Александар М.
                </p>
    <br />
    <br />
   <img src="~/Content/images/print.gif" alt="Верзија за штампање" width="101" height="26" hspace="0" vspace="0" border="0" align="left">[<a href="~/Content/docs/Crkvenoslovenski/CrkveniJezik.doc">DOC 
            28kb</a>]<br>
            [<a href="~/Content/docs/Crkvenoslovenski/CrkveniJezik.zip">ZIP 6kb</a>]

</div>
