@{
    ViewBag.Title = "Слава на стиховње на Велики петак, глас пети";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Слава на стиховње на Велики петак, глас пети</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Слава на стиховње на Велики петак, глас пети</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/08.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Тебе, који се 
                    одеваш светлошћу као ризом, скинувши Јосиф са дрвета с Никодимом, 
                    и видевши мртва, нага, непогребена, благосрдни плач прихвати, 
                    и ридајући говораше: куку мени, нај-слађи Исусе, кога накратко 
                    сунце на Крсту обешеног видевши мраком се облагаше, и земља 
                    се са страхом колебаше, и цепаше се храмовна завеса; но ево, 
                    сад видим Тебе који мене ради вољно прими смрт. Како ћу Те 
                    погребати, Боже мој? Или каквом ћу Те пла-штаницом обавити? 
                    Којима ли ћу се рукама дотаћи неискваривог Твога тела? Или 
                    које ћу песме певати Твоме исходу, Штедри? Величам страдања 
                    Твоја, опевам и погребење Твоје са Васкрсе-њем, вичући: Господе, 
                    слава Теби.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 8 })
    </div>

</div>
