@{
    ViewBag.Title = "Благослови душе моја Господи";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Благослови душе моја Господи</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Благослови душе моја Господи</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/09.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Благослови, 
                    душо моја, Господа, благословен јеси, Господе.<br>
                Господе Боже мој, повеличао си се веома, благословен јеси, 
                    Господе.<br>
                У исповедање и велелепље обукао си се, благословен јеси, Господе.<br>
                Чиниш анђелима Својим духове и слуге Своје пламеном огњеним, 
                    благословен јеси, Господе.<br>
                Дивна су дела Твоја, Господе, све си с премудрошћу створио.<br>
                Дивна су дела Твоја, Господе, све се испуњава благошћу.<br>
                Слава Теби, Господе, који створи све; певаћу Господу за живота 
                    мога, певам Богу моме све док постојим.<br>
                Слава Теби, Господе, који створи све - слава Оцу и Сину и 
                    Светоме Духу;<br>
                Слава Теби, Господе, који створи све - и сада и увек и у векове 
                    векова. Амин.
                <br>
                Алилуја, алилуја, алилуја, слава Теби, Боже. (трипут)<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 9 })
    </div>

</div>
