@{
    ViewBag.Title = "На јутрењу после осме песме канона: Величит душа моја Господа";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">На јутрењу после осме песме канона: Величит душа моја Господа</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>На јутрењу после осме песме канона: Величит душа моја Господа</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/16.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Велича душа 
                    моја Господа, и обрадова се дух мој Богу, Спаситељу моме;<br>
                Што погледа на смерност слушкиње своје; јер гле, од сада ће 
                    ме звати блаженом сви нараштаји;<br>
                Што ми учини величину Силни, и свето je име Његово; и милост 
                    је Његова из нараштаја у нараштај онима који Га се боје.<br>
                Показа снагу мишицом својом, разасу горде у мислима срца њиховог;<br>
                Збаци силне са престола и подиже смерне; гладне напуни блага 
                    и богате отпусти празне.<br>
                Прихвати Израила слугу Свога те се сети милости, као што казива 
                    оцима нашим, Аврааму и семену његовом довека.
            </p>
            <p class="pesme">
                ПРИПЕВ:<br>
                Часнију од херувима и славнију неупоредиво од серафима, Тебе 
                    што Бога Слова неискваерно роди, сушту Богородицу величамо.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 16 })
    </div>

</div>
