@{
    ViewBag.Title = "Стихира по јеванђ. У недељу митара и фарисеја, глас осми";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Стихира по јеванђ. У недељу митара и фарисеја, глас осми</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Стихира по јеванђ. У недељу митара и фарисеја, глас осми</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/05.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Слава Оцу и 
                    Сину и Светоме Духу:<br>
                Покајања отвори ми двери, Животодавче, јер јутрењује дух мој 
                    ка храму светоме твоме, храм носећи телесни сав оскврњен, 
                    но као штедар очисти ме благонаклоном Твојом милошћу.
                <br>
                И сада и увек и у векове векова. Амин
                <br>
                На спасења стазе упути ме, Богородице, јер срамним окаљах 
                    душу гресима, и у лењости сав живот свој протраћих, но Твојим 
                    молитвама избави ме од сваке нечистоте.
            </p>
            <p class="pesme">
                На мноштво страхота које учиних, помишљајући 
                    ја бедни дрхтим пред страшним даном судњим, но уздајући се 
                    у милост благонаклоности Твоје као Давид вапијем ти: помилуј 
                    ме, Боже, по великој Твојој милости.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 5 })
    </div>

</div>
