@{
    ViewBag.Title = "Из Великог повечерја, од: Господи сил с нами буди, до: Всје упованије моје.";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Из Великог повечерја, од: Господи сил с нами буди, до: Всје упованије моје.</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Из Великог повечерја, од: Господи сил с нами буди, до: Всје упованије моје.</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/070.gif">
            <img src="~/Content/images/Crkvenoslovenski/071.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Господе сила, 
                    с нама буди, јер другога осим Тебе помоћника у невољама немамо; 
                    Господе сила, помилуј нас.
                <br>
                (ПРИПЕВ)<br>
                Хвалите Бога у свети(ња)ма Његовим, хвалите Га у утврђењу 
                    силе Његове.<br>
                Хвалите Га на силама његовим, хвалите Га по мноштву величанства 
                    Његова.<br>
                Хвалите Га у гласу трубном, хвалите Га на псалтири и гуслама.<br>
                Хвалите Га на бубњу и у збору, хвалите Га струнама и свиралом.<br>
                Хвалите Га на кимвалима милозвучним, хвалите Га на кимвалима 
                    кликтања, свако дисање нека хвали Господа.
            </p>
            <p class="pesme">
                Слава Оцу и Сину<br>
                и Светоме Духу:<br>
                Господе, када не бисмо свет(ињ)е Твоје имали молитвеници, 
                    и доброту Твоју која нас милује, како бисмо смели, Спасе, 
                    певати Тебе, кога славослове непрестано анђели? Срцезналче, 
                    поштеди душе наше.<br>
                И сада и увек и у векове векова. Амин.
            </p>
            <p class="pesme">
                Многа су мноштва мојих, Богородице, сагрешења, 
                    к Теби прибегох, Чиста, спасења тражећи. Посети малаксалу 
                    моју душу, и моли Сина Свога и Бога нашег да ми да опроштење 
                    за страхоте које починих, једина Благословена.<br>
                Свесвета Богородице, у време живота мога не остави ме, човечијој 
                    заштити не повери ме, но сама заступи и помилуј ме.<br>
                Сву наду своју на тебе полажем, Мајко Божија, сачувај ме под 
                    заклоном Твојим.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 7 })
    </div>

</div>
