@{
    ViewBag.Title = "Из јутрење - од: Слава во вишњих Богу и на земљи мир, до: Днјес спасеније миру бист..";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Из јутрење - од: Слава во вишњих Богу и на земљи мир, до: Днјес спасеније миру бист..</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Из јутрење - од: Слава во вишњих Богу и на земљи мир, до: Днјес спасеније миру бист..</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/170.gif">
            <img src="~/Content/images/Crkvenoslovenski/171.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Слава у висинама 
                    Богу, и на земљи мир, међу људима блага воља.<br>
                Хвалимо Те, благосиљамо Те, клањамо Ти се, славословимо Те, 
                    благодаримо Ти ради велике славе Твоје.<br>
                Господе, Цару небески, Боже Оче, Сведржитељу; Господе, Сине 
                    јединородни, Исусе Христе, и Свети Душе.<br>
                Господе Боже, Јагањче Божји, Сине Очев, Који узимаш грех света, 
                    помилуј нас; Који узимаш грехе света, прими молитву нашу; 
                    Који седиш надесно од Оца, помилуј нас.<br>
                Зато што си Ти једини свет, једини Господ, Исус Христос, у 
                    славу Бога Оца, амин.
            </p>
            <p class="pesme">
                Сваким даном Те благосиљам, и хвалићу име твоје 
                    у векове, и у век века.
            </p>
            <p class="pesme">
                Удостоји нас, Господе, у дан овај без греха 
                    да се очувамо. Благословен си Господе, Боже отаца наших, и 
                    хваљено и прослављено је име Твоје у векове, амин.
            </p>
            <p class="pesme">
                Нека буде, Господе, милост Твоја на нама, зато 
                    што се уздасмо у Тебе.<br>
                Благословен си, Господе, научи ме праведностима Твојим. (трипут)<br>
                Господе, прибежиште си нам био из нараштаја у нараштај. Ја 
                    рекох: Господе, помилуј ме, исцели душу моју јер сагреших 
                    Теби.
            </p>
            <p class="pesme">
                Господе, Теби прибегох, научи ме творити вољу 
                    Твоју, зато што си Ти Бог мој, што је код Тебе извор живота, 
                    у светлости Твојој гледамо светлост. Продужи милост Твоју 
                    онима који Те знају.
            </p>
            <p class="pesme">
                Свети Боже, свети Крепки, свети Бесмртни, 
                    помилуј нас. (трипут)<br>
                Слава Оцу и Сину и Светоме Духу, и сада и увек и у векове 
                    векова. Амин<br>
                Свети Бесмртни, помилуј нас.<br>
                Свети Боже, свети Крепки, свети Бесмртни, помилуј нас.
            </p>
            <p class="pesme">
                Данас спасење света настаде, певамо Васкрсломе 
                    из гроба и начелнику живота нашег; јер разрушивши смрћу смрт, 
                    победу нам даде и велику милост.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 17 })
    </div>


</div>
