@{
    ViewBag.Title = "Дјева днјес: (кондак на Божић), глас трећи";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Црквенословенски језик", "Index", "Crkvenoslovenski")<span class="divider">/</span></li>
            <li class="active">Дјева днјес: (кондак на Божић), глас трећи</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Дјева днјес: (кондак на Божић), глас трећи</h1>
    <br />
    <div class="row-fluid">
        <div class="span4">
            <img src="~/Content/images/Crkvenoslovenski/04.gif">
        </div>
        <div class="span4">
            <p class="pesme">
                Дjева данас 
                    Пресуштаственог рађа и земља пећину Недоступноме приноси, 
                    анђели са пастирима славослове, а врачари са звездом путују, 
                    јер нас ради роди се малишан млади, предвечни Бог.<br>
            </p>
        </div>
    </div>

    <hr><div class="btn-toolbar">@Html.Action("PesmeNavigacija", "Crkvenoslovenski", new { pesma = 4 })
    </div>
</div>
