@{
    ViewBag.Title = "Византијске бордуре";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">Византијске бордуре</li>

    </ul>
<table>
<tr> 
          <td height="479" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 

                <td width="17%" height="134"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2022.JPG" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2022.gif" width="73" height="113" border="0"></a></td>
                <td width="15%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2024.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2024.gif" width="72" height="113" border="0"></a></font></div>
                </td>
                <td width="17%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2026.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2026.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td width="17%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2028.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2028.gif" width="71" height="113" border="0"></a></font></div>
                </td>
                <td width="18%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2030.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2030.gif" width="73" height="113" border="0"></a></font></div>
                </td>
                <td width="16%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2032.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2032.gif" width="70" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2036.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2036.gif" width="66" height="113" border="0"></a></div>
                </td>
                <td width="15%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2038.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2038.gif" width="60" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%2040.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%2040.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td width="17%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20143.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20143.gif" width="77" height="113" border="0"></a></font></div>
                </td>
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20155.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20155.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20159.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20159.gif" width="72" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20178.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20178.gif" width="73" height="113" border="0"></a></div>
                </td>
                <td width="15%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20182.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20182.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20101.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20101.gif" width="79" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20103.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20103.gif" width="75" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20105.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20105.gif" width="73" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="148"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20109.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20109.gif" width="75" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20111.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20111.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="15%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20113.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20113.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20115.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20115.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20136.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20136.gif" width="71" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20137.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20137.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="135"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Images/SLIKA%20139.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure/Thumbs/SLIKA%20139.gif" width="77" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Bordure.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ВИЗАНТИЈСКЕ БОРДУРЕ</font></a><font face="Arial, Helvetica, sans-serif" size="2"> 
                            (3.5 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>