@{
    ViewBag.Title = "Бордуре 2";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">Византијске бордуре 2</li>

    </ul>
<table>
<tr> 
          <td height="299" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="17%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%2060.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%2060.gif" width="74" height="113" border="0"></a></div>
                </td>
                <td width="15%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%2062.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%2062.gif" width="74" height="113" border="0"></a></font></div>
                </td>
                <td width="17%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%2068.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%2068.gif" width="73" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20142.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20142.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td width="18%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20144.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20144.gif" width="66" height="113" border="0"></a></font></div>
                </td>
                <td width="16%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%2070.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%2070.gif" width="66" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20110.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20110.gif" width="71" height="113" border="0"></a></div>
                </td>
                <td width="15%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20112.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20112.gif" width="77" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20114.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20114.gif" width="67" height="113" border="0"></a></div>
                </td>
                <td width="17%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20116.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20116.gif" width="70" height="113" border="0"></a></font></div>
                </td>
                <td width="18%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20138.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20138.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Images/SLIKA%20140.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Bordure%20CB/Thumbs/SLIKA%20140.gif" width="74" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"><br />
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Bordure.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ВИЗАНТИЈСКЕ БОРДУРЕ 2 </font></a><font face="Arial, Helvetica, sans-serif" size="2">(2.8 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>