@{
    ViewBag.Title = "Дуборез";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Дуборез</li>

    </ul>

<table>
 <tr> 
          <td valign="top"> 
            <table width="100%" border="0" height="401">
              <tr valign="top"> 
                <td height="118"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/carske%20hilandar.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/carske%20hilandar.jpg" width="77" height="113" border="0"></a></font></div>
                </td>
                <td height="118"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/carske%20kutlumus.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/carske%20kutlumus.jpg" width="57" height="113" border="0"></a></font></div>
                </td>
                <td height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Duborez/Images/carske%20pec.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/carske%20pec.jpg" width="64" height="113" border="0"></a></div>
                </td>
                <td height="118"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/carske%20pec1570.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/carske%20pec1570.jpg" width="59" height="113" border="0"></a></font></div>
                </td>
                <td height="118"> 
                  <div align="center"><a href="~/Content/images/Riznice/Duborez/Images/deo%20kareja.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/deo%20kareja.jpg" width="100" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    Хиландар</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кутлумуш</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Пећка</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Пећка</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Kareja</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="4"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    Света Гора</font></div>
                </td>
                <td height="4"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    Света Гора</font></div>
                </td>
                <td height="4"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">патријаршија</font></div>
                </td>
                <td height="4"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">патријаршија</font></div>
                </td>
                <td height="4"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="58"> 
                  <div align="center"></div>
                </td>
                <td height="58"> 
                  <div align="center"></div>
                </td>
                <td height="58"> 
                  <div align="center"></div>
                </td>
                <td height="58"> 
                  <div align="center"></div>
                </td>
                <td height="58"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    </font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="128"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/blagovestenje05.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/blagovestenje05.gif" width="113" height="133" border="0"></a></font></div>
                </td>
                <td height="128" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/pevnica%20vatoped.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/pevnica%20vatoped.jpg" width="50" height="113" border="0"></a></font></div>
                </td>
                <td height="128"> 
                  <div align="center"><a href="~/Content/images/Riznice/Duborez/Images/ikonostas.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/ikonostas.gif" width="113" height="133" border="0"></a></div>
                </td>
                <td height="128" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/pevnica%20svetagora.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/pevnica%20svetagora.jpg" width="49" height="113" border="0"></a></font></div>
                </td>
                <td height="128"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Duborez/Images/iconostasis_stsergius.jpg" target="_blank"><img src="~/Content/images/Riznice/Duborez/Thumbnails/iconostasis_stsergius.gif" width="113" height="133" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="12"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Благовештење</font></div>
                </td>
                <td height="12"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Ватопед</font></div>
                </td>
                <td height="12"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Црква 
                    </font></div>
                </td>
                <td height="12"> 
                  <div align="center"></div>
                </td>
                <td height="12"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Црква 
                    Св.Тројице</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Чачак</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Св.Димитрија</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="10"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Сергијев 
                    Посад</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">1690. 
                    </font></div>
                </td>
                <td height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    </font></div>
                </td>
                <td height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кола, 
                    1690.</font></div>
                </td>
                <td height="13"> 
                  <div align="center"></div>
                </td>
                <td height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">17.век 
                    </font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0> 
                          <p align=center><a href="~/Content/images/Riznice/Duborez/Duborez.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ДУБОРЕЗ </font></a><font face="Arial, Helvetica, sans-serif" size="2">(1.0 
                            МВ)</font> </p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>