@{
    ViewBag.Title = "Фреске Краљева црква";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li class="active">Краљева црква, Студеница, 14.век.</li>

    </ul>


        <tr> 
          <td height="740" valign="top"> 
            <table width="96%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td colspan="2" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica06.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica06.jpg" width="164" height="113" border="0"></a></font></div>
                </td>
                <td width="173" valign="middle"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica07.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica07.jpg" width="80" height="113" border="0"></a></font></td>
                <td width="21"></td>
              </tr>
              <tr valign="middle"> 
                <td height="36" colspan="3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Роћење 
                    Пресвете Богородице</font></div>
                </td>
                <td height="36"></td>
              </tr>
              <tr valign="middle"> 
                <td height="30" colspan="3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"></font></font></font></font></div>
                </td>
                <td height="30"></td>
              </tr>
              <tr> 
                <td valign="middle" width="185"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica08.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica08.jpg" width="162" height="113" border="0"></a></font></div>
                </td>
                <td width="154" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica09.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica09.jpg" width="78" height="113" border="0"></a></font></div>
                </td>
                <td valign="middle"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica10.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica10.jpg" width="157" height="113" border="0"></a></font></td>
                <td></td>
              </tr>
              <tr valign="middle"> 
                <td height="34" colspan="4"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Ваведење 
                    Пресвете Богородице у храм</font></div>
                </td>
              </tr>
              <tr valign="middle"> 
                <td height="34" colspan="3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"></font></font></font></font></div>
                </td>
                <td height="34"></td>
              </tr>
              <tr> 
                <td valign="middle"> 
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica04.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica04.jpg" width="78" height="113" border="0"></a></font></div>
                </td>
                <td valign="top"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica05.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica05.jpg" width="82" height="113" border="0"></a></font></td>
                <td> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica12.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica12.jpg" width="84" height="113" border="0"></a></font></div>
                </td>
                <td></td>
              </tr>
              <tr> 
                <td height="33" valign="middle" colspan="2"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Причешће 
                    апостола</font></div>
                </td>
                <td height="33" valign="middle"> 
                  <div align="center"> <font face="Arial, Helvetica, sans-serif" size="2">Богородица 
                    са Христом</font></div>
                </td>
                <td height="33"></td>
              </tr>
              <tr> 
                <td height="36" valign="middle" colspan="3"><font face="Arial, Helvetica, sans-serif" size="2"></font><font face="Arial, Helvetica, sans-serif" size="2"></font><font face="Arial, Helvetica, sans-serif" size="2"></font></td>
                <td height="36"></td>
              </tr>
              <tr> 
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/SvSava.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/SvSava.jpg" width="76" height="113" border="0"></a></font></div>
                </td>
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/SvSilvester.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/SvSilvester.jpg" width="71" height="113" border="0"></a></font></div>
                </td>
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/SvSpiridon.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/SvSpiridon.jpg" width="73" height="113" border="0"></a></font></div>
                </td>
                <td></td>
              </tr>
              <tr> 
                <td height="34" valign="middle"> 
                  <div align="left"></div>
                  <div align="center"></div>
                  <div align="center"></div>
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Сава 
                    </font></div>
                </td>
                <td valign="middle" height="34"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Силвестер</font></div>
                </td>
                <td valign="middle" height="34"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Св.Спиридон</font></div>
                </td>
                <td height="34"></td>
              </tr>
              <tr> 
                <td colspan="3" valign="middle"><font face="Arial, Helvetica, sans-serif" size="2"></font></td>
                <td></td>
              </tr>
              <tr> 
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica14.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica14.jpg" width="53" height="113" border="0"></a></font></div>
                </td>
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica13.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica13.jpg" width="65" height="113" border="0"></a></font></div>
                </td>
                <td valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Images/studenica15.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Thumbnails/studenica15.jpg" width="89" height="113" border="0"></a></font></div>
                </td>
                <td></td>
              </tr>
              <tr> 
                <td height="34" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2">Св.Василије 
                    Велики </font></font></font></font></font></div>
                </td>
                <td valign="middle" height="34"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2">Св.Јован 
                    Златоуст </font></font></font></font></div>
                </td>
                <td valign="middle" height="34"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2">Св.Кирил 
                    александријски </font></font></font></font></font></div>
                </td>
                <td height="34"></td>
              </tr>
              <tr> 
                <td colspan="3" valign="middle"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font face="Arial, Helvetica, sans-serif"><font size="2"><font size="2"></font></font></font></font></font></div>
                </td>
                <td></td>
              </tr>
              <tr> 
                <td height="1"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="38" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="3" width="16"></td>
                <td width="517"></td>
              </tr>
              <tr> 
                <td height="34"></td>
                <td valign="top"> 
                  <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                    <tbody> 
                    <tr> 
                      <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                        <p align=center><a href="~/Content/images/Riznice/Freske/Studenicas%20KRALJEVA%20XiV/Kraljeva%20crkva.rar"><font size="2" face="Arial, Helvetica, sans-serif">Преузми 
                          комплет фресака КРАЉЕВЕ ЦРКВЕ </font></a><font size="2" face="Arial, Helvetica, sans-serif">(1.5 
                          МВ)</font></p>
                      </td>
                    </tr>
                    </tbody> 
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr> 
          <td height="20"></td>
          <td></td>
        </tr>