@{
    ViewBag.Title = "Фреске Сопоћани";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Фреске", "Freske", "Riznice")<span class="divider">/</span></li>
            <li class="active">Сопоћани, 1260.</li>

    </ul>


<tr> 
          <td height="310" valign="top" colspan="8"> 
            <table width="100%" border="0" height="303">
              <tr align="center"> 
                <td colspan="5" height="34"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>СВЕТИ 
                    МУЧЕНИЦИ</b></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="16%" height="132"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%201.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%201.gif" width="46" height="113" border="0"></a></div>
                </td>
                <td width="18%" height="132"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%202.gif" width="43" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="132"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%203.gif" width="42" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="132"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%204.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%204.gif" width="46" height="113" border="0"></a></font></div>
                </td>
                <td width="16%" height="132"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%205.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%205.gif" width="46" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="16%" height="136"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Sv.%20Jovan%20Zlatousti.jpg" target="_blank"></a><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%206.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%206.gif" width="41" height="113" border="0"></a></font></div>
                </td>
                <td width="18%" height="136"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%207.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%207.gif" width="40" height="113" border="0"></a></div>
                </td>
                <td width="16%" height="136"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%208.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%208.gif" width="44" height="113" border="0"></a></font></div>
                </td>
                <td width="16%" height="136"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.%20mucenik%209.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.%20mucenik%209.gif" width="41" height="113" border="0"></a></font></div>
                </td>
                <td width="16%" height="136"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.MucenikMina.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.MucenikMina.gif" width="42" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="158" valign="top" colspan="8"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="125">
              <tr valign="middle"> 
                <td colspan="6" height="30"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif"><b>ПРИЧЕШЋЕ 
                    АПОСТОЛА</b></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="24" height="147"> 
                  <div align="left"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/Polaganje%20u%20grob.jpg" target="_blank"></a></div>
                </td>
                <td width="92" height="147"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/ArhiepArsenije%20I.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/ArhiepArsenije%20I.gif" width="50" height="113" border="0"></a></td>
                <td width="124" valign="top" height="147"> 
                  <div align="right"><font face="Arial, Helvetica, sans-serif" size="2"><a href="Freske/Sopochani/Images/Arhijereji1.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Arhijereji1.gif" width="81" height="113" border="0"></a></font></div>
                </td>
                <td width="60" height="147"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Arhijereji22.JPG"> 
                    </a></div>
                  <div align="center"></div>
                </td>
                <td width="146" height="147"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Arhijereji22.JPG" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Arhijereji22.gif" width="106" height="113" border="0"></a></td>
                <td width="138" height="147"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/ArhiepSava%20II.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/ArhiepSava%20II.gif" width="98" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="127" valign="top" colspan="8"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="128">
              <tr valign="top"> 
                <td height="143" width="113"> 
                  <p align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Apsida.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Apsida.gif" width="75" height="113" border="0"></a></p>
                </td>
                <td width="48" valign="top" height="143"> 
                  <p align="center">&nbsp;</p>
                </td>
                <td width="215" valign="top" height="143"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Apsida%20donji%20deo.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Apsida%20donji%20deo.gif" width="141" height="113" border="0"></a></td>
                <td width="208" height="143"> 
                  <p align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Apsida%20gornji%20deo.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Apsida%20gornji%20deo.gif" width="175" height="113" border="0"></a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr align="center" valign="middle"> 
          <td height="33" colspan="8"><font face="Arial, Helvetica, sans-serif" size="2"><b>СВЕТИТЕЉИ</b></font></td>
        </tr>
        <tr align="center" valign="top"> 
          <td height="113" valign="top" width="75"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Andjeo%20Blagovesti.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Andjeo%20Blagovesti.gif" width="43" height="113" border="0"></a></div>
          </td>
          <td valign="top" width="75"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Ap%20Pavle.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Ap%20Pavle.gif" width="45" height="113" border="0"></a></div>
          </td>
          <td valign="top" width="73"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Apostol%20Toma.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Apostol%20Toma.gif" width="42" height="113" border="0"></a></div>
          </td>
          <td valign="top" width="75"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/CarSolomon.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/CarSolomon.gif" width="47" height="113" border="0"></a></div>
          </td>
          <td valign="top" width="71"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Starozavetni%20prorok.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Starozavetni%20prorok.gif" width="46" height="113" border="0"></a></div>
          </td>
          <td width="72" valign="top"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.IW%20pretecha.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.IW%20pretecha.gif" width="46" height="113" border="0"></a></div>
          </td>
          <td valign="top" width="73"> 
            <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv.Vavila.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/Sv.Vavila.gif" width="43" height="113" border="0"></a></div>
          </td>
          <td width="70" valign="top"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/Sv%20Sava.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/SvSava.gif" width="47" height="113" border="0"></a></td>
        </tr>
        <tr align="center" valign="middle"> 
          <td height="9" colspan="8"></td>
        </tr>
        <tr align="center" valign="top"> 
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Ангео 
            </font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Ап.Павле</font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Ап.Тома</font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Цар 
            Соломон </font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Старозав. 
            пророк</font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Св.Јован</font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Св.Вавила</font></td>
          <td height="48"><font face="Arial, Helvetica, sans-serif" size="2">Св.Сава</font></td>
        </tr>
        <tr> 
          <td height="212" valign="top" colspan="8"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr valign="middle"> 
                <td height="35" colspan="4"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>ЈЕВАНГЕЛИСТИ</b></font></div>
                </td>
              </tr>
              <tr> 
                <td width="26%" valign="top"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/EvJovan.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/EvJovan.gif" width="83" height="113" border="0"></a></div>
                </td>
                <td valign="top" width="25%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/EvLuka%20ili%20Marko.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/EvLuka%20ili%20Marko.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td valign="top" width="25%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/EvMarko%20ili%20Luka.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/EvMarko%20ili%20Luka.gif" width="83" height="113" border="0"></a></div>
                </td>
                <td valign="top" width="24%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Images/EvMatej.jpg" target="_blank"><img src="~/Content/images/Riznice/Freske/Sopochani/Thumbnails/EvMatej.gif" width="84" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr> 
                <td width="26%" valign="top"> 
                  <div align="center"></div>
                </td>
                <td valign="top" width="25%"> 
                  <div align="center"></div>
                </td>
                <td valign="top" width="25%"> 
                  <div align="center"></div>
                </td>
                <td valign="top" width="24%"> 
                  <div align="center"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top" colspan="8"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> <br /><br /><br />
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0> 
                          <div align="center"><a href="~/Content/images/Riznice/Freske/Sopochani/Sopochani%201.rar"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет фресака СОПОЋАНИ 1</font></a><font face="Arial, Helvetica, sans-serif" size="2"> 
                            (14.5МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>