@{
    ViewBag.Title = "Ikone";
}

<h2>Ikone</h2>
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Иконе</li>
        </ul>
