@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <img src="~/Content/images/Riznice/riznice.gif" />

        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li class="active">Ризнице</li>
        </ul>

    </div>
</div>
