@{
    ViewBag.Title = "Јеванђеља";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
           <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Јеванђеља</li>

    </ul>

<table>

<tr>
          <td height="54"></td>
        </tr>
        <tr> 
          <td valign="top"> 
            <table width="100%" border="0" height="619">
              <tr valign="top"> 
                <td width="34%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/dionisijat%2013vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/cetvoro.gif" width="152" height="113" border="0"></a></font></div>
                </td>
                <td width="32%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/dionisijat%2010vek.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/pismo02.gif" width="181" height="113" border="0"></a></font></div>
                </td>
                <td width="34%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/po%20Luci.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/po%20Luci.gif" width="181" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Четворојеванђеље 
                    </font></div>
                </td>
                <td width="32%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Четворојеванђеље</font></div>
                </td>
                <td width="34%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Јеванђеље 
                    по Луки</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дионисијат, 
                    Света Гора</font></div>
                </td>
                <td width="32%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дионисијат, 
                    Света Гора</font></div>
                </td>
                <td width="34%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дохијар, 
                    Света Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="51"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">13.век</font></div>
                </td>
                <td width="32%" height="51"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">10.век</font></div>
                </td>
                <td width="34%" height="51"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    13.век</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/po%20Marku.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/po%20Marku.gif" width="174" height="113" border="0"></a></font></div>
                </td>
                <td width="32%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/psaltir%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/psaltir%202.gif" width="189" height="113" border="0"></a></font></div>
                </td>
                <td width="34%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/psaltir.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/psaltir.gif" width="185" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Јеванђеље 
                    по Марку</font></div>
                </td>
                <td width="32%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Псалтир</font></div>
                </td>
                <td width="34%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Псалтир</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дохијар, 
                    Света Гора</font></div>
                </td>
                <td width="32%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дохијар, 
                    Света Гора</font></div>
                </td>
                <td width="34%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Ватопед, 
                    Света Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="48"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    13.век</font></div>
                </td>
                <td width="32%" height="48"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    13.век</font></div>
                </td>
                <td width="34%" height="48"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    13.век</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="119"> 
                  <div align="center"><a href="~/Content/images/Riznice/Jevandjelja/Images/liturgija%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/liturgija%202.gif" width="126" height="113" border="0"></a></div>
                </td>
                <td width="32%" height="119"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Jevandjelja/Images/knjiga.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/knjiga.gif" width="130" height="113" border="0"></a></font></div>
                </td>
                <td width="34%" height="119"> 
                  <div align="center"><a href="~/Content/images/Riznice/Jevandjelja/Images/liturgija%201.jpg" target="_blank"><img src="~/Content/images/Riznice/Jevandjelja/Thumbnails/liturgija%201.gif" width="94" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Свитак-Литургија</font></div>
                </td>
                <td width="32%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Књига</font></div>
                </td>
                <td width="34%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Свитак-Литургија</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="22"> 
                  <p align="center"><font size="2" face="Arial, Helvetica, sans-serif">Скит 
                    Св.Ане, Света Гора</font></p>
                </td>
                <td width="32%" height="22"> 
                  <div align="center"></div>
                </td>
                <td width="34%" height="22"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Скит 
                    Св.Ане, Света Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="34%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">14.век</font></div>
                </td>
                <td width="32%" height="13">&nbsp;</td>
                <td width="34%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">14.век</font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr> 
                <td height="41"> 
                  <div align="center">
<table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0> 
                          <p align=center><a href="~/Content/images/Riznice/Jevandjelja/Jevandjelja.rar"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ЈЕВАНЂЕЉА (2.8 МВ)</font> </a></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>