@{
    ViewBag.Title = "Византијски оквири";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">Византијски оквири</li>

    </ul>

<tr> 
          <td height="290" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="23%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/0000%20195.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/0000%20195.gif" width="86" height="113" border="0"></a></div>
                </td>
                <td width="24%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/0000%200574.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/0000%200574.gif" width="68" height="113" border="0"></a></font></div>
                </td>
                <td width="24%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/277.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/277.gif" width="68" height="113" border="0"></a></font></div>
                </td>
                <td width="29%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/278.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/278.gif" width="71" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="23%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/87297.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/87297.gif" width="67" height="113" border="0"></a></div>
                </td>
                <td width="24%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/Okvir.jpg"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/Okvir.gif" width="62" height="113" border="0"></a></div>
                </td>
                <td width="24%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/410.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/410.gif" width="77" height="113" border="0"></a></font></div>
                </td>
                <td width="29%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Images/282.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Okviri%20CB/Thumbs/282.gif" width="71" height="113" border="0"></a></font></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Okviri%20CB.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ВИЗАНТИЈСКИ ОКВИРИ </font></a><font face="Arial, Helvetica, sans-serif" size="2">(3.9 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>