@{
    ViewBag.Title = "Текстови";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
           <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Текстови</li>

    </ul>

 <tr> 
          <td valign="middle" height="537" bordercolor="#FFFFFF"><em>&quot;..Неописиво 
            Слово Очево из Тебе је, Богородице, постало описиво оваплотивши се. 
            Оскрнављени образ повративши у древно (стање), оно га је сјединило 
            с божанском лепотом. Исповедајући спасење ми га делом и речју изображавамо..&quot;</em><br>
            <em><br>
            <span class="sitno">(Кондак Победе Православља)</span></em> 
            <hr>
            <p align="right"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" height="355">
              <tr> 
                <td width="145" valign="middle" height="114"> 
                  <div align="center"><a href="http://www.svetosavlje.org/Riznice/doc/Zivopisci.htm" target="_blank"><img src="~/Content/images/Riznice/doc/icxc.gif" width="82" height="104" border="0"></a></div>
                </td>
                <td width="18" valign="middle" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="121" valign="top" height="114"> 
                  <div align="center"><a href="http://www.svetosavlje.org/Riznice/doc/Uspenski.htm" target="_blank"><img src="~/Content/images/Riznice/doc/Leonid.gif" alt="uspenski" width="88" height="97" border="0"></a></div>
                </td>
                <td width="17" valign="top" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="136" valign="top" height="114"> 
                  <div align="center"><a href="http://www.svetosavlje.org/Riznice/doc/Grigorije.htm" target="_blank"><img src="~/Content/images/Riznice/doc/InokGrigorije.jpg" width="82" height="113" border="0"></a></div>
                </td>
                <td width="16" valign="top" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="123" valign="top" height="114"> 
                  <div align="center"><font size="2"></font><img src="~/Content/images/Riznice/doc/Uspenski Teolog ikona.gif" alt="teologija ikona" width="81" height="113"></div>
                </td>
              </tr>
              <tr> 
                <td width="145" valign="top" height="12">&nbsp;</td>
                <td width="18" valign="middle" height="12" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="121" valign="top" height="12">&nbsp;</td>
                <td width="17" valign="top" height="12" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="136" valign="top" height="12">&nbsp;</td>
                <td width="16" valign="top" height="12" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="123" valign="middle" height="12"><div align="center">у припреми </div></td>
              </tr>
              <tr> 
                <td width="145" valign="top" height="25"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Сабор 
                    стоглава&quot;</b></font></div>
                </td>
                <td width="18" valign="middle" height="25" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="121" valign="top" height="25"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Леонид 
                    Успенски</b></font></div>
                </td>
                <td width="17" valign="top" height="25" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="136" valign="top" height="25"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>инок 
                    Григорије Круг</b></font></div>
                </td>
                <td width="16" valign="top" height="25" bgcolor="#CCCCCC">&nbsp;</td>
                <td width="123" valign="middle" height="25"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Леонид 
                    Успенски</b></font></div></td>
              </tr>
              <tr> 
                <td valign="top" height="61" width="145"> 
                  <div align="center"> 
                    <p><font face="Arial, Helvetica, sans-serif" size="2"><b>&quot;</b></font><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/Riznice/doc/Zivopisci.htm" target="_blank"> 
                      О ЖИВОПИСЦИМА И ЧАСНИМ ИКОНАМА</a>&quot;<br>
                      <b><font size="1">(<em>Глава 43. &quot;Стоглава&quot; Московског 
                    сабора из 1551.</em>)</font></b></font></p>
                  </div>
                </td>
                <td valign="middle" height="61" width="18" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" height="61" width="121"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/Riznice/doc/Uspenski.htm" target="_blank">СМИСАО 
                    И САДРЖАЈ ИКОНЕ</a></font></div>
                </td>
                <td valign="top" height="61" width="17" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" height="61" width="136"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/Riznice/doc/Grigorije.htm" target="_blank">МИСЛИ 
                    О СВЕТИМ ИКОНАМА</a></font></div>
                </td>
                <td valign="top" height="61" width="16" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" height="61" width="123"> 
                  <div align="center" class="style2">ТЕОЛОГИЈА ИКОНА </div>                </td>
              </tr>
              <tr> 
                <td valign="top" width="145" height="9" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="middle" width="18" height="9" bgcolor="#999999">&nbsp;</td>
                <td valign="top" width="121" height="9" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="17" height="9" bgcolor="#999999">&nbsp;</td>
                <td valign="top" width="136" height="9" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="16" height="9" bgcolor="#999999">&nbsp;</td>
                <td valign="middle" width="123" height="9" bgcolor="#CCCCCC">&nbsp;</td>
              </tr>
              <tr> 
                <td valign="top" width="145" height="8"> 
                  <div align="center"></div>
                </td>
                <td valign="middle" width="18" height="8" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="121" height="8"> 
                  <div align="center"></div>
                </td>
                <td valign="top" width="17" height="8" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="136" height="8">&nbsp;</td>
                <td valign="top" width="16" height="8" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="middle" width="123" height="8">&nbsp;</td>
              </tr>
              <tr> 
                <td valign="top" height="114" width="145"> 
                  <div align="center"><a href="http://www.svetosavlje.org/Riznice/doc/dodji_i_vidi/dodjiividi.htm" target="_blank"><img src="~/Content/images/Riznice/doc/VladaD.gif" width="82" height="113" border="0"></a></div>
                </td>
                <td valign="middle" width="18" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="121" height="114"> 
                  <div align="center"><a href="http://www.svetosavlje.org/Riznice/doc/Atanasije.htm" target="_blank"><img src="~/Content/images/Riznice/doc/vlAtanasije.gif" width="73" height="112" border="0"></a></div>
                </td>
                <td valign="top" width="17" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="136" height="114"> 
                  <div align="center"><font size="2"><font face="Times New Roman, Times, serif"><a href="http://www.svetosavlje.org/Riznice/doc/Skliris.htm" target="_blank"><img src="~/Content/images/Riznice/doc/oStamatis.gif" width="82" height="113" border="0"></a></font></font></div>
                </td>
                <td valign="top" width="16" height="114" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="middle" width="123" height="114"> 
                  <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
              </tr>
              <tr> 
                <td valign="top" width="145">&nbsp;</td>
                <td valign="middle" width="18" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="121">&nbsp;</td>
                <td valign="top" width="17" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="136">&nbsp;</td>
                <td valign="top" width="16" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="middle" width="123">&nbsp;</td>
              </tr>
              <tr> 
                <td valign="top" width="145" height="43"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif"><b><font size="2">Владимир 
                    Димитријевић</font></b></font></div>
                </td>
                <td valign="middle" width="18" bgcolor="#CCCCCC" height="43">&nbsp;</td>
                <td valign="top" width="121" height="43"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Владика 
                    Атанасије Јевтић</b></font></div>
                </td>
                <td valign="top" width="17" bgcolor="#CCCCCC" height="43">&nbsp;</td>
                <td valign="top" width="136" height="43"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b>Протопрезвитер 
                    Стаматис Склирис</b></font></div>
                </td>
                <td valign="top" width="16" bgcolor="#CCCCCC" height="43">&nbsp;</td>
                <td valign="middle" width="123" height="43">&nbsp;</td>
              </tr>
              <tr> 
                <td valign="top" width="145"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/riznice/doc/dodji_i_vidi/dodjiividi.htm" target="_blank">ДОЂИ 
                    И ВИДИ</a></font></div>
                </td>
                <td valign="middle" width="18" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="121"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/Riznice/doc/Atanasije.htm" target="_blank">ИСТОРИЈА 
                    И ТЕОЛОГИЈА СВЕТИХ ИКОНА</a></font></div>
                </td>
                <td valign="top" width="17" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="top" width="136"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="http://www.svetosavlje.org/Riznice/doc/Skliris.htm" target="_blank">ОД 
                    ПОРТРЕТА ДО ИКОНЕ</a><br>
                  </font></div>
                </td>
                <td valign="top" width="16" bgcolor="#CCCCCC">&nbsp;</td>
                <td valign="middle" width="123"> 
                  <div align="left"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
              </tr>
            </table>
            <p align="center">&nbsp;</p>
            <hr>
            <p align="center">&nbsp;</p>
          </td>
        </tr>