@{
    ViewBag.Title = "Tekstovi";
}

<h2>Текстови</h2>
           <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Текстови</li>

    </ul>
