@{
    ViewBag.Title = "Византијска м. траке";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">Византијска минијатура - траке</li>

    </ul>

<table>

 <tr> 
          <td height="336" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="17%" height="113"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%203.gif" width="107" height="85" border="0"></a></div>
                </td>
                <td width="15%" height="113"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%204.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%204.gif" width="107" height="85" border="0"></a></font></div>
                </td>
                <td width="17%" height="113"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%205.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%205.gif" width="107" height="85" border="0"></a></font></div>
                </td>
                <td width="17%" height="113"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%2010.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%2010.gif" width="107" height="85" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="110"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%209.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%209.gif" width="107" height="85" border="0"></a></font></div>
                </td>
                <td width="15%" height="110"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%2011.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%2011.gif" width="107" height="85" border="0"></a></div>
                </td>
                <td width="17%" height="110"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/1%2014.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/1%2014.gif" width="107" height="85" border="0"></a></font></div>
                </td>
                <td width="17%" height="110"> 
                  <div align="center"></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="17%" height="87"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/3%203.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/3%203.gif" width="107" height="85" border="0"></a></div>
                </td>
                <td width="15%" height="87"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/3%206.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/3%206.gif" width="107" height="85" border="0"></a></div>
                </td>
                <td width="17%" height="87"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Images/3%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Trake/Thumbs/3%202.gif" width="107" height="85" border="0"></a></font></div>
                </td>
                <td width="17%" height="87"> 
                  <div align="center"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Trake.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ТРАКЕ</font></a><font face="Arial, Helvetica, sans-serif" size="2"> 
                            (1.65 МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>