@{
    ViewBag.Title = "Утвари";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>
          <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li class="active">Утвари</li>

    </ul>

<tr>
          <td height="54"></td>
        </tr>
        <tr> <br /><br />
          <td valign="top" height="1248"> 
            <table width="100%" border="0" height="619">
              <tr valign="top"> 
                <td width="29%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Utvari/Images/kadionica%20dionis.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/kadionica%20dionis.gif" width="164" height="113" border="0"></a></font></div>
                </td>
                <td width="2%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
                <td width="32%" height="127"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/kadionica%20protat.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/kadionica%20protat.gif" width="178" height="99" border="0"></a></div>
                </td>
                <td width="2%" height="127"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
                <td width="35%" height="127"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/kadionica.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/kadionica.gif" width="162" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кадионица</font></div>
                </td>
                <td width="2%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
                <td width="32%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кадионица</font></div>
                </td>
                <td width="2%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"></font></div>
                </td>
                <td width="35%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кадионица</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    Дионисијат </font></div>
                </td>
                <td width="2%" height="20">&nbsp;</td>
                <td width="32%" height="20"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Григоријат</font></div>
                </td>
                <td width="2%" height="20">&nbsp;</td>
                <td width="35%" height="20"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Иверон</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    Света Гора</font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="32%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="35%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="44"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">12.век</font></div>
                </td>
                <td width="2%" height="44">&nbsp;</td>
                <td width="32%" height="44"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">1676.</font></div>
                </td>
                <td width="2%" height="44">&nbsp;</td>
                <td width="35%" height="44"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    17.век</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="129"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/okov%20pantokrator%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/okov%20pantokrator%202.gif" width="81" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="129">&nbsp;</td>
                <td width="32%" height="129"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/okov%20simonopetra.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/okov%20simonopetra.gif" width="159" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="129">&nbsp;</td>
                <td width="35%" height="129"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Utvari/Images/okov%20pantokrator.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/okov%20pantokrator.gif" width="91" height="113" border="0"></a></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="21" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Оков 
                    за Јеванђеље</font></font></font></div>
                </td>
                <td width="2%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="32%" height="21" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Оков 
                    за Јеванђеље</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="2%" height="21"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="35%" height="21" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2"><font size="2"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Оков 
                    за Јеванђеље</font></font></font><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Пантократор</font></div>
                </td>
                <td width="2%" height="21">&nbsp;</td>
                <td width="32%" height="21"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Симонопетра</font></div>
                </td>
                <td width="2%" height="21">&nbsp;</td>
                <td width="35%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Пантократор</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="21">&nbsp;</td>
                <td width="32%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="21">&nbsp;</td>
                <td width="35%" height="21"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="48"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    1777.</font></div>
                </td>
                <td width="2%" height="48">&nbsp;</td>
                <td width="32%" height="48"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">1849.</font></div>
                </td>
                <td width="2%" height="48">&nbsp;</td>
                <td width="35%" height="48"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"> 
                    1615.</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="119"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Utvari/Images/kandilo.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/kandilo.gif" width="58" height="113" border="0"></a></font></div>
                </td>
                <td width="2%" height="119">&nbsp;</td>
                <td width="32%" height="119"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Utvari/Images/zvono%20pechka.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/zvono_pechka.gif" width="78" height="113" border="0"></a></font></div>
                </td>
                <td width="2%" height="119">&nbsp;</td>
                <td width="35%" height="119"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/svecnjaci%20svana.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/svecnjaci%20svana.gif" width="111" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="22" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Кандило</font></div>
                </td>
                <td width="2%" height="22"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="32%" height="22" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Звоно</font></div>
                </td>
                <td width="2%" height="22"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="35%" height="22" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Свећњаци</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="22"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Протат</font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="32%" height="22"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Пећка 
                    патријаршија </font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="35%" height="22"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Скит 
                    Св.Ане</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="32%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="22">&nbsp;</td>
                <td width="35%" height="22"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="40"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">XVII</font></div>
                </td>
                <td width="2%" height="40"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="40"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">1766.</font></div>
                </td>
                <td width="2%" height="40"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="40"> 
                  <div align="center">XVIII</div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="127"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/plastanica%20dohijjar.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/plastanica%20dohijjar.gif" width="128" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="127"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="127"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/praskomidija%20stavronikita.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/praskomidija%20stavronikita.gif" width="155" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="127"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="127"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/plastanica%20stavronikita.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/plastanica%20stavronikita.gif" width="129" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Плаштаница</font></div>
                </td>
                <td width="2%" height="20"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Плаштаница</font></div>
                </td>
                <td width="2%" height="20"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="20" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Плаштаница</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Дохијар</font></div>
                </td>
                <td width="2%" height="13">&nbsp;</td>
                <td width="32%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Ставроникита</font></div>
                </td>
                <td width="2%" height="13">&nbsp;</td>
                <td width="35%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Ставроникита</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="56"> 
                  <div align="center">1613.</div>
                </td>
                <td width="2%" height="56"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="56"> 
                  <div align="center">1717.</div>
                </td>
                <td width="2%" height="56"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="56"> 
                  <div align="center">XIV</div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="126"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/ripida%20dionisijat.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/ripida%20dionisijat.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="126"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="126"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/tanjiric%20protat.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/tanjiric%20protat.gif" width="111" height="113" border="0"></a></div>
                </td>
                <td width="2%" height="126"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="126"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/ripida%20pantokrator.jpg" target="_top"><img src="~/Content/images/Riznice/Utvari/Thumbnails/ripida%20pantokrator.gif" width="64" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="13" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Рипида</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="32%" height="13" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Тањирић 
                    за покривање путира</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="35%" height="13" bgcolor="#CCCCCC"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Рипида</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Дионисијат 
                    </font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="32%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Протат</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif"></font></font></font></div>
                </td>
                <td width="35%" height="13"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Пантократор</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td width="2%" height="13"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="13"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="29%" height="50"> 
                  <div align="center"></div>
                </td>
                <td width="2%" height="50"> 
                  <div align="center"></div>
                </td>
                <td width="32%" height="50"> 
                  <div align="center">1622.</div>
                </td>
                <td width="2%" height="50"> 
                  <div align="center"></div>
                </td>
                <td width="35%" height="50"> 
                  <div align="center"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr valign="top"> 
                <td height="141" width="15%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20dionisijat.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20dionisijat.gif" width="67" height="113" border="0"></a></div>
                </td>
                <td height="141" width="16%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20dohijar.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20dohijar.gif" width="60" height="113" border="0"></a></div>
                </td>
                <td height="141" width="16%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20iveron%202.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20iveron%202.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td height="141" width="17%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20iveron.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20iveron.gif" width="72" height="113" border="0"></a></div>
                </td>
                <td height="141" width="18%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20ksenopont.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20ksenopont.gif" width="62" height="113" border="0"></a></div>
                </td>
                <td height="141" width="18%"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir%20simonopetra.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir%20simonopetra.gif" width="60" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr bgcolor="#CCCCCC" valign="top"> 
                <td height="18" width="15%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
                <td height="18" width="16%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
                <td height="18" width="16%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
                <td height="18" width="17%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
                <td height="18" width="18%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
                <td height="18" width="18%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
              </tr>
              <tr> 
                <td height="28" width="15%"> 
                  <div align="center"><font size="2" face="Arial, Helvetica, sans-serif">Дионисијат</font></div>
                </td>
                <td height="28" width="16%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Дохијар</font></font></font></div>
                </td>
                <td height="28" width="16%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Иверон</font></font></font></div>
                </td>
                <td height="28" width="17%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Иверон</font></font></font></div>
                </td>
                <td height="28" width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Ксенопонт</font></font></font></div>
                </td>
                <td height="28" width="18%"> 
                  <div align="center"><font size="2"><font size="2"><font face="Arial, Helvetica, sans-serif">Симонопетра</font></font></font></div>
                </td>
              </tr>
              <tr> 
                <td height="21" width="15%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="21" width="16%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="21" width="16%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="21" width="17%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="21" width="18%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
                <td height="21" width="18%"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Света 
                    Гора</font></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="42" width="15%"> 
                  <div align="center">1594.</div>
                </td>
                <td height="42" width="16%"> 
                  <div align="center">1558.</div>
                </td>
                <td height="42" width="16%"> 
                  <div align="center">1557.</div>
                </td>
                <td height="42" width="17%"> 
                  <div align="center"></div>
                </td>
                <td height="42" width="18%"> 
                  <div align="center">1500.</div>
                </td>
                <td height="42" width="18%"> 
                  <div align="center">1600.</div>
                </td>
              </tr>
              <tr valign="top"> 
                <td height="132" colspan="3"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/tamnjanika.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/tamnjanika.gif" width="102" height="113" border="0"></a></div>
                </td>
                <td height="132" colspan="3"> 
                  <div align="center"><a href="~/Content/images/Riznice/Utvari/Images/putir.jpg" target="_blank"><img src="~/Content/images/Riznice/Utvari/Thumbnails/putir.gif" width="134" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr bgcolor="#CCCCCC" valign="top"> 
                <td height="21" colspan="3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Кутијица 
                    за тамјан</font></div>
                </td>
                <td height="21" colspan="3"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">Путир</font></div>
                </td>
              </tr>
              <tr> 
                <td height="41" colspan="3">&nbsp;</td>
                <td height="41" colspan="3">&nbsp;</td>
              </tr>
              <tr> 
                <td height="41" colspan="3">&nbsp;</td>
                <td height="41" colspan="3">&nbsp;</td>
              </tr>
              <tr> 
                <td height="41" colspan="6"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="2"> 
                          <p align=center><a href="~/Content/images/Riznice/Ikone/Freske/Protat/Images/PROTATpraznici.rar"><font size="2" face="Arial, Helvetica, sans-serif">Преузми 
                            комплет УТВАРИ </font></a><font size="2" face="Arial, Helvetica, sans-serif">(29.7 
                            МВ)</font></p>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td></td>
        </tr>