@{
    ViewBag.Title = "Византијска слова";
}
<p align="right">
    <img src="~/Content/images/Riznice/riznice.jpg" width="304" height="98" hspace="15" vspace="15">

</p>

 <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ризнице", "Index", "Riznice")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Краснопис", "Krasnopis", "Riznice")<span class="divider">/</span></li>
            <li class="active">Византијски слова</li>

    </ul>

 <tr> 
          <td height="288" valign="top"> 
            <table width="100%" border="0" height="292">
              <tr valign="top"> 
                <td width="16%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%206.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%206.gif" width="75" height="113" border="0"></a></font></div>
                </td>
                <td width="21%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Freske/Ohrid/Ohrid%20Images/SvApPetar.jpg" target="_blank"></a><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%2012.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%2012.gif" width="76" height="113" border="0"></a></div>
                </td>
                <td width="19%" height="134"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20117.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20117.gif" width="77" height="113" border="0"></a></font></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20119.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20119.gif" width="35" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="134"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20121.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20121.gif" width="79" height="113" border="0"></a></div>
                </td>
              </tr>
              <tr valign="top"> 
                <td width="16%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20122.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20122.gif" width="80" height="113" border="0"></a></font></div>
                </td>
                <td width="21%" height="144"> 
                  <div align="center"><font face="Arial, Helvetica, sans-serif" size="2"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20123f.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20123f.gif" width="78" height="113" border="0"></a></font></div>
                </td>
                <td width="19%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20125.jpg"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20125.gif" width="79" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20126.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20126.gif" width="79" height="113" border="0"></a></div>
                </td>
                <td width="22%" height="144"> 
                  <div align="center"><a href="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Images/SLIKA%20127.jpg" target="_blank"><img src="~/Content/images/Riznice/Krasnopis/Vizantijskaminijatura/Slova/Thumbs/SLIKA%20127.gif" width="79" height="113" border="0"></a></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td height="45" valign="top"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="41"> 
                  <div align="center"> 
                    <table bordercolor=#999999 cellspacing=0 cellpadding=3 width=510 
            align=center border=1>
                      <tbody> 
                      <tr> 
                        <td bordercolor=#ffffff bgcolor=#f0f0f0 height="23"> 
                          <div align="center"><a href="~/Content/images/Riznice/Krasnopis/ZIP%20Krasnopisa/Slova.zip"><font face="Arial, Helvetica, sans-serif" size="2">Преузми 
                            комплет ВИЗАНТИЈСКА СЛОВА </font></a><font face="Arial, Helvetica, sans-serif" size="2">(1.25 
                            МБ)</font></div>
                        </td>
                      </tr>
                      </tbody> 
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>