@{
    ViewBag.Title = "PrikazMolitve";
}
<div class="row-fluid">
    <div class="span12">
        <img src="~/Content/images/Molitve/molitve.gif" />
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Молитве и богослужења", "Index", "Molitve")<span class="divider">/</span></li>
            <li class="active">Молитве и богослужења</li>
        </ul>
    </div>

    <br />
    <!-- Naziv molitve ili molitvi, iz baze (TODO) -->
    <table border="0" cellpadding="0" cellspacing="0" width="90%">
        <tbody>
            <p align="center">
                <strong>ЧЕТИРИ СВАКОДНЕВНЕ МОЛИТВЕ</strong></p>

            <!-- Sadržaj molitve ili molitvi, iz baze (TODO) -->
            <tr valign="top">
                <td valign="top">
                    <p align="adjust">
                        <i>Молитвеник - Каноник О. Јустин Поповић</i></p>
                    <p align="adjust">
                        ЧЕТИРИ СВАКОДНЕВНЕ МОЛИТВЕ<br>
                        МОЛИТВА ЗА ОТВОРЕЊЕ УМА<br>
                        <br>
                        ГОСПОДЕ Исусе Христе, учитељу мудрости, молим Ти се, отвори очи срца мог, да бих
                        слушао реч Твоју и разумео је, и творио свету вољу Твоју која је у њој откривена
                        нама грешним и безумним људима. Господе Боже Спаситељу мој, пошто си дошао на земљу
                        да тражиш и спасеш пропале, не скривај од мене заповести Своје, јер и ја пропадам
                        у тами незнања закона Твога: него отвори очи ума мога да бих разумео чудеса учења
                        Твога, и кажи ми непознатости и тајне мудрости Твоје. У Тебе се уздам, Боже мој,
                        да Ти светлошћу знања Свога просветиш ум мој и разум, да бих не само читао написано
                        него га и вршио. Молим ти се, и са сузама припадајући вапијем Ти: Господе, просвети
                        ме, научи ме, уразуми ме, да свету реч Твоју и житија Светаца Твојих читам не на
                        грех, него на обновљење и просвећење, на освећење и спасење душе моје, и на наслеђе
                        вечнога живота. Амин.<br>
                        <br>
                        МОЛИТВА ФИЛАРЕТА,<br>
                        МИТРОПОЛИТА МОСКОВСКОГ ЧУДОТВОРЦА<br>
                        <br>
                        ГОСПОДЕ, не знам шта да молим од Тебе. Ти једини знаш шта је мени потребно. Ти љубиш
                        мене више него што ја умем љубити себе. Оче, дај слузи Твоме оно што ја сам и искати
                        не умем. Не усуђујем се искати ни крст, ни утеху, само стојим пред Тобом: срце је
                        моје отворено Теби. Ти видиш потребе, које ја не знам: види и поступи са мном по
                        милости Својој. Порази и исцели, обори и подигни ме; ништаван сам и нем пред светом
                        вољом Твојом и недокучивим за мене судовима Твојим. Приносим себе на жртву Теби;
                        предајем се Теби. Немам жеља, осим жеље да испуним вољу Твоју. Научи ме молити се.
                        Сам у мени моли се. Амин .<br>
                        <br>
                        СВАКОДНЕВНА МОЛИТВА<br>
                        <br>
                        ГОСПОДЕ дај да мирно примим све што ми донесе данашњи дан, и да се потпуно предам
                        Твојој светој вољи.<br>
                        Упућуј ме и помажи сваког часа у току овога дана. Било какве вести да добијем, научи
                        ме да их примим мирно и с чврстим уверењем да све бива по Твојој светој вољи. Управљај
                        мојим мислима и осећањима и у свим делима и речима.<br>
                        Не допусти да у непредвиђеним случајевима заборавим да све долази од Тебе. Научи
                        ме да се правилно односим према својим родитељима и својим ближњима, да никог не
                        разгневим и ожалостим. Господе дај ми снаге да поднесем замор данашњега дана и све
                        што се у току дана догоди. Управљај мојом вољом и научи ме да се молим, да верујем,
                        да се надам, да трпим, да праштам и волим. Амин.<br>
                        <br>
                        МОЛИТВА ПОКАЈНИКА:<br>
                        СВ. СИМЕОНА НОВОГ БОГОСЛОВА<br>
                        <br>
                        ГОСПОДЕ, Ти све видиш, и нема ничега што Ти не би видео. Ја, иако сам дело руку
                        Твојих ипак нисам чинио дела по заповестима Твојим, него сам по великом безумљу
                        свом чинио свако зло, не помишљајући да си Ти, Творац мој и Бог, колико добар толико
                        и правосудан. А сада, сетивши се тога, мене спопада страх, и ја не знам шта да чиним.
                        Осећам осуду Твоју, и не налазим речи оправдања у устима својим. Немам никакве врлине
                        и нисам учинио никакво дело покајања, које би заслуживало да ми се због њега опрости
                        макар једна празна реч уста мојих. Осим тога, и онај који има све врлине и чини
                        сваковрсна добра дела, чини то као слуга и дужник; у свему томе он неће наћи откуп
                        за Грех свој: ту једино милост Твоја притиче. Грех је смрт, и ко од оних који су
                        кроз њега умрли може васкрснути сам себе? Ваистину нико. Једини си Ти умро и васкрсао,
                        зато што греха ниси учинио и превара се не нађе у устима Твојим. И ето, Господе
                        Сведржитељу, починивши много злих дела, ја се кајем. Али само покајање немоћно је
                        да ме оправда. Покајање је познање грехова својих, а скида их милост Твоја. Ти видиш,
                        Сведржитељу Господе, да ја сада ништа немам осим тела; но за мене нема никакве користи
                        од тога што сам оставио свако богатство. Ја сам сав - једна рана; у мени није остало
                        никакве наде на спасење, и пакао је готов да ме прогута живог. Ти ме једини можеш
                        спасти и излечити патње срца мога. Рука Твоја може све; она досеже до самих дубина
                        бездана, и све бива по мигу Твоме. Не усуђујем се говорити: помилуј ме, Господе!
                        Јер сам недостојан милости Твоје, као онај који с правом заслужује сваку муку. А
                        Ти, Господе, знаш све, и како зна Човекољубље Твоје поступи са мном, недостојним
                        и самог живота.<br>
                        Да буде света воља Твоја у свему. Амин.<br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </p>
                    <p align="adjust">
                        <i></i>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
</div>
