@{
    ViewBag.Title = "Цркве";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Цркве</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Цркве</h1>
    <br />


       <p>-<a href="http://www.ni.rs/byzantium/manastiri_i_crkve_grada_nisa/" target="_blank"> Цркве града Ниша</a></p>
       <br>
		Архиепископија Београдско-карловачка <br>
		<br>
       <p>- <a href="http://www.hramsvetogsave.com/Hram/ser/Vesti/default.htm" target="_blank">Спомен Храм Светог Саве - Београд</a></p>
       <p>- <a href="http://www.saborna-crkva.com/" target="_blank">Саборна црква у Беогаду</a></p>
       <p>- <a href="http://www.hramaleksandranevskog.rs/" target="_blank">Црква Светог Александра Невског - Београд</a></p>
       <p>- <a href="http://www.crkvasvetogmarka.rs/" target="_blank">Црква Светог Апостола и Евангелисте Марка - Београд</a></p>
       <p>- <a href="http://sveti-simeon.com/" target="_blank">Црква Светог Симеона Мироточивог - Београд</a></p>
       <p>- <a href="http://www.crkvasvvasilije.org.rs/" target="_blank">Црква Светог Василија Острошког - Нови Београд</a></p>
       <p>- <a href="http://paraklissvetogstefana.com/" target="_blank">Параклис Светог Стефана - Београд</a></p>
       <p>- <a href="http://www.hramsvgeorgija.org/" target="_blank">Црква Светог Ђорђа - Београд</a></p>
       <p>- <a href="http://www.svetitoma.org/Modules_FE/layout1/displayfull.asp?id=1" target="_blank">Свети Тома - Јоханесбург</a></p>
       <p>- <a href="http://www.serbskoe-podvorie.ru/" target="_blank">Подворје СПЦ - Москва</a></p>
      <br>
Митрополијa дабробосанска<br>
    <br>
       <p>- <a href="http://www.sabornacrkva-sarajevo.org/" target="_blank">Саборна црква у Сарајеву</a><a href="http://www.sabornacrkva-sarajevo.org/" target="_blank"></a></p>
       <p>Аутор насловне фотографије: <a href="http://www.orthphoto.net/user.php?id=1778&amp;id_jezyk=1">Драган Воргић</a> </p>


    </div>
