@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу 4/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу 4/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу 4/5</h1>
    <br />



    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <img src="~/Content/images/Svetinje/Hodocasca/poz.jpg" width="574" height="247"></p>
    <p>
        <br>
    </p>
    <p>Нисам ни писац, ни путописац, нити ишта од тога. Била сам руковођена само великом жељом да дођем у Свету Земљу и поклоним се Господу... Свуда се напајаш светошћу и тек када се вратиш, сабереш где си у ствари све био. Сада живим за тренутке проведене тамо и надам се да ће Господ бити милостив да поново додирнем сваки камен, сваку стопу... На повратку, моја душа је певала Васкршњи тропар: </p>
    <p><em>Христос воскресе из мертвих, </em></p>
    <p><em>смертију смерт поправ </em></p>
    <p><em>и сушчим во гробје живот даровав! </em></p>
    <p>&nbsp; </p>
    <p>&nbsp; </p>
    <p class="style1">Дан 2 </p>
    <p>&nbsp; </p>
    <p>
        Поподне смо кренули аутобусом из манастира свете Марије Магдалине у оближњу Витанију (Bethany

), где се налази манастир свете Марте и Марије, Лазаревих сестара. Манастир (Bethany School of Resurrection) је подигнут на месту Лазареве куће. У Витанији се одиграо разговор Христа са Лазаревим сестрама, Мартом и Маријом, гозба у кући Симона губавог и васкресење Лазара. У цркви Марте и Марије осећа се посебна благодат. У капели испред цркве се налази камен на коме је сам Господ стајао са светом Мартом и Маријом. Сви целивају тај камен. Када сам стигла тамо, служено је вечерње а затим је испред капеле било миросање. У цркви у олтару, када се отворе двери, виде се фреске Господа, Пресвете Богородице и светог Николе у природној величини. Изванредно лепо фрескописано. Као да су ту, поред нас, боље рећи, као да стојимо пред Њима.
    </p>
    <p>Стигосмо до Лазаревог гроба. Спустила се ноћ. Степенице су веома стрме, а да би се стигло до места где је био гроб, треба се на крају провући буквално пузећи и чучећи. Мени је помогао један човек, вукао ме је са друге стране. На том месту монахиње су отпевале тропар и кренусмо горе. На излазу је “чувар” гроба Лазаревог. Негде на пола пута изгубих дах. Сестра Ника одмах вади из торбе таблету глукозе, даје ми, ја помало нерадо узимам. Каже зна да помаже. </p>
    <p>И тако, пред Лазарево васкрсење, даде ми Господ да обиђем Лазарев гроб! Имала сам две свеће и ставила сам их на место његовог гроба. </p>
    <p>&nbsp; </p>
    <p class="style1">Дан 3 </p>
    <p>&nbsp; </p>
    <p>После свете Литургије монахиње ме упутише на једног поклоника, доктора који говори енглески, јер већина монахиња не зна тај језик. Тек сам касније схватила да је било боље да сам са њима говорила српски. Било је помало смешно јер су ми стално понављале <em>doctor </em><em>, </em><em>English </em><em>, </em><em>doctor </em><em>, </em><em>English </em>... Доктор је Румун, и као сваки лекар помало надобудан, све зна, заправо и зна јер каже да долази већ 13 година и да Јерусалим није више као што је некад био. Иначе је специјалиста за бубрежне болести и ради у Њујорку. </p>
    <p>Кренули смо пешице до грчке цркве Марте и Марије, у којој је владала неописива гужва. Гурање, скоро гажење, да би се целивало место за које Грци сматрају да је Господ стајао с Мартом и Маријом. Једва сам се пробила. После тога смо кренули опет пешице, а то јесте подвиг кроз те крајеве, преко неких гудура, прашине. Све ми је личило на тзв. ничију земљу јер се кола и таксији заустављају недалеко а онда се прелази пешице кроз неки брисани простор. </p>
    <p>&nbsp; </p>
    <p>Отишли смо у манастир Марте и Марије где сам упознала игуманију Јелисавету из свете Марије Магдалине и пренела поздраве. Веома енергична жена, делује способно. </p>
    <p>О тишли смо опет до Лазаревог гроба. Међутим, владала је огромна гужва и нисам успела да сиђем до гроба. Била сам презадовољна што смо синоћ већ били тамо. Повратак је био прилично напоран. Пешице узбрдо, низбрдо... Опет нека прашњава путања. </p>
    <p>&nbsp; </p>
    <p>На североисточном обронку Маслинске горе, недалеко од Јерусалима, налази се нова грчка православна црква Витсфага ( Bethphageh ) из 1995. године. То је место са кога је почео величанствени улазак Господа у Јерусалим. Тог поподнева је требало да крене литија до Гетсиманске горе, па даље, стопама којим је Господ ушао у Јерусалим. Поклоници са палминим гранама почињу пут из Витсфаге и у Јерусалим улазе кроз Капију светог Стефана (или Лављу капију). Литија се завршава у цркви св. Јоакима и Ане. </p>
    <p>Отишли смо после 3 поподне. Дуго смо чекали, јер је Патријарх каснио. Кратко се задржао у цркви а онда је поворка кренула. Носили смо лист палме на којем је био од лишћа направљен крст. Дувао је ветар, постало је прохладно. Задесила сам се на крају литије тако да када сам погледала иза себе, видела сам наоружане војнике. Још под утицајем свих догађања на Косову, помислим, то су они што треба да нас чувају, као они што је требало да бране Србе на Косову. Некако ми је засметала та војничка поворка. Ветар је брисао а ја сам се смрзла. И када смо пролазили близу нашег манастира, ја се поздравих са доктором и одох кући. Чим сам стигла у собу, схватила сам шта сам урадила. Зар да изађем из литије зато што ми је било хладно?! Па зар сам зато дошла?! И тако баш незадовољна собом, кренем да питам да ли неко иде негде те вечери. Кажу да се света Литургија служи свако јутро у 1 после поноћи у Храму Гроба Господњег, и да ће те вечери неколико особа ићи из манастира. </p>
    <p>Налазимо се у пола 12 на капији. Кренуло је нас неколико: једна послушница, један руски монах из Грчке, један Румун, мислим још неко и ја. Кренули су пешице, низбрдо, све трчећи. Ја каскам за њима. Они све брже, ја све више заостајем. Почињем да плачем и себе прекоревам, да, тако ми и треба, кад сам данас изашла из литије. Једва сам их некако стигла, буквално без даха, када је почела узбрдица према зидинама града. На улазу увек има полиције, али кад год сам ишла са неким из манастира, нису нас ништа питали. </p>
    <p class="style1">Дан 4 </p>
    <p>&nbsp; </p>
    <table width="712">
        <tbody>
            <tr>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/kapelagrobagospodnjeg.jpg" width="400" height="533"></td>
                <td width="300">
                    <p>У капелици Гроба Господњег су на мермерној плочи поставили Часну трпезу. Служили су на грчком, руском и не сећам се ко је био трећи свештеник. Кад год сам чула старословенски, као да ме је сунце огрејало. Причестила сам се, Господу хвала! Света Литургија је трајала до 3 часа ујутро. Спазим сестру са којом смо дошли. И никога више. Кренемо заједно назад. Идемо ћутећи. Тек касније сам схватила да се она моли. Низбрдо је било некако. Узбрдо је било величанствено. Као да је сав онај умор скоро нестао, само сам повремено остајала без даха, јер је било заиста стрмо. Стигле смо у 4 ујутро у манастир. Све време нисмо проговориле ни реч. Пролазиле смо кроз делове града у којима није било ни живе душе, само су у даљини неки кучићи лајали. Мислила сам, ово нећу заборавити до краја живота. Причестила сам се, па ваљда ако ми се нешто и деси, није више важно. </p>
                    <p>Устала сам за свету Литургију, која је недељом касније, у пола 7. После доручка сам отишла да спавам. Цео дан сам се одмарала, осим што сам ишла на вечерњу службу. Неколико пута сам покушавала да уђем у капелу светог Јована Претече која је иза Вазнесењске цркве. Али је увек била закључана. </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p class="style1">Дан 5 </p>
    <p>&nbsp; </p>
    <p>Понедељак, света Литургија у Вазнесењском манастиру, односно часови и јутарња служба почињу у 5 часова. Чини ми се да сам првих недељу дана на свакој служби плакала. Нарочито кад су монахиње као анђели певале. А све време ми је у ушима одзвањао глас оца Владимира са Литургије Пређеосвећених Дарова: "Да исправитсја молитва моја". Молила сам Господа да ми помогне ако мисли да треба да још неко свето место видим и посетим. Мени је лепо и у манастиру и ако треба да останем до краја, немам ништа против! Како је Господ услишио моју молитву! Те вечери сам упознала једну веома пријатну девојку Нору и њеног брата Данијела. Обоје су православни Арапи, рођени у Аустралији, пореклом из Сирије. Они су нашли неку туру аутобусом која иде од 7 ујутро до 7 увече у Назарет, Јордан итд. Питају ме хоћу ли са њима. Одушевљено пристанем. </p>
    <table width="712">
        <tbody>
            <tr>
                <td width="350">
                    <div align="justify">Док сам се тог поподнева шетала по манастирском имању, учини ми се да је капела светог Јована Претече отворена. Уђем унутра и затекнем девојку која се спремала да крене. Каже да је добила кључ од монахиња и да ако хоћу да останем, сама тражим кључ. Она ми показа место где је било обретење Претечине главе. Под у мозаику је мало удубљен а горе је означено металним обручем на коме је икона светог Јована. Клекнем да целивам свето место. Она склони ту металну ограду, ја прислоним чело. Место предивно мирише. Упијам у себе тај мирис, и осетим да ме је прожела нека сила од косе до стопала. То је трајало кратко јер се девојка журила, а ја сам била изненађена интензитетом осећаја. Била сам пресрећна и благодарила Господу и светом Јовану. </div>
                </td>
                <td width="350">
                    <img src="~/Content/images/Svetinje/Hodocasca/mestoobretenja.jpg" width="350" height="467"></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p class="style1">Дан 6 </p>
    <p>&nbsp; </p>
    <p>Устали смо у 6 часова, минибусом стигли до града, купили фалафел (крокети од пасуља са салатом, у сендвичу) за успут и кренули локалним туристичким аутобусом. Стигосмо у Назарет, прво у огромну цркву посвећену Благовестима, а онда у мању, православну, благовештански храм Пресвете Богородице и светог Архангела Гаврила, из 1650. године, са чудотворним извором и најлепшом иконом Благовести коју сам икада видела: анђео саопштава Пресветој Богородици радосну вест а њој утроба светли и види се дете. Веома упечатљива икона. Цела црква је изванредно лепа. Захватили смо мало воде са Богородичиног извора, целивали иконе, запалили свеће, помолили се и кренули даље. Богородичин извор испод крипте цркве светог Архангела Гаврила се сматра правим местом Благовести јер се анђео јавио Пресветој Богородици када је дошла да захвати воду. Већ 20 векова Назарет се са тог извора снабдева пијућом водом и она се сматра светом. </p>
    <p>Отишли смо на реку Јордан. Велики број поклоника долази на обалу Јордана и символично обнавља своје крштење погружавањем у воду. Умила сам се и намазала врат водом. У плићаку има пуно огромних риба. Гледала сам како се једна група припрема, са свештеником. Чита се Јеванђеље, пева и символично крштава у Јордану. Сви су обучени у беле хаљине специјално купљене за ту прилику. Старије жене кажу да се то чува за укоп. </p>
    <p>Нажалост, нисмо посетили један од најстаријих манастира на свету - манастир светог Герасима у долини Јордана. Светог Герасима је служио лав пошто га је светац излечио. На икони се приказује са светим. </p>
    <p>Посетили смо место Табгха, где је Господ нахранио 5000 људи са две рибе и 5 хлебова. Ово чудо је оставило неизбрисив траг у душама светих Апостола и свих људи. Апостоли су поделили две рибе и пет хлебова на 5000 људи, не рачунајући жене и децу, а претекло је 12 котарица пуних. Света царица Јелена је овековечила успомену на овај јеванђелски догађај мозаиком у поду. Сачуван је део камене стене на којој је тада стајао Господ Исус Христос. Целивали смо тај камен у цркви, и кренули даље. </p>
    <p>Вратили смо се увече. У повратку Нора каже да можда сутра иде са неким пријатељима у Мар Саабу у манастир светог Саве Освећеног! </p>
    <p>&nbsp;            </p>
    <p>&nbsp;            </p>
    <p>
        <br>
    </p>
    <p>&nbsp;            </p>
    <p class="pnormal">
        <img src="~/Content/images/Svetinje/Hodocasca/end_45.gif" width="238" height="21">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</div>

@Html.Action("JerusalimNavigacija", "Svetinje", new { strana = 4 })