@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу 1/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу 1/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу 1/5</h1>
    <br />



            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><img src="~/Content/images/Svetinje/Hodocasca/poz.jpg" width="574" height="247"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p class="style1">Поклоничко путовање у Свету Земљу (први део)</p>
            <p>&nbsp;</p>
            <p>Нисам ни писац, ни путописац, нити ишта од тога. У Јерусалим ме водила само огромна жеља и љубав према Господу. Размишљала сам да ли и како да наводим историјске податке, када је шта саграђено, када се шта десило... Најважније је, што рече један брат, свуда се напајаш светошћу и тек када се вратиш, сабереш где си у ствари све био. А ја сам дуго сабирала утиске из Свете Земље. Сада живим за тренутке проведене тамо и надам се да ће Господ бити милостив да поново додирнем сваки камен, сваку стопу... Нисам у стању да опишем буру осећања у себи. Могу рећи да сам првих недељу дана на службама само плакала. Господ је Љубав. Ми му тако недостојно узвраћамо...<br>
              На повратку, моја душа је певала Васкршњи тропар: Христос воскресе из мертвих, смертију смерт поправ и сушчим во гробје живот даровав!</p>
            <p>Само је чудо како сам тамо и отишла. На интернету сам пронашла адресе свих православних манастира у свету и са благословом духовника окренула телефонски број манастира Вазнесења Господњег у Јерусалиму. Јавила се управо игуманија манастира и рекла ми да дођем. Други су ми говорили да не идем у ратно подручје јер су неколико дана пре убили духовног вођу Хамаза и веровало се да ће бити одмазде. Поколебали ме нису, али сам опет питала духовника шта да чиним. Он ми смирено, као и увек, рече да сам у Божјим рукама и да идем. Можда би било мудрије да сам ишла са неком групом организовано. Ипак, на пут сам отишла потпуно сама, а Господ ме је водио свуда где је Он мислио да треба да идем. То јесте право чудо. Као и ускршње јаје које сам јуче појела, тачно месец дана после Васкрса, које је неколико дана било у путу, без фрижидера, а било је одлично! У кући се плашим када мачка јурца, а тамо сам прелазила такозване 'check points' са наоружаним војницима, пролазећи поред некаквих полубункера и бодљикавих жица као на филму. </p>
            <p><br>
              Господ ме је штитио...…<br>
            </p>

    </div>

@Html.Action("JerusalimNavigacija", "Svetinje", new { strana = 1 })