@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу Фотографије";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу Фотографије</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу Фотографије</h1>
    <br />



<table  border="2" align="center" cellpadding="1" cellspacing="1">
  <tbody><tr>
    <td ><p class="sitno">Јерусалим </p>
      <p class="sitno">поглед са </p>
      <p class="sitno">Маслинске</p>
    <p class="sitno"> горе </p>      <p>&nbsp;</p>    </td>
    <td width="400"><img src="~/Content/images/Svetinje/Hodocasca/_Jerusalim.jpg" width="400" height="300"></td>
    <td width="400"><img src="~/Content/images/Svetinje/Hodocasca/pogledsaMgore.jpg" width="400" height="300"></td>
    <td ><p class="sitno">Јерусалим </p>
      <p class="sitno">поглед са </p>      <p class="sitno">Маслинске</p>
    <p class="sitno"> горе </p></td>
  </tr>
  <tr>
    <td><p class="sitno">Капелица</p>
    <p class="sitno">св.</p>
    <p class="sitno">Марије</p>
    <p class="sitno">Магдалине</p></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Sv.M.M.-kapelica.jpg" width="400" height="300"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/mermernikamensaorigGroba.jpg" width="400" height="300"></td>
    <td><p class="sitno">Камен са </p>
    <p class="sitno">оригиналног </p>
    <p class="sitno">гроба </p>
    <p class="sitno">Господњег</p></td>
  </tr>
  <tr>
    <td><p class="sitno">Капела </p>
      <p class="sitno">гроба </p>
      <p class="sitno">Господњег </p>
    </td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/kapelagrobagospodnjeg.jpg" width="400" height="533"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Koptskakapela.jpg" width="400" height="533"></td>
    <td><p class="sitno">Коптска</p>
      <p class="sitno"> капела </p>
    </td>
  </tr>
  <tr>
    <td><div align="center"><span class="sitno">Голгота</span></div></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Golgota1.jpg" width="400" height="300"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Golgota-3.jpg" width="400" height="300"></td>
    <td><div align="center"><span class="sitno">Голгота</span></div></td>
  </tr>
  <tr>
    <td><p class="sitno">Иконостас у </p>
    <p class="sitno">г. цркви у </p>
    <p class="sitno">доњем делу </p></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Ikonostas-u-g.jpg" width="400" height="300"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Mesto-miropomazanja.jpg" width="400" height="300"></td>
    <td><p class="sitno">Место </p>
    <p class="sitno">миропомазања </p></td>
  </tr>
  <tr>
    <td><p class="sitno">Св. </p>
      <p class="sitno">Јелисавета</p></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Freska-Sv.-Elizabete.jpg" width="400" height="533"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Freska-Sv.-Varvare.jpg" width="400" height="533"></td>
    <td><p class="sitno">Св. </p>
      <p class="sitno">Варвара</p></td>
  </tr>
  <tr>
    <td><p class="sitno">Мошти св. </p>
    <p class="sitno">Јелисавете </p></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Mosti-Sv.-Elizabete.jpg" width="400" height="533"></td>
    <td><img src="~/Content/images/Svetinje/Hodocasca/Mosti-Sv.-Varvare.jpg" width="400" height="533"></td>
    <td><p class="sitno">Мошти св. </p>
    <p class="sitno">Варваре</p></td>
  </tr>
</tbody></table>
    </div>
