@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу 5/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу 5/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу 5/5</h1>
    <br />


    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <img src="~/Content/images/Svetinje/Hodocasca/poz.jpg" width="574" height="247"></p>
    <p>
    </p>
    <p>
    </p>
    <p class="style1">&nbsp;</p>
    <p class="style1">Дан 7 </p>
    <p>&nbsp;</p>
    <p>Благовести</p>
    <p></p>
    <p></p>
    <p>Манастир светог Саве Освећеног </p>
    <table border="0">
        <tbody>
            <tr>
                <td>Прилаз манастиру је релативно тежак, кривуда, питам се како 
                  ли туда иду аутобуси. Мала врата на улазу, изнад којих је крст. 
                  Куцамо, врата се отварају, дочекује нас монах Грк. Изнесе столице 
                  и сточић, а мушкарце поведе унутра. Знала сам да женама није 
                  дозвољен приступ. Питам за оца Григорија, монах каже да је болестан, 
                  да има дијабетес, да га боле ноге и да се одмара. Питам има 
                  ли још Срба, каже био је један искушеник али се вратио на Косово. 
                  Спакујем иконице светог Владике Николаја и оца Јустина и неколико 
                  њихових фотографија, дам имена за помињање и прилог и замолим 
                  да то преда оцу Григорију.
                    <br>
                    Седели смо тако на сунцу, дивном времену као негде у вечности. 
                  Време као да је стало. Мир, тишина, спокој.… Тамо ништа овоземаљско 
                  није важно. </td>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/mansvSavveOs.jpg" width="400" height="300"></td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
    </p>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td width="42%">
                    <img src="~/Content/images/Svetinje/Hodocasca/ulaz.jpg" width="400" height="300"></td>
                <td width="58%" rowspan="2">
                    <p>
                        Монах нам износи делић моштију 
                    светог Саве Освећеног, који целивамо, и у другој кутији део 
                    лобање. Питам чија је а он ми каже један од преподобних отаца 
                    побијених у манастиру светог Саве Освећеног - славе се 20. 
                    марта/2. априла. Целивамо и њих и сликам их, уз дозволу. Дали 
                    су нам и бочицу с освећеним уљем и водом.
                        <br>
                        Обишли смо мало околину и вратили се таксијем.
                        <br>
                        Манастир светог Саве Освећеног је основао сам свети Сава Освећени 
                    крајем петог века. То је заправо најчувенији манастир у Палестини. 
                    Налази се око 20 км од Јерусалима, у Кедронској долини. Долина 
                    почиње у Гетсиманији а завршава се на Мртвом мору.<br>
                        Свети Сава Освећени је рођен у Кападокији, а у Светој Земљи 
                    се налази од своје 18. године. Због своје младости, али и 
                    мудрости, звали су га “pedariogeronta” (дете и старац у исто 
                    време). Живео је 5 година у неприступачној пећини - испосници 
                    у Кедронској долини. Његов подвижницки живот је привлачио 
                    велики број искушеника, монаха, тако да је њихов број нарастао 
                    на 5000 када је свети имао 63 године. Основао је још три лавре 
                    и шест манастира као и пет прихватилишта за путнике и посетиоце. 
                    Предвидео је свој одлазак Господу и именовао свог наследника, 
                    коме је оставио писана наређења за управљање лавром и манастирима. 
                    Причестио се у упокојио 5. децембра у 94. години. Сахрањен 
                    је у лаври а његове потпуно очуване мости су из безбедносних 
                    разлога пренете прво у Костантинопољ, а затим су их у 12. 
                    веку су крсташи однели у Венецију. Тада се чудотворна палма 
                    која је лечила жене од неплодности осушила. Палма је олистала 
                    када су враћене мости светитеља у манастир 1965. године.
                    </p>
                    <p>
                        Много чуда је забележено још док је свети био жив, као и 
                    после његовог упокојења. Посебно помаже болеснима од рака 
                    и неплодним женама.
                    </p>
                    <p>
                        Ту је живео и Свети Јован Дамаскин. Написао је око 1200 тропара 
                    и чувена апологетска дела. Упокојио се у 104. години за собом 
                    остављајући огромно теолошко, поетско, догматско и музичко 
                    дело. Њему је била одсечена десна шака од стране иконобораца, 
                    која му је чудесно зацељена молитвама пред иконом Пресвете 
                    Богородице Тројеручице.
                    </p>
                    <p>
                        Свети Сава Освећени је оставио завештање братији да чудотворну 
                    икону Богородице Тројеручице са његовим жезлом предају архијереју 
                    царског рода који носи његово име и који ће доћи са запада. 
                    Свети Сава српски је добио чудотворну икону Богородице Тројеручице, 
                    као и жезло које је три пута заредом указивало братији да 
                    се ради о архијереју из завештања. На поклон је добио и икону 
                    Богородице Млекопитателнице која се чува на Светој Гори , 
                    у испосници Светог Саве у Кареји.<br>
                        Капела манастира је посвећена Светом Николају а изградио ју 
                    је сам Свети Сава.
                    </p>
                </td>
            </tr>
            <tr>
                <td height="304">
                    <img src="~/Content/images/Svetinje/Hodocasca/Deo-lobanje-i-mosti.jpg" width="400" height="300"></td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
        Има неколико места која су посебно занимљива: капела “Built by God“ 
              нерукотворена црква посвећена Светом Николају, капела Благовести, 
              гробље лавре, келија Светог Јована Дамаскина, Јустинијанова кула, 
              висока 18 метара (од које до места освећења Свети Саве има 385 степеника)<br>
        Преко пута манастира се налазе многобројне пећине. На улазу једне 
              од њих се из даљине могу видети слова А.Ц. (С.С. Свети Савва). То 
              је пећина у којој се Свети Сава подвизавао у раним годинама. Само 
              Господ и он сам знају колико је суза проливено на свету земљу. У 
              манастиру је живело много светаца, исповедника и песника као, Свети 
              Андреј Критски (писац Покајног канона), Свети Јона, Свети Ксенофон, 
              Свети Стефан, Свети Теодор, Свети Лазар Столпник и многи други.<br>
        Лавра је током дугогодишњег постојања била више пута уништавана. 
              Узрок су били разни земљотреси, напад гусара... Али је очувана до 
              данас, трудом малог броја отаца који се подвизавају и моле Бога 
              за нас. Они се налазе под јурисдикцијом јерусалимске патријаршије.<br>
        Хтели смо да погледамо манастир Светог Теодосија (борио се против 
              монофизита, био старесина манастира 62. године) из 5. века, али 
              су нам рекли да је време за посете прошло. Стали смо у Beit Sahour, 
              источно од Витлејема, где је Shepherds' church, грчке цркве која 
              је таман била затворена за посетиоце. Ту је објављено рођење Господа 
              Исуса Христа. Позвонили смо и замолили да нам отворе само на кратко 
              да видимо цркву: огромна метална капија са решеткама поче да се 
              отвара а Нора по западном систему фото ћелије стави руку између. 
              Утом се капија затвори и пригњечи јој руку. Почела је да вришти, 
              затим плаче, дотрчао је свештеник и рекао да одмах идемо у болницу. 
              Уместо у Витлејем, обрели смо се у амбуланти хитне помоћи. Ишли 
              смо сви за Нором, нас петоро, са све таксистом. Лекар нас је коначно 
              избацио у чекаоницу. Прсти су јој били нагњечени, дадоше јој ињекцију 
              против болова, имобилисали прсте и платила је лекове 100 долара. 
              Молила сам је да кренемо што пре назад јер сам мислила да је боље 
              да те check points-e пређемо по дану а не ноћу. Тако је и било. 
              С тим што када смо ушле у тај бункер/тунел, седео је војник са највећим 
              митраљезом који сам икада видела уживо. И љуљушкао се на столици. 
              Помислим, не клати се, може случајно да опали. Пређемо назад, а 
              тамо ни на видику превоз. Нигде ништа. Кренемо пешице, тек се у 
              даљини назире неки саобраћај. Кад оно неко труби, дошао је човек 
              са комбијем који нас је ту довезао јутрос. Зна да морамо да се вратимо.
    </p>
    <p>&nbsp;</p>
    <p class="style1">Дан 8 </p>
    <p>&nbsp;</p>

    <p>Велики четвртак</p>
    <p></p>
    <p>&nbsp;</p>
    <table width="97%" border="0">
        <tbody>
            <tr>
                <td width="65%" rowspan="3">
                    <br>
                    Присуствовање обреду “Умивенија ногу” на тргу испред цркве Христовог 
                  Гроба. Патријарх јерусалимски и његова пратња…. Огромна гужва. 
                  Довитљиви су наплаћивали боља места по 20 долара. Ушли смо у 
                  Храм Гроба Господњег. Срели смо наше сународнике које сам упознала 
                  тражећи познаницу из цркве. Кад год чујем српски, питам за групу 
                  из Београда. Тако сам срела Микија, који ради и снима за нишку 
                  ТВ. Живео је у Јерусалиму, био 3 месеца у манастиру светог Саве 
                  Освећеног. Са њим је и Немања, једно благочестиво створење, 
                  избеглица из Хрватске, са родитељима сад живи у Финској. Студира 
                  теологију. И носи пуну корпу посних колача. То јутро једној 
                  Гркињи би лоше док смо чекали испред храма. Тих дана сам обавезно 
                  носила у ташни парче хлеба, за сваки случај. Дам јој то парче, 
                  она ми се толико захваљивала, да ми је било непријатно. И око 
                  поднева нам Господ посла пуну кутију посних колача! Прави дар 
                  с неба, правила Немањина мама у Финској….<br>
                    После церемоније умивенија ногу, повели су нас на Mount Zion, 
                  у јеврејски део, где смо посетили православно гробље, гроб цара 
                  Давида, место Тајне вечере, а одатле кренусмо до Гроба Пресевете 
                  Богородице, па места Вазнесења Господњег…. На Гробу Пресвете 
                  Богородице срели смо једног нашег монаха. Ту се налази чувена 
                  јерусалимска икона Богородице. Веома импресивно место. Унутар 
                  цркве постоји капела посвећена родитељима Богородице, Јоакиму 
                  и Ани.<br>
                    Унутар зидина старог града налази се грчки манастир свети Јована 
                  Крститеља, са прелепом иконом светог Јована и делићем мошти. 
                  Ту сам купила уље светог Јована. Цена је била у еврима.
                    <br>
                    Посетили смо и Цркву Свих Нација одмах испод Гетсиманског врта.<br>
                    Гетсиманија, свето место, где је Господ провео ноћ молећи се 
                  пре свог хапшења.
                    <br>
                    Читање дванаест Јеванђеља дочекасмо у манастиру свете Марије 
                  Магдалине. Знам да је обичај код Руса да се не клечи тада, али 
                  се и добро сећам да се код нас клечало.… А мени се тако клечало 
                  те вечери. Помислила сам, па ту не може ваљда бити ништа лоше. 
                  И клечала сам на мермерном поду са свећом у руци, благодарећи 
                  Господу….</td>
                <td width="35%">
                    <img src="~/Content/images/Svetinje/Hodocasca/Obred-Umivanije-nogu.jpg" width="400" height="300"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/tajna-vecera.jpg" width="400" height="300"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/Getsimanski-vrt2.jpg" width="400" height="300"></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="style1">Дан 9</p>
    <p>&nbsp;</p>
    <p>Велики петак– - Крсни пут </p>
    <p></p>
    <p>&nbsp;</p>
    <table width="99%" border="0">
        <tbody>
            <tr>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/beogradjani2.jpg" width="400" height="300"></td>
                <td rowspan="3">
                    <p>
                        Кренули смо рано и стигли смо пре 8 до места 
                    одакле је требало да крене поворка. Дуго смо чекали, више 
                    од два сата, гужва је почела да се ствара рано. Некако смо 
                    успели да се убацимо у поворку. Било је наших људи који су 
                    из Београда донели крстове и то повелике, било је тако лепо 
                    видети и чути их. Око нас је било доста монаха, монахиња, 
                    свештеника…, новинара, сниматеља... Литија је ишла путем којим 
                    су Господа водили од затвора до Голготе. Људи су носили крстове, 
                    веће, мање, у руци сам држала мали крст који сам купила.<br>
                        Тога дана се наравно ништа не једе. Уз такав пут, верујем 
                    да нико и није био гладан.<br>
                        Вечерња служба је било са скидањем плаштанице. Невероватно 
                    лепо су украсили “гроб“ и плаштаницу. Када је први дан изнета 
                    плаштаница у Вазнесењском манастиру, једна монахиња је то 
                    поподне провела уз безброј земних поклона и плакала као киша…. 
                    Тако је било дирљиво гледати је...
                    </p>
                    <p>
                        Увече смо ишли на Голготу јер је тамо било скидање плаштанице 
                    и Патријарх је положио на место миропомазања Господа, а затим 
                    однео на Гроб Господњи. Служба је требало да почне у 10 увече, 
                    али је патријарх стигао у пола 12. Гужва је опет била неописива. 
                    Плаштаница је била прекривена латицама ружа које су после 
                    пренели на мермерну плочу миропомазања.
                        <br>
                        Дилема је била да ли остати ту и покушати дочекати сутрадан, 
                    појаву Благодатног Огња или ићи. Решила сам да ипак одем кући 
                    после 1, са монахињом, сестром Марином. Пошто сам у четвртак 
                    пропустила причешће, нисам желела да се то понови. Решим да 
                    идем на Свету Литургију и причестим се, а после одмах кренем 
                    па шта ми Бог да! Мати Вероника, која иначе продаје сувенире, 
                    веома фина, дала ми је нека основна упутства за одлазак. Без 
                    икакве ташне, у старом оделу, због свећа и воска, итд….<br>
                        Послушала сам је и хвала јој!<br>
                        Још једна интересантна прича везана за боравак у манастиру. 
                    Желела сам да мој поклон манастиру буде лепа хиландарска икона. 
                    Замолила сам сестру из цркве која је путовала преко Београда 
                    да ми понесе икону. Неколико пута сам покушавала да је пронађем, 
                    била сам и у хотелу, међутим среле смо се у Храму Гроба Господњег, 
                    на Велики Петак. Узмем икону и однесем игуманији. Моја жеља 
                    је била да у манастиру буде хиландарска копија икона Богородице 
                    Тројеручице. На наше изненађење у кутији се налазила икона 
                    Господа! Предивна, позлаћена и посребрена, у окову, хиландарска 
                    копија, једна од најлепших што сам видела. Игуманија каже: 
                    "Мислила сам да је Тројеручица, али ово јесте место за 
                    Господа. Ово је Његов манастир, манастир Његовог Вазнесења!"
                    </p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/veliki-petak-golgota.jpg" width="400" height="300"></td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
        <br>
    </p>
    <p>&nbsp;</p>
    <p class="style1">Дан 10</p>

    <p>&nbsp;</p>
    <p>Велика Субота - Силазак Благодатног огња</p>
    <p></p>
    <p>
        <br>
        Свети Литургију је служио млад и веома благочестив свештеник из 
              кога је избијало смирење. Такав мир нисам осетила ни код кога осим 
              код мог духовног оца, који је великосхимник. Рече за њега једна 
              монахиња да је велики аскета и да се брину за њега колико је уздржан. 
              А онда додаде, са философским миром, можда хоће да умре млад…. После 
              Свете Литургије и причешћа, кренула сам са неколико монахиња, Нором 
              и Данијелом у Храм Гроба Господњег. Чула сам да су све избацили 
              из храма те ноћи у 3 ујутро, и отворили га тек после 6. Стигли смо 
              после пола 11. Испред неког другачијег, бочног улаза је стража, 
              не дају никоме да уђе.… Видим Микија, каже ми тешко ћеш ући. Одговорим: 
              Знам. Стадосмо ту, ја се помолим Господу: Знам да нисам заслужила 
              ништа од овога, али ако Ти мислиш да треба да видим и доживим Благодатни 
              Огањ, молим Те, Господе, пусти ме унутра….<br>
        Појави се један од чувара са оним штапом који лупа, монахиње за 
              њим, он се окрену да их отера и каже им да иду, оне за тренутак 
              стадоше, а онда право за њим, ја одмах за њима, и тако уђосмо! Јесте 
              да смо стајали у неком од бочних ходника, али мислим да то уопште 
              није важно.<br>
        Гужва је била страховита. Не може се речима описати. Мислила сам, 
              само да не паднем јер ће ме прегазити. Гласно сам говорила: Господи 
              помилуј! Кренули смо Нора, Денијел и ја. После нас је гужва раздвојила. 
              Нисам имала ни свећа код себе. Остале су код Норе.<br>
        Задржала сам се код неких Гркиња које су се фанатично гурале и неких 
              смирених Руса. У тренутку ми је позлило и мислила сам да ћу пасти 
              у несвест. У даљини угледам флашу воде, неко држи и ја махнем да 
              је пошаљу. Стиже и вода. Господ ме је и напојио. Онда се сетим да 
              немам свеће. Почнем да се осврћем око себе, а ови око мене питају 
              шта је сад, шта сад хоћу. Кажем да хоћу да купим свеће ако неко 
              има вишак. И даде ми једна девојка. Стајала сам поред једне фине 
              младе Рускињице, певале смо тако све што смо знале, Кресту Твојему, 
              Богородице Дјево, па и Кирие Елеисон…... У даљини чујем наше како 
              гласно изговарају Символ вере. Па онда тишина. Почне вика, учини 
              ми се да се нешто дешава, кад оно блицеви севају свуда около. Молили 
              смо се сви, како је ко знао и умео. Никада се нисам тако молила. 
              …Помилуј ме Господе! Али то је био вапај, то је био крик из дубине, 
              из дна душе……. Тада сам видела муње на врху Храма. Мислила сам да 
              опет блицеви севају али тада схватих да не могу тако високо бити 
              блицеви. То су биле муње које су доносиле Благодатни Огањ. Сам Огањ 
              нисам видела како се упалио, до мене је стигао јер су људи палили 
              свеће једни од других, али сам осетила невероватну силу и снагу 
              и јачину која је то пратила.
        <br>
        Господ нас јесте помиловао тада, дајући нам да осетимо и доживимо 
              нешто величанствено, тренутак вечности, који ће увек да ме прати…, 
              који ми помаже да наставим да живим….
    </p>
    <p>&nbsp;</p>
    <p class="style1">Дан 11</p>
    <p class="style1">&nbsp;</p>

    <p>Васкрс</p>
    <p></p>
    <p>&nbsp;</p>
    <table width="90%" border="0">
        <tbody>
            <tr>
                <td rowspan="2">Вратили смо се у манастир, и спремили 
                  за дочек празника Васкрсења Христовог. Решили смо да останемо 
                  у “нашем” манастиру, ту некако и припадамо. Били смо пресрећни 
                  да смо могли да дочекамо Благодатни Огањ. Многи од наших познатих 
                  су ишли на право место Васкрсења, у Храм Гроба Господњег. Понекад 
                  помислим да је можда требало да одем, али после тако интензивног 
                  доживљаја са огњем, нисам више имала снаге. Радост је предивна, 
                  све беле одежде, Христос Воксресе! Пева све око нас… честитамо 
                  једни другима Пасху, и после доручка одосмо на одмор.<br>
                    У подне смо ишли на Васкршњу службу у Храм Гроба Господњег. 
                  Служио је Патријарх јерусалимски. Гужва је опет била неописива, 
                  али мени све то више није било важно.
                    <br>
                    Када сам се вратила у манастир, као да сам се пробудила. Схватила 
                  сам да је време да почнем да се спремам за повратак. То буђење 
                  је било тако јако. Враћање у свакодневицу… Толико различиту 
                  од свих ових осећања.<br>
                    Отишла сам у капелу светог Јована Крститеља. Могла сам на миру 
                  да се молим, нико ме није пожуривао. Место обретења главе Светог 
                  Јована је једно од најснажнијих места које сам видела и тачније 
                  речено осетила јер сам мозаик у поду невероватно мирише.
                    <br>
                    Место Вазнесења Господњег, место обретења главе светог Јована 
                  и Благодатни Огањ су имали посебно дејство на мене, прожели 
                  су ме снагом какву никада до тада нисам осетила.
                    <p>
                        Мати игуманија 
                    ми је рекла да на свакога појава Благодатног Огња делује другачије. 
                    Оно што сам схватила као предуслов је заиста имати чисто срце… 
                    Пружити Господу душу своју као на длану и завапити да нас 
                    помилује…
                    </p>
                    <p></p>
                    <p></p>
                </td>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/Vaskrs.jpg" width="400" height="300"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/vaskrs1.jpg" width="400" height="300"></td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
        <br>
    </p>
    <p></p>
    <p></p>
    <p></p>
    <p>
        <br>
    </p>
    <p>&nbsp;            </p>
    <p>
        <br>
    </p>
    <p>&nbsp;            </p>
    <p class="pnormal">
        <img src="~/Content/images/Svetinje/Hodocasca/end_45.gif" width="238" height="21">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>


</div>

@Html.Action("JerusalimNavigacija", "Svetinje", new { strana = 5 })