@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу 3/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу 3/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу 3/5</h1>
    <br />



            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><img src="~/Content/images/Svetinje/Hodocasca/poz.jpg" width="574" height="247"></p>
            <p class="style1"><br>
              <strong>Дан први</strong></p>
            <table width="712">
              <tbody><tr>
                <td width="176"><img src="~/Content/images/Svetinje/Hodocasca/vziskivanije.jpg" width="176" height="249"></td>
                <td width="524"><div align="justify">
                  <p>Улазим у цркву, претходно се поклонивши икони Мајке Божије која се налази на спољњем зиду цркве, изнад места - камена са кога је Пресвета Богородица гледала Вазнесење Христово. Црква је предивна. Веома су упечатљиве две иконе Пресвете Богородице. Прва је чудотворна, а и друга је прелепа и необична, посвећена свим онима који су изгубљени ("Взискание погибших" или "Searcher of the lost"). Ту је Пресвета Богомати приказана необично лепо. Никада је нисам видела тако приказану. Са леве стране су велике иконе Свете Тројице у металном оквиру и икона Покрова Пресвете Богородице. Десно, на мушкој страни, се налази Распеће, а поред је икона Успенија. Чине се велике метаније испред сваке иконе. Ја, онако трапава и полуукочена, трудим се да не заостанем. Дођох до Распећа и ту стадох. Отац Иларион, са дугом седом брадом изгледа као са старих слика, веома тихо и обазриво ми каже да то није женска страна. Наравно, дозволио ми је да целивам Распеће.</p>
                </div></td>
              </tr>
            </tbody></table>            
            <table width="712">
              <tbody><tr>
                <td width="524"><div align="justify">
                  <p>Ујутру су часови, јутарње богослужење и Света Литургија, који су трајали од 5 до 9. Пуно ми је срце. Затим је следио доручак. У трпезарији упознам врло интересантну жену, продорну и наочиту. Ирина. Бивши украјински конзул у Израелу. Сада се бави другим послом, каже да јој је доста политике. Пита да ли бих хтела да ми она буде водич. Наравно да хоћу! Хвала јој, заправо, Господу хвала да сам могла да се поклоним на светим местима без превелике гужве која је пратила наш највећи празник. 
                    </p><p> Поведе ме прво на место близу манастира које се зове Our Father (Патер Ностер), где је Господ изрекао молитву "Оче Наш", када су га ученици питали како да се моле. На зидовима је исписана молитва на скоро свим језицима.
 </p><p> Стари део града Јерусалима је окружен зидинама. Постоје следеће капије: Лавља или Светог Стефана, Дамаск, Џафа, Зион, Херодова, Данг, Златна и Нова капија.
</p><p>Затим одосмо у Храм Гроба Господњег (Holy Sepulchre). Цар Константин и његова мајка, царица Јелена су овде саградили прву православну цркву. Та прва црква, Храм Гроба Господњег, или Константинова базилика, започета је 326. а завршена 335. године. Централни део базилике је подељен на два дела грандиозним иконостасом (Католико). На Голготи (Калварија) испод олтара, се налази стена са сребрним кругом која означава место где је крст био постављен. На том месту се Господ молио: "Оче мој, опрости им, јер не знају шта раде"...</p>
                </div></td>
                <td width="176"><img src="~/Content/images/Svetinje/Hodocasca/ocenas.jpg" width="250" height="422" border="1"></td>
              </tr>
            </tbody></table>
            <table width="709">
              <tbody><tr>
                <td width="500"><img src="~/Content/images/Svetinje/Hodocasca/mestomiropomazanja.jpg" width="500" height="375" border="2"></td>
                <td width="197"><div align="justify">
                  <p>На самом улазу у Храм Гроба Господњег се налази камена плоча на коју су Господа положили када су га скинули са крста. Његово тело су помазали миром и алојом. Та плоча тако мирише да је то неописиво. Гледала сам како поклоници доносе миро и просипају, а кажу да некада и сама плоча мироточи. Неки доносе флашице и пипетом сакупљају сваку капљицу драгоцене течности. Ја обрисах марамом део плоче. Ходочасници ту доносе и разне предмете да се освете: крстиће, свеће...</p>
                </div></td>
              </tr>
            </tbody></table>       
            <table width="708">
              <tbody><tr>
                <td width="396"><div align="justify">
                  <p>Улаз у Гроб Господњи води у већу капелу, Капелу Архангела. Део Свете Стене означава тачно место где је анђео објавио васкрсење женама мироносицама. Господа Исуса Христа су његови ученици сахранили на том месту и тамо је остао три дана, када је васкрсао.
   </p><p> Биле смо на гробу Господњем. Осећала сам се некако необично и питала се како ћу ја, недостојна, да приђем. Имала сам неки осећај као трему пред испит. Нисам могла да се опустим, сва сам била збуњена и у грчу, прилазила сам са страхопоштовањем и трепетом. Ирина, мој водич, ме је даље повела уз степенице на Голготу, где је приказан Господ распет, и поред њега Пресвета Богородица и Свети Јован Богослов у природној величини. Клекнувши и целивајући то место, нисам тада знала да у отвор може да се стави рука и додирне прави камен са Голготе. Схватила да нисам баш добро припремљена дошла овамо. Била сам руковођена само великом жељом да дођем и поклоним се Господу. 
   </p><p> Ирина је седела непомично, вероватно се молила. Около је неколицина жена клечала. Ја сам само плакала.… </p>
                </div></td>
                <td width="300"><img src="~/Content/images/Svetinje/Hodocasca/Ulaz-u-Grob-Gospodnji.jpg" width="300" height="400" border="2"></td>
              </tr>
            </tbody></table>       
  <p></p>
   <table width="714">
    <tbody><tr>
      <td width="158">&nbsp; </td>
      <td width="544"><img src="~/Content/images/Svetinje/Hodocasca/golgota.jpg" width="500" height="667"></td>
    </tr>
  </tbody></table> 
  <table width="709">
              <tbody><tr>
                <td width="300"><img src="~/Content/images/Svetinje/Hodocasca/manastirMM.jpg" width="400" height="533" border="1"></td>
                <td width="397"><div align="justify">
                  <p>Затим смо отишле у цркву свете Марије Магдалине Руске Заграничне Цркве, која се налази на обронцима Маслинске горе, у Гетсиманском врту. То је велелепан манастир са позлаћеним куполама, које се виде издалека. Подигао га је, заједно са браћом, руски цар Александар ИИИ у знак сећања на своју мајку, царицу Марију Александровну. Велики војвода Сергеј Александрович, брат Александра III, и његова жена, велика војвоткиња Елизабета односно Јелисавета (принцеза Елизабета Хесе-Дармштат), унука краљице Викторије и сестра последње руске царице, била је представник цара на освећењу цркве 1888. године. Велику војвоткињу је посебно привукао овај манастир посвећен светој Марији Магдалини. Мурале из живота свете Марије сликао је познати руски уметник Сергеј Иванов а иконостас је радио Верешагин.
                   </p><p>   Са десне стране иконостаса у посебном дрвеном дуборезу је чудотворна икона Богородице "Одигитрије", донета из Либана. Многа излечења су забележена пред овом иконом. Митрополит Либана је имао неколико снова у коме му је речено да ову икону преда игуманији Марији у Палестини. Игуманију Марију је нашао управо овде, у Гетсиманском врту.</p>
                </div></td>
              </tr>
            </tbody></table>
            <p align="center">Велика војвоткиња Јелисавета се после смрти мужа 1905. године, замонашила и основала скит у Москви. После револуције 1918. године, бачена је у јаму заједно са својом сестром у Христу Варваром и више чланова царске породице, где сви мученички пострадаше. По личној жељи, њени остаци су 1920. године пребачени у Јерусалим и почивају у крипти испод цркве свете Марије Магдалине. Јелисавета и Варвара су канонизоване као свете мученице 1981. године. Тада су њихове мошти пребачене у главни део цркве где се и данас налазе у мермерном кивоту. Црква се налази у Гетсиманском врту, на месту где је Господ провео Своју последњу ноћ на земљи.
 </p><p> Капија манастира свете Марије Магдалине је закључана. Преко пута је јеврејско гробље. Делује помало сабласно. Само камене плоче, без икаквих обележја. Рекло би се да је напуштено, кад угледасмо неке прилике. Сахрана је била у току. Потражили смо сестру Нику, веома пријатну, умиљату и нежну монахињу из које избија топлина. Провела нас је кроз цркву, показала нам чудотворну икону Пресвете Богородице. У врту има пуно пећина у којима су се Господ и његови ученици молили. Једна од њих се користи као капела где сестре читају вечерње молтиве. Показала нам је ту изузетно лепо уређену "пећину" у којој су изванредно урађене иконе, које символизују пут Христа ка Голготи. Ту је био и један руски монах, који крену са нама у обилазак. Било је време ручка, те нас позваше да се придружимо. Посебно укусно спремљен ручак: хомус (леблебија и паста од сусама), разноврсне салате, чорба од поврћа. Живе артичоке за десерт и поморанџа. 
            </p><p>Кренусмо назад пешице у "наш" манастир. Путем нас пита онај руски монах да ли смо чули за грчку цркву у близини која је срушена. Ирина ми је после признала да годинама пролази туда али да није о тој цркви није ништа знала. Споља ограда делује полуразрушено, а и не види се много. Уђосмо заједно са групом Грка који су стигли туристичким аутобусом. <br>
  Разгледали смо малу цркву кад нам рекоше да је икона светог Поликарпа рађена негде у Србији. Била сам јако поносна. 
</p><p>  Црква је посвећена светој Пелагији. У лето 1992. године, када су јерусалимски Патријарх и већина владика били изван граница Израела, јеврејска влада је наредила да се уништи новоизграђена црква. Тврдили су да је Маслинска гора од посебног значаја за јеврејски народ и да се света места не подижу на њој.
  </p><p>Горњи део цркве је потпуно уништен булдожерима а у тренутку када је точак булдожера пробио плафон доње цркве, икона Христа Пантократора, која је до тада лежала на поду, подигла се и стала у вертикални положај. Икона је почела да лебди и прави кругове, све веће и веће и спустила се на рушевине као на потпуно равну површину. Јеврејски војници су одмах прекинули са рушењем… (податак из књиге сестре Марије: The Holy Land, the Miracle of the Fire and the Glory of the Clouds).
</p><p>Црква је је веома лепо уређена, чак и помало китњасто али са предивним иконама Господа и Пресвете Богородице. У њој се налазе мошти светитеља и крст из четвртог века, који је некада припадао светој царици Јелени. <br>
  На једној икони видим нешто чудно. Представљена је монахиња којој војници отсецају главу. Грчки монах који живи ту, архимандрит Јоаким, нам исприча да је ту била лепа црква, чију нам макету и показа, и да су једног дана дошли јеврејски војници, убили игуманију, његову мајку, и булдожерима срушили горњи део цркве. Он је решио да остане ту, по цену живота. Каже да му прете и даље. Наводно, шта ће црква између џамије и јеврејског гробља. Страшна прича. Поклања нам по крстић. Поздрављамо се са њим и враћамо у манастир на вечерње богослужење.</p>
            <p>Пресрећна што сам ту, заблагодарих Господу.… <br>
            </p>
            <p><br>
            </p>
            <p>&nbsp;            </p>
            <p align="center" class="pnormal"><img src="~/Content/images/Svetinje/Hodocasca/end_45.gif" width="238" height="21"> 
            </p><p>&nbsp;</p>
<p>&nbsp;</p>

    </div>

@Html.Action("JerusalimNavigacija", "Svetinje", new { strana = 3 })