@{
    ViewBag.Title = "Поклоничко путовање у Свету Земљу 2/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Поклоничко путовање у Свету Земљу 2/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Поклоничко путовање у Свету Земљу 2/5</h1>
    <br />




    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        <img src="~/Content/images/Svetinje/Hodocasca/poz.jpg" width="574" height="247"></p>
    <p class="style1">
        <br>
        <strong>Долазак у Свету Земљу</strong><br>
    </p>
    <table width="706">
        <tbody>
            <tr>
                <td width="338">
                    <img src="~/Content/images/Svetinje/Hodocasca/098%5B1%5D.-Vaznesenjski-manast.jpg" width="338" height="451" align="top"></td>
                <td width="356">
                    <p>
                        Вече. Возим се таксијем до манастира Вазнесења Господњег Руске Православне Заграничне Цркве на Маслинској Гори. Таксиста не зна тачно како да дође до њега јер је у срцу арапске четврти. Манастир је опасан високим зидом и има огромну гвоздену капију која је стално закључана. Стигосмо некако и позвонивши неколико пута улазим унутра. Велика капија се затвори за мном. Касније сам од једне монахиње сазнала да се вратар манастира зове Мустафа и да је слеп. Међутим, као и сви слепи људи има истанчан слух... 
                    </p>
                    <p>
                        У полумраку ме је дочекала једна монахиња, дала ми је кључ од собе и позвала да вечерам. Како ми је само пријала посна манастирска чорба од поврћа! Као најфинији специјалитет који се само замислити може! После одох у собу.… Соба лепа и чиста, на зиду иконе, делује умирујуће. Од силног узбуђења што сам коначно ту нисам могла да спавам. Осећала сам како ми жмарци струје кроз цело тело, као да на мене делује нека невидљива сила. Размишљам и благодарим Господу што сам стигла на ово свето место, што је тако милостив према мени.<br>
                    </p>
                    <p></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Таман почех да тонем у сан, када одједном зачух неки крик, неко урлање. Скочим из кревета, погледам на сат - пола 4 ујутро. Иако никад нисам била ни близу џамије, схватим да је то хоџа, који преко разгласа виче са минарета. Првих неколико ноћи сам скакала сваки пут када би кренуо са својом службом, а касније сам се навикла.… 
    </p>
    <p>Света Литургија почиње у 5 часова. Са трепетом у срцу се упутим у цркву, није се још сасвим било разданило. Пут води кроз маслињак, а са стране су пси, додуше везани али лају на нове и непознате ходочаснике.</p>
    <table width="705">
        <tbody>
            <tr>
                <td width="517">
                    <p>
                        Манастир Вазнесења Господњег су основали архимандрит Антонин и игуман Партеније. Вазнесењска црква је подигнута 1870. године, као и црквени Руски торањ висок 64 метра, који и данас представља највишу грађевину у Јерусалиму. Већ 1907. године сестринство је бројало око 100 монахиња. Бавиле су се израдом икона и везом, што и данас чине. Трагично је што је 1909. године отац Партеније нађен мртав, избоден ножем у својој келији. Починилац није никада откривен.
                        <br>
                        Митрополит Антоније је 1924. године код јерусалимског Патријарха издејствовао да се ово здање на Маслинској гори призна као скит. Елеон - Маслинска гора, често се наводи као Вазнесењски манастир, јер се налази крај места са кога се Господ вазнео а и сам манастир јесте посвећен Вазнесењу Господњем. Главна црква је у византијском стилу. Има заиста много предивних икона и мошти светитеља. Чувена је чудотворна икона Пресвете Богородице Брзопомоћнице ("Скоропослушница" или "She who is Quick to Hear"). Сам манастир је на површини од 54 000 квадратних метара и окружен је зидом дугачким километар и по. Има преко 5000 маслинових дрвета. Данас броји 46 сестара и то Рускиња, Арапкиња, Румунки, Естонки, Аустралијанки и Немица. Игуманија је мати Мојсеја, изузетно благочестива и топла особа. Видећи огромно сестринство, помислила сам, није јој лако. Испричала ми је да је 1925. године био јак земљотрес и да се црквени торањ опасно љуљао. Направили су вход око торња носећи копију хиландарске иконе Богородице Тројеручице и љуљање је престало. Од тада, они сваког дана чине вход око цркве носећи икону Пресвете Богородице Тројеручице.
                    </p>
                    <p>Ту се налази и Капела светог Јована Крститеља на месту обретања његове чесне главе. У мозаику на поду је удубљење које представља право место обретања. Прво и друго обретање слави се 24. фебруара (9. марта) када се чита Псалтир у знак сећања на преминуле добротворе.</p>
                </td>
                <td width="176">
                    <img src="~/Content/images/Svetinje/Hodocasca/Ruski-toranj.jpg" alt="" width="176" height="235">
                    <table width="200">
                        <tbody>
                            <tr>
                                <td>&nbsp; </td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="~/Content/images/Svetinje/Hodocasca/Kapela-Sv.jpg" width="176" height="235">
                    <table width="200">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <br>
    </p>
    <p></p>
    <p>&nbsp;            </p>
    <p class="pnormal">
        <img src="~/Content/images/Svetinje/Hodocasca/end_45.gif" width="238" height="21">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

@Html.Action("JerusalimNavigacija", "Svetinje", new { strana = 2 })