@{
    ViewBag.Title = "ПУТОПИС СА КОСОВА 5/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОПИС СА КОСОВА 5/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>ПУТОПИС СА КОСОВА 5/5</h1>
    <br />



<p><img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>Наставак бр.5</strong></p>
            <p>&nbsp;</p>        
            <table width="921" border="0">
              <tbody><tr>
                <td width="325"><img src="~/Content/images/Svetinje/Hodocasca/Devic_crkva.jpg" width="320" height="427"></td>
                <td width="586"><p>Док смо целивали мошти св. Јоаникија, као  и раније , наше поклоњење пратила је једна старија монахиња. Претходног пута,  на дан св. Јоаникија, слушао сам њену беседу о страдању манастира. Делимично  сам чуо и причу о једном другом кивоту који се налази у самој цркви. Овога пута  сам искористио прилику и питао је о томе. Рекла ми је да у манастиру нико  никада није ништа прецизније знао у вези кивота, мада су ипак постојале разне  приче у вези њега.</p>
                <p>У мартовском погрому пре две године  шиптари су били оштетили овај дрвени гроб. Испоставило се да материјал од кога  је камени кивот био направљен није био баш чврст. Кивот је оштећен у своме  доњем делу. После свега што се десило коначно је утврђено да су се у гробу  налазиле мошти. Према једном народном предању у кивоту су мошти Блажене Стојне,  која се подвизавала у манастиру св. Јоаникина, али то није тачно јер се њен  гроб налази близу Петрове цркве у Старом Расу. Друга прича јесте да су ту  смештене мошти св. Великомученице Недеље. Оно што је интересантно за ову свету великомученицу  јесте да се она доста слави у Крајини и у Бококоторском заливу – ако сам добро  запамтио. Монахиња је своју беседу завршила да су ту ипак различите мошти,  значи од више особа, али да они ни сами не знају од кога су. Сам Бог зна своје  угоднике, а ова прича није јединствена јер на многим местима у нашој земљи  народ тражи, и добија помоћ код гробова где имена не постоје. Тако нешто сам  видео и у Пећкој патријаршији где ми је монахиња показала гроб патријарха  Макарија Соколовића који се налази у припрати цркве и који је у ствари једна  велика камена плоча у низу осталих које сачињавају под. Једино по чему би се  могло препознати да је то гроб српског патријарха који је обнови Пећку  патријаршију је фреска на зиду која га изображава а која се ту управо и налази.  Мислим да сам о овоме раније и писао па да се не понављам. Полако смо напустили  м. Девич и уз пратњу КПС стигли до К. Митровице. Прешли смо мост који спаја  северни-српски и јужни-шиптарски део града. Приметно је да ту постоји  "ничија земља" и да су поједине куће руиниране-зграде, али оно што је  евидентно то је да војска више није присутна ту и да је КПС – косовска полиција  сада сама на мосту.</p></td>
              </tr>
            </tbody></table>            <p><br>
Већ добро познатим путем упутили смо се ка  адм. граници ка ужој Србији.<br>
Током мог недавног боравка на југу Србије  чуо сам за једну причу, највероватније тачну. После II светског рата у  планинским крајевима око Власинског језера и Црне Траве била је покренута тзв  колонизација напуштених имања у Војводини. Велики број људи се био иселио из  ових крајева и настанио у Војводини. Има неких који се и данас враћају у свој  родни крај. Међутим, у тој сеоби изгледа да је неко успео да схвати прави  смисао то пресељења. Главни разлог за то је било насељавање шиптарима у том  крају. Незадовољни људи су одмах отишли и тражили састанак са "истакнутим  револуционаром тог краја" Милентијем Поповићем које је по свој прилици  окончао ово планско пресељење.<br>
Како било, "добровољни" или  принудно, сеоба Срба се наставља.</p>
            <p>&nbsp;</p>
            <p>Помилуј Боже и опрости грехе наше и врати  нас Кући.</p>
            <p>&nbsp;</p>
            <p>К Р А Ј</p>
            <p>&nbsp;</p>
            <p>Драган</p>
            <p>&nbsp;</p>
            <p>Спас сваком пропаст ником</p>
           

    </div>

@Html.Action("KosovoNavigacija", "Svetinje", new { strana = 5 })
