@{
    ViewBag.Title = "Косово фотографије";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Косово фотографије</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Косово фотографије</h1>
    <br />



<p><img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <table border="0">
              <tbody><tr>
                <td >&nbsp;</td>
                <td ><img src="~/Content/images/Svetinje/Hodocasca/9.jpg" width="500" height="333"></td>
                <td ><img src="~/Content/images/Svetinje/Hodocasca/3.jpg" width="500" height="333"></td>
                <td >&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/2.jpg" width="333" height="500"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/4.jpg" width="333" height="500"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/5.jpg" width="500" height="333"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/6.jpg" width="500" height="333"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/7.jpg" width="500" height="333"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/11.jpg" width="333" height="500"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/16.jpg" width="500" height="333"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Stepeniste-kule.jpg" width="500" height="333"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/21.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/19.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/26.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/27.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/28.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/29.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Devic.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Devic_crkva.jpg" width="320" height="427"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/GazimestanDanas.jpg" width="375" height="500"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/GazimestanObezbedjenje_oko_.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/KivotsvJoanikija.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/KIVOTUDECANIMA.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/MONASIIZDECANAUGRACANICI.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Otac-Nikolaj---iguman-man.jpg" width="500" height="333"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/24.jpg" width="500" height="375"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/TrpezarijaGracanica.jpg" width="500" height="375"></td>
                <td>&nbsp;</td>
              </tr>
            </tbody></table>            
            
            <table border="0">
              <tbody><tr>
                <td><img src="~/Content/images/Svetinje/Hodocasca/13.jpg" width="1000" height="667"></td>
              </tr>
            </tbody></table>            <p>&nbsp;            </p>

    </div>
