@{
    ViewBag.Title = "ПУТОПИС СА КОСОВА 1/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОПИС СА КОСОВА 1/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>ПУТОПИС СА КОСОВА 1/5</h1>
    <br />



    <p>
        <img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Косово</strong></p>
    <p>&nbsp;</p>
    <p>
        Кренули смо негде око 23 часа из Београда испред цркве св. Александра
              Невског. Друга група је кренула око 22 часа. До административне
              границе треба неких 3,5 сата. Овај пут смо ушли преко Мердара где
              су се 
Шиптари потрудили својски да тај прелаз све више  личи на прави 
гранични прелаз. Поред монтажних зграда ту су и вреће са песком и зидана 
препрека, вероватно КФОРА, али њих нисам видео ту осим нешто мало припадника
КПС - косовске полиције која нас је чекала, као пратња. Од пре извесног времена
возила која долазе на Косово више не добијају УНМИК-ову пратњу, већ ту функцију
обавља КПС - албанска полиција, али ни та пратња није сигурна, јер уколико сматрају
да не постоји "разлог" за то они могу и да одбију да 
дају пратњу као што се десило са групом која је кренула пре нас.
    </p>
    <p>
        Прошле године, када сам писао о овом правцу доласка на Косово
              споменуо сам да је овај део Косова изузетно насељен, ту је одмах
              и град Подујево, а то опет није случајно, јер основни циљ свега
              је продор преко административне 
  границе ка јужој Србији. Овај процес не траје само ових последњих 7 година,
              већ десетине година уназад. Објекти који се граде су посебна прича.
              Ја сам о 
  овоме и раније писао. То су куће са по неколико спратова у низу. По речима
               свештеника који је био с нама на путу, а који је пореклом из тих
              крајева, 
  нема места у Европи у коме се толико зида и гради. Извор средстава за то је
              добро познат. Целокупна држава у свим сегментима је криминализована.
              Постоје 
  и појединачна сведочења добронамерних појединаца из УНМИК-а o размерама 
  свега тога и њиховом запрепашћењу. На једном брежуљку изнад Подујева 
  налази се црква св. Андреја Првозваног која је више пута нападана, а 
  сведочисмо и овог месеца, према извештајима, да је извршен напад. Из даљине
              може се видети црвена цигла која представља зазидани део олтара
              који је био 
  дигнут у ваздух. То је црква која је снимана приликом ломљења крста на 
  куполама храма током мартовског погрома 2004. Звоно са храма се сада налази
  у 
  манастирској порти манастира Грачаница, а узето је по наређењу владике 
  Артемија од Шиптара који га је скинуо. На самом звону пише да је то поклон,
              како сам чуо од Грка 1934. године цркви св. Андреја Првозваног
              у Подујеву. С обзиром да смо рано изјутро стигли, "одбора за дочек" поред
              пута није било,
  иначе то је уобичајена прича, чим виде Србе у аутобусу са пратњом, дочекају
  их или различитим вулгарностима или ситним каменицама, а понекад и крупним.
    </p>
    <table width="909" border="0">
        <tbody>
            <tr>
                <td width="500">
                    <img src="~/Content/images/Svetinje/Hodocasca/Gracanica01.jpg" width="500" height="333"></td>
                <td width="399">
                    <p>
                        У Грачаницу смо стигли неких 2 сата пре службе
                    која је почела у 8 часова испред цркве. Целивали смо иконе
                    и кивот са моштима св.Стефана Новог, св.Георгија и св.Владике
                    Николаја (можда постоји још делова моштију у кивоту других
                    светитеља, али за ове сам сигуран - од прошлог пута). Као
                    и пре приликом целивања кивота осећа се благоуханије. Св.Литургију
                    су служили Патријарх Павле, Владика Теодосије и Владика Артемије,
                    уз пратњу монаха из Дечана, уз саслуживање нашег свештенства.
                    Ту је био један ђакон из Пољске, за кога сам ја прво мислио
                    да је Рус. Касније сам схватио да постоји једна мања група
                    Пољака која је дошла колима на празник. Један од њих је студирао
                    у Србији. По речима ђакона, чије име нажалост нисам сазнао,
                    у Пољској живи око 500.000 православних Пољака, док има око
                    4000.000 Пољака укупно. Никаквих сукоба нема међу њима, између
                    католика и православних. Приметио сам током службе и једног,
                    чини ми се, руског свештеника и једног монаха који су стајали
                на различитим странама манастирске порте.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        Шведски војници који су стационирани у Грачаници под пуном ратном
              опремом - без шлемова обезбеђивали су скуп. Ту је било нешто и
              Шпанаца, али главницу обезбеђења су пружали Италијани. Патријарх
              је и поред велике врућине сасвим мирно служио са осталим владикама.
              По причешћу верника вл.Артемије је узео микрофон и упозорио да
              се прекине са причом јер служба још траје. Одмах по 
  завршетку службе народ са свештенством се упутио ка трпезарији манастира где
              смо били веома лепо послужени. Пре него што сам ушао у трпезарију,
              био сам 
  сведок једног мањег неспоразума између једне жене (наше са Новог Зеланда) и
              групе жена са децом која су била спремила рецитал и представу посвећену
              Косовском боју, а која су дошла из Београда. У пролазу сам приметио
              да су 
  биле већ пале неке мало теже речи, а пред самим вратима конака настало је 
  мало гурање и расправа пред војницима (Швеђани, а овај пут били су ту и 
  Италијани) о томе да ли може да се шутира лопта у манастирској порти коју 
  је дотична госпођа са Новог Зеланда чврсто држала у рукама не дозвољавајући
              деци и женама - мајкама да лопту узму од ње. Војници који су покушали
              да 
  реше ситуацију нису у првом тренутку схватили какво је то отимање око 
  лопте, тек после неколико тренутака убеђивања ствар се решила - деца су 
  узела, отела лопту, а војницима је лакнуло кад смо ми Срби успели да се 
  договоримо. Можда ово запажање није ни толико битно, али ево и овде имамо 
  ситуацију да нас странци не разумеју када се око глупости свађамо. У трпезарији
  сам упознао нашег човека, Србина из Чикага - полицајца америчке 
  УНМИК полиције који је већ неколико година ту на Косову и који сматра да постоји
  одређени сценарио за све ово и да је следећа на реду Македонија. На моју 
  констатацију да контролисани сукоб може да се претвори у неконтролисани, он
              се сложио с тиме и споменуо је Ирак. Ту су били и неки Швеђани
              обучени у"традиционалну" неутралну белу боју са ИД картицама
              и заставицама Европске уније. Ако се сећате, иста "модна линија" из
              сукоба по западним српским земљама. Већ сам био заборавио на тај "модни
              тренд".
              Од наших политичара било је&nbsp;&nbsp;познатих особа - како са
              Косова тако и из Београда - али&nbsp;&nbsp;они
              нису тада били у тој већој трпезарији, можда у доњој. Приликом
              послужења у 
  трпезарији приметио сам да патријарх&nbsp;&nbsp;упркос дугом стајању и борављењу
  на
        <br>
        сунцу доста свеже изгледа и, ако могу да кажем, има доста добар апетит 
  ( а сад да не испадне да ја људима гледам у тањир). Одатле смо после послужења
  кренули ка Газиместану који је неких 20 мин. удаљен од Грачанице. Морам још
  нешто да нагласим. Српска села се лако препознају на 
  Косову. Ако нису уништена и спаљена, онда су сигурно по квалитету кућа 
  доста испод шиптарског " new deal -а " .
    </p>
    <p>
        У Приштини тренутно живи око 600.000 људи. Пре рата живело је
              око 300.000 људи. Као што је познато, један део тих људи је дошао
              из Албаније. Попис 
  становништва Косова никад није спроведен на прави начин. Док су Шиптари 
  владали Косовом 70-их година тај посао су радили у свом интересу, оног 
  тренутка када је покушано ( а питање и какав је тај покушај био ) да се 
  успостави правна држава на тој територији&nbsp;&nbsp;они су одбили било какву
  партиципацију и сарадњу са том влашћу. Интерес Запада је увек био на супротној
  страни, на албанској, не само сада. Поставља се питање какво се то зло 
  десило у нашем српском народу ( мада су и ови тзв. нови суседи, а и већина
   Албанаца нашег корена ) да се елементарне ствари које су битне за опстанак
        <br>
        свега што носи српско потпуно уклоне из нашег ума и наметну неки други"циљеви".
  Ко се моли Богу, зна и препознаје то зло.
    </p>
    <p>Као извор за написано коришћене речи о. РП из Невског. </p>
</div>

@Html.Action("KosovoNavigacija", "Svetinje", new { strana = 1 })