@{
    ViewBag.Title = "ПУТОПИС СА КОСОВА 2/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОПИС СА КОСОВА 2/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>ПУТОПИС СА КОСОВА 2/5</h1>
    <br />




    <p>
        <img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp; </p>
    <p><strong>Наставак бр. 2 </strong></p>
    <p>
        <br>
    </p>
    <table width="907" border="0">
        <tbody>
            <tr>
                <td width="564">
                    <p align="justify"></p>
                    <div align="justify">
                        <p></p>
                        По изласку из Грачанице пратила су нас два џипа КПС. Евидентно
                    је било присуство војске на сваком важнијем месту од адм.
                    границе па до Грачанице и Газиместана. Сам Газиместан обезбеђује
                    чешки КФОР. За разлику од других војски они нису баш тако
                    скупоцено опремљени, мада и поред велике врућине цео потез
                    око спомен-обележја Газиместан био је прекривен војницима
                    у пуној ратној опреми. Цео простор је ограђен на неких 200
                    метара у пречнику од самог споменика - куле (негде више,
                    негде мање). Парастос је био заказан у 11 часова, а почео
                    је у 11:30 по некој мојој слободној процени. Прво се појавио
                    Вл.Теодосије, а затим Вл.Аретмије и Патријарх Павле. На врућини
                    од које се лако падало у несвест српски патријарх се полако,
                    уз велико и "китњасто" ( не знам шта све нису имали
                    на себи од опреме) обезбеђење италијанских спец. Карабињера,
                    приближио месту близу споменика где је требало да се служи
                    парастос. Окружени спољним прстеном са полицајцима уз присуство
                    наших политичара служба је почела. Оно што је интересантно
                    јесте да се целокупна служба изговорала на српском, и молитва,
                    и одговарање. Тек пред крај било је мало на црквенословенском.
                    Био је присутан један нама познати руски политичар - чије
                    ја име не знам. Доста је јак ветар дувао и свеће које смо
                    добили нисмо могли да заштитимо до краја од пламена. С обзиром
                    да сам имао фотоапарат почео сам да се гурам са фоторепортерима-професионалцима
                    да бих успео нешто да сликам. У свој тој гужви на крају придржавао
                    сам једном сниматељу Ројтерса, испоставило се, Шиптару мердевине,
                    са којих је са мање висине снимао целу службу. Његов помоћник
                    је био заокупљен силним кабловима и микрофонима тако да сам
                    му ја једном руком држао мердевине да не падне. После службе
                    питао ме је за кога радим, мислио је за коју новинску агенцију
                    радим, уз коментар да је исте панталоне које сам ја имао
                    на себи купио у Београду у Army shopu ?!! Кад сам одговорио
                    да се ја другим послом бавим и да сам био на служби у Грачаници
                    , полако се удаљио.
      <p></p>
                    </div>
                </td>
                <td width="333">
                    <img src="~/Content/images/Svetinje/Hodocasca/Gazimestan01.jpg" width="333" height="500"></td>
            </tr>
        </tbody>
    </table>
    <p align="justify"></p>
    <table width="912" border="0">
        <tbody>
            <tr>
                <td width="500">
                    <img src="~/Content/images/Svetinje/Hodocasca/Gazimestan02.jpg" width="500" height="333"></td>
                <td width="402">
                    <div align="justify">
                        Питао сам га претходно да
                    ли можда зна да ли су му ту колеге из Deutche welle -а на
                    албанском, није умео да ми одговори. Тој екипи сам прошле
                    године дао интервју, а потом са њима разговарао неких 20
                    мин. О томе сам раније писао, да се не понављам. Патријарх
                    је после парастоса одржао малу беседу, проповед, али, на
                    жалост, није се могло добро чути јер микрофон није био како
                    треба. Оно што сам запамтио је било ..." да имамо са чим да изађемо пред претке..." .
                    Приметио сам како руска телевизија - врло интересантно је
                    да је новинарка имала покривену главу и дугачку хаљину -
                    узима изјаву од једног нашег српског политичара са Косова.
                    Са једним братом из групе кренуо сам уз степенице које су
                    унутар куле ка врху. Пред почетак службе Срби су сам врх
                    омотали српском заставом, а једа н момак је све време махао
                    њоме. Степениш те је током рата и после њега било минирано.
                    Сада је поправљено тако да се може попети до самог врха.
                    Уз степениште и даље се налазе плоче са стиховима из народне
                    песме посвећене Косовском боју. На врху куле налазило се
                    око десетак људи. Једни су силазили , други су се пели. Све
                    време је ту био присутан чешки војник - мада му је аутомат
                био без оквира са муницијом.
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="justify">
        У даљини се могла видети термоелектрана
              Косово А, која доста загађује средину јер непрекидно испушта дим
              због кога доста људи болује од астме. Према неким инф ормацијама,
              постоји план да се овај објекат затвори, а да се формира Косово
              Ц. Свуда докле поглед допире пружа се равно Косовско поље. Према
              неким тврђењима, ту где се споменик налази био је најжешћи сукоб
              између Срба и Турака. На ободу - огради од камена налази се изливена
              мапа од гвожђа са распоредом српске и турске војске пред почетак
              боја. Наравно, кад се човек нађе на таквом месту, пожели и
              да се слика. Ту сам одмах приметио једног "четвртастог" снажног
              момка са наочарима за сунце, а кад сам се приближио и већ га упитао
              да ли може да нас слика, приметио сам и слушалицу у уху. Мислио
              сам да је то Чех у обезбеђењу у цивилу, кад оно испаде брат Шиптар
              који је чувао опет неког њиховог. Ја га питам да нас слика, а он
              гледа у шефа и у првом тренутку одбија, али на моју поновну молбу
              уз осмех он опет гледа у шефа , а овај му даје дозволу. Кад нас
              је усликао , мене и мог пријатеља, ја му пруж ам руку да му захвалим
              и питам како се зове. Вероватно по мало збуњен због тога што настављам
              комуникацију, он изговора своје име, али ја нисам успео да га
              запамтим. Питам га одакле је , али тада на сцену ступа његов шеф
              који је више спреман за разговор, каже да је он са Брезовице, а
              да је "сигурими" из
              Приштине. Ту се полако опраштамо једни од других, а овај ВП господин
              Албанац ме пита: «Да ли је мирно овде?», какав је мој утисак о
              свему томе. Тек касније сам схватио да је питање било у оквиру
              остваривања "стандарда". Не знам шта сам одговорио, више
              сам гледао овог са слушалицом и размишљао где ли је тај био током
              рата и шта је радио, а на крају морао је да слика Србе на Газиместану.
              По силаску са куле још смо се мало задржали испред. У том тренутку
              неко ми се обратио са поздравом и ја сам у тој гужви распознао
              екипу Deutche welle -а од прошле године. Били су ту опет иста жена
              и човек с којима сам причао. Било ми је драго, иако смо имали супротна
              мишљења - о свему шта се догодило ту на Косову, а поготово о историји
              која је према ономе што сам ја чуо од њих права албанска SF прича
              новијег датума. Жена је рекла да се добро сећа тог разговора од
              прошле године, јер су ваљда први пут чули ко је била ћерка Скендербегова
              и где се гроб његовог оца налази (м. Хиландар). На крају сам схватио
              да они нису албанска редакција поменуте немачке инф.куће већ српска?!
              Тако је то овде у земљи Србији. На крају смо се укрцали у аутобус
            и кренули ка манастиру Девич преко Вучитрна.
    </p>
    <p>&nbsp;</p>

</div>

@Html.Action("KosovoNavigacija", "Svetinje", new { strana = 2 })
