@{
    ViewBag.Title = "ПУТОПИС СА КОСОВА 4/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОПИС СА КОСОВА 4/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>ПУТОПИС СА КОСОВА 4/5</h1>
    <br />


<p><img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200"></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>Наставак бр.4</strong></p>
            <p>&nbsp;</p>        
            <table width="921" border="0">
              <tbody><tr>
                <td width="500"><img src="~/Content/images/Svetinje/Hodocasca/Devic1.jpg" width="500" height="375"></td>
                <td width="411">И овај пут као и раније, улазак у манастир Девич
                  подразумева дуже чекање испред рампе француског КФОР-а. Провере
                  се врше, овај пут ушао је и војник и пребројао људе који су
                  били у аутобусу. Треба напоменути да улазак на Косово подразумева
                  списак путника из аутобуса, као и број личне карте или пасоша.
                  Процедура за оне који немају српски пасош или личну карту је
                  другачија. Мислим да је и даље потребна једна врста визе коју
                  УНМИК тражи. Такође, улажење и излажење из аутобуса, мењање
                  аутобуса није препоручљиво због могуће контроле. Све у свему,
                  када саберете, ради се о никад до сада виђеној демократији.
                  Вероватно је то само увод за оно што можда у даљој или ближој
                  будућности следи, не само овде на Косову и Балкану. Температура
                  је изузетно висока, али то као да нико не примећује. Пратња
                  од два КПС џипа остаје на контролном пункту фрацуског КФОР
                  -а, док се наша група полако удаљава и креће ка манастиру.
                  Појављује се манастирска капија. Можда су сада преко лета све
                  те ране&nbsp;&nbsp;које м. Девич носи мало скривеније вегетацијом
                  која је покрила мањи део рушевина, нарочито испред манастира,
                  али разарања су присутн а и даље видљива. Зими је то много
                  јасније. Два пса близу цркве, лежећи у дубокој хладовини ,
                  прате наш долазак, и са већ&nbsp;&nbsp;приметним страхом један
                  се удаљава. Цела група стоји и чека о. РП да дође са игуманијом
                  Анастасијом. Један од браће из аутобуса носи Часни Крст из
                Јерусалима, који је прошао путем страдања Господа. </td>
              </tr>
            </tbody></table>            <p>Старија жена са непокретним сином, момак око
              20 година, буквално је на рукама изнела сина из аутобуса и ставила
              у колица , а затим га довезла до манастира, без ичије помоћи. Улазимо
              у цркву уз песме Богородице Дјево, Достојно јест, тропар св. Јоаникију.
              Да поновим оно што сам раније споменуо. Св.Јоаникије је велики
              чудотворац. Велика се чуда дешавају на његовом гробу. То можемо
              да прочитамо&nbsp;&nbsp;у
              његовом житију. Оно што је св. Василије Острошки у Црној Гори,
              то је св. Јоаникије на Косову.Пре две године , када је манастир
              разорен, око 2000-3000 Шиптара трчало је од Србице ка м. Девич.
              Французи су били приморани да цео манастир евакуишу, али десило
              се да су једну монахињу заборавили. Она је успела да преживи то
              дивљачко разарање. Манастир је поред цркве имао већи број објеката
              који су сада већином разорени. Нови конак је направљен после мартовског
              погрома , скоро у исто време када и нови конак у ман. св. Архангела
              крај Призрена. Док је јесенас нова трпезарија била сасвим у реду,
              сада је приметно да се после зиме појавила влага у зидовима и да
              ће бити ту доста&nbsp;проблема. Нема је само на зидовима , од силне
              влаге већ је и под мокар и клизав, а&nbsp;&nbsp;део омалтерисаног
              плафона је пао. Мало ми је било тешко да питам због чега се то
              десило и где је наступио пропуст, јер се ради о сасвим новом објекту.
              Можда је жеља да се сестринство што пре усели у нови конак утицала
            на то да дође до ових проблема. </p>
            <table width="923" border="0">
              <tbody><tr>
                <td width="184"><p>У цркви која је посвећена Пресветој Богородици са леве
                    стране од олтара налази се мала просторија од неких пет квадрата
                    где се налази мермерни кивот св. Јоаникија или с в. Јоаниција,
                    како га Албанци зову. У реду, један по један смо улазили
                    и целивали мермерни кивот. Од паљевине зидови су потпуно
                    потамнели. Тек сада, четврти пут, успео сам да уочим на самом
                    улазу изнад део фрески које су потамнеле. У просторији где
                    је кивот су се још и најбоље, у фрагментима сачувале. </p>
                  <p></p>
                <p></p></td>
                <td width="729"><img src="~/Content/images/Svetinje/Hodocasca/KivotsvJoanikija.jpg" width="500" height="375"></td>
              </tr>
            </tbody></table>



    </div>

@Html.Action("KosovoNavigacija", "Svetinje", new { strana = 4 })
