@{
    ViewBag.Title = "ПУТОПИС СА КОСОВА 3/5";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОПИС СА КОСОВА 3/5</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>ПУТОПИС СА КОСОВА 3/5</h1>
    <br />




    <td width="80%">
        <p>
            <img src="~/Content/images/Svetinje/Hodocasca/22.jpg" width="547" height="200"></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><strong>Наставак бр.3 </strong></p>
        <p>&nbsp;</p>
        На путу ка Вучитрну може се приметити велики
                  број села. Према називима села, а не само ту, може се лако
                  закључити да су то била, а нека су и даље српска. Милошево,
                  Лазарево (где нема сада Срба), Бабин Мост, Племетина, Прилужије,
                  Самодрежа. На жалост, постоје и она села где се српске куће
                  могу избројати на прсте једне руке. Наводно, то су само старачка
                  домаћинства. Ко њих обилази и како они живе, то нисам сазнао,
                  али сам Бог зна како је тим људима. Сигурно да и међу Албанцима
                  има оних који желе да помогну и сада, то се може увек чути,
                  али тежина таквог окружења где је однос 1:? у корист Шиптара,
                  само драги Бог зна. На путу ка Вучитрну налази се и село Самодрежа,
                  место где се причестила пред битку српска војска. У том селу
                  се и десило трагично убиство младог Србина пред очима његове
                  мајке. Пре синовљевог убиства, Шиптари су му убили оца. Сада
                  ту Срба нема, а мајка овог мученика и данас је жива. Према
                  речима о. РП она данас долази на службе у цркву св. Александра
                  Невског. Друго село близу Вучитрна је село Бабин Мост, некад
                  се звало Бабин Нос, а по предању по баби којој је одсечен нос
                  јер је Турцима открила положај српске војске. Ту се налази
                  црква, јер у селу има још Срба, ваљда половина. Такође предање
                  каже да се ту у близини Бабиног Моста десила и кнежева вечера
                  где је Милош Обилић био оклеветан да ће издати српску војску
                  у сутрашњем боју. Са брда около Бабиног Моста може се видети
                  целокупни простор на коме се одиграла Косовска битка.У близини
                  села налази се кућа једног покојног косовског - српског - политичара
                  која и данас стоји, али која је комплетно руинирана. На самом
                  путу који пролази поред села УНМИК је сазидао зид који на први
                  поглед ничему не служи. Мене је подсетио на зидове који чувају
                  од буке на Западу насељена места поред ауто пута. Испоставило
                  се да се ради о заштитном зиду који спречава пуцање из ватреног
    оружја са пута на српске куће поред пута?!
            <p>
                У граду Вучитрну нема Срба, али
     општина Прилужије - село - припада Вучитрну, тако да се онда сматра да у
              Вучитрну "има" ипак Срба. У околини Газиместана налазе
              се два турбета. Прво, 
    ближе споменику, по предању припада турским војницима који су ту изгинули,
     док друго у селу Милошеву , где више нема Срба, припада султану Мурату,
    а 
    по турској легенди испод једне његове ноге налази се Милошева, а испод друге
    Лазарева глава - што није тачно, јер се глава св.Цара Лазара налази са телом
    у манастиру Раваници. Од Вучитрна до Девича треба неких сат вожње, с тим
    што се улази у један од најопаснијих крајева Косова и Метохије - а то је
                Дреница. У близини града Србица , а кога су Шиптари назвали сада
                Скендерај, налази се село Прекази где се десио окрш ај шиптарског
                вође терориста Адема Јашарија и наше полиције, у којој је он
                био ликвидиран. Сукоби су ту трајали од давнина. После другог
              светског рата одлуком кумунистичког вођства, чему је велики допринос
                дао и Милован Ђилас, избеглим Србима је било забрањено да се
                врате на своја огњишта (та одлука и данас важи!), тако да од
                1945. године у овом делу Косова више нема Срба, скоро у пречнику
                од 30 км, изузимајући манастир Девич који се налази у комплетном
                окружењу. У близини Србице изграђен је спомен - комплекс Адему
                Јашарију који, наравно, нисмо посетили, али ту су поред пута
                други споменици и спомен комплекси "НОР УЧК". У пратњи
                два возила КПС упутили смо се ка селу Лауши где су се такође
                 водиле тешке борбе са шиптараским терористима и већина кућа
                је ту била
    оштећена. Ту се налази село Лудаје које по предању носи назив по ономе што
                 је снашло становнике тог села - Шиптаре - који су вековима насртали
                на 
    манастир Девич. Током времена становници овог села су почели да се рађају
                ментално оболели, али не само они, већ и њихова стока. Скоро
                сва села у том крају су променила називе, осим овога. У близини
                манастира већ дуже време Шиптари врше одређене радове о којима
                нико ништа не зна. Прошли пут
    кад смо били та површина није била ограђена, али овај пут смо приметили да
                 је то урађено. Оно што је забрињавајуће јесте да ј е и поред
                свега што се ту
    дешава ово градилиште смештено поред јединога моста који прелази преко 
    речице која води до манастира. Куће које се налазе у близини манастира -
                 шиптарске - налазе се на манастирском земљишту. Током рата оне
                су биле оштећене због дејстава, али сада су све обновљене. Дошли
                смо до првог пункта - бункера француског КФОР - а који штити
                манастир Девич. Аутобусом смо кренули узбрдо и стали код другог
                пункта где смо морали да сачекам о дозволу од француске војске
                за посету манастира.
            </p>

        <img src="~/Content/images/Svetinje/Hodocasca/Devic.jpg" width="500" height="375">
</div>

@Html.Action("KosovoNavigacija", "Svetinje", new { strana = 3 })
