@{
    ViewBag.Title = "Манастири";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Манастири</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Манастири</h1>
    <br />


    <p>
        <span id="internal-source-marker_0.8653496458249109"></span>
        <br>
        * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        <br>
        * &nbsp;Maнастир Хиландар <a href="http://www.hilandar.org/" target="_blank">Веб страна</a>
    </p>
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    <br>
    <br>
    <br>
    <br>
    Архиепископија Београдско-карловачка
    <br>
    <br>
    * Mанастир Светог Архангела Михаила у Раковици, ул. Патријарха Димитрија бр. 34 <a href="http://svetidimitrije.no/kultura/srpski-manastiri/1264/manastir-rakovica-kod-beograda.htm" target="_blank">Веб страна</a>
    <br>
    * Mанастир Рођења Пресвете Богородице у Рајиновцу, Бегаљица, <a href="http://pravoslavlje.spc.rs/broj/981/tekst/manastir-rajinovac/print" target="_blank">Веб страна</a>
    <br>
    * Mанастир Светог Архангела Гаврила у Земуну, Градски парк бб, <a href="http://pravoslavlje.spc.rs/broj/963/tekst/manastir-svetog-arhangela-gavrila-u-zemunu/" target="_blank">Веб страна</a>
    <br>
    * Mанастир Ваведења Пресвете Богородице, ул. Василија Гаћеше бр. 8, <a href="http://pravoslavlje.spc.rs/broj/965/tekst/manastir-vavedenja-presvete-bogorodice/" target="_blank">Веб страна</a>
    <br>
    * Mанастир Светог Архиђакона Стефана, Сланци, Велико село, <a href="http://pravoslavlje.spc.rs/broj/971/tekst/manastir-svetog-stefana-slanci/" target="_blank">Веб страна</a>
    <br>
    * Манастир светог оца Николаја, Манастир Павловац, <a href="http://sr.wikipedia.org/sr/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80_%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B2%D0%B0%D1%86" target="_blank">Веб страна</a>
    <br>
    * Mанастир Преноса моштију Светог оца Николаја, Грабовац, <a href="http://srpska-pravoslavna-crkva.blogspot.com/2010/12/blog-post_3983.html" target="_blank">Веб страна</a>
    <br>
    * Mанастир Преподобне мати Параскеве, Сибница, &nbsp;<a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=35&amp;Itemid=71" target="_blank">Веб страна</a>
    <br>
    * Mанастир Светог архангела Гаврила, Тресије, Неменикуће, <a href="http://www.spc.rs/sr/manastir_tresije_kosmajsko_svetilo" target="_blank">Веб страна</a>
    <br>
    * Мaнастир св. Христофора из 13. века Мислођин<br>
    <br>
    <br>
    <br>
    <p>
        <a href="http://www.mpceanz.org.au/">Митрополија Аустралиско-новозеландска </a>
        <br>
        <br>
        * Манастир Прохор Пчински у Донибруку – Мелбурн, <a href="http://www.mpceanz.org.au/eparhija/orthodox-monasteries/" target="_blank">Веб страна</a>
        <br>
        * Манастир Света Петка у Кембла Гранге, <a href="http://www.mpceanz.org.au/eparhija/orthodox-monasteries/" target="_blank">Веб страна</a><br>
        * Манастир Свети Наум Охридски у Роцклин Виц, <a href="http://www.mpceanz.org.au/eparhija/orthodox-monasteries/" target="_blank">Веб страна</a><br>
        <br>
        <br>
        <br>
        Митрополијa дабробосанска<br>
        <br>
        * Манастир Успења Пресвете Богородице у Добруну, <a href="http://www.mitropolijadabrobosanska.org/sematizam/manastiri+.php?category=6" target="_blank">Веб страна</a>
        <br>
        * Манастир Свете Тројице у Возући, <a href="http://www.mitropolijadabrobosanska.org/sematizam/manastiri+.php?category=7" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Великомученика Георгија на Равној Романији, <a href="http://www.mitropolijadabrobosanska.org/sematizam/manastiri+.php?category=8" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        Митрополија загребачко-љубљанска<br>
        <br>
        * Манастир Свете Петке у Загребу, <a href="http://www.mitropolija-zagrebacka.org/index.php?option=com_content&amp;view=article&amp;id=38%3A2009-12-23-09-05-33&amp;catid=2%3A2009-12-23-08-21-46&amp;Itemid=5&amp;lang=sr-cir" target="_blank">Веб страна</a>
        <br>
        * Манастир Лепавина са црквом Ваведења Пресвете Богородице у Лепавини, <a href="http://www.manastir-lepavina.org/" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Митрополијa црногорско-приморскa
        <br>
    </p>
    * Цетињски манастир посвећен рождеству Пресвете Богородице на Цетињу, <a href="http://www.pouke.org/forum/index.php?topic=458.0" target="_blank">Веб страна</a><br>
    * Острог са црквом Ваведенја Пресвете Богородице и црквом Часнога Крста &nbsp;<a href="http://www.mitropolija.co.me/ustrojstvo/manastiri/manastir_ostrog_l.html" target="_blank">Веб страна</a>
    <br>
    * Ждребаоник са црквом св. Арханђела Михаила у Даниловграду, <a href="http://www.mitropolija.me/?page_id=845" target="_blank">Веб страна</a>
    <br>
    * Косијерево са црквом Рождества Пресвете Богородице у Бањанима, <a href="http://www.mitropolija.co.me/ustrojstvo/manastiri/manastir_kosijerevo.html" target="_blank">Веб страна</a>
    <br>
    * Ћелија Пиперска са црквом Рождества Пресвете Богородице код Подгорице, <a href="http://mitropolija.co.me/ustrojstvo/manastiri/manastir_piperska_celija.html" target="_blank">Веб страна</a>
    <br>
    * Пива са црквом Успења Пресвете Богородице у Плужинама, <a href="http://www.mitropolija.co.me/ustrojstvo/manastiri/manastir_piva.html" target="_blank">Веб страна</a>
    <br>
    * Морача са црквом Успења Пресвете Богородице у Морачу, <a href="http://www.mitropolija.me/?page_id=781" target="_blank">Веб страна</a>
    <br>
    * Савина са црквом Успења Пресвете Богородице у Херцег Новом, <a href="http://www.mitropolija.co.me/ustrojstvo/manastiri/manastir_savina_l.html" target="_blank">Веб страна</a>
    <br>
    * Михољска Превлака са црквом Св. Архангела Михаила на Превлаци, <a href="http://www.mitropolija.co.me/ustrojstvo/manastiri/prevlaka/index.html" target="_blank">Веб страна</a>
    <br>
    * Манастир Бања код Рисна<br>
    * Манастир Режевићи, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_rezevici.htm" target="_blank">Веб страна</a><br>
    * Манастир Дајбабе, <a href="http://www.mitropolija.me/?page_id=806" target="_blank">Веб страна</a><br>
    * Манастир Подмајине<br>
    * Манастир Дуљево<br>
    * Манастир Прасквица у околини Будве<br>
    * Манастир Рибњак код Бара<br>
    * Манастир Ком, <a href="http://www.manastirkom.org/" target="_blank">Веб страна</a><br>
    <br>
    <br>
    Епархија аустријско швајцарска<br>
    <br>
    <br>
    <br>
    Епархија банатска
    <br>
    <br>
    * Манастир Месић са црквом Светог Јована Крститеља, код Вршца <a href="http://www.banaterra.eu/srpski_nou/manastir-miesitsh" target="_blank">Веб страна</a>
    <br>
    * Манастир Војловица са црквом Св. Архангела Гаврила, код Панчева <a href="http://www.spcoluzern.ch/index.php?pg=1331&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир са црквом Свете Тројице, код Кикинде <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_svete_trojice_kikinda.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир са црквом Свете Меланије, код Зрењанина <a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_svete_melanije.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Хајдучица са црквом Св. Архангела, Хајдучица код Пландишта <a href="http://www.spcoluzern.ch/index.php?pg=1356&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир Средиште у изградњи, Мало Средиште код Вршца <a href="http://pravoslavlje.spc.rs/broj/1008/tekst/manastir-srediste/" target="_blank">Веб страна</a>
    <br>
    * Манастир Баваниште са црквом Рођења Пресвете Богородице, код Ковина <a href="http://www.spcoluzern.ch/index.php?pg=1326&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Eпархија бањалучка
    <br>
    <br>
    * Манастир Гомионица са црквом Ваведења Пресвете Богородице код Бања   Луке,<a href="http://www.gomionica.org" target="_blank">Веб страна</a><br>
    * Манастир Крупа са црквом Успења Пресвете Богородице, на Врбасу<br>
    * Манастир Липље са црквом Благовештења Пресвете Богородице, код Бања   Луке <a href="http://www.manastirliplje.com" target="_blank">Веб страна</a><br>
    * Манастир Моштаница са црквом арханђела Михаила, на Козари, <a href="http://www.istorijskabiblioteka.com/art:manastir-mostanica" target="_blank">Веб страна</a><br>
    * Манастир Ступље са црквом арханђела Михаила, село Горњи Вијачани   <a href="http://www.sozeb.org/index.php?option=com_content&amp;task=view&amp;id=198&amp;Itemid=73" target="_blank">Веб страна</a><br>
    <br>
    Угашени:<br>
    <br>
    * Ђурђевац код Приједора<br>
    * Милошевац код Приједора<br>
    * Карановац код Градишке<br>
    * Осовица у Мотајици, између Кобаша и Прњавора<br>
    <br>
    <br>
    <br>
    Епархија бачка
    <br>
    <br>
    * Манастир Бођани са црквом Ваведења Пресвете Богородице у селу Бођани, <a href="http://www.spcoluzern.ch/index.php?pg=1329&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир &nbsp;са црквом Архиђакона Стефана, код Сомбора, <a href="http://www.manastiri.rs/eparhije/backa/sombor/sombor.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Ковиљ са црквом Светих Архангела у селу Ковиљ, <a href="http://www.kovilj.rs/manastir.html" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Епархија бихаћко-петровачка<br>
    <br>
    * Манастир Рмањ са црквом св. Николаја Мирликијског у Мартин Броду, <a href="http://www.manastir-rmanj.com/2010-03-15-19-10-31.html" target="_blank">Веб страна</a><br>
    * Манастир Глоговац са црквом св. Георгија у Јању, <a href="http://www.eparhijabihackopetrovacka.org/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=9&amp;Itemid=64" target="_blank">Веб страна</a>
    <br>
    * Манастир Веселиње са црквом Рођења св. Јована Крститеља у селу Врба, <a href="http://www.eparhijabihackopetrovacka.org/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=9&amp;Itemid=64" target="_blank">Веб страна</a>
    <br>
    * Манастир Клисина са црквом св. великомучeнице Марине у Ништавици, <a href="http://www.manastirklisina.com/" target="_blank">Веб страна</a>
    <br>
    * Манастир Трескавац са црквом Светог Архангела Михаила у Растоку, <a href="http://www.manastirtreskavac.com/" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Епархија браничевска
    <br>
    <br>
    * Манастир Витовница са црквом Успења Пресвете Богородице, <a href="http://www.manastir-vitovnica.info/sr/man_mon.php" target="_blank">Веб страна</a>
    <br>
    * Манастир Горњак са црквом Ваведења Пресвете Богородице, код Крепољина, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_gornjak.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Златенац са црквом Светих Врача Козме и Дамјана, Гложане, код Свилајнца <a href="http://www.svilajnac001.co.rs/3xglozane/zlatenac.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Заова са храмом Св. Арханглеа Михаила и Гаврила, Велико село, <a href="http://wikimapia.org/16280882/sr/%D0%BC%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%97%D0%B0%D0%BE%D0%B2%D0%B0" target="_blank">Веб страна</a>
    <br>
    * Манастир Копорин са црквом Светог Архиђакона Стефана, код Велике Плане, <a href="http://www.pravoslavna-srbija.com/Pravoslavlje/Manastiri/Koporin/Koporin.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Манасија са црквом Свете Тројице, код Деспотовца, <a href="http://www.pravoslavna-srbija.com/Pravoslavlje/Manastiri/Manasija/Manasija.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Миљково са црквом Ваведења Пресвете Богородице, код Свилајнца, <a href="http://www.miljkov-manastir.info/index.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Нимник са црквом Светог Оца Николаја, код Мијаиловца, <a href="http://www.zvonce.spc.rs/?p=508" target="_blank">Веб страна</a>
    <br>
    * Манастир Света Петка са црквом Преподобне Мајке Параскеве, код Параћина, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_svpetka.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Рукумија са црквом светог оца Николаја, код Костолца, <a href="http://www.pravoslavlje.nl/rukumija.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Покајница са црквом брвнаром Светог Оца Николаја, код Велике Плане, <a href="http://www.pravoslavlje.nl/rukumija.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Раваница са црквом Вазнесења Господњег, код Сења, <a href="http://www.manastir.ravanica.co.rs/" target="_blank">Веб страна</a>
    <br>
    * Манастир Сисојевац са црквом Христовог Преображења, код Сењског Рудника, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_sisojevac.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Тршка Црква са црквом Рождества Пресвете Богородице код Вуковца, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_trskacrkva.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Вујска са црквом Светог Апостола Томе код Томића<br>
    * Манастир Туман са црквом Светог Архангела Гаврила код Голубца, <a href="http://www.forumprijateljbozji.com/showthread.php?822-%26%231052%3B%26%231072%3B%26%231085%3B%26%231072%3B%26%231089%3B%26%231090%3B%26%231080%3B%26%231088%3B-%26%231058%3B%26%231091%3B%26%231084%3B%26%231072%3B%26%231085%3B" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Епархија британско-скандинавска
    <br>
    <br>
    * Манастир Покрова Пресвете Богородице, <a href="http://www.epbritska.org/manastir.html" target="_blank">Веб страна</a>
    <br>
    * Манастир Светог Ђорђа - Оловстрем, Шведска, <a href="http://www.manastir.se/" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Епархија будимска
    <br>
    <br>
    * Манастир Грабовац са црквом посвећеној Светом Михајлу код Будимпеште, <a href="http://www.pouke.org/forum/index.php?topic=1120.0" target="_blank">Веб страна</a>
    <br>
    * Манастир Српски Ковин, <a href="http://www.pouke.org/forum/index.php?topic=1120.0" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Епархија будимљанско-никшићка
    <br>
    <br>
    * Манастир Блишкова, <a href="http://www.eparhija.me/manastir-bliskova" target="_blank">Веб страна </a>
    <br>
    * Манастир Брезојевица, <a href="http://www.eparhija.me/manastir-brezojevica" target="_blank">Веб страна</a><br>
    * Манастир Кичава или Кладник, <a href="http://www.eparhija.me/manastir-kicava-kladnik" target="_blank">Веб страна</a><br>
    * Манастир Мајсторовина, <a href="http://www.eparhija.me/manastir-majstorovina" target="_blank">Веб страна</a><br>
    * Манастир Самоград, <a href="http://www.eparhija.me/manastir-samograd" target="_blank">Веб страна</a><br>
    * Манастир Урошевица, <a href="http://www.eparhija.me/manastir-urosevica" target="_blank">Веб страна</a><br>
    * Манастир Црнча, <a href="http://www.eparhija.me/manastir-crnca" target="_blank">Веб страна</a><br>
    * Ђурђеви Ступови у Беранама са црквом Св Ђорђа <a href="http://www.stupovi.rs/mozilla.htm" target="_blank">Веб страна</a><br>
    * Манастир Никољац са црквом Св. Николе код Бијелог Поља, <a href="http://spcoluzern.ch/index.php?pg=1515&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир Пива са црквом Успења Пресвете Богородице у Плужинама, <a href="http://www.teofil.co.me/duhovnost/piva/piva.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Косијерево са црквом Рождества Пресвете Богородице у Требишњици, <a href="http://bogotrazitelj.net/forum/index.php?topic=283.0" target="_blank">Веб страна</a>
    <br>
    * Манастир Жупа Никшићка са црквом Св. апостол Луке, Жупа Никжићка, <a href="http://www.pouke.org/forum/index.php?topic=3652.0" target="_blank">Веб страна</a>
    <br>
    * Манастир Добриловина са црквом Св. Георгија, код Мојковца, <a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Dobrilovina.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Бијела са црквом Св. Георгије, Бијела код Шавника, <a href="http://www.e-budimljansko-niksicka.co.me/duhovnost/bijela/bijela.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Подмалинско са црквом Св. Архангела Михаила, Боан, <a href="http://www.e-budimljansko-niksicka.co.me/duhovnost/podmalinsko/podmalinsko.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Калудра са црквом Светог Луке у Калудри, <a href="http://www.e-budimljansko-niksicka.co.me/duhovnost/kaludra/kaludra.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Заграђе са црквом светог Јована Крститеља, Плужине &nbsp;&nbsp;<a href="http://www.manastir-zagradje.org" target="_blank">Веб страна</a>
    <br>
    * Манастир Шудикова са црквом Ваведења Пресвете Богородице, Беране, <a href="http://www.forumprijateljbozji.com/showthread.php?638-%26%231052%3B%26%231072%3B%26%231085%3B%26%231072%3B%26%231089%3B%26%231090%3B%26%231080%3B%26%231088%3B-%26%231064%3B%26%231091%3B%26%231076%3B%26%231080%3B%26%231082%3B%26%231086%3B%26%231074%3B%26%231072%3B">Веб стране</a>
    <br>
    * Манастир Вољавац са црквом Ваведења Пресвете Богородице Вољевац <a href="http://www.spcoluzern.ch/index.php?pg=1517&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир Подврх са црквом Храм Св.Николе, Бијело Поље, <a href="http://www.forumprijateljbozji.com/showthread.php?639-%26%231052%3B%26%231040%3B%26%231053%3B%26%231040%3B%26%231057%3B%26%231058%3B%26%231048%3B%26%231056%3B-%26%231055%3B%26%231054%3B%26%231044%3B%26%231042%3B%26%231056%3B%26%231061%3B" target="_blank">Веб страна</a>
    <br>
    * Манастир Сомина са црквом Преображења Господњег, на планини Сомини у Бањанима,<br>
    <a href="http://www.spcoluzern.ch/index.php?pg=1518&amp;lang=sr" target="_blank">Веб страна</a>
    <br>
    * Манастир Мајсторовина са црквом Свете Тројице, код Бијелог Поља, <a href="http://www.teofil.co.me/duhovnost/majstorovina/majstorovina.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Кичава са црквом Светог Николе, код Бијелог Поља, <a href="http://www.e-budimljansko-niksicka.co.me/duhovnost/kicava/kicava.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Блишкова са црквом Ваведења Пресвете Богородице, код Бијелог Поља, <a href="http://www.teofil.co.me/duhovnost/bliskova/bliskova.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Брезојевица са црквом Свете Тројице, на Лиму код Плава, <a href="http://www.e-budimljansko-niksicka.co.me/duhovnost/brezojevica/brezojevica.htm" target="_blank">Веб страна</a>
    <br>
    <br>
    <br>
    <br>
    Порушени   манастири: Манастир Кладник, Манастир Урошевица, Манастир Црнча,   Манастир Чечево, Манастир у Бошиће, Манастир Вранштица, Манастир   Соколац.<br>
    <br>
    <br>
    <br>
    Епархија буенос-ајреска
    <br>
    <br>
    <br>
    Епархија ваљевска
    <br>
    <br>
    * Манастир Боговађа са црквом Светог Великомученика Георгија код Мионице <a href="http://www.manastiri.rs/eparhije/valjevska/bogovadja/bogovadja.html" target="_blank">Веб страна</a>
    <br>
    * Манастир Грабовац са црквом Светог Оца Николаја код Грабовца, <a href="http://www.belgradeheritage.com/kulturna_dobra/obrenovac/manastir-grabovac.html" target="_blank">Веб страна</a>
    <br>
    * Манастир Докмир са црквом Ваведења Пресвете Богородице код Памбуковице,<a href="http://www.manastiri.rs/eparhije/valjevska/dokmir/dokmir.html"> Веб страна</a>
    <br>
    * Манастир Јовање са црквом рођења светог Пророка Јована Крститеља ,<a href="http://manastirlelic.org/"> Веб страна</a>
    <br>
    * Манастир Лелић са црквом Светог Николаја Мирликијског Чудотворца,<a href="http://www.manastiri.rs/eparhije/valjevska/jovanja/jovanja.html"> Веб страна</a>
    <br>
    * Манастир Пустиња са црквом Ваведења Пресвете Богородице код Поћуте, <a href="http://www.manastiri.rs/eparhije/valjevska/pustinja/pustinja.htm" target="_blank">Веб страна</a>
    <br>
    * Манастир Ћелије са црквом Светог Архангела Михаила код Ваљева, <a href="http://www.celije.org.rs/" target="_blank">Веб страна</a>
    <br>
    <p>
        <span id="internal-source-marker_0."></span>
        <br>
        <br>
        Епархија врањска
        <br>
        <br>
        * Манастир Светог Оца Прохора Пчињског код Кленика, <a href="http://www.eparhijavranjska.org/Siteview.asp?ID=225" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Архиђакона Стефана код Горњег Жапска, <a href="http://www.eparhijavranjska.org/Siteview.asp?ID=226" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Великомученика Пантелејмона, код Врања<br>
        * Манастир Пресвете Богородице, код Клисуре<br>
        * Манастир Светог Пророка Илије, код Лепенице<br>
        * Манастир Светог Пророка Илије, код Босиљграда<br>
        * Манастир Светих Апостола Павла и Петра, код Босиљграда<br>
        * Манастир Светог Симеона Столпника, код Врања<br>
        * Манастир Паља <a href="http://www.eparhijavranjska.org/Siteview.asp?ID=228" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија горњокарловачка
        <br>
        <br>
        * Манастир Гомирје са црквом св. Јована Крститеља, код Огулина <a href="http://www.eparhija-gornjokarlovacka.hr/Manastir-c.htm" target="_blank">Веб страна</a><br>
        * Манастир Горица Пресвете Богородице Тројеручице Доњи Будачки код Карловца <a href="http://manastirtrojerucica.blogspot.com/" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија далматинска
        <br>
        <br>
        * Mанастир Крупа са црквом Успења Пресвете Богородице, под Велебитом   <a href="http://www.eparhija-dalmatinska.hr/Manastiri-Krupa-L.htm" target="_blank">Веб страна</a><br>
        * Mанастир Крка са црквом Св. Архангела Михаила, на реци Крки <a href="http://www.fokus.ba/nov/index.php?option=com_content&amp;view=article&amp;id=7924:uvar-pravoslavlja-u-dalmaciji&amp;catid=42:fokus-oko&amp;Itemid=175" target="_blank">Веб страна</a><br>
        * Mанастир Драговић са црквом Пождества Пресвете Богородице, крај реке   Цетине <a href="http://www.eparhija-dalmatinska.hr/Manastiri-Dragovic-L.htm" target="_blank">Веб страна</a><br>
        * Манастир Оћестово са црквом св. Недеље у Оћестову, <a href="http://www.manastir-rmanj.com/manastiri/132-krupa.html" target="_blank">Веб страна</a>
        <br>
        * Манастир св. Василија Острошког, з селу Црногорци, <a href="http://www.manastir-rmanj.com/manastiri/129-manas.html" target="_blank">Веб страна</a>
        <br>
        * Манастир св. Лазарица, са црквом посвећеном св. Цару Лазару на Далматинском Косову &nbsp;<a href="http://www.manastir-rmanj.com/manastiri/128-lazarica-kos.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија жичка
        <br>
        <br>
        * Манастир Благовештење са црквом Свете Благовести код Овчар Бање, <a href="http://www.manastiri.rs/eparhije/zicka/blagovestenje/blagovestenje.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Међувршје са црквом Ваведења Пресвете Богородице код Чачка<br>
        * Манастир Светог Преображења код Овчар Бање, <a href="http://www.manastiri.rs/eparhije/zicka/preobrazenje/preobrazenje.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Ваведење Пресвете Богородице код Овчар Бање, <a href="http://www.manastiri.rs/eparhije/zicka/vavedenje/vavedenje.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Успење са Црквом Успења Пресвете Богородице - Овчар Бања, <a href="http://www.manastiri.rs/eparhije/zicka/uspenje/uspenje.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Вазнесења код Овчар Бање, <a href="http://www.manastiri.rs/eparhije/zicka/vaznesenje/vaznesenje.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Свете Тројице, Дучаловићи на Овчару <a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_svete_trojice_ovcar.htm " target="_blank">Веб страна</a>
        <br>
        * Манастир Вујан са црквом Светог Архангела Гаврила код Брђана, <a href="http://www.manastiri.rs/eparhije/zicka/vujan/vujan.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Вољавча са црквом Светог Великомученика Прокопија код Бреснице, <a href="http://www.manastiri.rs/eparhije/zicka/veluce/veluce.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Враћевшница са црквом Светог Великомученика Георгија, <a href="http://www.manastiri.rs/eparhije/zicka/vracevsnica/vracevsnica.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Градац са црквом Благовештења Пресвете Богородице код Брвника на Ибру<br>
        * Манастир Жича са црквом Вазнесења Господњег, <a href="http://www.zica.org.rs/" target="_blank">Веб страна</a>
        <br>
        * Манастир Згодачица са црквом Светог Великомученика Димитрија<br>
        * Манастир Јовање са црквом Светог Јована Крститеља код Овчар Бање, <a href="http://www.ovcarbanja.rs/srpski/jovanje.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Каменац са црквом Рођења Пресвете Богородице код Честина у Гружи, <a href="http://www.gruza.rs/gruza/ni/kultura/manastir-kamenac" target="_blank">Веб страна</a>
        <br>
        * Манастир Никоље са црквом Светог Оца Николаја код Овчар Бање, <a href="http://www.casopishorizont.com/manastirnikolje.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Рача код Бајине Баште, <a href="http://www.bbasta.org.rs/manastir_raca.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Павлица са црквом Ваведења Пресвете Богородице &nbsp;код Брвника на Ибру, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_pavlica_nova.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Студеница са црквом Успења Пресвете Богородице, <a href="http://manastirstudenica.org.rs/" target="_blank">Веб страна</a>
        <br>
        * Манастир Марковица са црквом Свете Тројице,
        <br>
        * Манастир Светог Сретења &nbsp;код Овчар Бање, <a href="http://www.manastiri.rs/eparhije/zicka/sretenje/sretenje.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Стубал са црквом Свете Петке код Чукојевца
        <br>
        * Манастир Јежевица са црквом Светог Јована Крститеља код Стјеника, <a href="http://www.gradcacak.com/index.php?option=com_content&amp;view=article&amp;id=336%3Amanastir-jeevica-&amp;catid=160%3Amanastiri-i-crkve&amp;Itemid=143" target="_blank">Веб страна</a>
        <br>
        * Манастир Клисура са црквом Светог Архангела Гаврила код Дивљаче, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_klisura.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Увац, са црквом &nbsp;Свете Јање у Стублу <a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_uvac.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Годовик код Пожеге <a href="http://manastirgodovik.pozega.org.rs/" target="_blank">Веб страна</a>
        <br>
        * Манастир Рујан са Црквом св. Великомученика Георгија - Врутци
        <br>
        <br>
        <br>
        <a href="http://www.westsrbdio.org/">Епархија западноамеричка</a>
        <br>
        <br>
        * Манастир Светог Пајсија <a href="http://stpaisiusmonastery.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Германа Аљаског <a href="http://www.sainthermanpress.com/" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <a href="http://www.egliseorthodoxeserbe.org/">Епархија западноевропска</a>
        <br>
        <br>
        <br>
        <br>
        Епархија захумско-херцеговачка и приморска
        <br>
        <br>
        * МанастирТврдош са црквом Успења Мајке Бпжије <a href="http://www.eparhija-zahumskohercegovacka.com/?q=node/403" target="_blank">Веб страна</a>
        <br>
        * Манастир Завала са црквом Ваведења Пресвете Богородице, <a href="https://docs.google.com/document/d/17cE9zNWAqbFbUCuw88lBl0w_StbUlAWtBy5s20ZPRTY/edit?hl=en" target="_blank">Веб страна</a>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <br>
        * Манастир Житомислић са црквом Благовјештења Пресвете Богородице, <a href="http://www.eparhija-zahumskohercegovacka.com/?q=node/405" target="_blank">Веб страна</a>
        <br>
        * Манастир Добрићево са црквом посвећеној Св. Николи <a href="http://www.eparhija-zahumskohercegovacka.com/?q=node/400" target="_blank">Веб страна</a>
        <br>
        * Херцеговачка Грачаница са црквом Благовештења, <a href="http://www.eparhija-zahumskohercegovacka.com/?q=node/406" target="_blank">Веб страна</a>
        <br>
        * Манастир Дужи са црквом Покрова Пресвете Богородице <a href="http://www.spcoluzern.ch/index.php?pg=1530&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Петропавлов са црквом Св. Апостола Петра и Павла &nbsp;<a href="https://docs.google.com/document/d/17cE9zNWAqbFbUCuw88lBl0w_StbUlAWtBy5s20ZPRTY/edit?hl=en" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        Епархија зворничко-тузланска
        <br>
        <br>
        * Манастир Тавна са црквом Свете Тројице, код Бијељине &nbsp;<a href="http://manastirtavna.rs.sr/" target="_blank">Веб страна</a><br>
        * Манастир Озрен са црквом Светог оца Николаја, код Петрова <a href="http://pravoslavlje.spc.rs/broj/950/tekst/manastir-ozren/" target="_blank">Веб страна</a><br>
        * Манастир Папраћа са црквом Благовештења, испод Борогова &nbsp;<a href="http://users.teol.net/~papraca/Istorija.html" target="_blank">Веб страна</a><br>
        * Манастир Ловница са црквом Св. Георгија код Шековића <a href="http://www.glassrpske.com/vijest/5/krozrs/16190/cir/Manastir-Lovnica-kod-Sekovica-zaduzbina-kralja-Dragutina-Nemanjica.html" target="_blank">Веб страна</a><br>
        * Манастир Драгаљевац са црквом Светих апостола Петра и Павла код   Бијељине   <a href="http://www.bijeljinaturizam.org/16/bijeljinaturizam/manastir/Dragaljevac" target="_blank">Веб страна</a><br>
        * Манастир св.Василија са црквом светог Василија Острошког, код Бијељине<br>
        * Манастир св.Николе са црквом Светог оца Николаја, Етно село Станишићи<br>
        * Манастир Бишња са црквом Покрова Пресвете Богородице у Доњој Бишњи, &nbsp;<a href="http://www.manastir-rmanj.com/manastiri/134-bisnja.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Осовица (у обнови) Босански Кабаш, <a href="http://www.manastir-rmanj.com/manastiri/201-osovica.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Сасе са црквом Свете Тројице у селу Сасе, <a href="http://www.manastir-rmanj.com/manastiri/136-sase.html" target="_blank">Веб страна</a><br>
        * Манастир Крупа код Бања Луке, <a href="http://www.manastir-rmanj.com/manastiri/132-krupa.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        Епархија источноамеричка<br>
        <br>
        * Манастир Марча, Richfiеld Ohio <a href="http://www.spc.rs/old//Vesti-2006/04/07-04-06-c.html" target="_blank">Веб страна</a><br>
        * Манастир св. Марка Sheffield Lake, Ohio<br>
        * Манастир Пресвете Богородице, Springboro, Pennsylvania<br>
        * Ставропигијална обитељ манастир Рођења Пресвете Богородице
New Carlisle Indiana<br>
        <br>
        <br>
        <br>
        Епархија канадска
        <br>
        <br>
        * Манастир Светог Преображења Господњег у Милтону, <a href=" http://istocnik.com/manastir.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија крушевачка<br>
        <br>
        * Манастир Наупаре са црквом Свете Богородице код Крушевца <a href="http://sr.wikipedia.org/sr/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80_%D0%9D%D0%B0%D1%83%D0%BF%D0%B0%D1%80%D0%B0" target="_blank">Веб страна</a>
        <br>
        * Манастир Мрзеница са црквом Свете Богородице код Сталаћа <a href="http://www.eparhija-niska.rs/Mrzenica.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Дренча са црквом Свете Богородице код Сталаћа <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%92%D0%B0%D0%B2%D0%B5%D0%B4%D0%B5%D1%9A%D0%B0-%D0%9F%D1%80%D0%B5%D1%81%D0%B2%D0%B5%D1%82%D0%B5-%D0%91%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8%D1%86%D0%B5,-%D0%94%D1%80%D0%B5%D0%BD%D1%87%D0%B0.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Стрмац са црквом Светог Јоакима и Ане код Бруса <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%B8%D1%85-%D0%88%D0%BE%D0%B0%D0%BA%D0%B8%D0%BC%D0%B0-%D0%B8-%D0%90%D0%BD%D0%B5,-%D0%A1%D1%82%D1%80%D0%BC%D0%B0%D1%86.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Лепенац са црквом Светог Архиђакона Стефана код Бруса, <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_lepenac.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Плеш са црквом Светог Јоакима и Ане код Бруса <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%B8%D1%85-%D0%B1%D0%B5%D1%81%D1%80%D0%B5%D0%B1%D1%80%D0%B5%D0%BD%D0%B8%D0%BA%D0%B0-%D0%9A%D0%BE%D0%B7%D0%BC%D0%B5-%D0%B8-%D0%94%D0%B0%D0%BC%D1%98%D0%B0%D0%BD%D0%B0,-%D0%9F%D0%BB%D0%B5%D1%88.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Руденица са црквом Светог Пророка Илије код Ратаја, <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%BE%D0%B3-%D0%BF%D1%80%D0%BE%D1%80%D0%BE%D0%BA%D0%B0-%D0%98%D0%BB%D0%B8%D1%98%D0%B5,-%D0%A0%D1%83%D0%B4%D0%B5%D0%BD%D0%B8%D1%86%D0%B0.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Архиђакона Стефана, Милентија <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%BE%D0%B3-%D0%B0%D1%80%D1%85%D0%B8%D1%92%D0%B0%D0%BA%D0%BE%D0%BD%D0%B0-%D0%A1%D1%82%D0%B5%D1%84%D0%B0%D0%BD%D0%B0,-%D0%9C%D0%B8%D0%BB%D0%B5%D0%BD%D1%82%D0%B8%D1%98%D0%B0.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Љубостиња са црквом Успења Пресвете Богородице код Трстеника, <a href="http://www.casopishorizont.com/ljubostinja.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Велуће са црквом Ваведења Пресвете Богородице код Стопање, <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%92%D0%B0%D0%B2%D0%B5%D0%B4%D0%B5%D1%9A%D0%B0-%D0%9F%D1%80%D0%B5%D1%81%D0%B2%D0%B5%D1%82%D0%B5-%D0%91%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8%D1%86%D0%B5,-%D0%92%D0%B5%D0%BB%D1%83%D1%9B%D0%B5.html" target="_blank">Веб страна</a><br>
        * Манастир Бошњане са црквом Светом Луки код Бошњана, <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%BE%D0%B3-%D0%B0%D0%BF%D0%BE%D1%81%D1%82%D0%BE%D0%BB%D0%B0-%D0%B8-%D1%98%D0%B0%D0%B2%D0%B0%D0%BD%D1%92%D0%B5%D0%BB%D0%B8%D1%81%D1%82%D0%B5-%D0%9B%D1%83%D0%BA%D0%B5,-%D0%91%D0%BE%D1%88%D1%9A%D0%B0%D0%BD%D0%B5.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Николе Мирликијског, Својново, <a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%A1%D0%B2%D0%B5%D1%82%D0%BE%D0%B3-%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B5-%D0%9C%D0%B8%D1%80%D0%BB%D0%B8%D0%BA%D0%B8%D1%98%D1%81%D0%BA%D0%BE%D0%B3,-%D0%A1%D0%B2%D0%BE%D1%98%D0%BD%D0%BE%D0%B2%D0%BE.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Покрова Пресвете Богородице, Лешје<a href="http://www.eparhijakrusevacka.com/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80-%D0%9F%D0%BE%D0%BA%D1%80%D0%BE%D0%B2%D0%B0-%D0%9F%D1%80%D0%B5%D1%81%D0%B2%D0%B5%D1%82%D0%B5-%D0%91%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8%D1%86%D0%B5,-%D0%9B%D0%B5%D1%88%D1%98%D0%B5.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        Епархија милешевска
        <br>
        <br>
        * Манастир Милешева са црквом Вазнесења Господњег код Пријепоља, <a href="http://www.spcoluzern.ch/index.php?pg=709&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Бања са црквом Светог Оца Николаја, код Прибоја, <a href="http://www.pribojskabanja.rs/istorijat_manastira.php" target="_blank">Веб страна</a>
        <br>
        * Манастир Свете Тројице, код Пљевље &nbsp;<a href="http://www.spcoluzern.ch/index.php?pg=1520&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Давидовица, са црквом Богојављења код Бродарева, <a href="http://sr.wikipedia.org/sr/%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80_%D0%94%D0%B0%D0%B2%D0%B8%D0%B4%D0%BE%D0%B2%D0%B8%D1%86%D0%B0" target="_blank">Веб страна</a>
        <br>
        * Манастир Куманица, са црквом Светом Арханђелу Михаилу у Врбници, <a href="http://www.pravoslavna-srbija.com/Pravoslavlje/Manastiri/Kumanica/Kumanica.htm" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија нишка
        <br>
        <br>
        * Манастир Вета са црквом Успења Пресвете Богородице код Црвене Реке, <a href="http://pravoslavlje.spc.rs/broj/933/tekst/manastir-uspenija-presvete-bogorodice-u-veti/" target="_blank">Веб страна</a>
        <br>
        * Манастир Висока Ржана са црквом Рођења Пресвете Богородице код Пирота<br>
        * Манастир Ајдановац са црквом Светог Георгија код Плане <a href="http://www.pravoslavlje.nl/foto_manastiri_crkve/manastir_ajdanovac.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Дивљане са црквом Светог Димитрија код Беле Паланке <a href="http://www.srpska.ru/article.php?nid=5240" target="_blank">Веб страна</a>
        <br>
        * Манастир Липовац са црквом Светог Стефана код Катуна <a href="http://www.lipovac.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Ђунис са црквом Покрова Пресвете Богородице <a href="http://www.pravoslavlje.nl/manastir_pokrova_presvete_bogorodice_djunis.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Свети Роман код Ђуниса <a href="http://www.knez-lazar.com/forum/index.php?topic=767.0" target="_blank">Веб страна</a>
        <br>
        * Манастир Поганово са црквом Светог Јована Богослова код Доброшева <a href="http://sr.wikipedia.org/sr/%D0%9F%D0%BE%D0%B3%D0%B0%D0%BD%D0%BE%D0%B2%D0%BE_%28%D0%BC%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80%29" target="_blank">Веб страна</a>
        <br>
        * Манастир Сићево са црквом Свете Богородице у Сићеву <a href="http://spomenicikulture.mi.sanu.ac.rs/spomenik.php?id=904" target="_blank">Веб страна</a>
        <br>
        * Манастир Суково са црквом Свете Богородице &nbsp;<a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_sukovo.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Темска са црквом Светог Великомученика Георгија <a href="http://www.eparhija-niska.rs/Temska.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Јашуња са црквом Свете Богородице, код Манојловице <a href="http://sr.wikipedia.org/sr-ec/%D0%88%D0%B0%D1%88%D1%83%D1%9A%D1%81%D0%BA%D0%B8_%D0%BC%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80_%D0%91%D0%BE%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B8%D1%87%D0%B8%D0%BD%D0%BE%D0%B3_%D0%92%D0%B0%D0%B2%D0%B5%D0%B4%D0%B5%D1%9A%D0%B0" target="_blank">Веб страна</a>
        <br>
        * Манастир Светог Јована Крститеља, код Горњег Матејевца <a href="http://www.ni.rs/byzantium/manastiri_i_crkve_grada_nisa/tekst/manastir%20sv%20Jovana%20iznad%20G%20Matejevca.html" target="_blank">Веб страна</a>
        <br>
        * Манастир са црквом Светих Кирика и Јулите, код Димитровграда<br>
        * Манастир Планиница са црквом Светог Николаја, код с. Планиница<br>
        * Темска, Манастир Св. Великомученика Георгија код Темске, <a href="http://temska.rs/?page_id=127" target="_blank">Веб страна</a>
        <br>
        * Јашуња, Манастир Св Богородице код Лесковца, <a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_svetog_jovana_jasunja.htm" target="_blank">Веб страна</a>
        <br>
        * Вета, Манастир Успења Пресвете Богородице код Црвене Реке<br>
        * Иверица, Манастир Св. Петке код Сићева, <a href="http://www.pravoslavlje.nl/foto_manastiri/manastir_sveta_petka_iverica_sicevo.htm" target="_blank">Веб страна </a>
        <br>
        * Габровац, Манастир Свете Тројице, <a href="http://www.eparhija-niska.rs/Crkve/Gabrovac.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија новограчаничко-средњезападноамеричка<br>
        <br>
        * Манастир Нова Грацаница, <a href="  http://www.newgracanica.com/manastir.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија осечко-пољска и барањска
         <br>
        <br>
        <br>
        Епархија рашко-призренска
        <br>
        <br>
        * Манастир Пећка Патријаршија <a href="http://www.kosovo.net/patrijarsija.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Бузовик, Светог Архангела Гаврила, код Витине Косовске Запаљен у Јуну 1999 <a href="http://www.kosovska-vitina.page.tl/Manastir-Buzovik.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Зочиште са црквом Свети Врачи Козма и Дамјан, код Ораховца <a href="http://www.kosovo-metohija.com/index.php?option=com_content&amp;view=article&amp;id=413&amp;Itemid=525" target="_blank">Веб страна</a>
        <br>
        * Манастир Високи Дечани са црквом Вазнесења Господњег, <a href="http://www.kosovo.net/decani.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Девич са црквом Ваведења Пресвете Богородице код Србице оскрнављен крајем Јуна 1999, <a href="http://www.kosovo.net/devic.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Драганац са црквом Светог Архангела код Гњилана, <a href="http://www.kosovo-metohija.com/index.php?option=com_content&amp;view=article&amp;id=448&amp;Itemid=654" target="_blank">Веб страна</a>
        <br>
        * Манастир Гориоч са црквом Светог Оца Николаја код Истока. <a href="http://kosovo.dozet.info/r_gorioc_monastery_13_konak_manastira_125.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Грачаница са црквом Успења Пресвете Богородице, <a href="http://www.pouke.org/forum/index.php?topic=455.0" target="_blank">Веб страна</a>
        <br>
        * Манастир Кабаш са црквом Светог Апостола Марка код Призрена<br>
        * Манастир Соколица са црквом Пресвете Богородице код Звечана, <a href="http://www.spcoluzern.ch/index.php?pg=1497&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Бањска са црквом Светог Стефана код Звечана, <a href="http://www.srbija.gov.rs/kosovo-metohija/?id=36215" target="_blank">Веб страна</a>
        <br>
        * Манастир Сопоћани са црквом Свете Тројице код Новог Пазара, <a href="http://www.spcoluzern.ch/index.php?pg=711&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Мушутиште са црквом Свете Тројице код Суве Реке, Уништен у Јулу 1999, <a href="http://www.forumprijateljbozji.com/archive/index.php/t-516.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Црна Река са црквом Светог Архангела, код Рибарића, <a href="http://www.kosovo.net/creka.html" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија славонска
        <br>
        <br>
        * Манастир Ораховица са црквом св. Николе у Ораховици, <a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Slavonija-manastiri.htm" target="_blank">Веб страна </a>
        <br>
        * Манастир Света Ана код Дарувара, <a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Slavonija-manastiri.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Пакра са црквом Црква Ваведења Пресвете Богородице код Пакраца, &nbsp;<a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Slavonija-manastiri.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Јасеновац са црквом Ваведења Пресвете Богородице, <a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Slavonija-manastiri.htm" target="_blank">Веб страна </a>
        <br>
        <br>
        <br>
        <br>
        <a href="http://www.serbische-diozese.org/03/index.php?lang=sr">Епархија средњоевропска</a>
        <br>
        <br>
        <br>
        <br>
        Епархија сремска
        <br>
        <br>
        * Манастир Беочин са црквом Вазнесења Господњег код Беочина, <a href="http://www.manastirbeocin.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Бешеново са црквом Св. Арх. Гаврила и Михајла код Башеновског Прњавора, <a href="http://bogotrazitelj.net/forum/index.php?topic=445.0" target="_blank">Веб страна</a>
        <br>
        * Манастир Велика Ремета са црквом Св. Великомученика Димитрија код Крушедола, <a href="http://www.spcoluzern.ch/index.php?pg=1330&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Врдник са црквом Вазнесења Господњег код Бање Врдник, <a href="http://svetidimitrije.no/kultura/srpski-manastiri/1647/manastir-vrdnik.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Гргетег са црквом Светог Оца Николаја код Ирига, <a href="http://www.spcoluzern.ch/index.php?pg=1332&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Јазак са црквом Сошвестија Св.Духа код Јазака, <a href="http://www.psdzeleznicarns.org.rs/fr_manastiri/manastiri/fruskogorski_manastiri_jazak.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Крушедол са црквом Свете Богородице, Фрушка Гора, <a href="http://www.spcoluzern.ch/index.php?pg=1336&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Мала Ремета са црквом Свете Богородице код Јазака, <a href="http://www.uprava.vojvodina.gov.rs/SEKRETARIJATI-V/web-APV-cinjenice/web-manastiri/MALAREMETA.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Ново Хопово са црквом Светог Оца Николаја код Хопова, <a href="http://www.spcoluzern.ch/index.php?pg=1340&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Раковац са црквом Свети Врачи код Раковца, <a href="http://www.spcoluzern.ch/index.php?pg=1345&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Фенек са црквом Свете Петке код Бољеваца, <a href="http://www.manastirfenek.com/" target="_blank">Веб страна</a>
        <br>
        * Манастир Петковица са црквом Свете Петке код Лежимира, <a href="http://www.spcoluzern.ch/index.php?pg=1341&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Кувеждин са црквом Светог Саве код Дивоша, <a href="http://www.spcoluzern.ch/index.php?pg=1337&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Ђипша (Дивша) са црквом Светог Оца Николаја код Нештина, <a href="http://www.spcoluzern.ch/index.php?pg=1333&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Шишатовац са црквом Рођења Пресвете Богородице код Лежимира, <a href="http://www.spcoluzern.ch/index.php?pg=1357&amp;lang=sr" target="_blank">Веб страна</a>
        <br>
        * Манастир Привина Глава са црквом Светих Архангела Михаила и Гаврила код Шида, <a href="http://www.manastirprivinaglava.rs/" target="_blank">Веб страна</a>
        <br>
        * Манастир Обед са црквом Благовештења, код Обедске баре, код Купинова <a href="http://www.panoramio.com/photo/30916937" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија тимочка
        <br>
        <br>
        * Манастир Буково са црквом Светог Оца Николаја код Неготина &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Манастирица са црквом Сошествију Светог Духа &nbsp;код Кладова, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Суводол са црквом Рођења Пресвете Богородице код Малог Извора, <a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Вратна са црквом Вазнесења Господњег &nbsp;код Јабуковца, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Света Тројица са црквом Сошествију Светог Духа код Доње Каменице, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир са црквом Успења Пресвете Богородице код Крепичевца, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Лозица са црквом Светог Архангела Гаврила код Јерменчића, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        * Манастир Грлиште са црквом Св. Aпостола Петра и Павла код Грлишта, &nbsp;<a href="http://www.eparhija-timocka.org/" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
        Епархија темишварска<br>
        <br>
        <br>
        <br>
        Епархија шабачкa
        <br>
        <br>
        * Манастир Илиње са црквом Светог Пророка Илије, код села Очаге код Клења <a href="http://www.eparhija-sabacka.com/rs/manastir-ilinje" target="_blank">Веб страна</a>
        <br>
        * Манастир Каона са црквом Светог Архангела Михаила код Драгиња, <a href="http://www.eparhija-sabacka.com/rs/kaona" target="_blank">Веб страна</a>
        <br>
        * Манастир Петковица са црквом Свете Петке код Мачванског Прњавора, <a href="http://www.eparhija-sabacka.com/rs/petkovica" target="_blank">Веб страна</a>
        <br>
        * Манастир Чокешина са црквом Рођења Пресвете Богородице код Мачванског Прњавора, <a href="http://www.eparhija-sabacka.com/rs/cokesina" target="_blank">Веб страна</a>
        <br>
        * Манастир Соко са црквом Светог Оца Николаја, код Љубовије, <a href="http://www.eparhija-sabacka.com/rs/soko" target="_blank">Веб страна</a>
        <br>
        * Манастир Троноша са црквом Ваведења Пресвете Богородице код Лознице, <a href="http://www.eparhija-sabacka.com/rs/tronosa" target="_blank">Веб страна</a>
        <br>
        * Манастир Читлук са црквом Свете Тројце код Љубовије, <a href="http://www.eparhija-sabacka.com/rs/citluk" target="_blank">Веб страна</a>
        <br>
        * Манастир Свете Тројице Бијеле воде<br>
        * Манастир Радовашница са црквом Покрова Пресвете Богородице код Поцерског Добрића, <a href="http://www.eparhija-sabacka.com/rs/radovasnica" target="_blank">Веб страна</a>
        <br>
        * Манастир Светих Апостола Петра и Павла у П. Добрићу<br>
        <br>
        <br>
        <br>
        Епархија шумадијска
        <br>
        <br>
        * Манастир Благовештење са црквом Свете Благовести код Страгара, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=18&amp;Itemid=88" target="_blank">Веб страна</a>
        <br>
        * Манастир Брезовац са црквом Светог Михаила код Брезовца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=1142&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Вољавча са црквом Светог Архангела Гаврила, код Страгара, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=1142&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Грнчарица (Комран) са црквом &nbsp;Светог Николе у Комрану, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=20&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Денковац са црквом Успења Пресвете Богородице код Горње Сабанте, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=21&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Дивостин са црквом Свете Благовести код Крагујевца, &nbsp;<a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=22&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Доброводица са црквом Вазнесења Господњег код Баточине, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=39&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Драча са црквом Светог Оца Николаја код Дивостина, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=23&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Јошаница са црквом Светог Оца Николаја код Јагодине, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=24&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Каленић са црквом Ваведења Пресвете Богородице код Превешта, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=25&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Кастељан (манастир је у &nbsp;рушевинама) Неменикуће код Сопота, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=40&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Липар са црквом Св.Георгија на брду Липар код Крагујевца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=37&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Никоље са црквом Светог Оца Николаја код Доње Шаторње, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=26&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Павловац са црквом Светог Оца Николаја код Пружатовца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=27&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Пиносава са црквом Св. Гаврила код Кусадка, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=29&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Преклопеча са црквом Праведног Јова у Преклопечи, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=30&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Тресије са црквом Светог Архангела код Сопота, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=36&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Саринац са црквом Вазнесења Господњег код Рековца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=32&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Сибница са црквом Свете Петке код Сибнице, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=35&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастирак са црквом Св. Николаја код Велике Крушевице, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=41&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Петковица Рудничка Света мати Параскева у Страгарима, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=28&amp;Itemid=103" target="_blank">Веб страна</a>
        <br>
        * Манастир Прерадовац – Преподобни Симон Монах у Опарићу, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=38&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Ралетинац – Свети апостоли Петар и Павле код Рековца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=31&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        * Манастир Ћелије Св. великомученика Георгија код Лазаревца, <a href="http://www.eparhija-sumadijska.org.rs/index.php?option=com_content&amp;task=view&amp;id=42&amp;Itemid=45" target="_blank">Веб страна</a>
        <br>
        <br>
        <br>
        <br>
    </p>
    <p>Архиепископија охридска и Митрополија скопска</p>
    <br>
    * &nbsp;Манастир Св. Јован Златоустог у селу Нижополи код Битоле &nbsp;<br>
    * &nbsp;Манастир Успение Пресвете Богородице у селу Лагово код Прилепа<br>
    * &nbsp;Манастир Успение Пресвете Богородице село Сушица код Скопја<br>
    <br>
    <br>
    <p>Македонската Православна Црква - (у расколу од Српске Православне Цркве)</p>
    <p>Скопска епархија </p>
    * Марков манастир &nbsp;са црквом св. Димитрија Солунског у Марковој Сушици, <a href="http://www.spe.org.mk/index.php?option=com_content&amp;view=article&amp;id=103&amp;Itemid=68" target="_blank">Веб страна</a>
    <br>
    * Манастир Матка посвећен успенију Пресвете Богородице, <a href="http://www.spe.org.mk/index.php?option=com_content&amp;view=article&amp;id=104&amp;Itemid=69" target="_blank">Веб страна </a>
    <br>
    <br>
    <br>
    <p>Полошко-кумановска епархија </p>
    <p>
        <br>
        * Манастир св.Георгија у Старом Нагоричану<br>
        * Манастир св. Јоакима Осоговског у Кривој Паланци, <a href="http://www.mpc.org.mk/mpc/osogovskimanastir.asp" target="_blank">Веб страна</a>
        <br>
        * Манастир св.Николе у Псачи, <a href="http://www.mpc.org.mk/mpc/psacha.asp" target="_blank">Веб страна</a>
        <br>
        * Манастир св. Атанасија Великог у Лешоку, <a href="http://www.mpc.org.mk/mpc/lesok.asp" target="_blank">Веб страна</a>
        <br>
        * Манастир Пресвете Богородице у Матејчу, <a href="http://www.atlantaserbs.com/learnmore/monasteries_and_towns/Matejca.htm" target="_blank">Веб страна</a>
        <br>
    </p>
    <p>Дебарско-кичевска епархија </p>
    <p>
        <br>
        * Манастир Св. Наума на брегу на Охридског језера, <a href="http://www.360macedonia.com/%D1%81%D0%B2%D0%B5%D1%82%D0%B8-%D0%BD%D0%B0%D1%83%D0%BC/%D0%A1%D0%B2%D0%B5%D1%82%D0%B8-%D0%9D%D0%B0%D1%83%D0%BC-%D0%9E%D1%85%D1%80%D0%B8%D0%B4%D1%81%D0%BA%D0%B8-%D0%9C%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80/" target="_blank">Веб страна</a>
        <br>
        * Бигорски манастир Св. Јована Крститеља крај реке Радике, <a href="http://www.bigorski.org.mk/index.php?content_type=manastir" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Георгија у селу Рајчица, <a href="http://www.makedonskimanastiri.mk/19.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Пресвете Богородице у селу Калишта<br>
        <br>
        <br>
        Преспанско-пелагонијска епархија
        <br>
        <br>
        * Манастир Св. Архангела Михаила у Вароши код Прилепа<br>
        * Манастир Св. Преображение у селу Зрзе, Прилепско, <a href="http://iskonmakedonija.blogspot.com/2010/11/blog-post_23.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Успенија Пресвете Богородице у Трескавецу, Прилепско<br>
        * Манастир Успеније Пресвете Богородице у Јанковецу, Ресенско<br>
        * Манастир Рождество Пресвете Богородице у Сливници, Преспа<br>
        * Манастир Св. Јован Крститеља у селу Слепче, Демир-Хисарско<br>
        * Манастир Св. Атанасија у селу Журче, Демир-Хисар<br>
        * Манастир Св. Христофор, Битолско<br>
    </p>
    <p>Струмичка епархија </p>
    <p>
        * Манастир Пресвете Богородице у селу Велјуса,<a href="http://www.mpc.org.mk/MPC/SE/veljusa.asp" target="_blank"> Веб страна</a><br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/veljusa.asp">Св. Леонтија у селу Водоча</a>, <a href="http://www.mpc.org.mk/MPC/SE/vodoca.asp" target="_blank">Веб страна</a><br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/vodoca.asp">Св. Архангел Михаил у Берову</a>, &nbsp;<a href="http://www.mpc.org.mk/MPC/SE/berovo.asp" target="_blank">Веб страна</a><br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/berovo.asp">Успение Пресвете Богородице у Берову</a>, &nbsp;<a href="http://www.mpc.org.mk/MPC/SE/berovom.asp" target="_blank">Веб страна</a>
        <br>
        * Манастирски <a href="http://www.mpc.org.mk/MPC/SE/berovom.asp">комплекс Св. Партениј Зографски у Старом Дојрану</a>, <a href="http://www.mpc.org.mk/MPC/SE/dojran.asp" target="_blank">Веб страна</a>
        <br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/dojran.asp">Св. 40 Севастиских маченика у селу Банско</a>, <a href="http://www.mpc.org.mk/MPC/SE/bansko.asp" target="_blank">Веб страна</a>
        <br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/bansko.asp">Св. Климент и Наум Охридски у Хамзали</a>, <a href="http://www.mpc.org.mk/MPC/SE/hamzali.asp" target="_blank">Веб страна</a><br>
        * Манастир <a href="http://www.mpc.org.mk/MPC/SE/hamzali.asp">Св. Антониј Велики у Новом Селу</a>, &nbsp;<a href="http://www.mpc.org.mk/MPC/SE/novoselo.asp" target="_blank">Веб страна</a><br>
        <br>
    </p>
    <p>
        Повардарска Епархија<br>
        <br>
        * Манастир Св. Георгије у селу Неготино, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=510&amp;Itemid=55" target="_blank">Веб страна</a><br>
        * Манастир Св. Константин и Елена
        <br>
        * Манастир Св. Архангел Михаил између села Горно и Долно Чичево<br>
        * Манастир Св. Георгија код Кавадараца , <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=346&amp;Itemid=55" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Јован<br>
        * Манастир Св. Архангел Михаил Бошавски, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=171&amp;Itemid=55" target="_blank">Веб страна</a><br>
        * Манастир Св. Никола у селу Оморани, <a href="http://www.emigration.gov.mk/turizam/omorani.htm" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Спас у Ђевђелији, <a href="http://www.makedonskimanastiri.mk/1.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Богородице у селу Согле, <a href="http://www.makedonskimanastiri.mk/23.html" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Илије Лисиче<br>
        * Манастир Св. Георгија село Праведник
        <br>
        * Манастир Св. Георгија Валандово<br>
        * Манастир Св. Атанасија у селу Градец<br>
        * Манастир Св. Илија у селу Давидово<br>
        * Полошки Манастир Св. Георгије у Кавадарцима, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=346&amp;Itemid=55" target="_blank">Веб страна</a>
        <br>
        * Манастир Св Архангел Михаил у &nbsp;Чичеву &nbsp;<a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=167&amp;Itemid=55" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Јован Крститељ у Ветерску <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=166&amp;Itemid=55" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Георгије у Валандову, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=54&amp;Itemid=55" target="_blank">Веб страна</a><br>
        * Манастир Св. Георгије у Неготину
        <br>
        * Манастир Св. Николе у селу Ваташ, <a href="http://www.kavadarci.gov.mk/index.php?option=com_content&amp;view=article&amp;id=4&amp;Itemid=26&amp;lang=mk" target="_blank">Веб страна</a>
        <br>
        * Манастир Св. Јован Крстител код Велеса, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=166&amp;Itemid=55" target="_blank">Веб страна</a>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <br>
        * Манастир Св. вмч. Димитрија - Велес, <a href="http://www.povardarska-eparhija.org.mk/pe//index.php?option=com_content&amp;task=view&amp;id=52&amp;Itemid=55" target="_blank">Веб страна</a>
    </p>
    <br>
    <p></p>
    <p>Брегалничка епархија </p>
    <p>
        * Лесновски манастир - Св. Архангел Михаил<br>
        * Манастир Конче - Св. Стефан, <a href="http://efakt.com.mk/2010/11/%D0%B7%D0%B0%D0%B2%D1%80%D1%88%D0%B5%D0%BD%D0%B0-%D1%81%D0%B0%D0%BD%D0%B0%D1%86%D0%B8%D1%98%D0%B0%D1%82%D0%B0-%D0%BD%D0%B0-%D0%BC%D0%B0%D0%BD%D0%B0%D1%81%D1%82%D0%B8%D1%80%D0%BE%D1%82-%E2%80%9E%D1%81/" target="_blank">Веб страна</a>
        <br>
        * Манастир Пирог - Успеније Пресвете Богородице<br>
        <br>
    </p>
    <br>
    <br>

    <p>
        <br>
    </p>


</div>
