@{
    ViewBag.Title = "Мошти свете Петке";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Мошти", "Mosti", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Мошти свете Петке</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Мошти свете Петке</h1>
    <br />



<table cellpadding="0" cellspacing="25">
        <tbody><tr valign="top" align="middle">
          <td ><div align="center">Мошти свете Петке се налазе у граду Јаши, у Румунији</div><br /></td>
        </tr>
        <tr valign="top" align="middle">
          <td><div align="center"><img src="~/Content/images/Svetinje/Mosti/svPetka1.jpg" alt="" width="300" height="199" align="middle"></div><br /><br /></td>
        </tr>
        <tr valign="top" align="middle">
          <td><p align="center"><img src="~/Content/images/Svetinje/Mosti/svPetka2.jpg" width="300" height="199"></p>            </td>
          </tr>
      </tbody></table>

    </div>
