@{
    ViewBag.Title = "Мошти светог Петра Коришког";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Мошти", "Mosti", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Мошти светог Петра Коришког</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Мошти светог Петра Коришког</h1>
    <br />



    <p align="left">
        Многи брачни парови, који годинама нису могли да имају деце,  убеђени су да им је боравак испод ћивота с моштима светог Петра Коришког  помогао да добију потомство, некима да оставе цигарете, а има и оних којима је  спасао живот у сулудој вожњи по магистрали. Понекад је довољно да се умију  водом или прозборе коју реч о својој муци у собици где почива  светац-чудотворац.<br>
        <br>
        <br>
        Како објаснити необичне догађаје у манастиру Црна  река (који нема везе са истоименим Центром за лечење болести зависности)?<br>
        <br>
        “Чудотворна исцељења, учињена самим Господом или  посредством његових угодника, имају за циљ само једно: да кроз пролазно спасење  тела од телесних болести, видљиво и опипљиво засведоче о могућности вечног  спасења душе и тела.” Управо су овим речима монаси манастира подно Мокре горе  одговорили на наше питање. И покушали да објасне због чега се силни свет овде  свакодневно сабира.<br>
        <br>
        Свако би да приђе чудотворним моштима светог Петра  Коришког, да проба кап воде с лековитог извора или, једноставно, да прозбори  коју реч о својој муци или невољи. А чудима се, кажу овде, одавно не чуде. Било  их је и за живота самог светитеља, помињана су и током каснијих векова, али их  је, можда, највише било током претходне три деценије, од када је манастир  изнова заживео.<br>
        <br>
        Наравно, питање је шта се чудом може назвати?  Можда је то управо искуство брачног пара Луковић из Панчева, Мирјане и Часлава,  који шеснаест година нису имали деце. Пре отприлике две деценије дошли су у  Црну реку да од светог Петра Коришког измоле пород. Испред ћивота са светим моштима  читане су им молитве да би недуго иза тога Мирјана остала бременита.<br>
        <br>
        Нероткиња родила тројке<br>
        <br>
        Најпре је рођена Сара, а потом су стигле и тројке  - Дуња, Лука и Лана. Четворо деце је родила жена, којој су медицинске анализе  показале да нема никакве шансе да затрудни! Грешка лекара или чудо? Тешко је  рећи, али за Анђелку Богановић, рођеној Филиповић, дилеме није било: чуда су  овде не само могућа, већ и лако остварљива. Само ако је и вера невољника  довољно искрена и јака.<br>
        <br>
        Црноречки монаси су у својој бележници записали и  случај ове несрећне жене који је, доиста, тешко објаснити:<br>
        <br>
        <img width="597" height="450" src="~/Content/images/Svetinje/Mosti/svPKoriski1.jpg" alt="http://www.ilustrovana.com/2009/2631/03-02-velika.jpg"><br>
        <strong>Ћивот са моштима светог Петра Коришког</strong><br>
        <br>
        <br>
        <br>
        “Лета господњег 2004, на дан када наша црква слави  преподобног Петра Коришког (18. јуна), у нашем манастиру је крштена двомесечна  беба Петра. После крштења, испуњена осећањима љубави и благодарности према  светитељу, њена мајка нам је испричала следеће:<br>
        <br>
        Пре рођења Петре имала сам четири порођаја. Два  пута су бебе биле мртворођене, а два пута су деца била жива, али су после  краћег времена умирала. Лекари су били беспомоћни у отклањању узрока који су до  тога доводили, а мојој тузи није било краја. Због тога сам и дошла овамо. Док  сам лежала испод моштију, заветовах се светитељу да ћу, будем ли родила мушко,  детету дати име Петар, а ако буде женско - Петра. После краћег времена остала  сам у благословеном стању и након нормалне трудноће родила сам здраву девојчицу  којој, испуњујући завет, наденух име Петра.”&nbsp;<br>
        <br>
        Осим срећне мајке, манастир подно Мокре горе  редовно походи и брачни пар из Лазаревца Слободанка и Горан Калушевић. И њима  су лекари саопштили горку истину да неће имати деце, али је вера била јача! На  њихову велику радост, али и на запрепашћење самих медицинара, после посете  светињи, добили су ћерку.<br>
        <br>
        Могло би се закључити да се чуда догађају само  када је реч о брачним паровима без деце. Срећом, није тако. Много је и примера  исцељења тешких болести, невероватних искустава да су непокретне доносили на  носилима, а да су се враћали на ногама, али и неких других, теже објашњивих  појава.&nbsp;<br>
        <br>
        <img width="376" height="600" src="~/Content/images/Svetinje/Mosti/svPKoriski2.jpg" alt="http://www.ilustrovana.com/2009/2631/03-03-velika.jpg"><br>
        <strong>Унутрашњост светиње у којој се дешавају чуда</strong><br>
        <br>
        <br>
        Једну од њих нам је испричао и Р. С. из Београда,  који каже да оно што се њему десило у овом манастиру можда и није неко чудо,  али да оно што се догодило касније, на путу до куће, никада неће заборавити.<br>
        <br>
        - Када сам први пут дошао у Црну реку, искрено,  нисам се ничему надао - прича човек који не жели да му се име спомиње у  новинама. - Хвала Богу, великих проблема у животу нисам имао, али сам се са  једном муком одавно борио: више од двадесет година сам био страствени пушач,  што ми је увелико стварало и здравствене проблеме. Нажалост, и поред бројних  покушаја, овог порока нисам могао да се ослободим.<br>
        <br>
        То је, уједно, била и највећа жеља нашег  саговорника када се помолио пред моштима светитеља. Легао је испод ћивота са  моштима светог Петра Коришког.<br>
        <br>
        Ковчег је, иначе, смештен десно од олтара у старој  цркви, а испод њега је дрвени лежај прекривен ћилимом. Монаси кажу да је  молитва најделотворнија ако се лежи испод моштију, а најсрећнији је онај ко  испод ковчега успе и да заспи. Нешто слично се догодило и аутору ових редова.  Додуше, није заспао, али га је лаки дремеж довео у стање које је тешко описати.  Невероватно је колико се у том тренутку осећате опуштено, безбрижно, временски  и просторно неограничено, као да заувек излазите из материјалног света и свега  што свакодневица носи са собом.<br>
        <br>
        Јунак наше приче је извесно време, не сећа се ни  сам колико, провео лежећи испод моштију. Устао је, прошетао по манастиру и  закључио да му цигарете више нису потребне. Ни неколико сати након боравка у  соби с ћивотом, Р. С. није упалио ниједну цигарету, нити је за њима осећао  потребу. А онда се догодило оно што ће, понавља, памтити целог живота.<br>
        <br>
        - Моја “лака” победа над пороком се, очигледно,  некоме није допала! - каже наш саговорник. - Највеће искушење ме је чекало на  изласку из Краљева где ме је зуставила патрола саобраћајне полиције. Ограничење  брзине је било 50 километара на сат, а ја сам возио осам километара брже! Такво  прекорачење се обично толерише, али је полиција овог пута била неумољива.  Платио сам казну од 3.000 динара и, изнервиран, вратио се у аутомобил.<br>
        <br>
        <br>
        <img width="494" height="598" src="~/Content/images/Svetinje/Mosti/svPKoriski3.jpg" alt="http://www.ilustrovana.com/2009/2631/03-04-velika.jpg"><br>
        <br>
        Ту силу не могу да објасним<br>
        <br>
        У том тренутку Р. С. је од супруге затражио да му  упали цигарету! Уосталом, тако је и раније “решавао” стресне ситуације у  животу. Међутим, уместо да повуче смирујући дим, наш саговорник је савладао  себе и већ упаљену цигарету брже-боље бацио. А онда је, каже, настао пакао!<br>
        <br>
        - Нисам дете и ма шта да ми се догађа, увек знам  да владам собом - прича нам, још не верујући у чудо које му се десило. -  Међутим, овога пута је било другачије. Арома упаљене цигарете је за мене била  јабука из едемског врта: прелепа, заводљива, омамљујућа, дар који се не одбија.  Иако сам већ посегао руком, као да се нека сила у мени супротставила. Један део  мене је очајнички желео, други се снажно опирао. Све је то трајало трен или  два, али ми се чинило да траје вековима. Када сам преломио, када сам одбио  ђавољи “дар”, као да сам гурнуо ватру у паклени осињак. Оно што се потом  догодило ни дан-данас не могу да објасним.<br>
        <br>
        Наш саговорник верује да је у том тренутку на  хиљаду разјарених демона ушло у њега. Почео је да вози суманутом брзином, да  претиче преко пуне линије, да “сече кривине” и намерно улеће у “маказице”, да  вози Ибарском магистралом на начин који би и на ауто-путу био крајње опасан...<br>
        <br>
        - Жена је вриштала, а ја сам папучицу гаса  притискао све јаче - сећа се Р. С. - Ни данас не знам о чему сам размишљао, шта  ме је тако терало и подстицало, али се сећам да сам све време убеђивао себе да  не смем запалити ниједну цигарету! Као да сам у том тренутку био обичан пион у  борби неких јаких, мени непознатих сила, као да ништа није зависило од моје  воље или свести.<br>
        <br>
        Срећом, иако је деоницу од Краљева до Београда,  дугу око 180 километара, прешао за нешто више од сат времена, Р. С. је кући  стигао без “иједне огреботине”.<br>
        <br>
        - Ни данас не знам шта ми се догађало - каже. -  Знам само да је уз нас, све време, био и свети Петар Коришки, и да смо, само  захваљујући њему, кући стигли живи и здрави.
    </p>
</div>

