@{
    ViewBag.Title = "Стопало св. Апостола Луке";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Мошти", "Mosti", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Стопало св. Апостола Луке</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Стопало св. Апостола Луке</h1>
    <br />

    <p>Стопало св. апостола Луке се налази у манастиру Косијерево</p>
    <img src="~/Content/images/Svetinje/Mosti/stopasvapLukemin.jpg" alt="" width="300" height="225">
    <br />
    <br />
    <img src="~/Content/images/Svetinje/Mosti/Sv.Luka.jpg" width="400" height="300">
    <br />
    <br />
    <img src="~/Content/images/Svetinje/Mosti/StopaloapLukeKosijerevo.jpg" alt="" width="261" height="410">
    <br />
    <br />

    <p>У овом су манастиру од 1884. до 1920. године боравиле мошти Св. Арсенија   Сремца, другог архиепископа српског када су и пренијете у манастир   Ждребаоник. Сада се у манастиру налази стопало Св. апостола Луке.</p>
    <p>На доњој фотографији се виде и папуче св. Арсенија Сремца.</p>

</div>
