@{
    ViewBag.Title = "Мошти светог Арсенија Сремца";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Мошти", "Mosti", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Мошти светог Арсенија Сремца</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Мошти светог Арсенија Сремца</h1>
    <br />


    <p>
        Мошти светог Арсенија Сремца се налазе у манастиру Ждребаоник код  Даниловграда
    </p>
    <img src="~/Content/images/Svetinje/Mosti/svArenijeSremacmin.jpg" alt="" width="300" height="200">

    <p>
        Наследник   Светог Саве на престолу Српске Цркве. Рођен у Срему. Још у младости се   замонашио и предао подвигу ради спасења душе. Чувши за Светог Саву и   његово дело, Свети Арсенија оде код њега у Жичу. Видећи његове врлине,   Свети Сава га ускоро постави за игумана манастира Жиче. Када су Мађари   навалили на српске земље, Свети Сава посла игумана Арсенија на југ да тражи сигурније место за архиепископију. Овај изабра Пећ и ту сагради манастир.<br>
        <br>
        Пред своје друго путовање у Свету земљу, Свети Сава је одредио Арсенија   себи за наследника на архиепископском престолу. Мудро је управљао   Српском Црквом 30 година. Предао је душу своју Господу 1266. године.  
    </p>
    <p>У  манастиру Косијерево су боравиле мошти Св. Арсенија   Сремца, другог архиепископа српског од 1884. до 1920. године када су и пренете у манастир   Ждребаоник</p>
</div>
