@{
    ViewBag.Title = "ПЛАЧ ИКОНЕ СВ. САВЕ ОСВЕЋЕНОГ У ЦРКВИ СВЕТОГ АРХАНЂЕЛА У ЈЕРУСАЛИМУ";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПЛАЧ ИКОНЕ СВ. САВЕ ОСВЕЋЕНОГ У ЦРКВИ СВЕТОГ АРХАНЂЕЛА У ЈЕРУСАЛИМУ</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>

    <p class="pnaslov">
        <strong>ЈЕРУСАЛИМ-ЦРВКА СВ. АРХАНГЕЛА<br>
        </strong>Плач иконе св. Саве Освећеног
    </p>
    <p class="sitno">Душан Михалек</p>
    <p>Икона св. Саве Освећеног је проплакала. Приложник ових фотографија се уверио да је течна материја којом икона плаче тврда као лак и без мириса. У прилогу је и фотографија чудотворне иконе св Арханђела Михаила са натписом на српском језику.</p>
    <table width="815" border="2" align="center" cellpadding="1" cellspacing="1">
        <tbody>
            <tr>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/159.JPG" width="360" height="480"></td>
                <td width="400">
                    <img src="~/Content/images/Svetinje/Hodocasca/160.JPG" width="360" height="480"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/163.JPG" width="360" height="480"></td>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/157.JPG" width="360" height="480"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/158.JPG" width="360" height="480"></td>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/167.JPG" alt="" width="360" height="480"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/153.JPG" width="480" height="360"></td>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/154.JPG" width="480" height="360"></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/156.JPG" width="480" height="360"></td>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/165.JPG" width="480" height="360"></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <img src="~/Content/images/Svetinje/Hodocasca/166.JPG" width="480" height="360"></td>
            </tr>
        </tbody>
    </table>


</div>
