@{
    ViewBag.Title = "ПУТОВАЊЕ У СВЕТУ ГОРУ 2002. ГОДИНЕ";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">ПУТОВАЊЕ У СВЕТУ ГОРУ 2002. ГОДИНЕ</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>


    <p class="pnaslov">
        Миомир Пешић 
    </p>
    <p class="pnaslov">
        <strong><font size="5">ПУТОВАЊЕ У СВЕТУ ГОРУ<br>
              2002 ГОДИНЕ</font></strong>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        27. априла/10. маја лета Господњег 2002. после прославе празника Васкрсења Господа и Спаса нашега Исуса Христа, пошли смо: мој отац Вукашин, други син по реду осмогодишњи Филип, брат у Христу Мирко и ја, на наше дугоочекивано и припремано путовање у Свету Гору Атонску.
    </p>
    <p>&nbsp;</p>
    <p>
        Благослов за пут узели смо две недеље раније од игумана манастира св. Архиђакона Стефана Сланци код Београда. Отац Игуман нам је дао благослов и рекао: ''Поздравите ми оца Петра. у Какову!''. Ја сам одговорио, мало се снебивајући: ''Али оче, ми нисмо планирали да свраћамо у Каково, већ да у суботу спавамо у Солуну, а рано ујутру у недељу да кренемо у Уранополис на брод ''. Отац Игуман је поново рекао: ''Ипак поздравите оца Петра!''
    </p>
    <p>&nbsp;</p>
    <p>
        Са благом путном грозницом, праћени пролећном кишом, укрцали смо се на спрат аутобуса грчког превозника ''Аламанис''. брат Мирко. је стигао у последњем моменту и придружио нам се на свеопште задовољство. Поздравили смо се са мојом старијом сестром, и братом у Христу Петром, који су дошли да нас испрате и да нам дају прилоге и имена за помињање.
    </p>
    <p>&nbsp;</p>
    <p>
        Аутобус је кренуо и сви су се предали својим мислима, осим мог сина, који се непрестано вртео по седишту и постављао милион питања. После неког времена и он је пристао да седи на седишту и да гледа кроз прозор.
    </p>
    <p>&nbsp;</p>
    <p>
        Бубањ поток, Врчин, Смедерево, ... километри пролазе. У једном моменту ја приметим да се с времена на време пале нека светла, слично мигавцима. Аутобус обилази све, њега не обилази нико сем ''јаких'' машина. Погледамо ми боље и видимо: Грк уградио 2 ротациона светла изнад ретровизора па кад наиђе на неко возило испред себе он их упали и сви му се склањају. 120 км/х није скидао и за мање од 2 сата вожње он је био у центру Ниша. Узео је нове путнике и ујутру рано стигли смо у Солун. Није ''брзо возио већ је ниско летео''.
    </p>
    <p>&nbsp;</p>
    <p>
        Ја сам заспао на пола сата пред Солуном и када смо стигли, једва сам се разбудио. Пробудио сам сина, зграбио ранчеве и изашли смо напоље. Испред аутобуса смо стајали око пола сата, гледали где се налазимо, питали за гардеробу, правили планове за даље. У једном моменту сам потражио оловку да запишем име улице где се налази агенција ''Аламанис'' испред које смо стајали. Сетим се да је оловка у фотографској торби, али уједно и схватим да је торба остала у аутобусу испод седишта. Аутобус је стајао пола сата и управо отишао ка Лариси и Атини. Мене је мука ухватила: Пентах, објективи, блиц, филтери...
    </p>
    <p>&nbsp;</p>
    <p>
        Један је духовник рекао да је путовање туристичко ако нема искушења, а поклоничко ако их има. Изгледа да је наше било поклоничко.
    </p>
    <p>&nbsp;</p>
    <p>
        Циљеви нашег путовања били су: посета манастиру Хиландару, поклоњење чудотворним иконама Пресвете Богородице Дохијарске Брзопомоћнице и Иверске Портаитисе; као и поклоњење моштима св. Алимпија Столпника, чију чесну главу чувају у Кутлумушком манастиру, а ту славу слави наша породица.
    </p>
    <p>&nbsp;</p>
    <p>
        Са фототорбом у глави и муком у стомаку, извадио сам актист икони Дохијарској Брзопомоћници који увек носим са собом. Отоворио сам га и погледао на последњу страну на којој пише: ''Њено призивање указује брзу помоћ за све животне потребе; помаже и при налажењу несталих ствари, код емотивних недоумица, као и против блудне страсти.''
    </p>
    <p>&nbsp;</p>
    <p>
        Један човек који је ту стајао, а иначе ради на обнови Хиландара, видео је да смо у неком проблему и рекао нам је да се највероватније исти аутобус увече из Атине враћа у Солун. Било је седам сати ујутру, а агенција се отварала у 9 сати, па смо Филип и ја читали акатист Брзопомоћници. Када се агенција отворила схватио сам да са двојицом времешних Грка не може да се споразуме јер говоре само грчки језик. У том моменту у просторију је ушао наш човек и питао ме да ли ми треба помоћ око превода. Ја сам био потпуно изненађен његовом појавом и он је на течном грчком објаснио мој проблем и где сам оставио торбу, а они су потврдили да се исти аутобус увече враћа у Солун. Пошто нису могли да позову возача на мобилни телефон, јер су узгред имали погрешан број, ми смо отишли да извадимо дозволе за улазак на Свету Гору.
    </p>
    <p>&nbsp;</p>
    <p>
        У агенцији за издавање дозвола ради Грк који је студирао у Србији и лепо говори српски језик, па је он позвао агенцију ''Аламанис'' у Атини, добио прави број мобилног телефона возача, позвао га и договорио са њим да увече ја преузмем фототорбу. Када смо средили дозволе, одлучили смо да ипак спавамо на  хиландарском метоху Каково, јер су преноћишта у Солуну скупа. Међутим пошто је Филип на мом пасошу, нисам смео да га одвајам од себе ради полицијских провера. Тако је брат Мирко остао у Солуну уместо мене да чека торбу, а нас тројица отишли смо на Каково.
    </p>
    <p>&nbsp;</p>
    <p>
        Тамо смо преноћили, оца Петра смо сутрадан видели на два минута, јер је са хиландарским игуманом, оцем Мојсијем полазио за Србију. Успели смо да се поздравимо и да му пренесем поздрав оца Игумана из Сланаца. После сам ''премотао филм уназад'' и сетио се речи оца Игумана: ''Ипак поздравите оца Петра!''. Било је једноставније извршити послушаније него цео дан јурити по Солуну за торбом и фотоапаратом. Али ''паметан се учи на својим грешкама''...
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pnaslov">
        <img src="~/Content/images/Svetinje/Hodocasca/02.gif" width="199" height="50">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        ...После суботе која је трајала 25 и више сати, сванула је недеља, дан уласка на Свету Гору. Испред метоха смо сачекали аутобус, који је успут имао квар и дебело је каснио. Укрцали смо се и затекли измученог брата Мирка који је спавао поред фамозне фототорбе. У Уранополису смо били за пола сата, ''на врат, на нос'' узели дозволе, купили карте и уз последњу трубу са брода ускочили на палубу. Сада је остало још да се поквари брод или да нас у Јовањици нико не дочека, па да идемо 10 км пешке до Хиландара.
    </p>
    <p>&nbsp;</p>
    <p>
        Пловидба је била дивна. Дан сунчан, море плаво, прозирно, мирно. Галебови лете око брода и узимају хлеб ''из руке''. У срцу радост и захвалност Богу и Пресветој Богородици. Обала Свете Горе промиче на левој страни, у даљини десно види се ''други прст'' Халкидикија, Ситонија. Наилазимо на остатке руске болнице која је напуштена одавно и гледа негде преко нас празним прозорима. Још увек стоје руске куполе, некад зелене, а сад оштећене зубом времена. Тужна успомена на руску империју.
    </p>
    <p>&nbsp;</p>
    <p>
        У сећање ми долази мој први долазак на Свету Гору, на Преображење Господа и Спаса нашега Исуса Христа 1999. године. Тада смо после бомбардовања преко агенције ''Доброчинство'' били на Светој Гори. Тај обилазак је био кратак. У Хиландару смо били 24 сата, обишли кратко манастире Есфигмен и Ватопед и вратили се у Београд. Тада смо пловили бродићем из Јерисоса и размишљао сам како би било лепо да могу да дођем на недељу две дана. Ето даде Бог и Пресвета Богородица. Нисам се ни поклонио моштима св. Димитрија у Солуну, а сада сам поново добио ту прилику.
    </p>
    <p>&nbsp;</p>
    <p>
        Мотори су почели да мењају звук и брод је заокренуо улево, вратио сам се у стварност и угледао хиландарско пристаниште Јовањицу. Искрцали смо се на камени док а брод је одмах наставио даље ка следећим пристаништима: Зограф, Дохијар, Ксенофонт, св. Пантелејмон ... ствари смо оставили пред конаком пристаништа и сачекали да дође возило из Хиландара. На наше изненађење стигао је мерцедесов минибус са климом и тамним стаклима. За воланом је био брат Момчило, бивши београдски таксиста. Убацили смо ствари у возило и кренули. Филип је сео на место сувозача, а брат Момчило је направио договор са њим да му говори кад треба да скреће лево и десно, кад да иде право, јер он тобоже има велику диоптрију па не види добро. Филип се толико уживио у своју улогу да само што није избацио брата Момчила из минибуса и сам узео да вози. Мерцедес је бректао, гутао серпентине и успон све до половине пута. Тада смо избили на врх гребена који се протеже целом дужином Свете Горе и завршава највећим врхом-Атосом. Прошли смо скретање за манастир Зограф и једног момента угледали величанствени призор са леве стране. Брат Момчило је рекао да је то скит свете Тројице на Спасовом водама. Нисам могао да верујем да се тако лепо види. Имао сам одавно жељу да одем до тог скита, али наравно дању, после прочитаних казивања о искушењима која се тамо догађају ноћу.
    </p>
    <p>&nbsp;</p>
    <p>
        После пет минута дуго очекивани призор. Хиландар, наш Хиландар. Парче Србије у туђој земљи. Дође човек у Грчку и буде свој на своме. Чудо је то велико, и хвала Богу и Пресветој Богородици, и св. Сави, и св. Симеону. Како је мудро то све устројено. У Србији је вековима све уништавано и спаљивано и затирано, а овде траје осам векова. Не може да човеку не заигра срце у грудима, да га не обузме нека милина, понос што је Србин. Ово се још више осети када се виде странци који долазе на Свету Гору, иду од манастира до манастира као овце без пастира. Ми смо обилазили, али смо пошли из нашег манастира и опет се вратили у њега, у нашу кућу.
    </p>
    <p>&nbsp;</p>
    <p>
        Иза Хиландара се плави Егеј, жуте се хиландарска житна поља. Цела долина у којој је манастир смештен је под шумом све се зелени и буја. Диван је мај на Светој Гори, све је расцветало, све мирише, творевина пева, све се радује и слави Творца. Никад нисам доживео овакав мај у животу.
    </p>
    <p>&nbsp;</p>
    <p>
        Сишли смо полако до манастира, прошли столетни маслињак, скоро уређен и паркирали се. Поново Хиландар. Гледам около, променило се, сређује се. Пролазимо кроз троструку капију, крстимо се и захваљујемо Богу и Пресветој Богородици што смо опет ту. Унутар зидова видимо да је пирг св. Саве обновљен.
    </p>
    <p>&nbsp;</p>
    <p>
        Ушли смо у гостопријемницу која је уређена у средњевековном стилу са масивним столовима и столицама од кестеновог дрвета. Срели смо позната лица, како је свет мали. Окрепили смо се уобичајеним светогорским послужењем: кафом, ратлуком, оузом и чашом хладне воде. Са нама је стигао и један господин из Немачке, протестант, који је познавао покојног оца Митрофана. Рекао нам је како долази сваке године у обилазак Хиландара и других манастира на Светој Гори. После кратког предаха, јавили смо се оцу Доситеју, добили четворокреветну собу и сместили се.
    </p>
    <p>&nbsp;</p>
    <p>
        Прошетали смо по манастиру, видели чудотворну лозу светог Симеона. Хвала богу олистала је и ове године, орезана је и зелене јој се листићи на јаким врежама. Попили смо воду из бунара светог Саве. Тако слатке воде чини ми се нигде нема. Изнад бунара види се прозор келије у којој се подвизавао и скончао свети Симеон мироточиви. Ту је и ризница и библиотека. Посебан украс манастирског дворишта су моћни чемпреси који су већи од пирга светог Саве.
    </p>
    <p>&nbsp;</p>
    <p>
        До вечерње службе која почиње у 17 часова имали смо још доста времена те смо наставили шетњу изван манастирских зидова све до морске обале. Иза нас лево остаје манастирска башта и мали виноград. Десно је у камену исклесан лик светог Симеона мироточивог. То је дело Војислава Билбије који је урадио и кивоте светог Симеона и свете Ане. Стаза даље води поред монашког гробља и цркве. У приземљу цркве налази се костурница и крипта у сутерену. У костурници се налазе полице са лобањама монаха и неких мирјана који су се упокојили у манастиру Хиландару. Монаси који се упокоје, сахрањују се на гробљу и када прође 3 или више година, гроб се откопава. Лобања се смешта на полицу у костурници, а кости у крипту испод пода костурнице.
    </p>
    <p>&nbsp;</p>
    <p>
        Необичан је сусрет са костурницом. Човек уђе кроз ниска врата у полумрак просторије. Ту нема мемле ни трулежи, ту влада неки свештени мир, гори кандило, редовно се кади. Ту је човек суочен са пролазношћу и вечношћу између којих стоје две неумитне ствари: ''привремени'' и ''Страшни'' Суд, један када ми скончамо овоземаљски живот а други када Господ одреди. Лобање нас немо посматрају и опомињу. На једној полици је кивот са мироточивим костима мирјанина, Грка. Никоме спасење није загарантовано. Сетим се шта је рекао свети Амвросије оптински, да спасење наше лежи између страха и наде по речима светог Петра Дамаскина. Страха да можемо пропасти и наде да не би пали у очајање.
    </p>
    <p>&nbsp;</p>
    <p>
        Поново на грчком сунцу идемо даље ка мору. Долазимо до капеле која је подигнута на месту где је пронађена икона Пресвете Богородице -Тројеручица. Са једне стране пута је камени зид а са друге стране црвене руже. Недалеко одатле залазимо у сенку шуме и наилазимо на чесму краља Александра и крст цара Душана иза којег се налази цела шума чемпреса. Прекопута крста стоје три засађене маслине. Најстарију је засадио Цар Душан, а остале две Краљ Петар и Краљ Александар.
    </p>
    <p>&nbsp;</p>
    <p>
        Сво време уживамо у поју птица и мирису медитерана. Тешко се издићи изнад творевине. Избијамо на раскрсницу. Десно је пут за манастир Есфигмен а лево ка пиргу краља Милутина и светом Василију на мору. Скрећемо лево и видимо велико житно поље прошарано жутим цвећем. Где год се погледа све је у цвећу. Наилазимо на једну стару маслину чије је стабло увијено око осе, баш као сврдло.
    </p>
    <p>&nbsp;</p>
    <p>
        Пирг краља Милутина је огроман и кажу да је највиша грађевина на Светој Гори. Пут даље води поред маслињака и великог винограда до утврђења тј. манастира св. Василије на мору. Конак је обновљен али црква, пирг и зидови утврђења су у лошем стању. Ту је и пристаниште које је оштећено и користи га грчка полиција. Хиландарци користе пристаниште манастира Есфигмена које је у близини. Море је кристално чисто, обала са дивним плажама и увалама. Све је чисто, свуда мир и хармонија. На околним, зеленим брдима виде се келије које су углавном све напуштене. Кажу нема довољно људи.
    </p>
    <p>&nbsp;</p>
    <p>
        Кда су питали светог Серафима саровског зашто нема светитеља као у старим временима, он је рекао да нема људи спремних за подвиг.
    </p>
    <p>&nbsp;</p>
    <p>
        Дошло је време за повратак у манастир. Не смемо да каснимо на вечерњу службу. Вратили смо се истим путем назад, мало брзим кораком.
    </p>
    <p>&nbsp;</p>
    <p>
        Вечерња служба почиње у пет часова. Ушли смо мало раније у цркву, кроз припрату кнеза Лазара. Степенице на уласку у обе припрате и главни део цркве су излизане десетак сантиметара. Векови су оставили траг. Фреске су дивне, не знам из ког доба. У другој припрати је обесена застава из косовске битке. Црква је добро осветљена дневном светлошћу. Има доста прозора. На неким прозорима се види старо стакло које није глатко као данасње. Улазимо у глави део цркве. Пред оцима је сироки иконостас са иконама које су дароване од руских кнезова. Све иконе су са украсним оковима. На десном стубу, окренута ка иконостасу је најпознатија икона, Пресвета Богородица Тројеручица. Правимо по три велике метаније и целивамо икону. Пресвета Богородице хвала ти, моли Христа Бога да се спасу дусе насе. Онда се иде у круг с десна на лево. Уз мале метаније целивамо остале иконе и круг завршавамо са кивотом светог Симеона. У цркви нема електричног светла осим у левој и десној певници. Светлост дају свећа и кандила. Црнорисци улазе у цркву бешумно, свако заузима своје место и служба почиње.
    </p>
    <p>&nbsp;</p>
    <p>
        На крају вечерње службе поново се метанише испред иконе Тројеручице и прави исти круг. Прво иду монаси по старешинству, па искушеници и на крају мирјани. Из цркве се иде право пред трпезарију, на вечеру, други и последњи оброк у току дана. До трпезарије се долази преко трема, калдрмисаног мозаиком од шљунка. Спољни зид трпезарије је фрескописан, а плафон је урађен од разнобојне ламперије геометријски распоређене.
    </p>
    <p>&nbsp;</p>
    <p>
        Чекамо да уђе Епитроп и остали монаси па улазимо и ми за њима. Монах задужен за ред у трпезарији размешта све људе. Сви столови су већ сервирани и све што је тога дана на јеловнику се налази на столу. После молитве једе се у потпуној тишини. Слушају се житија светих. Трпезарија је велика са високом таваницом. Фрескописана је. На зиду преко пута улаза је осликана ''Лествица'' светог Јована лествичника. У горњем реду фрески је осликан Акатист Пресветој Богородици. Епитроп даје знак за крај вечере и сви устају. После молитве излазимо напоље. На излазу из трпезарије испред врата Епитроп стоји са руком у положају благосиљања. После вечере поново се враћамо у цркву на молитве благодарења и Акатист ''Тројеручици''. То све траје око пола сата. После тога свако иде према свом послушању.
    </p>
    <p>&nbsp;</p>
    <p>
        Манастирска капија се затвара у сумрак и сви који су ван зидова рачунају са тим да се врате на време. Међутим постоје још једна мала врата где може да се прође још неко време после затварања велике капије. Још мало шетамо около, разговарамо и око девет се полако спремамао за починак.
    </p>
    <p>&nbsp;</p>
    <p>
        Ноћ на Светој Гори је дивна. Мир и тишина, звуци ноћи, безброј звезда изнад нас. У соби је мркли мрак, извана не допире никакво светло. Сан долази наједанпут, као прекид филма.
    </p>
    <p>&nbsp;</p>
    <p>
        Так, так, так так так... зар је већ јутрење. Клепало означава да ускоро почиње служба. Устајемо и одлазимо у цркву кроз полумрачне ходнике конака. У цркви је полумрак. Трепере кандила и понека свећа. Тишина је апсолутна. Чује се само молитва јеромонаха и повремено зашкрипи нека стасидија. Почетак јутрења је у припрати испред дебеле завесе која покрива улаз у главни део цркве. После неког времена јеромонах отвара завесу и улазимо полако. У тишини се метанише, целивају се иконе. Свако заузима место. Служба траје око три сата, а у продужетку је Света Литургија. Ноћ на Светој Гори је уствари јача од дана. Ноћу се моли, приноси се бескрвна жртва Богу.
    </p>
    <p>&nbsp;</p>
    <p>
        У току службе дежурни монах пали и гаси свеће на полијелеју и другим местима у цркви. Атмосфера је потпуно другачија него било где другде. Осам векова се овде уздижу молитве, овде су се молили св. Сава и св. Симеон и хиљаде других и знаних и само Богу знаних.
    </p>
    <p>&nbsp;</p>
    <p>
        Полако се губи појам о времену. Смењује се ревност са умором. Филип се сместио у стасидију и дрема.
    </p>
    <p>&nbsp;</p>
    <p>
        Почетак Литургије ме оживљава, добијам нову снагу. Ипак ми је поредак Свете Литургије најпознатији.
    </p>
    <p>&nbsp;</p>
    <p>
        По завршетку добијамо нафору, целивамо иконе и узимамо кашичицу жита и гутљај освећене воде. Жито се спрема за свете који се славе тог дана. Ако манастир има мошти, онда се оне износе на целивање.
    </p>
    <p>&nbsp;</p>
    <p>
        Из цркве се иде право у трпезарију на доручак тј. ручак, први оброк у току дана. После ручка се иде на послушања.
    </p>
    <p>&nbsp;</p>
    <p>
        Када у манастир дође група поклоника или неки други гости, у току дана, а обично после Литургије или вечерње износе се мошти на целивање. То је најважнија ствар, највећа част и добродошлица учињена госту.
    </p>
    <p>&nbsp;</p>
    <p>
        Монах изнесе једну дугачку даску и два постоља. На тако намештен, такорећи сто, изнесе кивоте са моштима светих. Најстарије очуване мошти, глава св. пророка Исаије. Мошти св. Артемија, св. Георгија, св. Лазара галисијског (на чији дан је рођен мој четврти син Лазар) св. Петке, св. Ане мајке св. Саве, св. Симеона столпника, св. Никифора патријарха цариградског (десна рука која је остала у положају благослова, човек целива мошти и истовремено узима благослов из деснице!)... Метанишемо, целивамо мошти, освећујемо крстиће и бројанице. Благоуханије је свуда око нас. Човек просто не може да се одвоји. Када сви прођу кивоти се враћају али миомирис још дуго лебди изнад места где су стајале мошти. А људи не верују да Бог постоји! О Господе, помози свима па и нама грешнима!...
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pnaslov">
        <img src="~/Content/images/Svetinje/Hodocasca/03.gif" width="199" height="50">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        ...Три дана смо провели у Хиландару, а онда смо узели благослов и кренули у мали обилазак Свете Горе. Ујутру смо после литургије и ручка минибусом сишли до пристаништа у Јовањици. Филип је поново наводио брата Момчила по кривинама и срећно смо се докотрљали у пристаниште. Отац Данило нам је обећао помоћ при смештају у Кареји. У принципу је потребно да се унапред најави у сваком манастиру где човек хоће да преноћи. Ми нити смо знали бројеве телефона манастира, нити смо се много бринули. Идемо са благословом на пут па како Бог да. У крајњем случају рачунао сам, сажалиће се на нас због детета.
    </p>
    <p>&nbsp;</p>
    <p>
        Излежавали смо се на сунцу извесно време док се није појавио брод ''Достојно јест''. Поздравили смо се са братом Момчилом и укрцали на брод. Пристајемо у зографско пристаниште. Истоварују грађевински материјал и конструкције за обнову манастира. На следећем пристаништу излазимо.
    </p>
    <p>&nbsp;</p>
    <p>
        Манастир Дохијар. Коначно ћу видети чудотворну икону ''Брзопомоћницу''. Благим успоном, калдрмисаним степеницама долазимо до капије манастира. Долазимо са групом од десетак Грка. Седамо у гостопријемницу, послужују нас ратлуком, бисквитима, оузом и кафом. Док се Грци уписују у књигу гостију ми разгледамо малу продавницу. Све цене су високе за наш стандард. После десетак минута крећемо. Монах отвара врата капеле у којој је фреска ''Брзопомоћница''. Ја сам био изненађен видевши да то није мени знана икона. Међутим пошто не знамо грчки језик пратимо остале. Улазимо редом у полумрак капеле. Метанишемо редом и целивамо. Јако сам узбуђен и узео сам да прочитам акатист. Негде на пола акатиста монах отвара друга врата и о чуда, добро позната икона ''Брзопомоћница дохијарска''. Улазимо да целивамо икону. Пресвета Богородице, толико си нам помоћи пружила преко своје иконе и сада смо ту, пред њом. Прочитао сам акатист до краја и изашли смо последњи из капеле. Заиста је тешко растати се од овакве светиње.
    </p>
    <p>&nbsp;</p>
    <p>
        После краћег обиласка манастира отишли смо даље, пуног срца. Ишли смо око пола сата до манастира Ксенофонта. Изненадила нас је величина манастира. Одморили смо се и после стандардног послужења обишли смо манастир. Из гостопријемнице смо отишли до старе цркве која црвеном бојом зидова подсећа на нашу Жичу. Друга црква је много већа и раскошнија. Около су стабла поморанџи, леп рибњак са јатом златних рибица, велика кула звонара, конаци. У цркви смо целивали иконе и продужили пут ка следећем манастиру.
    </p>
    <p>&nbsp;</p>
    <p>
        Идемо стотињак метара изнад мора, путем усеченим у благу падину обраслу маслинама. Около је зеленило, све је препуно цвећа, природа буја.
    </p>
    <p>&nbsp;</p>
    <p>
        Иза превоја се указује врх под снегом. Атос. Призор је величанствен. Долазимо до места где је бујица однела пут. Заобилазимо целу јаругу и опет долазимо до пута. Наилази неколико грка. Христос Анести! Грци одговарају на поздрав. Мимоилазимо се на уском путу.
    </p>
    <p>&nbsp;</p>
    <p>
        После сат хода силазимо на велику шљунчану плажу. На обали залива лежи руски манастир, св. Пантелејмон. Конаци су огромни, прављени за хиљаде монаха. Али од октобарске револуције све је пусто. Камени зидови су монументални и остали су нетакнути. Пропали су кровови и етазе. Сада се доста ради и реновира. Треба нам пет минута хода да приђемо самом манастиру. Код браће Руса све је баљшој. У гостопријемници се види да манастир није грчки. Све је скромније али се осећа словенски дух. У продавници је невероватан призор. На зидовима су стотине и стотине икона разних величина. Мислим да нема празника ни светитеља за које није било иконе. Међутим цене су још више него у грчким манастирима.
    </p>
    <p>&nbsp;</p>
    <p>
        Затим је дошао монах задузен за госте. Питао нас је да ли смо најављени, а ми смо уз осмех рекли да баш и нисмо. Када је чуо да смо из Србије није било никаквих проблема да нас приме. Добили смо собу у приземљу са погледом на море коју смо поделили са још двојицом наших.
    </p>
    <p>&nbsp;</p>
    <p>
        Преко пута конака је улаз у манастир. Пролази се кроз улаз засвођен куполом испод фреске светог Пантелејмона. Све је огромно и монументално. Саборна црква посвећена светом Пантелејмону је у средини манастирског круга и на наше изненађење, није много велика. Сви кровови и куполе су типично руски обојени у зелену боју. Поред цркве је огромна трпезарија из које ниче торањ звоника који доминира манастиром. У дворишту има још капела и црквица у истом стилу.
    </p>
    <p>&nbsp;</p>
    <p>
        Звоно је наравно највеће на Светој Гори и најдаље се чује. Изненађење нас је чекало у манастирском конаку. Попели смо се на четврти спрат и ушли у велику цркву са два олтара површине веће од цркве св. Александра невског у Београду. Невероватно како је смештена толика црква на врху конака. Црква је типично руска са лепим иконама и фрескама од којих већина има делиће моштију светих који су изображени на њима. Црква је по средини подељена на два дела стубовима и стасидијама. Пришли смо целивајућим иконама којих је било десетак и дошли до кивота са моштима.
    </p>
    <p>&nbsp;</p>
    <p>
        Код браће Руса све је невероватно. Видели смо три кивота, два у којима су биле мошти свих светитеља који се славе у месецу мају, а између њих, о чуда и радости наше, глава св. Силуана атонског. Ја сам био пресрећан. Ко још није читао дивну књигу архимандрита Софронија ''Старац Силуан''. И сада одједном налазимо се пред његовим моштима. Около се шири благоуханије, а мошти су просто натопљене миром. Не можемо да се одвојимо од моштију, враћамо се много пута и целивамо мошти.
    </p>
    <p>&nbsp;</p>
    <p>
        После обиласка цркве на конаку и краћег одмора били смо на вечерњој служби. Овде се време рачуна по византијски, па човек не може уопште да се уклопи у сатницу. Видели смо чак и двоструки ручни часовник који показује византијско и грчко локално време.
    </p>
    <p>&nbsp;</p>
    <p>
        После вечерње отишли смо у трпезарију која је реновирана и на зидовима су изображена митарства и страшни суд. Трпезарија је огромна и полупразна, види се да је прављена за огромно братство. Храна је руска, јели смо шћи или боршћ нисам бас сигуран и скромније је него у грчким манастирима. Разговарали смо са монасима, осећа се блискост Срба и Руса, разумеју нас, молили су се за нас 1999. Шетали смо мало по плажи, сачекали залазак сунца и отишли на починак.
    </p>
    <p>&nbsp;</p>
    <p>
        Јутарња служба је рано као и у свим манастирима, а литургија у наставку. Служба је мало необична јер је појање за певницом хорско. Међутим све је познато, сваку реч разумемо, осећамо се као код куће. Поново целивамо мошти незнам колико пута и узимамо антидор.
    </p>
    <p>&nbsp;</p>
    <p>
        После ручка нас је окупио отац Серафим који води госте по манастиру и прича на страним језицима. Он нам је редом све показао и објаснио. Поново смо се вратили у цркву на врху конака и редом све прошли. Показао нам је и икону св. Пантелејмона чије очи прате онога ко пролази испред ње.
    </p>
    <p>&nbsp;</p>
    <p>
        Највеће чудо је било када је отворио капелу која се налази одмах поред цркве. Прво нас је запухнуо такав миомирис да смо занемели. Када смо ушли видели смо преко 120 моштију светих, које не могу да набројим. Малтене делови моштију свих познатих светитеља су тамо. То се не може описати већ само доживети. Изашли смо задивљени благодарећи Богу на свему.
    </p>
    <p>&nbsp;</p>
    <p>
        Затим смо отишли у саборни храм посвећен св. Пантелејмону. После обиласка и тумачења изнели су мошти, чесну главу св. Пантелејмона коју смо целивали. Тада сам сазнао да је наш Цар Душан Силни поклонио ову светињу манастиру св. Пантелејмона. После завршеног обиласка, захвалили смо се браћи Русима на свему, узели благослов за даљи пут и благодарећи Богу кренули на пристаниште.
    </p>
    <p>&nbsp;</p>
    <p>
        Брод је дошао на време и после краће вожње обрели смо се у главном пристаништу 
              Свете Горе у Дафнију...
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pnaslov">
        <img src="~/Content/images/Svetinje/Hodocasca/04.gif" width="199" height="50">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        ...Пловидба по овој обали Свете Горе се обавезно прекида у Дафнију у оба смера. Ту се изврши царинска и полицијска контрола, па се пут наставља или ка скиту св. Ане или ка Уранополису. У Дафнију је веома живо, пролазе радници, монаси, Туристи, поклоници, чују се разни језици. Има неколико одлично снабдевених продавница. Може се купити разноврсна храна, алат, одећа, обућа, сувенири, иконе, добар тамјан...
    </p>
    <p>&nbsp;</p>
    <p>
        Утом стигоше два аутобуса која возе за Кареју, главни град Свете Горе. Уз приличну гужву и гурање, сместили смо се у аутобус и кренули ка Кареји. До Кареје води добар макадамски пут и вожња је интересантна. Када смо стигли били смо изненађени како је тамо све мало и скромно. Као да смо се вратили у прошлост. У центру је мали трг око кога се све дешава. Ту су таксисти, путници, продавци. Све се врти око доласка и одласка аутобуса. Када аутобуси оду завлада мир и тишина. Међу људима угледасмо нашег оца Данила. Размишљам, ваљда нам је обезбедио смештај. Поздравили смо се са њим и рекао нам је да је једва уговорио ноћење у скиту св. Андреја Првозваног. Договорили смо се да прво обиђемо Кареју па се тек онда сместимо у скиту.
    </p>
    <p>&nbsp;</p>
    <p>
        Хиландарска кућа у кареји није била отворена, а келија где је боравио отац Данило је била у лошем стању за боравак и то су два разлога зашто смо имали проблема са смештајем.
    </p>
    <p>&nbsp;</p>
    <p>
        Отишли смо у карејски Саборни храм који се реновирао и био окружен скелама. Увели су нас у олтар да би смо се поклонили и целивали чудотворну икону Мајке Божије ''Достојно јест''.
    </p>
    <p>&nbsp;</p>
    <p>
        Прекопута храма је зграда Свештене општине, а свуда наоколо по брдима су смештене келије и испоснице. О. Данило нас је одвео до испоснице св. Саве. После упорног куцања отворио нам је врата о. Никодим и примио нас. Рекли смо му ко смо, одакле долазимо и он нас је прво одвео у цркву испоснице. Ту смо се поклонили и целивали чудотворну икону Мајке Божије ''Млекопитатељнице''. У цркви смо видели отворен Псалтир, очигледно смо прекинули оца у испуњавању карејског Типика. Помолили смо се у цркви и сели испред да се послужимо. Отац Никодим је скувао кафу и изнео ратлук и хладну воду. Овде нема оуза, строже је него у манастиру. После неколико минута отац Никодим вели: ''Епа браћо ако немате шта да питате да се лепо опростимо, мене Цар Давид зове: Ајде Никодиме да читаш Псалтир, и ја морам да идем''! Схватили смо поруку, овде нема времена за губљење. Опростили смо се и кренули даље. Испосница св. Саве оставља јак утисак на човека знајући ко ју је основао, ко се ту подвизавао и на који начин. Све је унутра древно и мистично, говори се тихо и мало, да се не нарушава свештени мир. Одлазимо даље са ликом Богомајке Млекопитатељнице у срцу и у руци. Отац Никодим сваком даје скромни дар, пластифицирану иконицу Млекопитатељницу.
    </p>
    <p>&nbsp;</p>
    <p>
        Силазимо поново на главни трг и опраштамо се од оца Данила. Он одлази у келију а ми у скит. Договарамо се да га посетимо сутрадан у његовој келији.
    </p>
    <p>&nbsp;</p>
    <p>
        Враћамо се назад главним путем до скита св. Андреја првозваног. Пред нама је огромно здање потпуно неуобичајене величине за појмове Свете Горе. Изненађење је тек када се уђе унутар зидова. Прошли смо кроз масивну гвоздену капију и ушли унутар полусрушеног скита. Ово је скит само у имену. Конаци су прављени за пар хиљада људи, али нажалост све је у стању распадања. Жалосно је погледати около. Приметили смо улаз у једном делу конака који је како тако употребљив. Ушли смо и пронашли гостопријемницу. Примио нас је Грк, ваљда искушеник, послужио нас и сместио у једну собу са двадесетак пољских кревета. До собе смо дошли кроз полусрушени ходник. Брат Мирко је питао када затварају капију да знамо како да се организујемо. Грк је питао зашто нас то занима, а ми смо рекли да би отишли до Иверског манастира и назад па да не закаснимо. Кад је то чуо он је почео да галами: ''Нашта то личи, ако хоћемо у Иверски манастир да идемо тамо да ноћимо, није ово хотел већ манастир, ако хоћемо да овде ноћимо морамо да присуствујемо свим службама и да морамо да се појавимо у цркви у 16.00 јер је сахрана новопредставњеног монаха''. Ми смо одклимали главама и разместилили се у соби. Пошто је било око два сата поподне прерачунали смо да не можемо до Иверског манастира, већ ћемо отићи у Кутлумушки манастир.
    </p>
    <p>&nbsp;</p>
    <p>
        Прво смо отишли у скитску цркву посвећену св. Андреју првозваном. Црква је невероватних размера, има три олтара, огроман иконостас, безброј стасидија и фреске и иконе са делићима моштију светих. На централном месту су мошти св. Андреја, његова чесна глава. Поклонили смо се и целивали мошти из којих се ширио предивни миомирис.
    </p>
    <p>&nbsp;</p>
    <p>
        Црква је у добром стању за разлику од конака. Грци су преузели скит и реновирају га.
    </p>
    <p>&nbsp;</p>
    <p>
        После смо отишли у манастир Кутлумуш.  Дошли смо надомак моштију св. Алимпија столпника кога прославља наша породица.  Да ли ће нам изнети мошти или не, размишљао сам, неће нас оставити св.  Алимпије после оволиког пута.
    </p>
    <p>&nbsp;</p>
    <p>
        Манастир Кутлумуш је смештен тик уз, може се рећи у Кареји.  Лежи у малој удолини окружен скромном економијом.  Ушли смо у манастир и препознао сам цркву са фотографија.  Све је мало и скромно.  Примљени смо уобичајено, светогорски.  После краћег одмора ступили смо у разговор са монахом у гостопријемници.  Видели смо да је он чуо за славу код Срба и рекао је да можемо да целивамо мошти, али после литургије или вечерње службе, јер сада није ту монах који брине о моштима.  Ми смо рекли да морамо назад у скит св. Андреја иначе смо награбусили ако не будемо на сахрани.  Договорили смо се да дођемо сутрадан после Литургије, а да ће нас чекати монах који ће нам изнети мошти.  Ми смо задовољни кренули назад, благодарећи Богу и св. Алимпију.  Прошли смо кроз центар Кареје и спустили се до скита.
    </p>
    <p>&nbsp;</p>
    <p>
        Стигли смо на време и ушли у цркву за почетак опела.  Дошли су Протос Свете Горе и много монаха, родбине и пријатеља покојника.  Подељене су воштанице и служба је почела.  Гостопријемничар скита је стајао код врата и ми смо имали утисак да је дошао да провери да ли смо дошли на време.  Опело је трајало сигурно сат и по времена и онда је почело опраштање од покојника.  Сви су редом прилазили, целивали икону и крст а затим покојника у чело. Брат Мирко је отишао са свима, а нас тројица смо остали. Ја сам рекао да је боље да више не привлачимо пажњу јер ћемо на крају спавати на улици. Размишљао сам ако пођемо сви Филип ће сигурно да направи неку глупост. Филип је почео да плаче, како само он уме (цмиздрење без почетка и краја). Ја се сагнем и питам га зашто плаче, а он каже да плаче јер нећу да га пустим да пољуби сандук. Ја му опет кажем: ''Немој сине да правимо гужву, оборићеш тамо нешто, па ће да нас на крају избаце из скита''. Он и даље плаче.
    </p>
    <p>&nbsp;</p>
    <p>
        Утом се опраштање завршило и сви кренусмо напоље. Како излазимо из цркве од свег народа само он плаче. Сви га мазе по глави и теше и нешто му говоре на грчком. Изгледа као да је покојников најближи род. Ја размишљам, што не пустих дете кад хоће да се опрости, али такви смо ми родитељи.
    </p>
    <p>&nbsp;</p>
    <p>
        На гробљу се Филип измигољио и попео на врх ископане земље, тако да нисам могао ни да му приђем ни да га дозовем доле. Само сам гледао како ће да се стрмекне у раку. На крају се сахрана завршила и отишли смо на вечеру и починак.
    </p>
    <p>&nbsp;</p>
    <p>
        Ујутру смо опет имали проблем. Литургија је у скиту касно почињала, морали смо у манастир Кутлумуш а у 11.00 на аутобус за Дафни. На крају сам предложио да Мирко и мој отац оду мало на Литургију а ја ћу да спремим ствари и Филипа па да се искрадемо из скита. Тако смо и урадили. У саму зору смо стругнули кроз капију коју је монах тог момента отворио и зачуђено гледао за нама.
    </p>
    <p>&nbsp;</p>
    <p>
        Отисли смо у Кутлумуш и успут вежбали тропар св Алимпију: Терпјенија столп бил јеси... Дочекао нас је монах из гостопријемнице и позвао оца монаха да изнесе мошти св. Алимпија. Ушли смо у цркву поклонили се иконама и онда смо сачекали мошти. Данима пре сам правио план у глави, када се поклоним и целивам мошти, онда ћу да се помолим за то и то, да осветим крстиће које сам понео од куће, да отпевамо тропар. Када су мошти изнете ја сам толико био узбуђен да сам се поклонио и целивао мости а за тропар смо се сетили кад су мошти биле враћене у олтар и онда смо га једва отпевали. Захвалили смо се браћи Грцима и опростили се од њих. На путу за Кареју сам се сетио да нисам осветио крстиће на моштима. Кад смо се вратили у кући могао сам да кажем жени да сам осветио крстиће на сто педесет мостију светих, али на мостима нашег св. Алимпија нисам.
    </p>
    <p>&nbsp;</p>
    <p>
        Посетили смо оца Данила у келији, попили кафу, мало попричали и кренули на аутобус. Око пола једанаест се створила гужва на тргу Кареје, стили су аутобуси и сишли смо поново у Дафни. Пазарили смо тамјан и неке поклончиће, прошли контролу и укрцали се на брод ''св. Ана''.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pnaslov">
        <img src="~/Content/images/Svetinje/Hodocasca/05.gif" width="199" height="50">
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>
        ...Препун утисака из Кареје гледао сам море и обалу. Масив Атоса је био ближи и лепо су се виделе јаруге прекривене снегом. Дошли смо до пристаништа манастира Симоно Петру. Манастир је подигнут на невероватном месту. Као да је окачен у ваздуху изнад стене. Затим следе Григоријат, Дионисијат и св.Павле. Изнад Атоса стално стоји један паперјаст бели облак у контрасту са плавим небом.
    </p>
    <p>&nbsp;</p>
    <p>
        Море је невероватно бистро. На многим местима је тиркизно плаво са тамнозеленим мрљама морске траве. призор подсећа на карипско море.  Пролазимо Нови скит и на крају пристајемо у задњу станицу, скит св. Ане.
    </p>
    <p>&nbsp;</p>
    <p>
        Излазимо на пристаниште у подножју планине. Поред чамаца извучених на обалу стоји двадесетак мазги. Стрпљиво чекају следовање терета које треба да извуку до скитских келија. Испред нас је пошумљена стрма планина начичкана келијама, капелама, црквама... До центра скита, на 300 м надморске висине води нас 1622 степеника (мој син их је избројао).
    </p>
    <p>&nbsp;</p>
    <p>
        Припремамо се за успон, стежемо патике, стављамо ранце на леђа и напред.  Бескрајне степенице нас полако воде нагоре. Видик је све лепши, али не могу да сликам јер ми је душа у носу. Сва срећа да је около шума па нас сунце не греје. Правили смо неколико кратких одмора, тек да узмемо дах. Обилазе нас мазге у конвоју. Невероватно су спретне на степеницама. Гоничи нам нуде да узјашемо. Хвала лепо, више верујемо својим ногама. Узбрдо би још човек и узјахао, али низбрдо...
    </p>
    <p>&nbsp;</p>
    <p>
        После четрдесетак минута смо се попели до центра скита. Све је мало и збијено. Сваки метар простора је отргнут од планине. Све је у подзидима и терасама. Довлачена је земља за баште и дрвеће, ко зна одакле.
    </p>
    <p>&nbsp;</p>
    <p>
        У центру Скита се налази Саборна црква и мало двориште, около су конаци који висе изнад стена. Одложили смо ствари поред ограде са погледом на море. Били смо потпуно мокри од зноја, од главе до пете. Поглед је величанствен. 300 метара испод нас плави се Егеј, прекопута полуострво Ситониа, десно вијугава обала Свете горе, изнад нас Атос.
    </p>
    <p>&nbsp;</p>
    <p>
        Када смо дошли до даха, окрепили смо се послужењем и сачекали гостопријемничара. Сместили су нас у собу конака који је уз саму саборну цркву. Уђе се у припрату па онда степеницама у ходник са неколико соба. Ово је невероватно, да ноћимо уз саму цркву. Како је овде све благословено.
    </p>
    <p>&nbsp;</p>
    <p>
        После лепог пријема и обиласка продавнице, разговарали смо са Грком, артиљеријским пуковником. Из његове приче видимо да су били уз нас ових протеклих година и да смо браћа у Христу. На крају нам је поклонио иконицу свете Варваре заштитнице артиљерије у грчкој армији.
    </p>
    <p>&nbsp;</p>
    <p>
        После смо обедовали и обишли саборну цркву. После објашњења, већином на грчком језику и детаљног разгледања фрески и икона, изнели су нам на целивање мошти двојице скитских отаца и део моштију св. Ане, мајке Пресвете Богородице.
    </p>
    <p>&nbsp;</p>
    <p>
        Када смо изашли из Саборне цркве, добили смо слободно до заласка сунца када се капија закључава. Кренули смо иза скита поред монашког гробља и мале цркве прекивене каменим плочама у типичном светогорском стилу. Вијугава камена стаза нас води даље и крећемо мало ниже. Мора опрезно да се хода јер нема ограде. Педесетак метара испод центра скита у процепу стене налази се келија-испосница једног од скитских светитеља. Предњи део је озидан и стављена су уска дрвена врата. Наниже води неколико степеника, а доле стоји једна столица и има простора да усправно стоји један човек. Около су иконе и једно кандило на средини. Овде човек улази са страхом Божијим и остаје без речи. Ово је поприште духовне борбе о којој се чита у књигама и делима светих отаца. Ово је прва линија одбране. Целивамо иконе и лагано одлазимо даље.
    </p>
    <p>&nbsp;</p>
    <p>
        Пролазимо даље поред келија и степенастих баштица. После неког времена долазимо на један гребен са кога се отвара величанствен поглед на обалу ка Јовањици. Обала је обасјана залазећим сунцем и не можемо да одвојимо поглед од ње. Седимо ту и ћутке гледамо. Овде се стварно тешко издиже изнад творевине. Вероватно после дужег боравка човек навикне на ову лепоту и пренесе пажњу на духовне ствари.
    </p>
    <p>&nbsp;</p>
    <p>
        Стаза даље води стрмо наниже из серпентине у серпентину. Ми се враћамо назад да неби спавали напољу. Испред гробља смо сликали залазеће сунце, крстове, куполу цркве... и замало спавали испред капије.
    </p>
    <p>&nbsp;</p>
    <p>
        Крај дана смо дочекали у дворишту скита гледајући море. Сунце је пало у море, небо је измењало боје, а Атос је заронио у мрак. Појавили су се милиони звезда, ноћни звуци, звуци тишине, аутомобилски фарови на Ситонији. Лагано смо упловили у светогорску ноћ, мирисну, чудесну, непоновљиву. Дуго смо седели крај ограде свако у својим мислима.
    </p>
    <p>&nbsp;</p>
    <p>
        Ујутру смо били на Светој Литургији и причестили се. После јутарњег послужења смо се захвалили на гостопримству и опростили од љубазних домаћина.
    </p>
    <p>&nbsp;</p>
    <p>
        Пут ка пристаништу је сада једноставан. Иде се низбрдо са уживањем. Сада можемо да разгледамо и оно што у доласку нисмо запазили. Тек сада видимо куда смо се пели. Сунце се помаља иза Атоса и лагано помера линију светлости и сенке. Јутарња свежина лагано нестаје у крошњама дрвећа. Брзо стижемо у пристаниште на топло мајско сунце. Поглед нагоре је диван. Скит свете Ане, допола обасјан зрацима излазећег сунца стоји између мора, земље и неба на путу у Царство Небеско.
    </p>
    <p>&nbsp;</p>
    <p>
        Сачекали смо брод ''Достојно Јест'' који нас је однео ка пристаништу Дафни. Поново пролазимо и пристајемо крај познатих манастира. Нови Скит, св. Павле, Дионисијат, Григоријат, Симоно Петру. Гледам манастир Симоно Петру и долази ми у сећање основна школа и бајка о чардаку ни на небу ни на земљи.
    </p>
    <p>&nbsp;</p>
    <p>
        У Дафнију смо сачекали други брод и кренули пут Јовањице, враћамо се кући у наш Хиландар. Свуда пођи својој кући дођи. У Јовањици чекамо возило из Хиландара. Нити га има нити знамо када ће. Ништа нам не преостаје него да чекамо. Овде време није иста категорија као у свету. Имас бројаницу, Свето Писмо и молитвеник па изволи.
    </p>
    <p>&nbsp;</p>
    <p>
        Брат Момчило стиже када су већ сви изгубили наду. Возило је теренски Мерцедес са отвореним сандуком позади. Имамо прилику да се сетимо војничких дана. Бубреге смо у Хиландар донели у џеповима.
    </p>
    <p>&nbsp;</p>
    <p>
        У Хиландар се враћамо пуни утисака, благодарни Богу и Пресветој Богородици на свему што смо видели и доживели. Уистину је велика милост Божија.
    </p>
    <p>&nbsp;</p>
    <p>
        Поново смо добили нашу собу после неколико дана, када је отишла једна велика група гостију. Остатак времена до повратка кући је посвећен Хиландару. Поново смо се укључили у ритам служби и живота у нашем манастиру. Обишли смо ризницу, видели иконе, повеље и старе књиге. Сваки поновни сусрет са осмовековном историјом је јединствен и непоновљив, доживљава се другачије.
    </p>
    <p>&nbsp;</p>
    <p>
        После неколико дана ишли смо бродом до манастира Ватопеда и назад. Нажалост, брод је имао само једну вожњу и одмах се враћао назад. Ми смо га ионако 1999. обишли.
    </p>
    <p>&nbsp;</p>
    <p>
        Идеју о посети манастиру Зограф нисмо реализовали, већ смо рекли да треба нешто да остане и за следећи пут.
    </p>
    <p>&nbsp;</p>
    <p>
        Било је још нешто што нисам желео да пропустим ни за живу главу, скит св. Тројице на ''Спасовим водама''. О том скиту смо читали, слушали и гледали на ТВ-у. Ту нема монаха већ дуже време, кажу да су тамо велика искушења која могу да поднесу само јаки и утврђени у вери. Сва та казивања су заголицала и моју знатижељу, да одем тамо, нормално дању. Једног дана смо се после Литургије и ручка спаковали и кренули пут скита. Пут води од Хиландара поред манастиских кошница ка југу, долином потока одакле се Хиландар снабдева водом. Иде се узаном стазом кроз густу шуму 2 или 3 километра. Пењемо се и силазимо, некад нам је поток надохват руке а некад дубоко у шикари испод нас. Када смо већ изгубили наду да ћемо стићи, дошли смо до озидане каптаже за скупљање воде. Изнад нас су само гране дрвећа. Брат Мирко је препознао да од тог места води стаза навише којом се излази до скита. Кренули смо и после краћег успона дошли смо до зидова утврђења. Прошли смо кроз остатке капије и обрели се на природној тераси која је настала на месту где је као ножем одсечена стена од врха брда. На дну одсеченог дела остала је равна тераса идеална за градњу скита. Кажу да је утврђење непријатељима било неосвојиво. У небо се уздиже десетак кипариса а у њиховој сенци је једноспратна камена зграда скита, скоро наслоњена на вертикалну стену. Поред зграде се налази молчалница укопана у земљу до самог крова. Нисмо могли нигде да уђемо јер са нама није ишао нико од монаха. Петнаестак метара укосо у суми је место где је био идолски жртвеник у паганско доба. Овде влада савршени мир и тишина. Цују се само инсекти и птичице. Све изгледа мирно и безазлено, док не падне ноћ... Одморили смо се, разгледали около, сликали и полако кренули назад.
    </p>
    <p>&nbsp;</p>
    <p>
        Целом дужином пута иде аквадукт од танких камених плоча којим је раније довођена вода у Хиландар. Сада се на неким местима виде јазбине животиња које су се уселиле у њега. Вода се данас води еластичним цевима до манастира. Поток је на половини пута до манастира већ пресушио, али воде на извору увек има. Успут смо набрали гомилу лорберовог листа које ћемо кући делити домаћицама за кување ''благословених'' јела. Вратили смо се у манастир пуни утисака.
    </p>
    <p>&nbsp;</p>
    <p>
        Остатак времена до повратка кући смо провели у Хиландару и правили смо краће шетње и излете у околини и до мора. Филип и ја смо се ужелели куће и тек на крају сам осетио колико је јака света тајна Брака и веза са породицом. Сад ми је јасно да човек може да оде у манастир само по Божијем призиву и да мора да умре за свет.
    </p>
    <p>&nbsp;</p>
    <p>
        Последњег дана смо се опростили са свима, узели благослов од оца Методија и одвезли се до пристаништа Јовањица. На одласку човек има двојна осећања, тугу због растанка и одласка а радост због повратка кући.
    </p>
    <p>&nbsp;</p>
    <p>
        Брод је стигао на време, укрцали смо се и кренули пут Уранополиса. Ове две недеље су трајале као два месеца, а искрцавање у Уранополису ме је поразило. Невероватно је колико смо се искључили из света. Сада, наједанпут, враћамо се у стварност. Аутомобили, гужва, асфалт, жене, туристи. Ми смо изгледали као из другог света: препланула лица, прашњаве патике и одећа, ранци, лорберови штапови за ходање. Успели смо да се укрцамо у аутобус и да стигнемо до Какова. Ту смо преноћили и сутрадан ујутру наставили пут до Солуна.
    </p>
    <p>&nbsp;</p>
    <p>
        У Солуну смо ствари оставили у агенцији Аламанис, па смо мало пазарили, прошетали се градом и отишли до цркве св. Димитрија солунског. Колико сам пута био у Солуну али ево први пут одлазим до ове светиње. Црква је огромна и необичног правоугаоног облика. Унутра је необично због клупа које грци практикују у својим црквама. Испод олтара постоји сутерен грађен у доба св. Димитрија. Све је необично и интересантно. Кивот са моштима св. Димитрија смештен је у малој мермерној капели која се налази на левој страни од улаза у цркву. У капелу се улази на једна а излази на друга врата. Кивот је заштићен плексигласом и састоји се од мањег кивота који стоји на вецем. Ушли смо у капелу направили земне поклоне и целивали кивот. Миомирис је предиван и изузетно јак. Враћали смо се у капелу незнам колико пута. Недалеко од ове капеле налази се стаклени кивот са мироточивим, жутим костима светитељке чије име нисам запамтио. Велика је благодат у овој цркви и граду који је под заштитом светог Димитрија.
    </p>
    <p>&nbsp;</p>
    <p>
        Увече смо се срели пред агенцијом са братом Мирком који је остао дан дуже у Хиландару и директно из Уранополиса стигао у Солун. У Недељу ујутру, шеснаестог дана нашег путешествија, с помоћу Божјом и Пресвете Богородице вратили смо се кући.
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p class="pdesno">
        <em>Миомир Пешић</em>
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>




</div>
