@{
    ViewBag.Title = "РЕНОВИРАЊЕ  СИНАЈСКЕ БИБЛИОТЕКЕ";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">РЕНОВИРАЊЕ  СИНАЈСКЕ БИБЛИОТЕКЕ</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
<p>&nbsp;</p>
            <p class="pnaslov"> Угљеша 
            Милета</p><p class="pnaslov"> <strong><font size="5">РЕНОВИРАЊЕ СИНАЈСКЕ БИБЛИОТЕКЕ <br>
              </font>октобар 28, 2009.</strong>
</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Ексклузивно за „Светосавље“, отац  Јустин Синаит говори о реконструкцији зграде библиотеке манастира Свете  Катарине</strong> 
</p><p><br>
  Древна библиотека садржи преко 2000  свитака, 3500 рукописних књига, као и око 5000 књига насталих у првим  деценијама након открића штампарства. По старости и разноврсности, са овим се  једино може упоредити богатство Ватиканске библиотеке (уз напомену да је ова  потоња своје „благо“ увећавала углавном бруталном пљачком православног Истока).<br>
  У току је реконструкција зграде у  којој се чува највећа збирка рукописних и старих књига на свету. Отац Јустин  Синаит, хартофилакт (библиотекар) братства манастира Св. Катарине,&nbsp; за  „Светосавље“ говори о овом подвигу.
<table width="805" border="0">
  <tbody><tr>
    <td width="507"><div align="justify">С: Оче, библиотека се већ налази у  „релативно новој“ згради (хиљаду година почивала је у кули Св. Ђорђа, у 18.-ом  веку премештена до владичанског двора – да би почетком двадесетог века била  смештена у јужно крило зидина манастира), чему сада сав овај посао?<br>
      О.Јустин: Погледајте таваницу у овом  делу, ко би рекао да се усред оволике пустиње скупља влага – невероватно али  истинито. Обзиром на огромну вредност коју библиотека има, одлучено је да се на  истом месту изгради потпуно нова просторија.</div></td>
    <td width="288"><div align="right"><img src="~/Content/images/Svetinje/Hodocasca/Sinajskimanastir.jpg" width="272" height="204"></div></td>
  </tr>
</tbody></table>
</p><p><br>
    <table width="807" border="0">
      <tbody><tr>
        <td width="111"><img src="~/Content/images/Svetinje/Hodocasca/Sinajbiblioteka1.jpg" width="111" height="150"></td>
        <td width="686"><div align="justify">Тренутно сте нас затекли у фази  селидбе: сваку књигу треба очистити, увити у ову заштитну фолију те спаковати у  контејнере, који ће бити склоњени док трају радови. Дођите да погледате –  тренутно су спремни само стари каталози из четрдесет осме и ови из 2001. (  обиман материјал, стручни попис и коментар свега што библиотека поседује) и  фрагменти (мноштво делова разних рукописа који тек чекају истраживаче).<br>
          Ово што видите на полицама,  очишћено,увијено у фолију и спремно, су штампане књиге (од Гутемберга наовамо).  Остао је тежи део, обрада рукописних књига. Ускоро овде долази интернационални  конзерваторски тим, и тада нећу имати мира..<br>
  <br>
          (Током поменуте каталогизације  2001., био је принуђен да изброји листове сваког фрагмента и књиге, пре него  што их изда конзерваторима на обраду, и да исто бројање понови када их прими  назад. Сећање из 19.-ог века на Фон Тишендорфову крађу Синајског Кодекса,  најстарије библије на свету, овде је увек свеже због напора који се улажу да се  овај рукопис манастиру врати..)</div></td>
      </tr>
    </tbody></table>
    </p><p align="justify"><br>
      С: Било је раније приче о томе како  су неопходни филтери за ваздух, на микронском нивоу, због прашине камене  пустиње, која је невидљива а продире свуда..<br>
      О.Ј.: Јесте, ускоро ће бити налик на  најсавременији трезор, са контролом влаге, температуре и честица у ваздуху.  Срећом, немамо проблема са донацијама за све ово, због свести међународне  научне заједнице о томе каква је баштина ово свето место…<br>
      С: Оче, библиотека је&nbsp; до сада  била углавном сакривена од „обичних“ посетилаца, као и од ходочасника. Хоће ли,  након реконструкције, можда постати више доступна?<br>
      О.Ј.: Ево овако: управо ово место  где сада стојимо, биће много затвореније за све, па и за истраживаче. Насупрот  томе биће изграђена Читаоница, са дигиталним приступом сваком документу и  књизи. У том смислу ће библиотека постати доступнија свима, а не само  научницима – више него што је можда икада у својој историји била…<br>
      Оца Јустина позивају доле у цркву.  Поред свих обавеза, сада је његова је „чреда“ да служи над моштима Св.  Катарине, које се у подне износе пред православне посетиоце.<br>
      Прекидамо наш разговор, и тражимо да  благослови трудбенике наше виртуелне <a href="http://www.svetosavlje.org/index.php" target="_blank">библиотеке</a> у Србији , са чијим радом је упознат прошле године.    
    <table width="806" border="0">
      <tbody><tr>
        <td width="219"><img src="~/Content/images/Svetinje/Hodocasca/oJustinsinajit.jpg" width="218" height="360"></td>
        <td width="577"><p><br>
          „Бог вас благословио!“ говори овај  смирени Синаит.
          Силазимо и ми,&nbsp; пратећи га низ лавиринт степеника ка цркви  Преображења. Да се још једном поклонимо Нетљеној Глави која исповеди Христа, и  Светој Руци која мачем духовним посрами александријске учењаке
          </p><p></p></td>
      </tr>
    </tbody></table>
    </p><p>
    
    </p><p>&nbsp;</p>
            <p class="pdesno"> <em><a href="http://beleske.wordpress.com/2009/10/" target="_blank">Угљеша Милета</a></em>
</p><p>&nbsp;</p><p>&nbsp;</p>	<p>&nbsp;</p>      
    </div>
