@{
    ViewBag.Title = "Рука светог Јована Крститеља";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Мошти", "Mosti", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Рука светог Јована Крститеља</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>Рука светог Јована Крститеља</h1>
    <br />





    <p align="center">
        <img src="~/Content/images/Svetinje/Mosti/ruka_svetog_jovanaweb.jpg" alt="" width="289" height="176" align="middle">
    </p>


    <p align="left">
        <strong>Blagoslov    ruke koja je Hrista krstila na nama!</strong><br>
        <strong>Povijest o desnoj ruci&nbsp;<br>
            svetog Jovana Pretece<br>
        </strong><strong>i otkuda ona u Cetinjskom manastiru</strong><strong> </strong>
        <br>
        Izvor: Svetigora, obraznik za vjeru, kulturu i    vaspitanje, br. 21-23 (Arandelovdan 1993) i 24 (Bozic 1994), Cetinje&nbsp;<br>
        [medunaslovi dodati za Internet verziju]
                        <br>
        <strong>"Ruka    koja je zahvatila vode iz Jordana i podigla se nad glavom Hristovom",    pisao je Vladika Nikolaj u predratnom&nbsp;<em>Misionaru</em>, "nalazi se    medu nama".&nbsp;</strong><strong> </strong>
        <br>
        <strong>Ona, koju    je iz grada Sevastije pokrenuo Sv. Apostol Luka, blagosiljala je vjerne,    pridrzavana njegovom Svetoscu, Patrijarhom srpskim, gospodinom Pavlom, u    Cetinjskom manastiru na Lucindan, ljeta Gospodnjeg 1993.</strong><strong> </strong>
        <br>
        <strong>Kako je    ova svetinja dospjela u Cetinje? Pocetak njenoga puta, vodenog nedokucivim    Bozijim Promislom opisuje u "Zitijima Svetih" arhimandrit Justin    (Popovic)...</strong><strong> </strong>
    </p>
    <table border="1" cellspacing="1" cellpadding="0" align="left" width="191">
        <tbody>
            <tr>
                <td>
                    <p align="left">
                        <img width="190" height="251" src="~/Content/images/Svetinje/Mosti/rukasvSave_clip_image001.jpg" alt="http://www.mitropolija.cg.yu/svetinje/img/krstitelj3.jpg">
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p align="center">
                        Pogubljenje&nbsp;<br>
                        Sv. Jovana Krstitelja<br>
                        Izvor:&nbsp;<br>
                        <a href="http://www.stjohndc.org/">Ruski saborni hram Sv. Jovana      Krstitelja</a><br>
                        u Vasingtonu
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="left">
        "Posto bezakoni car    Irod nepravedno pogubi svetog Jovana, Pretecu i Krstitelja Gospodnja, cesno    telo njegovo ucenici njegovi pogrebose blizu groba svetog proroka Jeliseja u    znamenitom samarijskom gradu Sevastiji. Jer tamo se dogodila ona krvava gozba    Irodova i razbludno igranje kceri Irodijadine.<br>
        Kada sveti evandelist Luka, propovedajuci    Hrista, obilazase mnoge gradove i zemlje, dode i u grad Sevastiju. A kada    odatle imase da putuje u svoju postojbinu Antiohiju, zazele da uzme sa sobom    i odnese tamo telo svetog Pretece Jovana Krstitelja, koje bese netljen i    citavo. Ali to bese nemoguce, jer zitelji Sevastije veoma postovahu mosti    Krstiteljeve, brizljivo ih cuvahu, i ne davahu ih. Stoga sveti evandelist    Luka uze od tog svetog tela desnu ruku, koja je krstila Gospoda naseg Isusa    Hrista, i odnese u svoj grad Antiohiju.
    </p>
    <p align="left">&nbsp;</p>
    <p align="left">&nbsp;</p>
    <p align="left">&nbsp;</p>
    <p align="left">
        I njome kao nekim skupocenim darom obdari grad za  vaspitanje sto je u njemu dobio. I od to doba antiohijski hriscani sa velikim  postovanjem cuvahu svetu ruku Krstiteljevu. Jer i velika cudesa bivahu od nje.
                        <br>
        <strong>Ludilo Julijana zakonoprestupnika</strong><strong> </strong>
    </p>
    <table border="1" cellspacing="1" cellpadding="0" align="right" width="212">
        <tbody>
            <tr>
                <td>
                    <br>
                    <img border="0" width="212" height="253" src="~/Content/images/Svetinje/Mosti/rukasvSave_clip_image002.jpg" alt="http://www.mitropolija.cg.yu/svetinje/img/krstitelj4.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <p align="center">
                        Pronalazenje glave&nbsp;<br>
                        Sv. Jovana Krstitelja<br>
                        Izvor<br>
                        <a href="http://www.stjohndc.org/">Ruski saborni hram Sv. Jovana Krstitelja</a><br>
                        u Vasingtonu
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="left">
        Mnogo vremena i mnogo careva prode, i za cara Julijan  zakonoprestupnik dode. On se javno odrece Hrista. Klanjase se idolima, i gonjase  Crkvu Bozju ne manje od ranijih gonitelja. On gonjase i ubijase ne samo zive  ljude koji su u Hrista verovali, nego se necovecno okomi i na mrtve. Jer mosti  svetih sto su ranije postradali, iz grobova vadase i ognju predavase, a hramove  Bozje i svakovrsne svetinje spaljivase i u pepeo pretvarase. Pa krenu i u  Antiohiju da, s jedne strane, prinese pogane zrtve necestivom bogu svom Apolonu  sto je u Dafni u predgradu, a s druge, da i tamo goni hriscane i spali svetinje  koje nade. A kada hriscani u Antiohiji cuse za njegov dolazak, krisom sakrise  svetu ruku Krstiteljevu u nekoj gradskoj kuli, koja se zvase Gonija, da je  gonitelj ne bi obescestio i spalio. A kada gonitelj stize u Antiohiju, pocini  mnogo bezboznosti, bezakonja i nasilja. Ali ruku Krstiteljevu ne mogade  pronaci, iako ju je veoma revnosno trazio. Zato posla u Palestinu u grad  Sevastiju, da se celo telo Krstiteljevo koje se tamo nalazilo, sem glave i  ruke, i grob njegov i hram predadu ognju i uniste. Tako i bi, kao sto pisu  Nikifor i Kedrin.[1]&nbsp;Ali blazeni Simeon Metafrast pise i to, da je spaljeno  ne telo Krstiteljevo, nego neko drugo telo koje je bilo stavljeno mesto njega.  Jer, kaze Metafrast, patrijarh Jerusalimski, saznavsi ranije za naredenje  goniteljevo, uze krisom iz groba Krstiteljeve mosti, i posla ih u Aleksandriju  na cuvanje, a mesto njih stavi kosti nekog mrtvaca, i one bise mesto mostiju  Krstiteljevih spaljene zajedno sa njegovim grobom i hramom.
                        <br>
        Uskoro zatim pogibe bezakoni car Julijan. I blagocesce  opet zasija. I ruka svetoga Pretece bi iznesena iz kule, gde bese sakrivena kao  sveca pod sudom. I hriscani je postovahu.
    </p>
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <br>
                    <strong>Cudesa Pretecine ruke</strong><strong> </strong>
                    <br>
                    A od nje, kao i ranije,    bivahu cudesa. Da ispricamo jedno od njih:<br>
                    U okolini Antiohije bese    jedna velika i strasna zmija, koju tamosnji neznabozni Jelini obozavahu kao    jedno od svojih poganih bozanstava. I svake godine joj prinosahu po jednu    zrtvu. A ta zrtva bivase ovako: cedna devojka, narocito za to cuvana, davana    je zmiji da je pojede, dok je sav narod posmatrao sa gledalista, koje je bilo    napravljeno nedaleko od zmijine pecine. I desi se jedne godine da kocka padne    na jednog gradanina koji bese hriscanin, da svoju kcer da na zrtvu zmiji. A    on sa mnogim suzama moljase se Hristu Bogu i njegovom svetom Krstitelju, da    kcer njegovu izbave od tako gorke smrti. I sto se vreme tog bogomrskog    praznika zmijinog sve vise priblizavalo otac je sve vecim placem i ridanjem    vapijao k Bogu, i prizivao u pomoc svetog Jovana Krstitelja. Dode i u hram,    gdje se ruka Krstiteljeva cuvase, i zamoli svesrdno crkvenjaka, da mu otvori,    i dopusti da se pokloni cesnoj i svetoj ruci. Ovo pak cinjase sa tajnom,    smisljenom namerom, zbog cega i mnoge zlatnike bese poneo sa sobom. I kad on    u svetom hramu cinjase metanija pred kivotom u kome se cuvala sveta ruka,    njemu toboz slucajno poispadase zlatnici iz nedara. A crkvenjak, kako bese    zlatoljubiv, poce ih marljivo skupljati. Za to vreme ovaj hriscanin,    celivajuci svetu ruku Krstiteljevu, tajno odgrize zubima delic maloga prsta,    sakri ga, i posto se dovoljno pomoli, otide dobivsi ono sto je zeleo.
                  <table border="1" cellspacing="1" cellpadding="0" align="left" width="200">
                      <tbody>
                          <tr>
                              <td>
                                  <br>
                                  <img border="0" width="200" height="247" src="~/Content/images/Svetinje/Mosti/rukasvSave_clip_image003.jpg" alt="http://www.mitropolija.cg.yu/svetinje/img/baptistis.jpg">
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <p align="center">
                                      Sv.      Jovan Krstitelj<br>
                                      Izvor:<br>
                                      <a href="http://www.culture.gr/">Ministarstvo kulture Grcke</a>
                                  </p>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                    <p align="left">
                        A kada stize onaj crni dan,    u koji je trebalo nevinu devojku prineti na zrtvu, sleze se narod u    gledaliste. U odredeni cas stize i otac, vodeci kcer za zrtvu zmiji, a srce    mu bese puno molitve k Bogu i nade u Boga. I gle, izide iz svoje pecine ona    strasna zmija sisteci i sa razjapljenim celjustima. I uputi se svojoj zrtvi,    pripremljenoj devojci, da je proguta, a otac ne odstupase od cerke svoje, i neprestano    prizivase u pomoc Svevidca i Spasitelja Hrista Boga i njegovog Krstitelja.    Kada se zmija priblizi i razjapi usta sto je vise mogla, devojcin otac ubaci    zmiji u usta delic svetog prsta Krstiteljevog, i zmija odmah pade mrtva. I    spase se devojka od ljute smrti. A otac sa suzama radosnicama gromko    zahvaljivase Bogu Spasitelju i njegovom svetom Krstitelju. I isprica svemu    narodu divno i preslavno delo Bozje. Narod pak koji bese na gledalistu,    videci zmiju mrtvu i devojku zivu gde sa ocem hvali Boga, najpre se veoma    zacudi i prenerazi pred tako slavnim cudom, pa zatim udari u radost i    jednodusno proslavi jedinog istinitog Boga koji na visinama zivi i na smirene    pogleda. I to bi praznik i veliko veselje za sve Aptiohijce, jer vrlo veliki    broj neznabozaca pridruzi se hriscanima, poverovavsi u Hrista Boga. A na onom    mestu, gde se dogodi ovo slavno cudo, podigose divnu i ogromnu crkvu u ime    svetog Jovana Krstitelja.<br>
                        A prica se i ovo, da na    Krstovdan arhijerej podizase i tu cesnu ruku Krstiteljevu, i ona se nekad    pruzala, a nekad savijala. I time pokazivala da li ce biti godina rodna ili    nerodna. Jer kada se pruzala, sve je izobilno radalo: i njive, i vinogradi, i    gradine, i vocnjaci. A kada se savijala, bivala je nerodica, i glad je    nastupala.<br>
                        <strong>Agarjanska vremena</strong><strong> </strong>
                        <br>
                        Kada po popustenju Bozjem za    grehe nase Agarjani nagrnuse, i zauzese i Antiohiju i sve njene pokrajine, i    zavladase njima, tada ova skupocena riznica, cesna ruka svetog velikog Jovana    Krstitelja, bese kao u ropstvu. A blagocestivi hriscanski carevi veliki trud    ulagahu, kako bi tu cesnu ruku istrgli ispod agarjanske vlasti i preneli u    svoj carstvujuci Grad, ali ne uspese ostvariti svoju zelju. Jer je ne mogahu    ni zlatom otkupiti, niti na koji drugi nacin otuda dobaviti. Tek za carovanja    Porfirorodnog Konstantina VII i Romana,[2]&nbsp;taj dar,    skupoceniji od svih zemaljskih blaga, bi podaren na ovaj nacin. Dakonu nekom    u Antiohiji, Jovu, po Bozjem nadahnucu dode misao, da svetu ruku Krstiteljevu    odnese iz agarjanske drzave u hriscansku zemlju koja svetli poboznoscu. A ta    sveta ruka lezase u prekrasnom antiohijskom hramu svetog apostola Petra. Jov    dakle udesi da bude pri toj crkvi, i sprijatelji se sa crkvenim riznicarem,    da bi lakse mogao izvesti svoj plan. Mnogo puta je pokusavao da riznicara    pridobije za svoj plan, ali on ne pristajase. Tada Jov postupi ovako: spremi    bogatu veceru, pozva riznicara, ugosti ga i dobro napi. I kad ovaj tvrdo    zaspa, Jov ode krisom u crkvu, otvori kivot, uze ruku Krstiteljevu, i sakrije    je kod sebe. A sutradan ustade od spavanja riznicar, i ne saznade sta je    uradeno. Za to pak vreme Jov ode iz Antiohije sa cesnom rukom, i zurno    putovase ka granicama hriscanskog carstva, bojeci se da Antiohija i    neznabozacke vlasti ne saznadu da je sveta ruka odnesena, i da ne podu u    poteru za njim. I on, cuvan Bogom i sticen molitvama svetog Krstitelja, ubrzo    stize zdrav i bez smetnje u hriscansko carstvo. A kad dode u Halkidon[3]&nbsp;obelodani    tajnu svoju: pokaza vernima beskrajno skupoceno blago sto je iz Antiohije    doneo. I odmah izvestise o tome blagocestive careve. A kad oni tako dobru    vest neocekivano cuse, ispunise se neiskazane radosti. I smesta svoju carsku    ladu sa presvetim Patrijarhom i nekolicinom uglednih senatora poslase u    Halkidon, da sretnu Krstiteljevu ruku i cesno donesu u carski grad. A kad se    lada vracase iz Halkidona sa svetom rukom, koju sam Patrijarh na rukama    svojim nosase, izidose carevi i sav narod na obalu, kao da samog svetog    Krstitelja koji nevidljivo dolazi s neba susrecu. I posto se kako treba    svesrdno poklonise cesnoj ruci i s ljubavlju je celivase, oni je sa psalmima    i pesmama, i sa svecama i kadionicama, prenesose, i polozise u crkvi koja    bese u carskim dvorima. Ovo prenosenje svete ruke Krstiteljeve dogodi se uoci    samog svetog Bogojavljenja pred osvecenje vode. I otpraznovan bi taj praznik,    a za njim sabor Krstiteljev sa velikom radoscu, u cast cesnog proroka svetog    Jovana Krstitelja, a u slavu samog u Trojici Boga, Koga svi slavimo i Kome se    klanjamo vavek, amin."<br>
                        Ovako zavrsava svoju    povijest o Pretecinoj desnici Otac Justin, negdje oko godine 994., tek    zapocevsi pricu o tome kako ce ona, preko Rodosa, Zice i petrogradskog    Zimskog dvorca, nosena rukama Svetoga Save, malteskih vitezova, ruskih careva    i mitropolita, da vrati Krstiteljev blagoslov na zemlju Nemanjinu, uredivsi je    i Casnim Krstom i ikonom Presvete Bogomatere koju je naslikao onaj koji je i    ruku pokrenuo – Sveti Apostol Luka.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="left"><strong>Carigrad, Malta,  Italija, carska Rusija: "Pretecina desnice Jovanova, pomeni mene Savu  arhiepiskopa srpskoga"</strong><strong> </strong></p>
    <table border="1" cellspacing="1" cellpadding="0" align="left" width="250">
        <tbody>
            <tr>
                <td>
                    <br>
                    <img border="0" width="250" height="271" src="~/Content/images/Svetinje/Mosti/rukasvSave_clip_image004.jpg" alt="http://www.mitropolija.cg.yu/svetinje/img/krstitelj-i-nikola.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <p align="center">
                        Sv. Jovan Krstitelj i Sv. Nikola<br>
                        Izvor:<br>
                        <a href="http://www.ocf.org/">OCF</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p align="left">
        Dok se ova ruka cuvala u Konstantinovom gradu, o prazniku Rodenja Svetog  Jovana Pretece iznosio ju je za vrijeme bogosluzenja patrijarh na amvon, radi  pokazivanja narodu. Ispocetka ona bi u crkvi Bogorodice Farske, u carskom  dvoru, da bi je ruske hadzije krajem XIV i pocetkom XV vijeka pominjale u  manastiru Bogorodice Perivleptos, i da bi njeno posljednje skroviste u  Carigradu, po svemu sudeci, bila sama Velika Crkva Spasiteljeva, nazvana  Premudrost Bozija – Sveta Sofija, gdje je neki hadzija vidje poslije 1424, a  prije no sto pade Istocno Romejsko Carstvo.
                        <br>
        U&nbsp;to vrijeme od ruke su vec bila odvojena dva prsta, od  kojih jedan jos 1200. godine pominje Antonije Novgorodski, da je u sabornom  Pretecinom hramu Studitskog manastira.[4]&nbsp;Bice da se taj prst danas cuva u kivotu u obliku desne ruke, u Otomanskom  muzeju u Carigradu. Na okovu grcki pise "Ovo je ruka Jovana  Krstitelja", i "Gle Jagnje Bozije", i ovako ju opisuje naucnik  Lazar Mirkovic: "Na gornjoj strani dlana je cetvrtast otvor 3-4 sm, koji  zatvara poklopac. Kada se sa otvora digne  poklopac, vidi se kost ruke da se moze celivati".<br>
        Drugi se ipak kivot cuva u Sijeni, i na njemu je natpis srpskoslovenskim  jezikom "Pretecina desnice Jovanova, pomeni mene Savu arhiepiskopa  srpskoga". Ovdje je rijec o drugom prstu desne ruke Krstiteljeve, koja je  prvi put blagoslovila Savinu zemlju onda kada je novohirotonisani arhiepiskop  novorodene Pomjesne Crkve donio njen prst kao blagoslov patrijarha Germana i  cara Teodora I Laskarisa, i polozio u slavni dom Spasov, Zicu.<br>
        Potom on bi cuvan u Majci svih Crkava, Peckoj Patrijarsiji, kada u nju bi  preseljen presto arhiepiskopski, sve do propasti Vizantijskog i Srpskog  Carstva. Tada uze kivot sa mostima Jelena, supruga Durdeva sina despota Lazara  Brankovica, koji prije toga, 1458. godine, umre, i odnese kivot u Moreju, svome  ocu Tomi Paleologu. A kada i tog rodenog brata posljednjeg romejskog cara  Konstantina XI Dragasa, Turci pognase sa njegovog prestola, on 1461. odbjeze u  Italiju, papi Piju XI pod zastitu. Njemu na dar on ponese ovu svetinju, koju  papa, buduci rodenjem iz Sijene, pokloni, tamosnjem hramu sv. Marije. Nju 1933.  godine tamo vidje nas knjizevnik Pavle Popovic, i protumaci zapis na njoj,  ispricavsi potom da se ona iznosi samo na Duhove, i da njen kljuc imaju samo  nadbiskup, gradonacelnik, i jos jedan gradanin Sijene, zbog cega je ona  nedostupna.<br>
        A&nbsp;sama ruka  Pretecina, ostade u Svetoj Sofiji i poslije pada carskoga grada u turske ruke  1453. godine. Tada sveta crkva Spasova bi pretvorena u dzamiju, iako ni tada ne  dozivi takvo poruganje kao kada krstasi 1204. godine na njen casni presto  posadise bludnicu. A da je ruka Pretecina u to vrijeme, sa carem i patrijarhom  bila sklonjena u Nikeju, ne svjedoci samo to sto je krstasi nisu odnijeli (a  oni su poharali sve sto se moglo poharati), vec i to sto je patrijarh mogao od  nje odvojiti prst na blagoslov novoj, svetosavskoj, Crkvi.<br>
        No, kada je godine 1484. sultan Bajazit II&nbsp;[5]&nbsp;imao  "potrebu da oraspolozi prema sebi vitezove ostrva Rodos, i u znak  prijateljstva poslao je magistru Ordena (Reda) desnu ruku sv. Krstitelja",  pise u svom opsirnom mjesecoslovu Episkop banatski Hrizostom. Taj red latinskih  ritera bi osnovan 1118. godine sa ciljem zastite svetih mjesta u Jerusalimu,  ali kada Sveti grad 1187. ponovo pade u muslimanske ruke, jovanovci se  preselise na Rodos. Preplicuci se sa tevtonskim vitezovima, ruzinim krstom i  nizom drugih tajnih i javnih drustava, postoje do dana danasnjeg, sa krajnje  neizvjesnom ulogom i sudbinom.<br>
        Njihov mir sa Turcima, usprkos poklonima, ne potraja, jer Turci vec 1522.  zauzese Rodos, a vitezovi otplovise na Maltu, koja njima dade ime pod kojim su  i danas poznati, a oni njoj – krst. Naime, oni su sa sobom osim Pretecine ruke,  donijeli i djelic zivotvornog Krsta Gospodnjeg, koji je velikom magistru reda darovao  Luj HII&nbsp;[6], zajedno sa  macem Luja IX "Svetog",[7]&nbsp;kojim je ovaj  vodio dva krstaska rata.<br>
        Isti veliki magistar koji je na Maltu prenio ove dvije svetinje, donio je i  trecu, za koju ne znamo kako je dospjela u posjed malteskih vitezova. To je  Filermska cudotvorna ikona Bogorodicina, koju je zivopisao Sveti Apostol Luka,  u vrijeme nakon vaskrsenja Hristova, kada je Precista Djeva boravila u domu  svoga pod krstom usvojenog sina, Svetog Jevandeliste Jovana. On je tada uradio  jos tri ikone njene, od kojih se jedna, Mlekopitateljnica, nalazi u Isposnici  Svetoga Save u Kareji.<br>
        Te tri svetinje su pocivale na malti u sakristiji katedralne crkve dva i po  stoljeca, dok Maltu 1798. nije pokorio Napoleon i potjerao ritere Jovanovog  reda u najneizvjesnije izgnanstvo do sada. Tada je orden izabrao za velikog  magistra ruskog cara Pavla I&nbsp;[8]&nbsp;i on je 3.  avgusta 1799. godine kod Petrograda primio izaslanike reda, koji su mu  podnijeli akt o abdikaciji velikog magistra barona Ferdinanda Hompesa, potpisan  6. jula 1799. u Trstu.<br>
        On je morao napustiti Maltu pet dana nakon njenog zauzimanja, a od  pobjednika je uspio izmoliti tri svetinje koje se prvi put i pominju zajedno po  dolasku vitezova Jovanovih, 1530. godine. Tako ce on 17. juna 1798. ponovo  pokrenuti svetinje koje ce se uskoro obresti u dvorskoj crkvi Nerukotvorenog  Obraza Spasova u petrogradskom Zimskom dvorcu.<br>
        Tada ce car Pavle dati da se za njih izrade kivoti i okovi u kojima one i  danas pocivaju, ukrasivsi ih malteskim krstovima i svakom prirodnom ljepotom i  ljudskom vjestinom petrogradskih majstora.<br>
        Njegov nasljednik, car Aleksandar III,[9]&nbsp;zajedno sa caricom, danskom princezom Marijom, prenijece ih trajno u  Gatcino, dvorac udaljen pedesetak kilometara od Petrograda. Pomjesna Ruska  Crkva slavi taj dan, kao dan njihovog povratka u narucje hriscanskog cara, gdje  su one prvi put sa Malte, 12/25. oktobra, 1799. i dospjele.
    </p>
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <br>
                    <strong>Oktobarska revolucija: Po drugi put Pretecina ruka doneta u Srbiju</strong><strong> </strong>
                    <br>
                    A&nbsp;kada    i ovaj hriscanski car, 1917. godine, padne, majka Nikolaja I, opet Dankinja i    opet Marija, prenijece svetinje u svoju otadzbinu. Nakon njene smrti, njene    ce kceri, velike knjeginje Ksenije i Olga, ruku, Casni Krst i ikonu predati    Mitropolitu kijevsko-galickom, Antoniju (Hrapovickom). Pod njihovim    blagoslovom ce on u Sremskim Karlovcima osnovati Rusku zagranicnu Crkvu, i    predati ih kralju Aleksandru I, cija je sestra bila udana za necaka cara    Nikolaja II, i jedva izbjegla pokolj carske porodice.<br>
                    "Ruka koja je zahvatila vode iz Jordana i podigla se nad glavom    Hristovom... Po drugi put Pretecina ruka doneta je u Srbiju", pisao je    1936. godine Vladika Nikolaj, pozdravljajuci Proroka, Pretecu i Krstitelja    Spasova po drugi put u zemlji Nemanjinoj.<br>
                    Rukom    kraljevom svetinje bjehu pohranjene prvo u crkvici Starog dvorca, da bi,    nakon sto je 1924. zapoceta gradnja novog, bile cuvane u crkvi Dvora na    Dedinju do 1941., kada u prvom naletu njemackih bombardera bi srusen i    presvijetli dom Spasov i majka svih srpskih crkava, Zica.<br>
                    Tada ih    kralj Petar II i patrijarh Gavrilo pokrenuse do Ostroskog manastira, odakle    kralj ode u Veliku Britaniju, a Patrijarh u ropstvo. Svetinje su tu cutale,    pokrivene zaboravom i svenarodnim stradanjem, do 1945. godine.<br>
                    Tada    naidose isti oni koji su poharali i drugo veliko ljeciliste bolnih, manastir    Svetog Nauma na Ohridskom jezeru, gdje porusise pirg sa crkvicom koju Vladika    Nikolaj posveti svetoj uspomeni mucenicke smrti cara Nikolaja II. Odavde pak    pokupise i ono najsvetije sto je ruski car-mucenik poslao ove tri svetinje na    cuvanje svome srpskom rodaku, nadajuci se da ce svetinje sacuvati njega i on    njih, i na upozorenje na narastajuce i nadolazece zlo.<br>
                    <strong>Crnogorski komunisti otimaju svetinje</strong><strong> </strong>
                    <br>
                    Evo sta o    dospjecu svih svetinja u Crnu Goru pripovijeda iguman Marko (Kalanj):<br>
                    "Kada je aprila 1941. kralj Petar II Karadordevic stigao pod Ostrog, rekao    je: 'Ove tri svetinje necu da nosim iz Jugoslavije', i ostavio ih je u    manastiru, sa jos dosta zlata i drugih dragocjenosti. Kada su 1951, u sobi    starjesine Manastira, arhimandrita Leontija (Mitrovica), ispod duplog patosa,    otkrili zlato, ponijeli su ga u Titograd, zajedno sa relikvijama. Jeromonah    Gerasim (Cecur), koji je tada bio u Ostrogu, stalno je govorio: 'Nista mi    nije zalije od one tri svetinje, sto su odnijeli komunisti. Sigurno su    dragulje uzeli, a svetinje pobacali.' Slicno je o tome govorio i tadasnji    dak, a potonji arhimandrit ostroski, otac Serafim (Kasic), a jedan    Crnogorac-partizan, kome ja ime ne znam, sto je radio na otkrivanju zlata u    Ostrogu, izjavio je: 'Oce, tamo su bile neke svete stvari. Odnesene su u    Titograd i po naredenju Blaza Jovanovica, stavljene u trezor'.<br>
                    Isao sam    sekretaru tadasnje Vjerske komisije, Bozu Martinovicu, i on je rekao da su    ruka Svetog Jovana Krstitelja, cestica Casnog Krsta i ikona predate Muzeju na    Cetinju, po naredenju Marka Orlandica. Ruka Svetog Jovana i cestica Krsta su    predate Manastiru Svetog Petra Cetinjskog i dok smo postavljali manastirsku    riznicu izvrsili smo provjeru: ruka Svetog Jovana nema citava dva prsta, mali    i do maloga, inace je u cjelini ocuvana, do lakta." </td>
            </tr>
        </tbody>
    </table>
    <p align="left">
        Cetiri desetljeca bjehu one opet skrivene prvo na mjestu nepoznatom, pa u  riznici Cetinjskog manastira, sve dok ih, kao nekad arhijerej Konstantinovog  grada, ne uze na ruke arhijerej grada Ivana Crnojevica, o Ivanjdanu godine  1993., i dok se ruka najveceg rodenog od zene ponovo ne pokaza medu ljudima.<br>
        <strong>Napomene</strong><strong> </strong>
        <br>
        [1]&nbsp;Nikifor Kalist –  crkveni istoricar, monah Sofijskog manastira u Carigradu; skoncao oko 1350  god.; Kedrin – isto tako poznati crkveni istoricar, ziveo krajem XI ili  pocetkom HII veka.<br>
        [2]&nbsp;Vizantijski car  Konstantin VII Porfirorodni carevao od 913. do 959. godine, a srodnik njegov  Roman – od 920. do 944. god. Tako su<em>&nbsp;</em>oni vladali  zajedno od 920. do 944. godine.<br>
        [3]&nbsp;Halkidon – grad  u severozapadnom kraju Vitinije na obali Bosfora prema Carigradu.<br>
        [4]&nbsp;Manastir kojeg  je 484. osnovao senator Studije (sa nizom sveti monaha toga manastira – Teodor,  Simeon bogobojazljivi, Simeon Novi Bogoslov) cuven je po visokoj duhovnosti i  revnovanju za cistotu crkvenog predanja. Zbog toga su ih se pribojavali i  carevi skloni popustanju u dogmatima Crkve, te je veoma moguce da je prst  dospio u manastir ili kao dar ili kao sredstvo za umoljenje mira sa Studentima.<br>
        [5]&nbsp;Bajazit II  (vladao 1481-1512), turski sultan sin Mehmeda II Osvajaca.<br>
        [6]&nbsp;Luj XII (1462,  vladao od 1498. do 1512) sin pjesnika Sarla Orleanskog.<br>
        [7]&nbsp;Luj IH  "Sveti" (1214, vladao 1226-1270), fr. Irov iz porodice Kapeta.  Ucestvovao u VI krstaskom ratu kao predvodnik, bio trazen, zarobljen i uz  veliki otkup osloboden.<br>
        [8]&nbsp;Pavle I (1754,  vladao od 1796 do 1801), ruski car, sin Katarine II.<br>
        [9]&nbsp;Aleksandar III  (1845-1894, vladao od 1881), ruski car, sin Aleksadre II.
    </p>
    <p align="center">Извор: <a href="http://www.mitropolija.cg.yu/svetinje/krstitelj.html" target="_blank">Митрополија</a> <a href="http://www.mitropolija.cg.yu/svetinje/krstitelj.html" target="_blank">Црногорска</a></p>
    <div align="center"></div>
</div>
