@{
    ViewBag.Title = "Галерија фотографија";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("МАНАСТИР СВ. КАТАРИНЕ НА СИНАЈУ", "SvKatarinaSinaj", "Svetinje")<span class="divider">/</span></li>
            <li class="active">Галерија фотографија</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>МАНАСТИР СВ. КАТАРИНЕ НА СИНАЈУ - Галерија фотографија</h1>
    <br />


<table>
              <tbody><tr>
                <td >&nbsp;</td>
                <td ><img src="~/Content/images/Svetinje/Hodocasca/Manastir.jpg" width="500" height="532"></td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Grafika.jpg" width="600" height="492"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/bedouin.jpg" width="500" height="667"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Slika.jpg" width="500" height="312"></td>
                <td><img src="~/Content/images/Svetinje/Hodocasca/Biblioteka.jpg" width="450" height="325"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody></table>
<table >
              <tbody><tr>
                <td ><div align="center"><img src="~/Content/images/Svetinje/Hodocasca/sinai_mt-sinai_view_col.jpg" width="439" height="290"></div></td>
                <td ><img src="~/Content/images/Svetinje/Hodocasca/sina_t043_f03_b.jpg" width="400" height="300"></td>
                <td ><img src="~/Content/images/Svetinje/Hodocasca/Neopalima kupina.jpg" width="300" height="400"></td>
              </tr>
            </tbody></table>
    </div>
