@{
    ViewBag.Title = "МАНАСТИР СВ. КАТАРИНЕ НА СИНАЈУ";
}

<div class="row-fluid">

    <div class="span12">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("Светосавље.орг", "Index", "Home")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Светиње", "Index", "Svetinje")<span class="divider">/</span></li>
            <li>@Html.ActionLink("Ходочашћа", "Hodocasca", "Svetinje")<span class="divider">/</span></li>
            <li class="active">МАНАСТИР СВ. КАТАРИНЕ НА СИНАЈУ</li>
        </ul>
        <!-- /uvod, slike otaca-->
    </div>
    <h1>МАНАСТИР СВ. КАТАРИНЕ НА СИНАЈУ</h1>
    <br />

    <table>
        <tr>
            <td >
                <img src="~/Content/images/Svetinje/Hodocasca/Manastir_Sv_Katarine-naslov.jpg" border="1"></td>
            <td width="10">
            <td >
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <strong>МАНАСТИР СВ. КАТАРИНЕ</strong>
                </p>
                <p><strong>&nbsp;НА СИНАЈУ</strong></p>
                <p>&nbsp;</p>
                <p><a href="#I">I-Љиљана  Синђелић Николић,</a> </p>
                <p><a href="#II">II-Угљеша и Звездана</a></p>
                <p class="plijevo">&nbsp;</p>
                <p>
                </p>
                <p>
                    <span class="plijevo"><strong><a href="@Url.Action("SvKatarinaSinajFotos","Svetinje")">Галерија 
                  фотографија</a></strong></span>
                </p>
            </td>
        </tr>
    </table>

    <h4 align="left" class="pnormal">&nbsp; </h4>
    <h4 align="left" class="pnormal">I<a name="I"></a></h4>
    <h4 align="left" class="pnormal">СРБИ У МАНАСТИРУ СВ. КАТАРИНЕ НА СИНАЈУ</h4>
    <p align="left" class="pnormal">...Не  само да су добродошли, већ имају посебан статус и нарочиту пажњу коју нам указују,  како овдашњи монаси тако и бедуини, а све захваљујући нашем Св. Сави...</p>
    <p>
        <br>
    </p>
    <p>
        Путујемо до манастира Свете Катарине на Синају, полуострву  које спаја два континента, Африку и Азију. Синај је библијски топоним, забележен  у Старом Завету као Божја Гора или Хорив. О Синају се детаљно говори у опису изласка  Јевреја из Египта, на челу са пророком и боговидцем Мојсијем.
        <br>
        По Библијском предању у овој неприступачној и непрегледној  гранитној пустињи јеврејски народ је са Мојсијем провео 40 година тражећи пут из  египатског ропства у обећану земљу Ханан. У историји старог света, за јеврејски  народ и за библијско предање, не постоји светије место од Синајске Горе. У новозаветно  време Синај се поштује као место где се Бог јављао и где је саопштавао људима своју  вољу. И данас је то прилично пуст и слабо насељен простор, суров али необичне лепоте.
        <br>
        Возимо се кроз непрегледни песак, који се увлачи у сваку  пору. Дивимо се разнобојним каменим литицама нестварних боја, од сиве и беличасте,  до зелене, љубичасте и црвене. Погледом клизимо преко ретких биљака акација, које  овде живот и воду значе, ловећи у сунчаној измаглици на хоризонту бедуине који су  увек у покрету. Размишљамо о хиршћанским подвижницима који су вековима долазили  у ова пуста места како би се уз молитву, пост, бденије и друге подвиге, што више  приближили Богу. Ту су осниване прве монашке заједнице, а у време прогона хришћана,  многи су на Синају, месту тишине и одвојености од света, налазили мир и сигурно  место за боравак и молитву.<br>
    </p>
    <p>
        Монаси су се ту населили још у трећем веку и овде оформили  монашку заједницу у близини планине Хорив, око несагориве купине, где се Господ  јавио Мојсију. Свети Јован Лествичник је ту написао чувену књигу „Рајске лествице”,  која представља незамењиву духовну лектиру у целокупној хришћанској литератури.  Преподобни Нил Синајски се такође подвизавао у манастиру Свете Катарине. Поред осталог,  он је ту написао и ове речи: „Телесне страсти воде своје порекло од телесних потреба  и против њих је нужна уздржљивост; а страсти душевне рађају се од потреба душевних  и против њих је нужна молитва”!<br>
        Свети Сава српски, такође је ходио синајским путељцима  заједно са другим монасима и молитвеницима који су боравили на Синају и у манастиру  Свете Катарине, а који су нам и данас, својим животима и делима, светли примери  и узори како треба побожно живети. Ови подвижници, носиоци синајских духовних искустава,  преношених кроз векове лично или преко списа, названи су Синаити. Боравак светог  Саве у манастиру Свете Катарине био је пресудан за значајан утицај Синаита на православне  Србе, а посебно кроз цели немањићки период.
        <br>
    </p>
    <p>
        Помаљају се зидине, изнад којих су планински висови, стрми, без и једног  дрвцета, само стене, песак и сунце. Врхови планина се налазе на преко 2000м надморске  висине. Ево нас испред манастира Свете Катарине. &nbsp;Цео манастир је опасан високим зидом који је у  шестом веку саградио цар Јустинијан, да би га у деветнаестом мало дотерао цар Наполеон.  Јустинијан је такође ту населио неколико стотина породица да би помагале манастиру  и монасима. Неки тврде да су данашњи бедуини, који живе уз манастир, потомци тих  породица, али да су услед историјских околности примили ислам. Бедуини испред манастира  нуде брошуре, мапе, нуде се да нам буду водичи. Њихова шарена одећа и весели гласови  уносе ведрину у овај предео мира и молитве. На степеницама конака седи грчки монах  одмарајући уморне ноге, благо нам се смешка док прилазимо за благослов. Неколико  бедуина истоварују камион, други се тискају око улаза. У Светој Катарини влада мир  и међусобно разумевање без обзира на језик, нацију, веру. Бедуини су у манастиру  и главни трговци и помоћници монасима. Без обзира што су прихватили ислам, они љубоморно  чувају ову светињу. Њихова љубав према светитељки и манастиру није се вековима гасила.  
    </p>
    <h1 align="center" class="style3">НЕОПАЛИМА КУПИНА РАСТЕ ИЗ ОЛТАРА</h1>
    <p>&nbsp;</p>
    <p>
        Манастир чува драгоцену хришћанску прошлост, која је и наша инспиративна  садашњост и наш путоказ за будућност. Спуштамо се низ клизаве, углачане, камене  степенице у манастирски лавиринт и размишљамо о светом Сави који је ходио истим  овим путевима. Зидови са свих страна притисли путељак који вијуга између грађевина.  Поред главног храма, у манастирском комплексу има још 12 мањих капела. Са десне  стране је главна манастирска црква посвећена Преображењу Господњем, са лева су степенице  и веранда којом се стиже до музеја, а испред нас предивни, зелени грм Неопалиме  купине. Око четрнаест векова пре Христа ту је Мојсије видео пламени огањ у жбуну  купине који гори а не сагорева, и чуо глас Анђела Божијег: „Мојсије! Мојсије! Изуј  обућу своју с ногу својих, јер је место где стојиш света земља!” (Излазак 3, 1-5.)  На месту где се Господ јавио Мојсију, царица Јелена, мајка Цара Константина Великог,  330. године је подигла капелу посвећену Богородици.
        <br>
    </p>
    <p>
        На Синају су људи преко Мојсија добили десет Божијих заповести. Уз ову капелу,  у шестом веку цар Јустинијан и царица Теодора граде цркву, тробродну базилику од  црвеног гранита, којим обилују синајске планине. У олтарној апсиди је урађен предиван  мозаик Преображења Господњег, који је остао потпуно очуван, изазивајући дивљење  посетилаца.
        <br>
    </p>
    <p>
        Данас овај грм Неопалиме купине расте из олтара храма. Купинов жбун је јединствен  на свету, покушавали су људи да његове младице пресаде на неко друго место, али  се нигде нису примиле. Од нашег путвође сазнајемо да су га слали на анализе у најсавременије  лабораторије у западној Европи и да је научно установљено да је он стар колико и  Мојсије. Сликамо се крај жбуна благо га додирујући да не оштетимо оно што је вековима  опстајало.
        <br>
    </p>
    <p>
        Пењемо се дрвеним степеницама на веранду, а одатле улазимо у музеј где се  чувају драгоцености од непроцењиве вредности, међу којима су и бројни експонати  из Србије. Улаз је 20 евра, али за Србе је дупло јевтиније. Улазимо преко реда јер  нас је бедуин који прави ред дочекао са осмехом и раширених руку: „Срби! Добродошли  Срби! Хајде, улазите!” - говори на енглеском и тражи од осталих да нас пропусте,  рукујући се са сваким понаособ и свакога питајући како се зове. Његове крупне црне  очи подсећају на иконе из првих векова хришћанства. Грчки монах у музеју се такође  обрадовао када је чуо да смо Срби. Распитује се за здравље Његове Светости Патријарха  Павла, упућује нас на које експонате да обратимо пажњу. Како је лепо кад нас дочекују  као да смо се са дугог путовања вратили кући. Како је лепо осетити братску љубав,  гостопримство, како је лепо бити потомак српских светитеља! Други се буне, али ми,  поносни наследници нашег светог Саве, ушетавамо међу иконе и књиге, у молитвену  тишину.
        <br>
    </p>
    <p>
        На свом другом путовању  по светим местима свети Сава, први архиепископ Српке православне цркве, боравио  је на Синају 1234. године. Ту је провео читав часни пост, Свету четрдесетницу, молећи  се за свој српски род и читав хришћански род, поручујући и нама данас да тако чинимо.  Манастиру Свете Катарине наши свети краљеви Драгутин и Милутин даровали су бројне  поклоне који се чувају у манастирском музеју и библиотеци. Крајем 14. века игуман  Синајског манастира је био Србин Јоаникије. У манастирском музеју и ризници човек  просто не зна шта ће пре да погледа. Ту се чувају најстарије иконе које су се израђивале  до седмог века. Ту је и најпознатија и најстарија сачувана икона Христа Пантократора,  на којој су сликовито приказане две природе Господа Исуса Христа, Божанска и човечанска.  Ту је и икона Светог Петра, Богородице са анђелима. Ту се чува и документ на коме  је отисак Мухамедове руке, који је заштитио манастир од рушења. У тешким временима  за хришћане, због најезде арапских племена исламске вере, монаси су се уплашили  да ће манастир бити разрушен. Стога шаљу свога изасланика код пророка Мухамеда у  Медину, тражећи од њега заштиту. Мухамед је написао документ у коме захтева да се  манастир заштити и запечатио га отиском своје руке. Али, бојећи се да то неће бити  довољно да заштити манастир када га је у једанаестом веку фатимидски калиф опколио  са трупама, монаси калифу послаше прегршт блага из богате манастирске ризнице а  преко ноћи, за сваки случај, срушише трпезарију и сазидаше џамију са минаретом које  се види преко зидина изван манастира. Наравно, калиф није разрушио манастир, а минарет  и данас постоји, па је овај манастир јединствено место у чијој унутрашњости се налази  и муслиманска богомоља.
        <br>
    </p>
    <p>
        На овом месту молитве  и тиховања, тешко је набројати све оно што вреди видети и посетити. По броју и вредности  рукописа манастирска библиотека је одмах иза Ватиканске. У њој се чува и и први  српски псалтир. Претрчавамо експонате журећи да не закаснимо на молитву у подне.  Тек то је посебан доживљај, јер нам пружа могућност да се сусретнемо са моштима  Свете Катарине. Тада, осим православних хришћана, из манастира морају да изађу сви  посетиоци. Тако у манастиру, поред монаха, остајемо ми Срби, бројни Руси и Грци.  Грчки монаси свакодневно, поред редовних богослужења, имају двадесетоминутну молитву  након које се износе мошти Свете Катарине на целивање.
        <br>
    </p>
    <p>
        Света Катарина је рођена као Доротеја 294. године у Александрији, у многобожачкој  породици, где је стекла широко образовање, изучавала философију, реторику, поезију,  музику, математику, астрономију и медицину. Њена мајка, потајна хришћанка, преко  свог духовног оца приведе и Катарину вери Христовој. У једној визији св. Катарина  прими прстен од самог Господа Христа, у знак обручења Њему. Тај прстен до данас  стоји на њеној руци. Пострадала је за веру у време цара Максимина, а по предању  су њено тело анђели пренели на врх Синаја. У деветом веку једном од синајских монаха  у сну се открило место где су мошти св. мученице Катарине. Монаси га пронађоше и  пренесоше у манастир где се и данас чувају. Од тада овај манастир постаје познат  под именом Свете Катарине.
        <br>
    </p>
    <p>Храм је довољно простран да нас све прими. Међу Русима има пуно деце и болесних,  Грка није било, а групица Срба се поносно пробила у прве редове. Масивна црквена  врата су затворена, молитва почиње. Иако не знамо грчки пратимо мелодију и узносимо  своја осећања ка Господу, а Он је ту, са нама. Након молитве полако смо се примицали  иконостасу, где је један грчки монах стајао крај моштију Свете Катарине. У 11. веку  делови моштију су разнети по хришћанском свету, а у самом манастиру чува се глава  и лева рука светитељке. Ми, православни имамо ту привилегију да се поклонимо и целивамо  руку свете Катарине а након тога монах свакоме дарује прстен на коме пише „Агиа  Катарина”. Претходно смо слушали приче како прстен свакоме одговара, мада га ходочасници  сами не бирају, већ монах заграби, насумце руком у кутију, извади прстен и дарује  га посетиоцу. Не знам како је са другим групама, али у нашој је свима прстен стајао  као саливен. </p>
    <h3 align="right" class="pdesno sitno style2">Љиљана Синђелић Николић </h3>
    <p>&nbsp;</p>
    <hr>
    <h4 align="left" class="pnormal">&nbsp; </h4>
    <h4 align="left" class="pnormal">II<a name="II"></a></h4>
    <h4 align="left" class="pnormal">TIN PANEFINMON NIMFIN HRISTU IMNISOMEN..."</h4>
    <p>&nbsp;</p>
    <p align="left" class="pnormal">"Изврсној невести Христовој запојмо.." овако некако (у мом грубом преводу) почиње отпуститељни тропар Св. Катарини, који се поје у њеном манастиру на Синају, ево безмало већ десет векова од кад су ангели тамо пренели нетљено тело ове Светитељке, коју данас (24нов/7дец)  прославља наша Црква, заједно са Св. Меркуријем..</p>
    <p>&nbsp;</p>
    <p>
        Жена и ја се управо вратисмо са вечерње службе у ман. Дивостину.  Сада, док ово пишем, мисли лете у манастир Свете Катарине који смо недавно походили.  
    </p>
    <p>
        Замишљам брата Христ(о)а, искушеника који чита  из&nbsp;часослова,&nbsp;&nbsp;мрак пада, тамо је три поподне али сунце брзо  нестаје иза камених брда, почиње вечерња..<br>
        О. Симон поје "Кирије екекракса.." а старац (Геронда -  манастирски духовник) отац Павле, са друге певнице наставља, својим  богонадахнутим гласом (који на сузе позива, али без трунке театралности или  пијетизма):<br>
        "Да исправитсја молитва моја.." Икона Христова,  Архиепископ Синаја седи на свом трону који је украшен иконом Богородице  -&nbsp;представљеном као&nbsp;неопалима купина.. Негде код олтара наслућује се  тајанствено "блистаније" моштију
                    Св. Катарине. Празник.
    </p>
    <p>Када се дође у манастир, у време када је за туристе отворен  (09-12ч), дочека вас сплет конопаца, који усмеравају пролаз, и на неки начин  служе да раздвоје "јањад од јаради", јер је само православнима допуштено  да прођу у део где се формира ред оних који ће се у подне поклонити моштима  Светитељке. Бедуини (!) вас проверавају јесте ли "ортодокс" и  пролазите у део где се остављају имена за помињање, где је увек неко од искушеника  или братије.</p>
    <p>Овога пута,&nbsp;око нас се тискају младе украјинке са белим  марамама, баш много њих,&nbsp;онако као&nbsp;по речи вл. Николаја о народу који  је као "овце када осете солило". Хоће прве да приступе.</p>
    <p>После молитве, над отвореним моштима нон стоп се чује звекет  прапораца кадионице, коју једном руком држи отац чувар Кивота, док другом даје  сребрн прстен (са угравираним "АК/агиекатерини") сваком на благослов.  И онај ко се случајно ту задесио јер је православан, попут многих наших Срба (који  су "номинално" православни и којима водич можда&nbsp;није ни објаснио да ће  ту&nbsp;неког поклоњења бити), може да осети да се приближава  једном&nbsp;"Страшном Месту"..</p>
    <p>Након&nbsp;прве посете пре две године, заветовао сам се&nbsp;да ћу  се, где год будем ангажован у Цркви око живописања, постарати да буде насликан  и лик Свете Катарине. Од тада је "прошло" чак три храма где сам био  у&nbsp;могућности то да урадим.</p>
    <p>Приликом овог&nbsp;поклоњења, Светитељка&nbsp;је и мене и супругу  удостојила таквих суза да вам то не могу описати: нису то сузе неког  молитвеника и ревнитеља, него је то заиста прави Позив - да се напокон свуче  овај стари човек и живи у потпуности по Христу..</p>
    <p>Пред поклонике се износи рука, са дијамантима на сваком прсту, и  глава Св. Катарине. Сама глава је положена у златну кутију која је, како смо то  првобитно мислили, испуњена некаквом "ватом". Испоставило се да је то  тајанствена маса која "расте" око саме&nbsp;главе, коју морају да  "шишају" и само о празницима деле на благослов.</p>
    <p>Морам да напоменем следеће: након поклоњења православни се придружују  "току" свих осталих туриста који су исто ушли са запада, из припрате,  а излазе трасираним путем на југоисточни излаз. Тада СВИ, и наши и туристи и  будисти и арапи и кинези, црнци&nbsp;и ини,&nbsp;бивају удостојени отвореног  погледа на Олтар и православну Проскомидију са десне стране.</p>
    <p>Она блиста обећањем Царства.</p>
    <p>&nbsp;Ово је вероватно највише што неко може да се приближи и да  погледа на&nbsp;сами&nbsp;олтар православне цркве у свету. Све то, само  наизглед&nbsp;онако,&nbsp;у пролазу, а у манастиру који је до пре само 100  година представљао подвиг&nbsp; за озбиљне ходочаснике..</p>
    <p>
        Туда излазимо и ми, седамо напоље на сунце,&nbsp;у близини бунара  из времена Мојсијевог, где је, као смирени пастир,&nbsp;напајао стоку  свог&nbsp;таста Јотора.
        <br>
        Састајемо се са неким нашим људима тамо,  све нешто покушавајући да сакријемо оне Бисере (сузе) &nbsp;којима бејасмо  даровани..
    </p>
    <h3 align="right" class="pdesno sitno style2">У Христу ваши </h3>
    <h3 align="right" class="pdesno sitno style2">Угљеша и Звездана.</h3>

    <p>
        Apolytikion  in the Plagal of the First Tone<br>
        TIN PANEFINMON NIMFIN HRISTU IMNISOMEN,
        <br>
        EKATERINAN TIN TIAN KE POLIUHON SINA,
        <br>
        TIN VOITIAN IMON KE ANTILIPSIN,
        <br>
        OTI EPSIMOSE LAMBROS,<br>
        TUS KOMPSUS TON ASEVON,<br>
        TU PNEVMATOS TI MAHIRA<br>
        &nbsp;(u manastiru umesto mahira=macem, pevaju DINAMI=silom),<br>
        KE NIN OS MARTIS STEFTISA,<br>
        ETITE PASI TO MEGA ELEOS!
    </p>
    <p>
        Let us  praise the most auspicious bride of Christ,
        <br>
        the  divine Katherine, protectress of Sinai, our aid and our help.
        <br>
        For,  she brilliantly silenced the eloquence of the impious by the sword of the  spirit,
        <br>
        and  now, crowned as a martyr, she asks great mercy for all.
    </p>
    <p>
        <span class="style1">
            <br>
        </span>
    </p>
    <p align="center">
        <img height="69" src="~/Content/images/Svetinje/Hodocasca/end78.gif" width="254">
    </p>
</div>
