@{
    ViewBag.Title = "Црквенословенски језик";
}
<script type="text/javascript">
    $('#crkvenoslovenski').addClass('active'); 
</script>

    <div class="row">
        <!-- Leva kolona -->
        <div class="span8">

            <h2>Црквенословенски језик</h2>

        </div>

        <!-- Desna kolona -->
        <div class="span4">

            Desna kolona, span4

        </div>

    </div>

