@{
    ViewBag.Title = "Молитве";
}
<<<<<<< HEAD
=======
<script type="text/javascript">
    $('#molitve').addClass('active'); 
</script>
>>>>>>> e218ef2da73e71564d27a2fd13eaf6882f5df281

    <div class="row">
        <!-- Leva kolona -->
        <div class="span8">

            <h2>Молитве</h2>

        </div>

        <!-- Desna kolona -->
        <div class="span4">

            Desna kolona, span4

        </div>

    </div>

