@{
    ViewBag.Title = "Појање";
}
<script type="text/javascript">
    $('#pojanje').addClass('active'); 
</script>

    <div class="row">
        <!-- Leva kolona -->
        <div class="span8">

            <h2>Појање</h2>

        </div>

        <!-- Desna kolona -->
        <div class="span4">

            Desna kolona, span4

        </div>

    </div>
