@{
    ViewBag.Title = "Светиње";
}
<script type="text/javascript">
    $('#svetinje').addClass('active'); 
</script>

    <div class="row">
        <!-- Leva kolona -->
        <div class="span8">

            <h2>Светиње</h2>

        </div>

        <!-- Desna kolona -->
        <div class="span4">

            Desna kolona, span4

        </div>

    </div>
