@using Svetosavlje.Data_Layer
@model Svetosavlje.Models.PastirModel


@if (Model.orderedList == true)
{ 
    <ol>
        @foreach (PitanjeInfo q in Model.PastirQuestions)
        {
            <li>@Html.ActionLink(q.Naslov, "Item", "Pastir", new { id = q.ID }, null)</li>
        }
    </ol>
}
else
{ 
    <ul>
        @foreach (PitanjeInfo q in Model.PastirQuestions)
        {
            <li>@Html.ActionLink(q.Naslov, "Item", "Pastir", new { id = q.ID }, null)</li>
        }
    </ul> 
}
